Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2018-12, with the labels that each got.

#1199 move command palette icon to left to reduce jitter on GitHub
  client/browser/src/libs/github/extensions.tsx
Labels: browser-ext

#1200 prevent command palette from scrolling page down on GitHub
  client/browser/src/libs/code_intelligence/extensions.tsx
  client/browser/src/libs/github/extensions.tsx
  shared/src/commandPalette/CommandList.tsx
  web/src/nav/NavLinks.tsx
Labels: browser-ext

#1208 support showing panel on all pages
  web/src/Layout.tsx
  web/src/panel/Panel.scss
  web/src/panel/Panel.tsx
  web/src/repo/routes.tsx
Labels: web

#1207 do not terminate on uncaught extension errors, log them
  shared/src/api/protocol/jsonrpc2/transports/webWorker.ts
Labels: extensions

#999 add extension filter to filter bar
  CHANGELOG.md
  shared/src/actions/ActionsContainer.tsx
  shared/src/actions/ActionsNavItems.tsx
  shared/src/actions/SearchFiltersContainer.tsx
  shared/src/actions/actions.ts
  shared/src/api/protocol/contribution.ts
  shared/src/schema/extension.schema.json
  web/src/search/results/SearchResults.tsx
Labels: extensions

#1191 external references UI support, panel improvements
  CHANGELOG.md
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/shared/components/CodeViewToolbar.tsx
  doc/extensions/authoring/builtin_commands.md
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/actions/ActionsNavItems.tsx
  shared/src/api/client/api/documents.ts
  shared/src/api/client/api/languageFeatures.ts
  shared/src/api/client/api/views.ts
  shared/src/api/client/api/windows.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/context/context.test.ts
  shared/src/api/client/context/context.ts
  shared/src/api/client/context/expr/evaluator.test.ts
  shared/src/api/client/context/expr/parser.test.ts
  shared/src/api/client/model.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/extensionsService.test.ts
  shared/src/api/client/services/extensionsService.ts
  shared/src/api/client/services/location.ts
  shared/src/api/client/services/registry.test.ts
  shared/src/api/client/services/registry.ts
  shared/src/api/client/services/view.test.ts
  shared/src/api/client/services/view.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/languageFeatures.ts
  shared/src/api/extension/api/views.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/extension/types/range.ts
  shared/src/api/extension/types/selection.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/helpers.test.ts
  shared/src/api/integration-test/languageFeatures.test.ts
  shared/src/api/integration-test/windows.test.ts
  shared/src/api/protocol/contribution.ts
  shared/src/api/protocol/plainTypes.ts
  shared/src/commands/commands.ts
  shared/src/components/Tabs.scss
  shared/src/components/Tabs.tsx
  shared/src/index.scss
  shared/src/panel/Panel.tsx
  shared/src/panel/PanelItemPortal.tsx
  shared/src/panel/views/EmptyPanelView.tsx
  shared/src/panel/views/FileLocations.tsx
  shared/src/panel/views/FileLocationsTree.tsx
  shared/src/panel/views/HierarchicalLocationsView.scss
  shared/src/panel/views/HierarchicalLocationsView.tsx
  shared/src/panel/views/PanelView.tsx
  shared/src/panel/views/contributions.ts
  shared/src/schema/extension.schema.json
  web/src/Layout.tsx
  web/src/extensions/explore/ExtensionViewsExploreSection.tsx
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/repo/compare/FileDiffConnection.tsx
  web/src/search/input/CodeIntellifyBlob.tsx
  web/src/util/url.ts
Labels: extensions

#1242 all: fix deprecated comment format
  cmd/frontend/graphqlbackend/settings.go
  cmd/frontend/graphqlbackend/settings_mutation.go
  cmd/frontend/graphqlbackend/user.go
  cmd/searcher/protocol/searcher.go
Labels: new-contributor

#1241 allow settings updates GraphQL requests even on private GitHub repositories
  shared/src/settings/edit.ts
Labels: browser-extension

#1259 do not block on slowest location provider
  shared/src/api/client/services/hover.test.ts
  shared/src/api/client/services/hover.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/client/services/location.ts
  shared/src/api/integration-test/languageFeatures.test.ts
Labels: extensions, feature:code-intel

#1103 external services UI
  cmd/frontend/db/external_services.go
  cmd/frontend/graphqlbackend/external_services.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  web/src/settings/MonacoSettingsEditor.tsx
  web/src/site-admin/SiteAdminAddExternalServicePage.tsx
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
  web/src/site-admin/SiteAdminExternalServicePage.tsx
  web/src/site-admin/SiteAdminExternalServicesPage.tsx
  web/src/site-admin/routes.tsx
  web/src/site-admin/sidebaritems.ts
Labels: roadmap

#1261 initialize ext host client last to ensure initialization has finished
  shared/src/api/client/connection.ts
Labels: extensions

#1318 add auxclick listener to LinkOrButton so that middle-clicks are not ignored
  shared/src/components/LinkOrButton.tsx
Labels: web

#1317 Tooltip: fix forceUpdate when component previously lacked data-tooltip
  web/src/components/tooltip/Tooltip.tsx
Labels: web

#1396 Make extension API links easier to find
  doc/extensions/authoring/index.md
Labels: docs

#1391 Remove `repos.list` from site configuration
  CHANGELOG.md
  cmd/frontend/graphqlbackend/externallink/repository.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/site_flags.go
  cmd/repo-updater/README.md
  cmd/repo-updater/repos/reposlist.go
  cmd/repo-updater/repoupdater/server.go
  doc/admin/migration/opengrok.md
  doc/admin/repo/add.md
  doc/admin/repo/add_from_git_repository.md
  doc/admin/repo/add_from_local_disk.md
  doc/admin/repo/auth.md
  doc/admin/site_config/all.md
  doc/integration/bitbucket_server.md
  pkg/conf/diff_test.go
  pkg/conf/reposource/reposlist.go
  pkg/conf/reposource/reposlist_test.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
  web/src/repo/settings/RepoSettingsMirrorPage.tsx
Labels: repo-updater

#1406 chore: update extensions schema
  shared/src/schema/extension.schema.json
Labels: extensions

#1560 use _ not - in doc file names, add redirects
  doc/dev/documentation/index.md
  doc/extensions/authoring/index.md
  doc/extensions/authoring/tutorials/button-custom-commands.md
  doc/extensions/authoring/tutorials/button_custom_commands.md
  doc/extensions/authoring/tutorials/hello-world.md
  doc/extensions/authoring/tutorials/hello_world.md
  doc/extensions/authoring/tutorials/lang-specific-extension-tutorial.md
  doc/extensions/authoring/tutorials/lang_specific_extension_tutorial.md
Labels: docs

#1559 document extension contributions, actions, telemetry
  doc/dev/index.md
  doc/dev/telemetry.md
  doc/extensions/authoring/actions.md
  doc/extensions/authoring/contributions.md
  doc/extensions/authoring/index.md
  doc/extensions/authoring/manifest.md
  doc/extensions/authoring/tutorials/button_custom_commands.md
  doc/extensions/authoring/tutorials/lang_specific_extension_tutorial.md
Labels: docs, extensions

#1562 fix syntax highlighting not being registered
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  shared/src/highlight/contributions.ts
  web/src/Layout.tsx
  web/src/contributions.ts
  web/src/enterprise/main.tsx
  web/src/main.tsx
Labels: web

#1489 Do not use a type assertion expression
  web/gulpfile.ts
Labels: new-contributor

#1577 fix popover link triggering open
  shared/src/components/PopoverButton.tsx
  web/src/components/PopoverButton.tsx
Labels: web

#1576 sort dirs/files top-bottom in columns on tree page
  CHANGELOG.md
  web/src/repo/TreePage.scss
  web/src/repo/TreePage.tsx
  web/src/repo/backend.tsx
Labels: web

#1566 link Help to docs.sourcegraph.com on sourcegraph.com, not internal /help pages
  web/src/nav/UserNavItem.tsx
Labels: web

#1586 use React error boundaries to avoid blank pages upon unexpected errors
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/components/ErrorBoundary.test.tsx
  web/src/components/ErrorBoundary.tsx
  web/src/components/__snapshots__/ErrorBoundary.test.tsx.snap
  web/src/org/area/OrgArea.tsx
  web/src/repo/RepoContainer.tsx
  web/src/site-admin/SiteAdminArea.tsx
  web/src/user/area/UserArea.tsx
Labels: web

#1587 use code splitting to speed up initial page load
  doc/dev/web_app.md
  web/src/Layout.tsx
  web/src/enterprise/explore/exploreSections.tsx
  web/src/enterprise/extensions/extension/routes.tsx
  web/src/enterprise/extensions/routes.tsx
  web/src/enterprise/routes.tsx
  web/src/enterprise/site-admin/overviewComponents.ts
  web/src/enterprise/site-admin/routes.tsx
  web/src/enterprise/user/account/routes.tsx
  web/src/enterprise/user/routes.tsx
  web/src/explore/exploreSections.tsx
  web/src/extensions/extension/routes.tsx
  web/src/extensions/routes.tsx
  web/src/integrations/explore/IntegrationsExploreSection.tsx
  web/src/repo/routes.tsx
  web/src/routes.tsx
  web/src/settings/DynamicallyImportedMonacoSettingsEditor.tsx
  web/src/settings/MonacoSettingsEditor.tsx
  web/src/settings/SettingsFile.tsx
  web/src/site-admin/SiteAdminPingsPage.tsx
  web/src/site-admin/routes.tsx
  web/src/user/account/routes.tsx
  web/src/user/area/routes.tsx
Labels: web

#1588 deduplicate CSS
  client/browser/config/shared/webpack.ts
  client/browser/config/webpack/base.config.ts
  client/browser/src/app.scss
  client/browser/src/shared.scss
  client/browser/src/types/node-sass-import-once/index.d.ts
  package.json
  web/src/types/node-sass-import-once/index.d.ts
  web/webpack.config.ts
  yarn.lock
Labels: web

#1567 show search dropdown menu with "How to search" link
  web/src/global-styles/dropdown.scss
  web/src/search/input/SearchButton.scss
  web/src/search/input/SearchButton.tsx
Labels: needs-design, search, web
