Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2019-04, with the labels that each got.

#3069 Support hyphens in Bitbucket repo names
  client/browser/src/libs/bitbucket/context.tsx
Labels: bitbucket, browser-extension, bug

#3075 Style <hr> inside HoverOverlay markdown to look like border
  shared/src/hover/HoverOverlay.scss
Labels: bitbucket, browser-extension

#2909 Change browser extension to use a single MutationObserver
  client/browser/src/extension/scripts/inject.tsx
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_views.test.ts
  client/browser/src/libs/code_intelligence/code_views.ts
  client/browser/src/libs/code_intelligence/external_links.tsx
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/inject.tsx
  client/browser/src/libs/gitlab/code_intelligence.ts
  client/browser/src/libs/phabricator/code_intelligence.ts
  client/browser/src/libs/phabricator/extension.tsx
  client/browser/src/libs/phabricator/util.tsx
  client/browser/src/shared/components/CodeViewToolbar.tsx
  client/browser/src/shared/util/dom.tsx
  jest.config.base.js
Labels: browser-extension

#3086 Handle all git change types in Bitbucket PRs
  client/browser/src/libs/bitbucket/api.ts
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/bitbucket/file_info.ts
  client/browser/src/libs/bitbucket/scrape.test.ts
  client/browser/src/libs/bitbucket/scrape.ts
  client/browser/src/libs/bitbucket/test-code-views.ts
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/shared/repo/backend.tsx
  jest.config.base.js
  package.json
  shared/src/types/jest-environment-jsdom-global/index.d.ts
  yarn.lock
Labels: bitbucket, browser-extension, bug

#3087 repo-updater: Leverage always set pre-condition
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/gitlab.go
Labels: repos

#3046 repo-updater: Migrations improvements
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repos/testing.go
Labels: repos

#3181 docs: changed incorrect port `7443` to `7080`
  doc/admin/install/docker/aws.md
Labels: docs

#3191 Use mutation events for injections mounts too
  client/browser/src/extension/scripts/inject.tsx
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_views.ts
  client/browser/src/libs/code_intelligence/extensions.tsx
  client/browser/src/libs/code_intelligence/external_links.test.tsx
  client/browser/src/libs/code_intelligence/external_links.tsx
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/extensions.tsx
  client/browser/src/libs/github/inject.tsx
  client/browser/src/libs/gitlab/extensions.ts
  client/browser/src/shared/components/Alerts.tsx
  client/browser/src/shared/components/CodeViewToolbar.tsx
  client/browser/src/shared/components/OpenDiffOnSourcegraph.tsx
  client/browser/src/shared/util/dom.tsx
  shared/src/actions/ActionItem.story.tsx
  shared/src/actions/ActionItem.test.tsx
  shared/src/actions/ActionItem.tsx
  shared/src/actions/ActionsContainer.tsx
  shared/src/actions/ActionsNavItems.tsx
  shared/src/commandPalette/CommandList.tsx
  shared/src/hover/HoverOverlay.test.tsx
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  shared/src/panel/Panel.tsx
  shared/src/telemetry/telemetryContext.ts
  shared/src/telemetry/telemetryService.ts
  shared/src/util/types.ts
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/nav/GlobalNavbar.tsx
  web/src/nav/NavLinks.test.tsx
  web/src/nav/NavLinks.tsx
  web/src/repo/RepoContainer.tsx
  web/src/repo/RepoHeader.tsx
  web/src/repo/RepoRevContainer.tsx
  web/src/repo/TreePage.tsx
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/commit/RepositoryCommitPage.tsx
  web/src/repo/compare/RepositoryCompareArea.tsx
  web/src/search/results/SearchResults.test.tsx
  web/src/search/results/SearchResults.tsx
  web/src/tracking/eventLogger.tsx
Labels: browser-extension, bug

#3101 Fix GitHub isDomSplit()
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/commit/refined-github/split.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/commit/refined-github/unified.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/commit/vanilla/split.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/commit/vanilla/unified.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/pull-request/refined-github/split.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/pull-request/refined-github/unified.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/pull-request/vanilla/split.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/pull-request/vanilla/unified.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/refined-github/split.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/refined-github/unified.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/vanilla/split.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/vanilla/unified.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/refined-github/split.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/refined-github/unified.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/vanilla/split.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/vanilla/unified.html
  client/browser/src/libs/github/util.test.ts
  client/browser/src/libs/github/util.tsx
Labels: browser-extension, bug, github, github-enterprise

#3173 Fix action item display on Bitbucket Server
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/bitbucket/style.scss
Labels: bitbucket, browser-extension, bug, code-nav

#3197 Fix duplicate ID warning spam
  client/browser/src/shared/components/Icons.tsx
Labels: browser-extension

#3097 repo-updater: Syncing improvements for Bitbucket Server
  CHANGELOG.md
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-path-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-simple.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-ssh.golden
  cmd/repo-updater/repos/testdata/sources/excluded-repos-are-never-yielded.yaml
  cmd/repo-updater/repos/testdata/sources/included-repos-that-exist-are-yielded.yaml
  cmd/repo-updater/repos/testdata/sources/yielded-repos-are-always-enabled.yaml
  cmd/repo-updater/repos/testing.go
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repos/types_test.go
  cmd/repo-updater/repoupdater/server.go
  enterprise/cmd/frontend/db/external_services_test.go
  pkg/extsvc/bitbucketserver/client.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/schema.go
Labels: repos

#3220 Merge #3097 to master
  CHANGELOG.md
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-path-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-simple.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-ssh.golden
  cmd/repo-updater/repos/testdata/sources/excluded-repos-are-never-yielded.yaml
  cmd/repo-updater/repos/testdata/sources/included-repos-that-exist-are-yielded.yaml
  cmd/repo-updater/repos/testdata/sources/yielded-repos-are-always-enabled.yaml
  cmd/repo-updater/repos/testing.go
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repos/types_test.go
  cmd/repo-updater/repoupdater/server.go
  enterprise/cmd/frontend/db/external_services_test.go
  pkg/extsvc/bitbucketserver/client.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/schema.go
Labels: repos

#3227 repo-updater: Extend Store ListXXX methods with flexible query arguments
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repos/testing.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
Labels: repos

#3240 Overhaul browser extension styling
  client/browser/.stylelintrc.json
  client/browser/src/app.scss
  client/browser/src/extension/scripts/inject.tsx
  client/browser/src/global-styles/icons.scss
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/bitbucket/style.scss
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/extensions.tsx
  client/browser/src/libs/code_intelligence/external_links.scss
  client/browser/src/libs/code_intelligence/external_links.test.tsx
  client/browser/src/libs/code_intelligence/external_links.tsx
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/extensions.tsx
  client/browser/src/libs/github/style.scss
  client/browser/src/libs/gitlab/code_intelligence.ts
  client/browser/src/libs/gitlab/style.scss
  client/browser/src/libs/phabricator/code_intelligence.ts
  client/browser/src/libs/phabricator/style.scss
  client/browser/src/shared.scss
  client/browser/src/shared/components/Button.tsx
  client/browser/src/shared/components/CodeViewToolbar.scss
  client/browser/src/shared/components/CodeViewToolbar.tsx
  client/browser/src/shared/components/Icons.tsx
  client/browser/src/shared/components/OpenDiffOnSourcegraph.tsx
  client/browser/src/shared/components/OpenOnSourcegraph.tsx
  package.json
  shared/src/actions/ActionItem.scss
  shared/src/actions/ActionItem.test.tsx
  shared/src/actions/ActionItem.tsx
  shared/src/actions/ActionsContainer.tsx
  shared/src/actions/ActionsNavItems.tsx
  shared/src/actions/__snapshots__/ActionItem.test.tsx.snap
  shared/src/commandPalette/CommandList.test.ts
  shared/src/commandPalette/CommandList.tsx
  shared/src/components/LinkOrButton.tsx
  shared/src/components/PopoverButton.tsx
  shared/src/contributions/contributions.test.ts
  shared/src/contributions/contributions.ts
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  shared/src/hover/actions.test.ts
  shared/src/hover/actions.ts
  shared/src/panel/Panel.tsx
  web/src/components/shared.tsx
  web/src/enterprise/site-admin/dotcom/productSubscriptions/SiteAdminProductLicenseNode.tsx
  web/src/nav/NavLinks.tsx
  web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  web/src/repo/RepoHeader.tsx
  web/src/repo/blob/Blob.tsx
  web/src/repo/commit/RepositoryCommitPage.tsx
  web/src/repo/compare/FileDiffHunks.tsx
  web/src/repo/compare/FileDiffNode.tsx
  web/src/repo/compare/RepositoryCompareArea.tsx
  web/src/repo/compare/RepositoryCompareDiffPage.tsx
  web/src/repo/compare/RepositoryCompareOverviewPage.tsx
  yarn.lock
Labels: browser-extension

#3249 Default to commit ids when revs are not provided
  client/browser/src/shared/components/CodeViewToolbar.tsx
Labels: bitbucket, browser-extension, bug, code-nav

#3248 Refactor inject.tsx
  client/browser/src/extension/scripts/inject.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/phabricator/code_intelligence.ts
  client/browser/src/libs/phabricator/extension.tsx
  client/browser/src/libs/sourcegraph/inject.tsx
Labels: browser-extension

#3244 yarn run build in web subdir
  cmd/frontend/pre-build.sh
Labels: ops & tools & dev

#3247 Add PR templates
  .github/PULL_REQUEST_TEMPLATE/browser_extension.md
  .github/PULL_REQUEST_TEMPLATE/other.md
  .github/PULL_REQUEST_TEMPLATE/sourcegraph.md
  .github/pull_request_template.md
Labels: ops & tools & dev

#3250 Follow up to styling refactor
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/bitbucket/style.scss
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/gitlab/code_intelligence.ts
  client/browser/src/libs/phabricator/code_intelligence.ts
  client/browser/src/shared/components/CodeViewToolbar.tsx
  client/browser/src/shared/components/OpenDiffOnSourcegraph.tsx
  shared/src/hover/HoverOverlay.scss
  shared/src/hover/HoverOverlay.tsx
  web/src/components/shared.tsx
Labels: browser-extension

#3267 consistently use view component type "CodeEditor" not "textEditor"
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/shared/components/CodeViewToolbar.tsx
  shared/src/api/client/context/context.test.ts
  shared/src/api/client/context/context.ts
  shared/src/api/client/model.test.ts
  shared/src/api/client/model.ts
  shared/src/api/client/services/extensionsService.test.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/windows.test.ts
  web/src/repo/blob/Blob.tsx
  web/src/repo/compare/FileDiffConnection.tsx
Labels: browser-extension, extensions

#3269 refactor: rename codeViewElement -> element
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_views.test.ts
  client/browser/src/libs/code_intelligence/code_views.ts
Labels: browser-extension

#3272 make CodeEditor#type readonly in extension API
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
Labels: extensions

#3273 add Range#toPlain
  shared/src/api/extension/types/range.test.ts
  shared/src/api/extension/types/range.ts
Labels: extensions

#3276 fix hasProvidersForActiveTextDocument test
  shared/src/api/client/services/location.test.ts
Labels: extensions

#3278 remove never-used fallback for file mode
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/shared/components/CodeViewToolbar.tsx
Labels: extensions

#3222 Do not show the "View file" button if repo is private but instance is public
  client/browser/src/libs/bitbucket/file_info.ts
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_views.ts
  client/browser/src/libs/code_intelligence/util/file_info.ts
  client/browser/src/libs/github/file_info.ts
  client/browser/src/libs/gitlab/file_info.ts
  client/browser/src/libs/phabricator/file_info.ts
  client/browser/src/platform/context.ts
  client/browser/src/shared/components/CodeViewToolbar.tsx
  client/browser/src/shared/repo/backend.tsx
Labels: browser-extension

#3287 Phabricator: handle `repositoryPHID` being possibly `null`
  client/browser/src/libs/phabricator/backend.tsx
Labels: browser-extension, phabricator

#3279 only show Sourcegraph icon, no text, in "View file" buttons
  client/browser/src/libs/code_intelligence/external_links.test.tsx
  client/browser/src/libs/code_intelligence/external_links.tsx
  client/browser/src/shared/components/Button.tsx
  client/browser/src/shared/components/CodeViewToolbar.tsx
  client/browser/src/shared/components/OpenDiffOnSourcegraph.tsx
  client/browser/src/shared/components/OpenOnSourcegraph.tsx
Labels: browser-extension

#3286 api: Ensure WaitForFrontend blocks
  cmd/repo-updater/main.go
  pkg/api/internal_client.go
  pkg/gitserver/client.go
Labels: team/core-services

#3290 graphqlbackend: Sync external service after deletion
  cmd/frontend/graphqlbackend/external_services.go
Labels: repos, team/core-services

#3270 perform in-place delta updates of extension API ExtWindow and ExtCodeEditor
  shared/src/api/client/connection.ts
  shared/src/api/client/model.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/windows.test.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/windows.test.ts
Labels: extensions

#3280 CodeViewToolbar: allow callers to specify scope instead of always assuming it's CodeView
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/shared/components/CodeViewToolbar.tsx
Labels: browser-extension, extensions

#3299 Make username required on Bitbucket Server config
  CHANGELOG.md
  cmd/repo-updater/repos/migrations_test.go
  cmd/repo-updater/repos/types_test.go
  enterprise/cmd/frontend/db/external_services_test.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/schema.go
  web/src/site-admin/externalServices.tsx
Labels: bitbucket, team/core-services

#3252 repo-updater: Integrate exclude repos server endpoint
  cmd/frontend/graphqlbackend/repositories.go
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  pkg/repoupdater/client.go
  pkg/repoupdater/protocol/repoupdater.go
Labels: repos, team/core-services

#3312 extract workspace roots from model
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  shared/src/api/client/api/roots.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/model.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/workspaceService.test.ts
  shared/src/api/client/services/workspaceService.ts
  shared/src/api/extension/api/roots.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/roots.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/windows.test.ts
  shared/src/hover/actions.test.ts
  shared/src/hover/actions.ts
  shared/src/util/url.ts
  web/src/repo/RepoContainer.tsx
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/compare/FileDiffConnection.tsx
Labels: extensions

#3317 set bitbucket username to fix CI failure
  cmd/repo-updater/repoupdater/server_test.go
Labels: repos

#3313 rename model service -> editor service
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  shared/src/api/client/api/views.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/editorService.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/extensions/controller.ts
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/repo/compare/FileDiffConnection.tsx
Labels: extensions

#3314 simplify model and view component concept, just use code editors for now
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  shared/src/api/client/api/views.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/context/context.test.ts
  shared/src/api/client/context/context.ts
  shared/src/api/client/model.test.ts
  shared/src/api/client/model.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/contribution.test.ts
  shared/src/api/client/services/contribution.ts
  shared/src/api/client/services/editorService.test.ts
  shared/src/api/client/services/editorService.ts
  shared/src/api/client/services/extensionsService.test.ts
  shared/src/api/client/services/extensionsService.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/client/services/location.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/windows.test.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/windows.test.ts
  shared/src/extensions/controller.ts
  shared/src/hover/actions.test.ts
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/repo/compare/FileDiffConnection.tsx
Labels: extensions

#3318 Remove getOverlayMount() and getGlobalDebugMount()
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_intelligence_test_utils.ts
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/extensions.tsx
Labels: browser-extension, bug

#3328 repo-updater: Scheduler fixes
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/scheduler.go
  cmd/repo-updater/repos/scheduler_test.go
  cmd/repo-updater/repos/syncer.go
Labels: team/core-services

#3331 web: Add missing editor actions
  web/src/site-admin/externalServices.tsx
Labels: team/core-services

#3327 graphql: Add externalServices field to Repository
  cmd/frontend/graphqlbackend/external_services.go
  cmd/frontend/graphqlbackend/repository_external.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  pkg/repoupdater/client.go
  pkg/repoupdater/protocol/repoupdater.go
Labels: team/core-services

#3341 web: Add external service cards to repo settings page
  web/src/components/ExternalServiceCard.tsx
  web/src/repo/settings/RepoSettingsOptionsPage.tsx
  web/src/repo/settings/backend.tsx
Labels: team/core-services

#3338 misc code discussions fixes
  web/src/discussions/backend.tsx
  web/src/repo/blob/discussions/DiscussionsInput.tsx
Labels: feature:code-discussions

#3362 Webext polyfill fixes
  client/browser/src/extension/scripts/auto-reloading.ts
  client/browser/src/shared/backend/graphql.tsx
Labels: browser-extension, bug, code-nav

#3342 Add current tab permissions alert in options menu
  client/browser/src/extension/scripts/options.tsx
  client/browser/src/libs/options/Menu.test.tsx
  client/browser/src/libs/options/Menu.tsx
  client/browser/src/libs/options/OptionsContainer.test.tsx
  client/browser/src/libs/options/OptionsContainer.tsx
  client/browser/src/libs/options/ServerURLForm.tsx
  client/browser/src/libs/options/__snapshots__/Menu.test.tsx.snap
Labels: browser-extension, code-nav

#3364 github: Fail if search has incomplete results
  pkg/extsvc/github/repos.go
  pkg/extsvc/github/repos_test.go
Labels: team/core-services

#3343 repo-updater: Exclude soft deleted services from listing
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repos/testing.go
Labels: team/core-services

#3344 schema: Make (repository|project)Query required
  CHANGELOG.md
  cmd/repo-updater/repos/migrations_test.go
  cmd/repo-updater/repos/types_test.go
  cmd/repo-updater/repoupdater/server_test.go
  enterprise/cmd/frontend/db/external_services_test.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/github.schema.json
  schema/github_stringdata.go
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
  schema/schema.go
  web/src/e2e/index.e2e.test.tsx
Labels: team/core-services

#3360 debugserver: Add zoekt services to debug server
  cmd/frontend/internal/app/debug.go
  cmd/server/shared/globals.go
  dev/Procfile
  dev/launch.sh
  dev/src-prof-services.json
  pkg/debugserver/debug.go
Labels: search

#3358 return clone URL for Gitolite repositories
  cmd/frontend/internal/httpapi/repo_refresh.go
  cmd/frontend/internal/httpapi/repo_refresh_test.go
  cmd/repo-updater/repos/gitolite.go
  pkg/extsvc/gitolite/codehost.go
Labels: team/core-services

#3365 Update CHANGELOG of `bitbucketserver.repositoryQuery`
  CHANGELOG.md
Labels: team/core-services

#3377 add text range and position methods to extension API TextDocument type
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/services/editorService.ts
  shared/src/api/client/types/textDocument.test.ts
  shared/src/api/client/types/textDocument.ts
  shared/src/api/extension/api/documents.ts
  shared/src/api/extension/api/textDocument.test.ts
  shared/src/api/extension/api/textDocument.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/windows.test.ts
  shared/src/util/prefixSumComputer.test.ts
  shared/src/util/prefixSumComputer.ts
  shared/src/util/wordHelpers.test.ts
  shared/src/util/wordHelpers.ts
Labels: extensions

#3368 repo-updater: Syncing improvements for OTHER external services
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/other_external_services.go
  cmd/repo-updater/repos/other_external_services_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repos/types_test.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  enterprise/cmd/frontend/db/external_services_test.go
  schema/other_external_service.schema.json
  schema/other_external_service_stringdata.go
Labels: team/core-services

#3369 repo-updater: Handle renames in Git update scheduler
  cmd/frontend/graphqlbackend/repositories.go
  cmd/frontend/graphqlbackend/repository_mirror.go
  cmd/frontend/internal/app/ui/handlers.go
  cmd/frontend/internal/httpapi/repo_refresh.go
  cmd/frontend/internal/httpapi/repo_refresh_test.go
  cmd/repo-updater/repos/scheduler.go
  cmd/repo-updater/repos/scheduler_test.go
  cmd/repo-updater/repos/util.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  pkg/repoupdater/client.go
  pkg/repoupdater/protocol/repoupdater.go
Labels: team/core-services

#3379 fix bug where panel views w/o location provider were not shown
  shared/src/api/client/api/views.ts
  shared/src/api/integration-test/views.test.ts
Labels: extensions

#3322 add extension API model service, separate models and editors
  client/browser/src/libs/bitbucket/context.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  shared/src/api/client/connection.ts
  shared/src/api/client/context/context.test.ts
  shared/src/api/client/context/context.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/contribution.test.ts
  shared/src/api/client/services/contribution.ts
  shared/src/api/client/services/editorService.test.ts
  shared/src/api/client/services/editorService.ts
  shared/src/api/client/services/extensionsService.test.ts
  shared/src/api/client/services/extensionsService.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/client/services/location.ts
  shared/src/api/client/services/modelService.test.ts
  shared/src/api/client/services/modelService.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/documents.ts
  shared/src/api/extension/api/windows.test.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/languageFeatures.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/windows.test.ts
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/repo/compare/FileDiffConnection.tsx
Labels: extensions

#3323 EditorService: expose operations instead of just the BehaviorSubject
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  shared/src/api/client/connection.ts
  shared/src/api/client/context/context.test.ts
  shared/src/api/client/context/context.ts
  shared/src/api/client/services/contribution.test.ts
  shared/src/api/client/services/contribution.ts
  shared/src/api/client/services/editorService.test.ts
  shared/src/api/client/services/editorService.ts
  shared/src/api/client/services/extensionsService.test.ts
  shared/src/api/client/services/extensionsService.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/client/services/location.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/windows.test.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/languageFeatures.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/windows.test.ts
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/repo/compare/FileDiffConnection.tsx
Labels: extensions

#2790 add UserNavItem React component snapshot test
  web/src/nav/NavLinks.tsx
  web/src/nav/UserNavItem.test.tsx
  web/src/nav/UserNavItem.tsx
  web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
Labels: web

#3346 repo-updater: respect PG_* env vars specified on the frontend via ServiceConnections
  cmd/frontend/internal/cli/config.go
  cmd/frontend/internal/cli/config_test.go
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/db.go
  cmd/repo-updater/repos/db_test.go
  pkg/conf/conftypes/conftypes.go
Labels: team/core-services

#3380 web: Conditionally remove enable/disable from repo list
  cmd/frontend/db/repos.go
  cmd/frontend/graphqlbackend/internal.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  web/src/site-admin/SiteAdminRepositoriesPage.tsx
  web/src/site-admin/backend.tsx
Labels: team/core-services

#3399 repo-updater: Enable new repository syncer by default
  cmd/repo-updater/main.go
Labels: team/core-services

#3393 wrap long errors from React components
  web/src/components/ErrorBoundary.tsx
  web/src/components/__snapshots__/ErrorBoundary.test.tsx.snap
Labels: web

#3396 fix typo
  client/browser/stories/options/Menu.tsx
Labels: browser-extension

#3402 repo-updater: Instructions on splitting large GitHub repositoryQuerys
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/github_test.go
  doc/admin/external_service/github.md
  pkg/extsvc/github/repos.go
  pkg/extsvc/github/repos_test.go
Labels: team/core-services

#3400 repo-updater: Adjust sleep rate limit heuristic for GitHub Search API
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/syncer.go
  pkg/ratelimit/rate_limit.go
Labels: team/core-services

#3394 show user's orgs in user menu
  CHANGELOG.md
  web/src/auth.ts
  web/src/nav/UserNavItem.test.tsx
  web/src/nav/UserNavItem.tsx
  web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
Labels: web

#3083 migrate settings "motd" -> "notices"
  CHANGELOG.md
  cmd/frontend/db/settings.go
  cmd/frontend/db/settings_test.go
  cmd/frontend/internal/bg/db_test.go
  cmd/frontend/internal/bg/migrate_settings_motd_to_notices.go
  cmd/frontend/internal/bg/migrate_settings_motd_to_notices_test.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/internal/httpapi/internal.go
Labels: web

#3388 make browser extension code view resolution generic
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_intelligence_test_utils.ts
  client/browser/src/libs/code_intelligence/code_views.test.ts
  client/browser/src/libs/code_intelligence/code_views.ts
  client/browser/src/libs/code_intelligence/views.ts
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/gitlab/code_intelligence.ts
  client/browser/src/libs/phabricator/code_intelligence.ts
Labels: browser-extension, extensions

#3316 let extensions show link previews
  client/browser/src/browser/types.ts
  client/browser/src/extension/scripts/options.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/content_views.test.ts
  client/browser/src/libs/code_intelligence/content_views.ts
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/content_views.ts
  client/browser/src/libs/github/tooltip.test.ts
  client/browser/src/libs/github/tooltip.ts
  client/browser/src/shared/util/dom.tsx
  cmd/frontend/internal/app/ui/router.go
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/api/api.ts
  shared/src/api/client/api/content.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/linkPreview.test.ts
  shared/src/api/client/services/linkPreview.ts
  shared/src/api/client/types/textDocument.ts
  shared/src/api/extension/api/content.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/integration-test/content.test.ts
  shared/src/components/editorTextField/EditorTextField.test.tsx
  shared/src/components/editorTextField/EditorTextField.tsx
  shared/src/components/linkPreviews/WithLinkPreviews.tsx
  shared/src/components/linkPreviews/linkPreviews.test.ts
  shared/src/components/linkPreviews/linkPreviews.ts
  web/src/components/tooltip/Tooltip.tsx
  web/src/routes.tsx
  web/src/snippets/SnippetsPage.tsx
Labels: extensions

#3392 new extension API for completion items
  client/browser/src/browser/types.ts
  client/browser/src/extension/scripts/options.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/text_fields.test.tsx
  client/browser/src/libs/code_intelligence/text_fields.tsx
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/text_fields.ts
  client/browser/src/shared.scss
  package.json
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/api/languageFeatures.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/completion.test.ts
  shared/src/api/client/services/completion.ts
  shared/src/api/extension/api/languageFeatures.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/components/completion/CompletionWidget.scss
  shared/src/components/completion/CompletionWidget.tsx
  shared/src/components/completion/CompletionWidgetDropdown.tsx
  shared/src/components/completion/EditorCompletionWidget.tsx
  shared/src/index.scss
  web/src/SourcegraphWebApp.scss
  web/src/components/completion/CompletionWidgetDropdown.scss
  web/src/components/completion/styles.ts
  web/src/repo/blob/discussions/DiscussionsCreate.tsx
  web/src/repo/blob/discussions/DiscussionsInput.scss
  web/src/repo/blob/discussions/DiscussionsInput.tsx
  web/src/repo/blob/discussions/DiscussionsInputMentionOverlay.scss
  web/src/repo/blob/discussions/DiscussionsInputMentionOverlay.tsx
  web/src/repo/blob/discussions/DiscussionsThread.tsx
  web/src/repo/blob/discussions/DiscussionsTree.tsx
  web/src/repo/blob/discussions/contributions.ts
  web/src/repo/blob/discussions/mentionCompletion.test.ts
  web/src/repo/blob/discussions/mentionCompletion.ts
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/snippets/SnippetsPage.tsx
  yarn.lock
Labels: extensions

#3411 repo-updater: Do not specify a default username and dbname
  cmd/frontend/internal/cli/config.go
  cmd/frontend/internal/cli/config_test.go
  cmd/repo-updater/repos/db_test.go
Labels: team/core-services

#3419 fix notification styles on code hosts
  shared/src/notifications/NotificationItem.scss
  shared/src/notifications/NotificationItem.tsx
Labels: browser-extension, web

#3420 make /subscriptions/new not 404
  cmd/frontend/internal/app/ui/router.go
Labels: web

#3426 fix completion widget position in scrolled textarea
  shared/src/components/completion/CompletionWidget.tsx
Labels: extensions, web

#3427 support Tab key to complete, not just Enter
  shared/src/components/completion/CompletionWidget.tsx
Labels: extensions, web

#3404 Don't show the permissions alert on `newtab` or `extensions`
  client/browser/src/libs/options/Menu.test.tsx
  client/browser/src/libs/options/Menu.tsx
  client/browser/src/libs/options/__snapshots__/Menu.test.tsx.snap
Labels: browser-extension, code-nav

#3423 show link previews in code discussion comments
  web/src/components/linkPreviews/styles.ts
  web/src/discussions/DiscussionsComment.tsx
  web/src/repo/blob/discussions/DiscussionsThread.tsx
  web/src/snippets/SnippetsPage.tsx
Labels: extensions

#3390 support TARGETS=chrome or TARGETS=firefox for faster bext builds
  client/browser/README.md
  client/browser/scripts/tasks.ts
Labels: browser-extension

#3434 improve performance of browser ext completion
  client/browser/src/libs/code_intelligence/text_fields.tsx
  client/browser/src/platform/extensionHost.ts
  shared/src/components/completion/EditorCompletionWidget.tsx
  shared/src/util/rxjs/throttleTimeWindow.test.ts
  shared/src/util/rxjs/throttleTimeWindow.ts
Labels: browser-extension, perf

#3403 Don't add an extra slash in toAbsoluteBlobURL()
  client/browser/src/shared/util/url.test.ts
  client/browser/src/shared/util/url.ts
Labels: browser-extension, bug, code-nav

#3435 docs: Expand on GitHub exclude and repos fields.
  doc/integration/github.md
  schema/github.schema.json
  schema/github_stringdata.go
Labels: team/core-services

#3398 repo-updater: Observability
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/metrics.go
  cmd/repo-updater/repos/observability.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repoupdater/observability.go
  cmd/repo-updater/repoupdater/server_test.go
  pkg/trace/traceutil.go
Labels: team/core-services

#3436 doc: Update Gitlab admin and schema docs
  doc/admin/external_service/gitlab.md
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
Labels: team/core-services

#3437 doc: Update Bitbucket Server admin and schema docs
  doc/admin/external_service/bitbucket_server.md
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
Labels: team/core-services

#3425 support theming of completion menu
  web/src/components/completion/CompletionWidgetDropdown.scss
  web/src/components/completion/styles.ts
Labels: extensions, web

#3451 nicer external services errors when adding/updating JSON config
  cmd/frontend/db/external_services.go
  cmd/frontend/db/external_services_test.go
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
Labels: web

#3460 repo-updater: Return all ExternalServices
  cmd/frontend/db/external_services.go
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/testing.go
Labels: team/core-services

#3463 Permissions notification: blacklist protocols, not domains
  client/browser/src/libs/options/Menu.test.tsx
  client/browser/src/libs/options/Menu.tsx
  client/browser/src/libs/options/OptionsContainer.tsx
  client/browser/src/libs/options/__snapshots__/Menu.test.tsx.snap
Labels: browser-extension, code-nav

#3486 repo-updater: Test repositoryPathPattern in Sources
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/testdata/sources/repositoryPathPattern-determines-the-repo-name.yaml
Labels: team/core-services

#3519 test removal of content views and text fields in browser extension
  client/browser/src/libs/code_intelligence/content_views.test.ts
  client/browser/src/libs/code_intelligence/content_views.ts
  client/browser/src/libs/code_intelligence/text_fields.test.tsx
Labels: browser-extension, extensions, web

#3515 use Array#flat instead of lodash flatten
  shared/src/api/client/services/completion.ts
Labels: browser-extension

#3514 remove unnecessary use of sg-mounted class
  client/browser/src/libs/code_intelligence/content_views.test.ts
  client/browser/src/libs/code_intelligence/content_views.ts
  client/browser/src/libs/code_intelligence/text_fields.test.tsx
  client/browser/src/libs/code_intelligence/text_fields.tsx
Labels: browser-extension

#3462 db: Remove migrateJsonConfigToExternalServices
  cmd/frontend/db/external_services.go
Labels: team/core-services

#3488 Fix "could not find out if split diff is enabled" on commented snippet
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/pull-request-discussion/refined-github/unified/page.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/pull-request-discussion/vanilla/unified/page.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request-discussion/refined-github/unified/page.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request-discussion/vanilla/unified/page.html
  client/browser/src/libs/github/code_intelligence.test.ts
  client/browser/src/libs/github/dom_functions.test.ts
  client/browser/src/libs/github/dom_functions.ts
  client/browser/src/libs/github/util.test.ts
  client/browser/src/libs/github/util.tsx
Labels: browser-extension, bug, code-nav

#3489 repo-updater: Implement GitoliteSource
  cmd/gitserver/server/list-gitolite.go
  cmd/gitserver/server/list-gitolite_test.go
  cmd/gitserver/server/list_test.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/testdata/sources/yielded-repos-are-always-enabled.yaml
  pkg/gitserver/client.go
  pkg/vcs/git/main_test.go
Labels: team/core-services

#3525 httpcli: TestNewCertPool
  CHANGELOG.md
  pkg/httpcli/client_test.go
Labels: team/core-services

#3494 Refactor code view specs & code view resolvers
  client/browser/src/libs/bitbucket/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_views.test.ts
  client/browser/src/libs/code_intelligence/code_views.ts
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/blob/refined-github/code-view.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/blob/refined-github/page.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/blob/vanilla/code-view.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/blob/vanilla/page.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/refined-github/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/refined-github/page.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/refined-github/split/page.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/refined-github/unified/page.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/page.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/split/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/split/page.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/unified/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/unified/page.html
  client/browser/src/libs/github/code_intelligence.test.ts
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/file_info.ts
  client/browser/src/libs/gitlab/code_intelligence.ts
  client/browser/src/libs/phabricator/code_intelligence.ts
Labels: browser-extension, bug, code-nav

#2937 Make selections specific to a code view
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  client/browser/src/libs/code_intelligence/code_views.ts
  client/browser/src/libs/code_intelligence/util/selections.ts
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/gitlab/code_intelligence.ts
  client/browser/src/libs/phabricator/code_intelligence.ts
Labels: browser-extension, code-nav

#3518 simplify and improve encapsulation of CompletionWidget CSS
  client/browser/src/libs/github/code_intelligence.ts
  shared/src/components/completion/CompletionWidget.scss
  shared/src/components/completion/CompletionWidget.test.tsx
  shared/src/components/completion/CompletionWidget.tsx
  shared/src/components/completion/CompletionWidgetDropdown.scss
  shared/src/components/completion/CompletionWidgetDropdown.test.tsx
  shared/src/components/completion/CompletionWidgetDropdown.tsx
  shared/src/components/completion/EditorCompletionWidget.tsx
  shared/src/components/completion/__snapshots__/CompletionWidget.test.tsx.snap
  shared/src/components/completion/__snapshots__/CompletionWidgetDropdown.test.tsx.snap
  web/src/components/completion/CompletionWidgetDropdown.scss
  web/src/components/completion/styles.ts
  web/src/components/shared.tsx
  web/src/repo/blob/discussions/DiscussionsInput.tsx
  web/src/snippets/SnippetsPage.tsx
Labels: browser-extension, extensions, web

#3504 docs: ui refresh
  doc/_resources/assets/content.css
  doc/_resources/assets/docs.js
  doc/_resources/assets/layout.css
  doc/_resources/assets/sourcegraph-logo-docs-small.svg
  doc/_resources/assets/sourcegraph-logo-docs.svg
  doc/_resources/assets/sourcegraph.css
  doc/_resources/templates/doc.html
  doc/admin/install/docker/index.md
  doc/docsite.json
  doc/index.md
Labels: docs, docs-ux

#3516 explain why CompletionWidget uses a very large z-index
  shared/src/components/completion/CompletionWidget.scss
Labels: browser-extension

#3533 Unified Phabricator client
  cmd/frontend/graphqlbackend/repository.go
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/phabricator.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/testdata/sources/phabricator.yaml
  go.mod
  go.sum
  pkg/extsvc/phabricator/client.go
  pkg/extsvc/phabricator/client_test.go
  pkg/extsvc/phabricator/testdata/golden/GetRawDiff-20455
  pkg/extsvc/phabricator/testdata/golden/GetRawDiff-3735928559
  pkg/extsvc/phabricator/testdata/golden/ListRepos-pagination.json
  pkg/extsvc/phabricator/testdata/golden/ListRepos-repos-listed.json
  pkg/extsvc/phabricator/testdata/vcr/GetDiffInfo.yaml
  pkg/extsvc/phabricator/testdata/vcr/GetRawDiff.yaml
  pkg/extsvc/phabricator/testdata/vcr/ListRepos.yaml
  pkg/httptestutil/recorder.go
  pkg/phabricator/phabricator.go
Labels: team/core-services

#3540 Enable indexing by default for new deployments
  pkg/conf/computed_test.go
  pkg/conf/confdefaults/confdefaults.go
Labels: search

#3568 docs: edit this page button and page nav now on mobile devices and other fixes
  doc/_resources/assets/content.css
  doc/_resources/assets/docs.js
  doc/_resources/assets/layout.css
  doc/_resources/templates/doc.html
Labels: accessibility, docs

#3598 repo-updater: Do not migrate deleted repos to `(repos|projects)` list
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
Labels: team/core-services

#3605 repo-updater: Serialize Source requests
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/sources.go
Labels: team/core-services

#3601 repo-updater: BitbucketServerUsernameMigration
  CHANGELOG.md
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
Labels: team/core-services

#3573 repo-updater: Don't record Phabricator body and form
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/testdata/sources/phabricator.yaml
  pkg/extsvc/phabricator/client.go
  pkg/httpcli/client.go
  pkg/httpcli/client_test.go
Labels: team/core-services

#3609 pkg/ratelimit: Support Retry-After abuse headers
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/gitlab.go
  pkg/ratelimit/rate_limit.go
  pkg/ratelimit/rate_limit_test.go
Labels: team/core-services

#3602 Mentioned visiting Docker web interface in docs
  doc/index.md
Labels: docs

#3548 Cleanup models when code editors are removed
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/code_intelligence.tsx
  package.json
  shared/src/api/client/services/editorService.test.ts
  shared/src/api/client/services/editorService.ts
  yarn.lock
Labels: browser-extension, extensions

#3616 docs: improve quickstart and Docker instructions
  doc/admin/install/docker/index.md
  doc/index.md
Labels: docs

#3621 Handle changed GitHub DOM
  client/browser/src/libs/code_intelligence/code_intelligence_test_utils.ts
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/blob/refined-github/code-view.html
  client/browser/src/libs/github/__fixtures__/ghe-2.14.11/blob/vanilla/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/refined-github/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/refined-github/page.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/blob/vanilla/page.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/refined-github/split/page.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/refined-github/unified/page.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/vanilla/split/page.html
  client/browser/src/libs/github/__fixtures__/github.com/commit/vanilla/unified/page.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/refined-github/split/page.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/refined-github/unified/page.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/vanilla/split/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/vanilla/split/page.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/vanilla/unified/code-view.html
  client/browser/src/libs/github/__fixtures__/github.com/pull-request/vanilla/unified/page.html
  client/browser/src/libs/github/code_intelligence.test.ts
  client/browser/src/libs/github/code_intelligence.ts
  client/browser/src/libs/github/style.scss
Labels: browser-extension, bug, github, important

#3631 Revert "repo-updater: mitigate the possibility of migration deadlock due to rate limit (#3617)"
  cmd/repo-updater/repos/migrations.go
Labels: team/core-services

#3633 repo-updater: Tune pagination params in Store
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/testing.go
Labels: team/core-services

#3632 server: Fix /etc/hosts DNS resolution
  cmd/server/Dockerfile
  cmd/server/build.sh
Labels: team/core-services

#3657 repo-updater: Improve Store pagination tests
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/testing.go
Labels: team/core-services

#3678 Use @sourcegraph/extension-api-classes
  client/browser/src/libs/code_intelligence/code_intelligence.test.tsx
  client/browser/src/libs/code_intelligence/content_views.test.ts
  package.json
  shared/src/api/client/services/hover.test.ts
  shared/src/api/client/services/linkPreview.test.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/client/types/hover.test.ts
  shared/src/api/client/types/hover.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/textDocument.test.ts
  shared/src/api/extension/api/textDocument.ts
  shared/src/api/extension/api/types.ts
  shared/src/api/extension/api/windows.test.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/extension/types/enums.ts
  shared/src/api/extension/types/errors.ts
  shared/src/api/extension/types/location.test.ts
  shared/src/api/extension/types/location.ts
  shared/src/api/extension/types/position.test.ts
  shared/src/api/extension/types/position.ts
  shared/src/api/extension/types/range.test.ts
  shared/src/api/extension/types/range.ts
  shared/src/api/extension/types/selection.test.ts
  shared/src/api/extension/types/selection.ts
  shared/src/api/extension/types/testHelpers.ts
  shared/src/api/extension/types/url.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/configuration.test.ts
  shared/src/api/integration-test/content.test.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/languageFeatures.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/views.test.ts
  shared/src/api/integration-test/windows.test.ts
  shared/src/components/linkPreviews/linkPreviews.test.ts
  shared/src/hover/HoverOverlay.test.tsx
  yarn.lock
Labels: extensions
