Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2019-08, with the labels that each got.

#5011 Use TTL for HTTP cache to stop Redis running OOM
  pkg/httputil/cache.go
Labels: team/core-services

#5101 repo-updater: Exclude Phabricator when listing external services for sync
  cmd/repo-updater/repos/phabricator.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/testing.go
Labels: team/core-services

#4226 Add Phabricator e2e test script
  dev/phabricator/e2e.sh
  dev/phabricator/install-sourcegraph.sh
  dev/phabricator/stop.sh
  web/package.json
  web/src/e2e/phabricator.e2e.test.tsx
  web/src/e2e/util.ts
  web/src/util/e2e-test-utils.ts
Labels: browser-extension, ops & tools & dev, phabricator

#4973 remove ineffective "Slack webhook" config action and settings schema property
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  web/src/site-admin/configHelpers.ts
Labels: debt, search

#5133 Enable JSON schema embeds to support linking to a specific key
  doc/_resources/assets/content.css
  doc/_resources/assets/docs.js
  doc/_resources/assets/layout.css
Labels: docs, docs-ux

#5137 search: Fix data race in searchSymbolsInRepo()
  cmd/frontend/graphqlbackend/codemod.go
  cmd/frontend/internal/pkg/search/repo_revs.go
Labels: team/core-services

#5170 Limit code views to 50
  browser/src/libs/code_intelligence/code_intelligence.tsx
Labels: browser-extension

#5148 doc: Add git SSH authentication step to Gitolite
  doc/admin/external_service/gitolite.md
Labels: docs, team/core-services

#5218 Add section about release testing
  doc/dev/testing.md
Labels: docs

#5180 authz: Non-blocking Bitbucket Server permissions updates
  enterprise/cmd/frontend/internal/authz/bitbucketserver/main_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store_test.go
  go.mod
  go.sum
Labels: auth, bitbucket, team/core-services

#5239 authz: Bitbucket Server Permissions store fixes
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store_test.go
Labels: auth, bitbucket, team/core-services

#5244 LineDecorationAttachment: revert to using unsafe react methods
  web/src/repo/blob/LineDecorationAttachment.tsx
Labels: release-blocker

#5257 remove custom Select element
  .eslintrc.js
  web/src/SourcegraphWebApp.scss
  web/src/components/Select.scss
  web/src/components/Select.tsx
  web/src/enterprise/extensions/extension/RegistryExtensionForm.tsx
  web/src/enterprise/site-admin/dotcom/productSubscriptions/SiteAdminCreateProductSubscriptionPage.tsx
  web/src/savedSearches/SavedSearchModal.tsx
  web/src/search/input/QueryBuilder.tsx
Labels: web

#5265 emit React hot loader wrappers for Area components
  web/webpack.config.ts
Labels: web

#5275 remove unnecessary wrapping element in <GlobalDebug>
  web/src/global/GlobalDebug.tsx
Labels: web

#5272 add storybook for <Tooltip>
  web/src/components/tooltip/Tooltip.story.tsx
Labels: web

#5273 make <GitRefTag onMouseDown> optional
  web/src/repo/GitRefTag.tsx
Labels: web

#5274 fix accidental omission of alert CSS class
  web/src/site-admin/SiteAdminManagementConsolePassword.tsx
Labels: web

#5268 prefer using the Prisma GraphQL VS Code extension
  .github/CODEOWNERS
  .graphqlconfig
  .vscode/extensions.json
Labels: web

#5264 use GraphQL DateTime scalar type for dates
  cmd/frontend/graphqlbackend/access_token.go
  cmd/frontend/graphqlbackend/datetime.go
  cmd/frontend/graphqlbackend/datetime_test.go
  cmd/frontend/graphqlbackend/discussion_comments.go
  cmd/frontend/graphqlbackend/discussion_threads.go
  cmd/frontend/graphqlbackend/dotcom.go
  cmd/frontend/graphqlbackend/extension_registry.go
  cmd/frontend/graphqlbackend/external_account.go
  cmd/frontend/graphqlbackend/external_service.go
  cmd/frontend/graphqlbackend/org.go
  cmd/frontend/graphqlbackend/org_invitation.go
  cmd/frontend/graphqlbackend/org_members.go
  cmd/frontend/graphqlbackend/product_license_info.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/repository_mirror.go
  cmd/frontend/graphqlbackend/repository_text_search_index.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/settings.go
  cmd/frontend/graphqlbackend/site_update_check.go
  cmd/frontend/graphqlbackend/survey_response.go
  cmd/frontend/graphqlbackend/user.go
  cmd/frontend/registry/extension_remote_graphql.go
  enterprise/cmd/frontend/internal/dotcom/productsubscription/licenses_graphql.go
  enterprise/cmd/frontend/internal/dotcom/productsubscription/subscription_invoice_item_graphql.go
  enterprise/cmd/frontend/internal/dotcom/productsubscription/subscriptions_graphql.go
  enterprise/cmd/frontend/internal/registry/extension_graphql.go
Labels: web

#5282 add React hook for scrolling to location anchor
  web/src/Layout.tsx
  web/src/components/FilteredConnection.tsx
  web/src/components/useScrollToLocationHash.ts
  web/src/repo/blob/RenderedFile.tsx
Labels: web

#5269 export GraphQL JSONValue scalar type for use in other packages
  cmd/frontend/graphqlbackend/external_account.go
  cmd/frontend/graphqlbackend/json.go
  cmd/frontend/graphqlbackend/settings_mutation.go
Labels: web

#5281 handle invalid `#N` scroll position URL hashes in <SearchResultsList>
  web/src/search/results/SearchResultsList.tsx
Labels: search, web

#5266 simplify frontend CSS build in Webpack
  cmd/frontend/internal/app/templates/ui/app.html
  cmd/frontend/internal/app/ui/handlers.go
  doc/dev/local_development.md
  doc/dev/phabricator_gitolite.md
  web/package.json
  web/src/SourcegraphWebApp.tsx
  web/src/enterprise.scss
  web/src/enterprise/main.tsx
  web/src/main.scss
  web/src/main.tsx
  web/src/util/empty.css
  web/webpack.config.ts
Labels: web

#5271 add storybook for <UserNavItem>
  web/src/nav/UserNavItem.story.tsx
  web/src/nav/UserNavItem.tsx
Labels: web

#5278 make <LinkOrSpan> more like react-router-dom's <Link>
  shared/src/components/LinkOrSpan.tsx
Labels: web

#5277 pass-thru more HTMLTextAreaElement attributes on <EditorTextField>
  shared/src/components/editorTextField/EditorTextField.tsx
Labels: web

#5276 treat mailto: URLs as absolute in <RouterLinkOrAnchor>
  package.json
  web/src/components/RouterLinkOrAnchor.tsx
  yarn.lock
Labels: web

#5279 misc GraphQL API code cleanup
  cmd/frontend/graphqlbackend/access_tokens.go
  cmd/frontend/graphqlbackend/externallink/resolver.go
  cmd/frontend/main.go
  cmd/frontend/shared/frontend.go
  enterprise/cmd/frontend/internal/graphqlbackend/doc.go
  enterprise/cmd/frontend/internal/graphqlbackend/dotcom.go
Labels: web

#5280 remove manual URL construction from <GitCommitNode>, allow showing repository
  web/src/repo/RepoRevSidebarCommits.tsx
  web/src/repo/TreePage.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/repo/commit/RepositoryCommitPage.tsx
  web/src/repo/commits/GitCommitNode.tsx
  web/src/repo/commits/RepositoryCommitsPage.tsx
  web/src/repo/compare/RepositoryCompareCommitsPage.tsx
Labels: web

#5267 add storybook for <NotificationItem>
  shared/src/notifications/NotificationItem.story.tsx
Labels: web

#5270 support extensions contributing actions to the search results info bar
  shared/src/actions/ActionsNavItems.tsx
  shared/src/api/protocol/contribution.ts
  shared/src/schema/extension.schema.json
  web/src/search/results/SearchResults.test.tsx
  web/src/search/results/SearchResults.tsx
  web/src/search/results/SearchResultsInfoBar.tsx
  web/src/search/results/SearchResultsList.test.tsx
  web/src/search/results/SearchResultsList.tsx
  web/src/search/testHelpers.ts
Labels: extensions, web

#5288 <DiffStat>: show expanded counts, better tooltips
  web/src/repo/compare/DiffStat.scss
  web/src/repo/compare/DiffStat.test.tsx
  web/src/repo/compare/DiffStat.tsx
  web/src/repo/compare/__snapshots__/DiffStat.test.tsx.snap
Labels: web

#5339 Share web/browser global styles
  browser/src/app.scss
  browser/src/global-styles/card.scss
  browser/src/global-styles/icons.scss
  browser/src/options.scss
  browser/src/shared/components/alerts.scss
  browser/src/shared/components/symbols/SymbolIcon.tsx
  shared/src/global-styles/colors.scss
  shared/src/global-styles/icons.scss
  web/src/SourcegraphWebApp.scss
  web/src/global-styles/colors.scss
  web/src/global-styles/type.scss
  web/src/repo/commits/__snapshots__/GitCommitNodeByline.test.tsx.snap
  web/src/user/UserAvatar.scss
  web/src/user/UserAvatar.tsx
  web/src/user/__snapshots__/UserAvatar.test.tsx.snap
  web/src/user/area/UserAreaHeader.scss
  web/src/user/settings/profile/UserSettingsProfilePage.scss
Labels: browser-extension

#5347 Add documentation for TS patterns
  doc/dev/typescript/index.md
  doc/dev/typescript/patterns.md
Labels: docs

#5354 Don't reference Bootstrap from HoverOverlay
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/libs/phabricator/code_intelligence.ts
  browser/src/libs/phabricator/style.scss
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  web/src/components/shared.tsx
Labels: browser-extension

#5358 Catch Decoration Error
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/github/dom_functions.ts
Labels: browser-extension, bug

#5344 Fix fetching private extensions from bext
  browser/src/platform/worker.ts
  enterprise/cmd/frontend/internal/registry/extension_bundle.go
Labels: browser-extension

#5320 Refactor Phabricator backend and file_info code
  browser/src/libs/code_intelligence/test_helpers.tsx
  browser/src/libs/phabricator/__fixtures__/pages/commit-view.html
  browser/src/libs/phabricator/__fixtures__/pages/differential-diff-comparison.html
  browser/src/libs/phabricator/__fixtures__/pages/differential-revision.html
  browser/src/libs/phabricator/__fixtures__/pages/diffusion.html
  browser/src/libs/phabricator/backend.tsx
  browser/src/libs/phabricator/file_info.test.ts
  browser/src/libs/phabricator/file_info.ts
  browser/src/libs/phabricator/index.tsx
  browser/src/libs/phabricator/util.tsx
Labels: browser-extension, phabricator

#5345 status-indicator: Display all syncing errors from repo-updater
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/status_messages.go
  cmd/frontend/graphqlbackend/status_messages_test.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  pkg/repoupdater/protocol/repoupdater.go
  web/src/nav/StatusMessagesNavItem.test.tsx
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: team/core-services

#5376 web: Render external service form errors/warnings as Markdown
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
Labels: team/core-services, web

#5297 authz: Do not filter repo ids to cache in Bitbucket Server provider
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/store.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store_test.go
Labels: auth, bitbucket, team/core-services

#5392 improve GraphQL API for codemod search results
  cmd/frontend/graphqlbackend/codemod.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: search

#5393 expose RepositoryComparison.{base,head}Repository in GraphQL API
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: web

#5394 expose GitCommitConnection.totalCount in GraphQL API
  cmd/frontend/graphqlbackend/git_commits.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: web

#5395 expose common namespaceName in GraphQL API for Namespace (User, Org)
  cmd/frontend/graphqlbackend/namespaces.go
  cmd/frontend/graphqlbackend/org.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/user.go
Labels: web

#5398 clean up shared extension API notifications types and code file
  shared/src/api/client/services/notifications.ts
Labels: extensions

#5400 authz: Remove in-memory cache from Bitbucket Server permissions store
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store_test.go
Labels: auth, bitbucket, team/core-services

#5403 Add e2e test for browser integration on Bitbucket
  browser/README.md
  browser/scripts/tasks.ts
  browser/src/e2e/bitbucket.test.ts
  browser/src/e2e/github.test.ts
  browser/src/libs/options/ServerURLForm.tsx
  browser/src/libs/options/__snapshots__/OptionsMenu.test.tsx.snap
  browser/src/shared/components/CodeViewToolbar.tsx
  browser/src/shared/repo/backend.tsx
  enterprise/dev/ci/ci/pipeline-steps.go
  shared/src/e2e/driver.ts
  web/src/e2e/e2e.test.ts
  web/src/e2e/regression.test.ts
Labels: bitbucket, browser-extension, ops & tools & dev

#5410 use consistent color for ext svc status messages icon in global navbar
  web/src/global-styles/buttons.scss
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: web

#5408 use sentence case
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: web
