Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2019-09, with the labels that each got.

#5409 hide quicklinks bar if empty
  web/src/search/QuickLinks.tsx
  web/src/search/input/SearchPage.tsx
  web/src/search/results/SearchResultsFilterBars.scss
  web/src/search/results/SearchResultsFilterBars.tsx
Labels: search, web

#5405 Add browser extension e2e tests for Gitlab
  browser/README.md
  browser/src/e2e/bitbucket.test.ts
  browser/src/e2e/gitlab.test.ts
  browser/src/e2e/shared.ts
  shared/src/e2e/driver.ts
Labels: browser-extension, gitlab

#5422 extract SearchHelpDropdownButton from SearchButton
  web/src/search/input/SearchButton.tsx
  web/src/search/input/SearchHelpDropdownButton.tsx
Labels: search, web

#5473 always use root-relative names in Git entries
  cmd/frontend/graphqlbackend/file.go
  cmd/frontend/graphqlbackend/git_blob.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_tree.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/git_tree_test.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_test.go
  cmd/frontend/graphqlbackend/symbols.go
  cmd/frontend/graphqlbackend/textsearch.go
  pkg/vcs/git/tree.go
  pkg/vcs/git/tree_test.go
Labels: team/core-services, web

#5465 more accurate file language detection using file content heuristics
  cmd/frontend/backend/repos.go
  cmd/frontend/backend/repos_mock.go
  cmd/frontend/backend/repos_test.go
  cmd/frontend/graphqlbackend/file.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/internal/inventory/filelang/LICENSE
  cmd/frontend/internal/inventory/filelang/_data/languages.yml
  cmd/frontend/internal/inventory/filelang/_data/vendor.yml
  cmd/frontend/internal/inventory/filelang/data_languages.go
  cmd/frontend/internal/inventory/filelang/data_vendor.go
  cmd/frontend/internal/inventory/filelang/gen/generate.go
  cmd/frontend/internal/inventory/filelang/languages.go
  cmd/frontend/internal/inventory/filelang/languages_test.go
  cmd/frontend/internal/inventory/filelang/vendor.go
  cmd/frontend/internal/inventory/filelang/vendor_test.go
  cmd/frontend/internal/inventory/inventory.go
  cmd/frontend/internal/inventory/inventory_test.go
  cmd/frontend/internal/inventory/prom-repo-tree.txt
  cmd/frontend/internal/inventory/tree.go
  cmd/frontend/internal/inventory/tree_test.go
  dev/launch.sh
  go.mod
  go.sum
  pkg/vcs/git/blob.go
  pkg/vcs/git/blob_test.go
  pkg/vcs/git/file_info.go
  pkg/vcs/git/mocks.go
  pkg/vcs/git/object.go
  pkg/vcs/git/tree.go
  pkg/vcs/git/tree_test.go
Labels: team/core-services, web

#5482 a8n: Implement campaigns in GraphQL API
  cmd/frontend/db/campaigns.go
  cmd/frontend/db/campaigns_test.go
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/graphqlutil/connection.go
  cmd/frontend/graphqlbackend/namespaces.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/types/types.go
  go.mod
  go.sum
  migrations/1528395584_add_campaigns_table.down.sql
  migrations/1528395584_add_campaigns_table.up.sql
  migrations/bindata.go
  pkg/db/dbtest/dbtest.go
  pkg/db/dbutil/dbutil.go
Labels: a8n, api, team/core-services

#5491 a8n: Implement createCampaign mutation in GraphQL API
  cmd/frontend/db/campaigns.go
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: a8n, api, team/core-services

#5382 Publish native integration to npm
  browser/package.json
  browser/scripts/publish-npm.ts
  browser/src/extension/scripts/inject.tsx
  browser/src/globals.d.ts
  browser/src/integration/integration.tsx
  browser/src/libs/code_intelligence/ extensions.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/extensions.tsx
  browser/src/libs/code_intelligence/inject.ts
  browser/src/libs/phabricator/extension.tsx
  browser/src/platform/context.test.tsx
  browser/src/platform/context.ts
  browser/src/platform/extensionHost.ts
  browser/src/shared/util/context.tsx
  enterprise/dev/ci/ci/pipeline-steps.go
  package.json
  yarn.lock
Labels: browser-extension

#5508 a8n: Introduce pkg/a8n
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/types/types.go
  pkg/a8n/store.go
  pkg/a8n/store_test.go
  pkg/a8n/types.go
Labels: a8n, team/core-services

#5509 a8n: Introduce Threads in Store
  cmd/frontend/db/schema.md
  migrations/1528395586_add_threads_table.down.sql
  migrations/1528395586_add_threads_table.up.sql
  migrations/bindata.go
  pkg/a8n/store.go
  pkg/a8n/store_test.go
  pkg/a8n/types.go
Labels: a8n, team/core-services

#5477 Remodel SQLite Schema
  dev/ci/yarn-build-separate.sh
  lsif/data_model.md
  lsif/package.json
  lsif/src/backend.ts
  lsif/src/cache.test.ts
  lsif/src/cache.ts
  lsif/src/correlator.test.ts
  lsif/src/correlator.ts
  lsif/src/database.test.ts
  lsif/src/database.ts
  lsif/src/default-map.test.ts
  lsif/src/default-map.ts
  lsif/src/encoding.test.ts
  lsif/src/encoding.ts
  lsif/src/entities.ts
  lsif/src/importer.test.ts
  lsif/src/importer.ts
  lsif/src/inserter.ts
  lsif/src/models.database.ts
  lsif/src/models.ts
  lsif/src/models.xrepo.ts
  lsif/src/query-cpp.test.ts
  lsif/src/query-typescript.test.ts
  lsif/src/server.ts
  lsif/src/test-utils.ts
  lsif/src/util.test.ts
  lsif/src/util.ts
  lsif/src/xrepo.ts
  lsif/test-data/typescript/README.md
  lsif/yarn.lock
Labels: code-intel, lsif

#5524 run dev prometheus and grafana as current user
  dev/grafana.sh
  dev/prometheus.sh
Labels: team/core-services

#5110 browser: add quick toggle option to enable/disable (#5104)
  browser/src/browser/types.ts
  browser/src/extension/scripts/inject.tsx
  browser/src/extension/scripts/options.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/options/OptionsContainer.test.tsx
  browser/src/libs/options/OptionsContainer.tsx
  browser/src/libs/options/OptionsHeader.scss
  browser/src/libs/options/OptionsHeader.story.tsx
  browser/src/libs/options/OptionsHeader.tsx
  browser/src/libs/options/OptionsMenu.story.tsx
  browser/src/libs/options/OptionsMenu.test.tsx
  browser/src/libs/options/OptionsMenu.tsx
  browser/src/libs/options/__snapshots__/OptionsMenu.test.tsx.snap
Labels: browser-extension

#5565 a8n: Support finding Campaigns/Changesets by ID in GraphQL API
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/settings_mutation.go
  cmd/frontend/graphqlbackend/settings_subject.go
  cmd/frontend/graphqlbackend/tags.go
Labels: api, team/core-services

#5553 a8n: Sync Changeset for Github
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/testdata/vcr/test-campaigns.yaml
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangeset_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangeset_found.yaml
  cmd/repo-updater/repos/types.go
  pkg/extsvc/github/client_test.go
  pkg/extsvc/github/pulls.go
  pkg/extsvc/github/testdata/golden/GetPullRequest-5550
  pkg/extsvc/github/testdata/vcr/GetPullRequest.yaml
Labels: a8n, team/core-services

#5567 a8n: Add Title/Body to Changesets in GraphQL API
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  migrations/1528395590_add_external_service_type_to_changesets.down.sql
  migrations/1528395590_add_external_service_type_to_changesets.up.sql
  migrations/bindata.go
  pkg/a8n/store.go
  pkg/a8n/store_test.go
  pkg/a8n/types.go
  pkg/a8n/types_test.go
Labels: a8n, api, team/core-services

#5569 a8n: Add state to Changeset
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/testdata/vcr/test-campaigns.yaml
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangeset_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangeset_found.yaml
  pkg/a8n/store.go
  pkg/a8n/types.go
  pkg/extsvc/github/pulls.go
  pkg/extsvc/github/testdata/golden/GetPullRequest-5550
  pkg/extsvc/github/testdata/vcr/GetPullRequest.yaml
Labels: a8n, api, team/core-services

#5537 Lsif linked reference results
  lsif/src/correlator.test.ts
  lsif/src/correlator.ts
  lsif/src/cpp.test.ts
  lsif/src/disjoint-set.test.ts
  lsif/src/disjoint-set.ts
  lsif/src/importer.test.ts
  lsif/src/importer.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/util.ts
  lsif/test-data/cpp/README.md
  lsif/test-data/typescript/linked-reference-results/README.md
  lsif/test-data/typescript/linked-reference-results/data/data.lsif.gz
  lsif/test-data/typescript/linked-reference-results/generate.sh
  lsif/test-data/typescript/xrepo/README.md
  lsif/test-data/typescript/xrepo/bin/generate-a.sh
  lsif/test-data/typescript/xrepo/bin/generate-b.sh
  lsif/test-data/typescript/xrepo/bin/generate-c.sh
  lsif/test-data/typescript/xrepo/bin/generate.sh
  lsif/test-data/typescript/xrepo/data/a.lsif.gz
  lsif/test-data/typescript/xrepo/data/b1.lsif.gz
  lsif/test-data/typescript/xrepo/data/b2.lsif.gz
  lsif/test-data/typescript/xrepo/data/b3.lsif.gz
  lsif/test-data/typescript/xrepo/data/c1.lsif.gz
  lsif/test-data/typescript/xrepo/data/c2.lsif.gz
  lsif/test-data/typescript/xrepo/data/c3.lsif.gz
Labels: code-intel, lsif

#5562 Lsif contained ranges
  lsif/src/database.test.ts
  lsif/src/database.ts
Labels: code-intel, lsif

#5387 LSIF server metrics
  dev/grafana/jsonnet/lsif.jsonnet
  dev/prometheus/all/prometheus_targets.yml
  dev/prometheus/linux/prometheus_targets.yml
  docker-images/grafana/config/provisioning/dashboards/sourcegraph/lsif.json
  lsif/package.json
  lsif/src/cache.test.ts
  lsif/src/cache.ts
  lsif/src/database.ts
  lsif/src/importer.ts
  lsif/src/inserter.ts
  lsif/src/metrics.ts
  lsif/src/server.ts
  lsif/src/xrepo.ts
  lsif/yarn.lock
Labels: code-intel, lsif

#5570 a8n: Add externalURL to Changeset
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  pkg/a8n/types.go
  pkg/a8n/types_test.go
Labels: a8n, api, team/core-services

#5585 a8n: Add reviewState to Changeset
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/testdata/vcr/test-campaigns.yaml
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangeset_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangeset_found.yaml
  pkg/a8n/types.go
  pkg/extsvc/github/pulls.go
  pkg/extsvc/github/testdata/golden/GetPullRequest-5550
  pkg/extsvc/github/testdata/vcr/GetPullRequest.yaml
Labels: a8n, api, team/core-services

#5603 a8n: DB trigger to clean up references to campaigns/changesets on deletion
  cmd/frontend/db/schema.md
  migrations/1528395592_add_deletion_triggers_to_campaigns_and_changesets.down.sql
  migrations/1528395592_add_deletion_triggers_to_campaigns_and_changesets.up.sql
  migrations/bindata.go
Labels: a8n, team/core-services

#5609 Delete .gitignore
  doc/.gitignore
Labels: docs

#5611 a8n: Batch createChangesets and addChangesetsToCampaign
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/campaigns_test.go
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/testdata/vcr/test-campaigns.yaml
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangeset_found
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/types.go
  pkg/a8n/store.go
  pkg/a8n/store_test.go
  pkg/extsvc/github/client_test.go
  pkg/extsvc/github/pulls.go
  pkg/extsvc/github/testdata/golden/GetPullRequest-5550
  pkg/extsvc/github/testdata/golden/LoadPullRequests-2
  pkg/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: a8n, api, team/core-services

#5530 LSIF: Remove backend
  lsif/src/backend.ts
  lsif/src/cache.ts
  lsif/src/connection.ts
  lsif/src/cpp.test.ts
  lsif/src/database.ts
  lsif/src/importer.ts
  lsif/src/models.xrepo.ts
  lsif/src/query-cpp.test.ts
  lsif/src/query-typescript.test.ts
  lsif/src/server.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/util.ts
  lsif/src/worker.ts
  lsif/test-data/typescript/linked-reference-results/data/data.lsif.gz
Labels: code-intel, lsif

#5651 a8n: Move pkg/a8n to enterprise/pkg/a8n
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/changesets.go
  cmd/frontend/graphqlbackend/discussion_threads.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/namespaces.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/settings_mutation.go
  cmd/frontend/graphqlbackend/settings_subject.go
  cmd/frontend/graphqlbackend/tags.go
  cmd/frontend/graphqlbackend/testing.go
  cmd/frontend/internal/cli/serve_cmd.go
  enterprise/cmd/frontend/main.go
  enterprise/pkg/a8n/resolvers/graphql.go
  enterprise/pkg/a8n/resolvers/graphql_test.go
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
Labels: a8n, api, team/core-services

#5622 Add Automation UI
  cmd/frontend/internal/app/jscontext/jscontext.go
  package.json
  pkg/conf/computed.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/components/LinkWithIconOnlyTooltip.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetList.tsx
  web/src/enterprise/campaigns/detail/changesets/presentation.ts
  web/src/enterprise/campaigns/detail/useCampaignByID.ts
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/nav/CampaignsNavItem.tsx
  web/src/enterprise/campaigns/icons.ts
  web/src/enterprise/campaigns/list/CampaignList.tsx
  web/src/enterprise/campaigns/list/CampaignListItem.tsx
  web/src/enterprise/campaigns/list/useCampaigns.ts
  web/src/enterprise/campaigns/new/NewCampaignPage.tsx
  web/src/enterprise/main.tsx
  web/src/enterprise/namespaces/backend.ts
  web/src/enterprise/routes.tsx
  web/src/global-styles/card.scss
  web/src/globals.d.ts
  web/src/main.tsx
  web/src/nav/GlobalNavbar.tsx
  web/src/nav/NavLinks.test.tsx
  web/src/nav/NavLinks.tsx
  web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  web/src/routes.tsx
  web/src/util/useObservable.test.ts
  web/src/util/useObservable.ts
  yarn.lock
Labels: a8n

#5561 Use fromFetch() instead of ajax()
  .eslintrc.js
  browser/src/extension/scripts/background.tsx
  browser/src/libs/bitbucket/api.ts
  browser/src/libs/gitlab/api.ts
  browser/src/libs/phabricator/backend.tsx
  browser/src/platform/context.ts
  browser/src/platform/worker.ts
  cmd/management-console/web/src/CriticalConfigEditor.tsx
  shared/src/api/client/services/extensionsService.ts
  shared/src/backend/fetch.ts
  shared/src/graphql/graphql.ts
  shared/src/util/errors.ts
  web/src/backend/backend.ts
Labels: debt, web

#5676 Change NodeByID to a method to make dependency injection easier
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/settings_mutation.go
  cmd/frontend/graphqlbackend/settings_subject.go
  cmd/frontend/graphqlbackend/tags.go
  enterprise/pkg/a8n/resolvers/graphql.go
Labels: a8n, team/core-services

#5572 Add browser extension e2e test for GitHub enterprise
  browser/src/e2e/ghe.test.ts
  browser/src/e2e/shared.ts
  browser/src/libs/github/file_info.ts
Labels: ops & tools & dev

#5525 LSIF: Split server and worker
  cmd/server/Dockerfile
  cmd/server/shared/shared.go
  dev/Procfile
  dev/prometheus/all/prometheus_targets.yml
  dev/prometheus/linux/prometheus_targets.yml
  lsif/Dockerfile
  lsif/README.md
  lsif/docs/jobs.md
  lsif/package.json
  lsif/src/backend.ts
  lsif/src/cache.ts
  lsif/src/connection.ts
  lsif/src/cpp.test.ts
  lsif/src/database.ts
  lsif/src/importer.ts
  lsif/src/input.test.ts
  lsif/src/input.ts
  lsif/src/lsif.schema.json
  lsif/src/models.xrepo.ts
  lsif/src/server.ts
  lsif/src/types/async-exit-hook.d.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/util.ts
  lsif/src/worker.ts
  lsif/supervisord.conf
  lsif/test-data/typescript/linked-reference-results/data/data.lsif.gz
  lsif/tsconfig.json
  lsif/yarn.lock
Labels: code-intel, lsif

#5698 a8n: Add updateCampaign mutation to GraphQL API
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/resolvers/graphql.go
  enterprise/pkg/a8n/resolvers/graphql_test.go
Labels: a8n, api, team/core-services

#5701 a8n: Add deleteCampaign mutation to GraphQL API
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/resolvers/graphql.go
  enterprise/pkg/a8n/resolvers/graphql_test.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
Labels: a8n, api, team/core-services

#5713 dev: Do not trap EXIT signal when starting grafana container
  dev/grafana.sh
Labels: ops & tools & dev, team/distribution 🚢📦💨

#5690 Display commit email in tooltip, and Sourcegraph username with display name
  web/src/repo/GitRef.tsx
  web/src/repo/commits/GitCommitNodeByline.test.tsx
  web/src/repo/commits/GitCommitNodeByline.tsx
  web/src/repo/commits/RepositoryCommitsPage.tsx
  web/src/repo/commits/__snapshots__/GitCommitNodeByline.test.tsx.snap
Labels: customer

#5714 a8n: Introduce an enterprise version of repo-updater
  cmd/repo-updater/build.sh
  cmd/repo-updater/main.go
  cmd/repo-updater/shared/main.go
  cmd/server/build.sh
  enterprise/cmd/repo-updater/main.go
  enterprise/cmd/server/build.sh
  enterprise/dev/start.sh
Labels: a8n, team/core-services

#5723 Add build.sh to ./enterprise/cmd/repo-updater/
  enterprise/cmd/repo-updater/build.sh
Labels: a8n, team/core-services

#5753 a8n: Setup rcache for tests
  enterprise/pkg/a8n/resolvers/graphql_test.go
Labels: a8n, team/core-services
