Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2019-11, with the labels that each got.

#6285 Refactor lsif upload proxy handler.
  cmd/frontend/internal/httpapi/lsif.go
Labels: lsif

#6298 a8n: Introduce PreviewDiff to simplify CampaignPlan diffs
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/resolvers/campaigns.go
  enterprise/pkg/a8n/resolvers/changesets.go
Labels: a8n

#6345 Fix exception on GitLab MRs
  browser/src/libs/gitlab/code_intelligence.ts
Labels: browser-extension, bug

#6348 graphqlbackend: Expose GitTreeEntryResolver
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/file.go
  cmd/frontend/graphqlbackend/git_blob.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_tree.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/location.go
  cmd/frontend/graphqlbackend/lsif_dump.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_test.go
  cmd/frontend/graphqlbackend/symbols.go
  cmd/frontend/graphqlbackend/textsearch.go
Labels: a8n

#6339 a8n: Load and store Bitbucket Server PR activity as ChangesetEvents
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/bitbucketserver_test.go
  cmd/repo-updater/repos/testdata/golden/BitbucketServerSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_LoadChangesets_subset-not-found.yaml
  enterprise/pkg/a8n/resolvers/resolver_test.go
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-changeset-counts-over-time.yaml
  enterprise/pkg/a8n/store.go
  internal/a8n/types.go
  internal/a8n/types_test.go
  internal/extsvc/bitbucketserver/client.go
Labels: a8n, bitbucket

#6351 a8n: Render campaign description using markdown
  shared/src/components/Markdown.tsx
  shared/src/components/__snapshots__/Markdown.test.tsx.snap
  shared/src/util/markdown.ts
  web/src/enterprise.scss
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/list/CampaignNode.scss
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/extensions/extension/__snapshots__/RegistryExtensionOverviewPage.test.tsx.snap
  web/src/global/__snapshots__/Notices.test.tsx.snap
Labels: a8n

#6251 LSIF: GraphQL endpoints for LSIF jobs
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/lsif_job.go
  cmd/frontend/graphqlbackend/lsif_job_stats.go
  cmd/frontend/graphqlbackend/lsif_jobs.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/types/lsif.go
  lsif/docs/api.md
  lsif/src/api-job.ts
  lsif/src/queue.ts
  lsif/src/server.ts
Labels: lsif

#6259 LSIF: Swagger API documentation
  lsif/docs/api.md
  lsif/docs/api.yaml
  lsif/package.json
  lsif/src/server.ts
  lsif/yarn.lock
Labels: lsif

#6400 graphqlbackend: Expose RepositoryCommitArgs, DiffStat, DiffHunk, DiffHunkRange
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/discussion_threads.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_object.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/repository_comparison.go
Labels: a8n

#6401 graphqlbackend: Expose CreateFileInfo
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/lsif_dump.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/symbols.go
  cmd/frontend/graphqlbackend/textsearch.go
Labels: a8n

#6410 LSIF: Simplify parameter of createRemoteUri.
  lsif/src/backend.ts
  lsif/src/database.test.ts
  lsif/src/database.ts
Labels: lsif

#6408 LSIF: Remove unnecessary async/awaits.
  lsif/.eslintrc.js
  lsif/src/backend.ts
  lsif/src/database.ts
  lsif/src/retention.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
Labels: lsif

#6411 LSIF: Handle pagination in a more uniform way.
  lsif/src/backend.ts
Labels: lsif

#6413 LSIF: Remove JSON Schema validation
  lsif/docs/api.yaml
  lsif/package.json
  lsif/src/input.test.ts
  lsif/src/input.ts
  lsif/src/lsif.schema.json
  lsif/src/server.ts
  lsif/yarn.lock
Labels: lsif

#6409 LSIF: Extract CTEs into global scope.
  lsif/src/xrepo.ts
Labels: lsif

#6416 LSIF: Fix empty pages due to bloom filter
  lsif/src/backend.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
Labels: lsif

#6442 LSIF: Extract locationsFromRemoteReferences.
  lsif/src/backend.ts
Labels: lsif

#6434 LSIF: Fix bad postgres connection default
  lsif/src/connection.ts
Labels: lsif

#6404 Follow-up on dev/release
  .github/CODEOWNERS
  dev/ci/yarn-run.sh
  dev/foreach-ts-project.sh
  dev/release/github.ts
  dev/release/google-calendar.ts
  dev/release/package.json
  dev/release/release.ts
  dev/release/slack.ts
  dev/release/util.ts
  dev/release/yarn.lock
  renovate.json
Labels: ops & tools & dev

#6294 LSIF: update user documentation
  doc/_resources/templates/doc.html
  doc/user/code_intelligence/img/workflow.png
  doc/user/code_intelligence/lsif.md
  doc/user/code_intelligence/lsif_in_ci.md
  doc/user/code_intelligence/lsif_on_github.md
Labels: lsif

#6436 show dir links on tree page in bold to make visual scanning easier
  CHANGELOG.md
  web/src/repo/TreePage.tsx
Labels: web

#6432 Trim UI in the GitLab integration
  browser/src/libs/code_intelligence/code_intelligence.tsx
Labels: gitlab

#6430 a8n: Implement CampaignPlan & ChangesetPlan in GraphQL API
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/resolvers/campaign_plans.go
  enterprise/pkg/a8n/resolvers/changesets.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
Labels: a8n

#6458 a8n: Simplify ChangesetPlan and CampaignPlan in schema
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/resolvers/campaign_plans.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
Labels: a8n

#6465 LSIF: Ensure job state is converted from api.
  lsif/src/api-job.ts
  lsif/src/queue.ts
  lsif/src/server.ts
Labels: lsif

#6463 LSIF: Add filter for visibleAtTip-only dumps.
  lsif/docs/api.yaml
  lsif/src/backend.ts
  lsif/src/server.ts
  lsif/src/xrepo.ts
Labels: lsif

#6461 LSIF: Fix dumps sort order.
  lsif/src/xrepo.ts
Labels: lsif

#6265 a8n: Implement `previewCampaignPlan`
  cmd/frontend/graphqlbackend/codemod.go
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/run/campaign_type.go
  enterprise/pkg/a8n/run/campaign_type_test.go
  enterprise/pkg/a8n/run/runner.go
  enterprise/pkg/a8n/run/runner_test.go
  internal/a8n/types.go
Labels: a8n

#6231 LSIF: UI for LSIF dumps.
  lsif/docs/api.yaml
  web/src/repo/settings/RepoSettingsArea.scss
  web/src/repo/settings/RepoSettingsArea.tsx
  web/src/repo/settings/RepoSettingsCodeIntelligencePage.scss
  web/src/repo/settings/RepoSettingsCodeIntelligencePage.tsx
  web/src/repo/settings/RepoSettingsSidebar.tsx
  web/src/repo/settings/backend.tsx
Labels: lsif

#6491 a8n: Implement campaignPlan.Status
  cmd/frontend/graphqlbackend/a8n.go
  enterprise/pkg/a8n/resolvers/campaign_plans.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  internal/a8n/types.go
Labels: a8n

#6504 reenable docsite link checking, fix broken links
  doc/_resources/templates/doc.html
  doc/dev/documentation/index.md
  doc/dev/documentation/separate_website.md
  doc/dev/documentation/site.md
  doc/dev/documentation/structure.md
  doc/dev/documentation/style_guide.md
  doc/dev/go_style_guide.md
  doc/dev/incidents.md
  doc/docsite.json
  doc/team/product-dev/documentation/index.md
  doc/team/product-dev/documentation/style_guide.md
  doc/team/product-dev/incidents.md
  doc/team/product-dev/issues.md
  doc/team/product-dev/open_source_open_company.md
  doc/team/product-dev/product/index.md
  doc/team/product-dev/product/tracking_issue_template.md
  doc/team/product-dev/releases.md
  doc/team/roadmap/index.md
Labels: docs

#6506 a8n: Add a unique constraint to campaign_jobs table
  cmd/frontend/db/schema.md
  enterprise/pkg/a8n/store_test.go
  migrations/1528395611_add_unique_constraint_to_campaign_jobs.down.sql
  migrations/1528395611_add_unique_constraint_to_campaign_jobs.up.sql
  migrations/bindata.go
Labels: a8n

#6507 a8n: Only return CampaignPlan.Changesets that have a a final diff
  enterprise/pkg/a8n/resolvers/campaign_plans.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
Labels: a8n

#6513 a8n: Delete expired CampaignPlans in background
  cmd/repo-updater/main.go
  cmd/repo-updater/shared/main.go
  enterprise/cmd/repo-updater/main.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
Labels: a8n

#6525 use docsite built-in search
  doc/_resources/assets/docs.js
  doc/_resources/assets/layout.css
  doc/_resources/assets/search.css
  doc/_resources/templates/document.html
  doc/_resources/templates/root.html
  doc/_resources/templates/search.html
Labels: docs

#6527 LSIF: upgrade typescript
  lsif/package.json
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/yarn.lock
Labels: lsif

#6523 LSIF: Fix all lint.
  lsif/package.json
  lsif/src/server/backend/backend.ts
  lsif/src/server/backend/database.ts
  lsif/src/server/middleware/errors.ts
  lsif/src/server/pagination/cursor.ts
  lsif/src/server/pagination/link.ts
  lsif/src/server/routes/dumps.ts
  lsif/src/server/routes/jobs.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/server/server.ts
  lsif/src/shared/config/config.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/logging.ts
  lsif/src/shared/models/xrepo.ts
  lsif/src/shared/tracing.ts
  lsif/src/shared/xrepo/commits.test.ts
  lsif/src/shared/xrepo/commits.ts
  lsif/src/shared/xrepo/xrepo.ts
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/xrepo/comits.test.ts
  lsif/src/tests/integration/xrepo/xrepo.test.ts
  lsif/src/worker/importer/input.test.ts
  lsif/src/worker/importer/input.ts
  lsif/src/worker/processors/clean-failed-jobs.ts
  lsif/src/worker/processors/clean-old-jobs.ts
  lsif/src/worker/processors/convert.ts
  lsif/src/worker/processors/update-tips.ts
  lsif/yarn.lock
Labels: lsif

#6531 Implement urlToFile for Gitlab
  .vscode/settings.json
  browser/src/libs/gitlab/code_intelligence.test.ts
  browser/src/libs/gitlab/code_intelligence.ts
  shared/src/util/types.ts
Labels: browser-extension, gitlab

#6529 LSIF: Add validation middleware
  lsif/package.json
  lsif/src/server/middleware/validation.ts
  lsif/src/server/pagination/limit-offset.ts
  lsif/src/server/routes/dumps.ts
  lsif/src/server/routes/jobs.ts
  lsif/src/server/routes/lsif.ts
  lsif/yarn.lock
Labels: lsif

#6554 github: Add CreatePullRequest method to client
  internal/extsvc/github/client.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/CreatePullRequest-0
  internal/extsvc/github/testdata/vcr/CreatePullRequest.yaml
Labels: automation

#6053 Use TypeScript project references
  .github/CODEOWNERS
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  browser/.eslintignore
  browser/gulpfile.js
  browser/gulpfile.ts
  browser/package.json
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/tsconfig.json
  cmd/management-console/web/src/CriticalConfigEditor.tsx
  cmd/management-console/web/src/MonacoEditor.tsx
  cmd/management-console/web/tsconfig.json
  dev/foreach-ts-project.sh
  dev/launch.sh
  dev/release/.eslintrc.js
  dev/release/package.json
  dev/release/src/config.json
  dev/release/src/github.ts
  dev/release/src/google-calendar.ts
  dev/release/src/release.ts
  dev/release/src/slack.ts
  dev/release/src/util.ts
  dev/release/tsconfig.json
  dev/release/yarn.lock
  enterprise/cmd/frontend/pre-build.sh
  enterprise/dev/ci/ci/pipeline-steps.go
  gulpfile.js
  gulpfile.ts
  lsif/package.json
  lsif/tsconfig.json
  package.json
  packages/@sourcegraph/extension-api-types/.eslintrc.js
  packages/@sourcegraph/extension-api-types/package.json
  packages/@sourcegraph/extension-api-types/tsconfig.json
  packages/sourcegraph-extension-api/.eslintrc.js
  packages/sourcegraph-extension-api/package.json
  packages/sourcegraph-extension-api/tsconfig.json
  schema/tsconfig.json
  shared/.eslintignore
  shared/draftV7Resolver.ts
  shared/gulpfile.js
  shared/gulpfile.ts
  shared/package.json
  shared/tsconfig.json
  tsconfig.json
  web/.eslintignore
  web/gulpfile.js
  web/gulpfile.ts
  web/package.json
  web/src/tracking/withActivation.tsx
  web/tsconfig.json
  web/webpack.config.js
  web/webpack.config.ts
  yarn.lock
Labels: lsif, ops & tools & dev, web

#6532 a8n: Create Campaign with CampaignPlan
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/a8n.go
  cmd/gitserver/server/patch.go
  cmd/gitserver/server/server.go
  cmd/repo-updater/repos/awscodecommit.go
  cmd/repo-updater/repos/bitbucketcloud.go
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/other.go
  cmd/repo-updater/repos/phabricator.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repos/util.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/shared/main.go
  enterprise/pkg/a8n/resolvers/campaigns.go
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-changeset-counts-over-time.yaml
  enterprise/pkg/a8n/service.go
  enterprise/pkg/a8n/service_test.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  enterprise/pkg/a8n/testdata/vcr/github-webhooks.yaml
  internal/a8n/types.go
  internal/db/dbutil/dbutil.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/CreatePullRequest-0
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/CreatePullRequest.yaml
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
  internal/gitserver/protocol/gitserver.go
  internal/httpcli/client.go
  internal/httpcli/util.go
  migrations/1528395612_validate_campaign_plan_completion_with_trigger.down.sql
  migrations/1528395612_validate_campaign_plan_completion_with_trigger.up.sql
  migrations/1528395613_create_changeset_jobs_table.down.sql
  migrations/1528395613_create_changeset_jobs_table.up.sql
  migrations/bindata.go
Labels: automation

#6509 LSIF: Add site-admin page for individual jobs.
  web/src/site-admin/SiteAdmin.scss
  web/src/site-admin/SiteAdminLsifJobPage.scss
  web/src/site-admin/SiteAdminLsifJobPage.tsx
  web/src/site-admin/backend.tsx
  web/src/site-admin/routes.tsx
Labels: lsif

#6549 LSIF: check gitserver trailers
  lsif/src/server/routes/jobs.ts
  lsif/src/shared/models/dump.ts
  lsif/src/shared/xrepo/commits.test.ts
  lsif/src/shared/xrepo/commits.ts
  lsif/src/worker/processors/update-tips.ts
Labels: lsif

#6510 LSIF: Add relevant jobs to repo settings code intel page
  web/src/repo/settings/RepoSettingsCodeIntelligencePage.scss
  web/src/repo/settings/RepoSettingsCodeIntelligencePage.tsx
  web/src/repo/settings/backend.tsx
Labels: lsif

#6103 LSIF: Add page for job list over all repositories
  web/src/site-admin/SiteAdmin.scss
  web/src/site-admin/SiteAdminLsifJobsPage.scss
  web/src/site-admin/SiteAdminLsifJobsPage.tsx
  web/src/site-admin/backend.tsx
  web/src/site-admin/routes.tsx
  web/src/site-admin/sidebaritems.ts
Labels: lsif

#6559 a8n: Only create Campaign Changesets if there is a diff
  enterprise/pkg/a8n/service.go
Labels: automation

#6558 LSIF: Fix bad limit/offset query string parsing
  lsif/src/server/middleware/validation.ts
  lsif/src/server/pagination/limit-offset.ts
  lsif/src/server/routes/dumps.ts
  lsif/src/server/routes/jobs.ts
  lsif/src/server/routes/lsif.ts
Labels: lsif

#6550 Set HOSTNAME variable to (re)enable server docker image indexing
  cmd/server/shared/shared.go
Labels: bug

#6552 LSIF: Add endpoint to directly enqueue job.
  lsif/docs/api.yaml
  lsif/src/server/jobs/blocking.ts
  lsif/src/server/routes/jobs.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/server/server.ts
Labels: lsif

#6573 bitbucketserver: Add CreatePullRequest method to Client
  internal/extsvc/bitbucketserver/client.go
  internal/extsvc/bitbucketserver/client_test.go
  internal/extsvc/bitbucketserver/testdata/golden/CreatePullRequest-success
  internal/extsvc/bitbucketserver/testdata/vcr/CreatePullRequest-pull-request-already-exists.yaml
  internal/extsvc/bitbucketserver/testdata/vcr/CreatePullRequest-success.yaml
Labels: automation, bitbucket, team/core-services

#6561 LSIF: Ensure url only controls historic uploads.
  web/src/repo/settings/RepoSettingsCodeIntelligencePage.tsx
Labels: lsif

#6544 LSIF: Nullable parent commits
  cmd/frontend/db/schema.md
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/models/xrepo.ts
  lsif/src/shared/xrepo/xrepo.ts
  migrations/1528395614_lsif_nullable_parent_commits.down.sql
  migrations/1528395614_lsif_nullable_parent_commits.up.sql
  migrations/bindata.go
Labels: lsif

#6575 a8n: Support BitbucketServer when creating campaigns from campaign plans
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/bitbucketserver_test.go
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/testdata/golden/BitbucketServerSource_CreateChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_success
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_CreateChangeset_already-exists.yaml
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_CreateChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_already-exists.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_success.yaml
  enterprise/pkg/a8n/service.go
Labels: automation

#6564 LSIF: Guard all backend actions behind enterprise
  .github/CODEOWNERS
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/lsif_dump.go
  cmd/frontend/graphqlbackend/lsif_dumps.go
  cmd/frontend/graphqlbackend/lsif_job.go
  cmd/frontend/graphqlbackend/lsif_job_stats.go
  cmd/frontend/graphqlbackend/lsif_jobs.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/testing.go
  cmd/frontend/httpapi/proxy.go
  cmd/frontend/internal/cli/http.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/internal/httpapi/api_test.go
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/lsif.go
  enterprise/cmd/frontend/main.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
  enterprise/pkg/codeintel/lsifserver/client/client.go
  enterprise/pkg/codeintel/lsifserver/proxy/all_routes.go
  enterprise/pkg/codeintel/lsifserver/proxy/auth.go
  enterprise/pkg/codeintel/lsifserver/proxy/proxy.go
  enterprise/pkg/codeintel/lsifserver/proxy/upload.go
  enterprise/pkg/codeintel/lsifserver/settings.go
  enterprise/pkg/codeintel/resolvers/dump.go
  enterprise/pkg/codeintel/resolvers/job.go
  enterprise/pkg/codeintel/resolvers/resolver.go
  internal/lsif/types.go
Labels: lsif

#6582 LSIF: Small style update.
  lsif/src/server/backend/backend.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/metrics.ts
  lsif/src/shared/paths.ts
  lsif/src/shared/xrepo/xrepo.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/worker/importer/input.ts
  lsif/src/worker/processors/convert.ts
  lsif/src/worker/worker.ts
Labels: lsif

#6543 LSIF: Rename fields in ApiJob and LSIFJob payloads.
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/codeintel/resolvers/job.go
  internal/lsif/types.go
  lsif/docs/api.yaml
  lsif/src/server/routes/jobs.ts
  web/src/repo/settings/RepoSettingsCodeIntelligencePage.tsx
  web/src/repo/settings/backend.tsx
  web/src/site-admin/SiteAdminLsifJobPage.tsx
  web/src/site-admin/SiteAdminLsifJobsPage.tsx
  web/src/site-admin/backend.tsx
Labels: lsif

#6581 LSIF: Add check constraints to commit columns.
  cmd/frontend/db/schema.md
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/xrepo/commits.ts
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/xrepo/commits.test.ts
  lsif/src/tests/integration/xrepo/xrepo.test.ts
  migrations/1528395615_lsif-commit-constraints.down.sql
  migrations/1528395615_lsif-commit-constraints.up.sql
  migrations/bindata.go
Labels: lsif

#6587 LSIF: Update metrics
  docker-images/grafana/Dockerfile
  docker-images/grafana/jsonnet/lsif.jsonnet
  lsif/src/server/backend/cache.ts
  lsif/src/server/routes/jobs.ts
  lsif/src/server/server.ts
  lsif/src/shared/metrics.ts
  lsif/src/worker/worker.ts
Labels: lsif

#6583 LSIF: Add processedAt to dumps.
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/codeintel/resolvers/dump.go
  internal/lsif/types.go
  lsif/docs/api.yaml
  lsif/src/server/backend/database.test.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/models/xrepo.ts
  lsif/src/shared/xrepo/xrepo.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/xrepo/xrepo.test.ts
  lsif/src/worker/processors/convert.ts
  lsif/src/worker/worker.ts
  migrations/1528395616_lsif_processed_at.down.sql
  migrations/1528395616_lsif_processed_at.up.sql
  migrations/bindata.go
  web/src/repo/settings/RepoSettingsCodeIntelligencePage.tsx
  web/src/repo/settings/backend.tsx
Labels: lsif

#6560 Move LSIF jobs pages into enterprise/site-admin.
  web/src/enterprise.scss
  web/src/enterprise/site-admin/SiteAdmin.scss
  web/src/enterprise/site-admin/SiteAdminLsifJobPage.scss
  web/src/enterprise/site-admin/SiteAdminLsifJobPage.tsx
  web/src/enterprise/site-admin/SiteAdminLsifJobsPage.scss
  web/src/enterprise/site-admin/SiteAdminLsifJobsPage.tsx
  web/src/enterprise/site-admin/backend.ts
  web/src/enterprise/site-admin/routes.ts
  web/src/enterprise/site-admin/sidebaritems.ts
  web/src/site-admin/SiteAdmin.scss
  web/src/site-admin/backend.tsx
  web/src/site-admin/routes.tsx
  web/src/site-admin/sidebaritems.ts
Labels: lsif

#6594 a8n: Add Bitbucket Server support to burndown chart
  enterprise/pkg/a8n/counts.go
  enterprise/pkg/a8n/counts_test.go
  internal/a8n/types.go
Labels: automation

#6595 Changelog: Document Bitbucket Server burndown chart support
  CHANGELOG.md
Labels: automation

#6576 a8n: Filter out repositories of unsupported external services
  cmd/frontend/graphqlbackend/repository.go
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/run/runner.go
  enterprise/pkg/a8n/run/runner_test.go
  internal/a8n/types.go
Labels: automation

#6596 a8n: Only create new Changesets if they can be synced
  enterprise/pkg/a8n/resolvers/resolver.go
Labels: automation

#6568 LSIF: Ensure unsupplied root is a string.
  lsif/src/server/routes/lsif.ts
Labels: lsif

#6105 RFC14 Autocomplete Suggestions - Front-End
  babel.config.js
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  package.json
  shared/src/components/icons.tsx
  shared/src/components/languageIcons.tsx
  shared/src/panel/views/HierarchicalLocationsView.tsx
  shared/src/panel/views/__snapshots__/HierarchicalLocationsView.test.tsx.snap
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/nav/GlobalNavbar.tsx
  web/src/repo/RepoRevSidebar.tsx
  web/src/repo/RepositoryGitDataContainer.tsx
  web/src/repo/RevisionsPopover.tsx
  web/src/repo/TreePage.tsx
  web/src/repo/blob/actions/ToggleDiscussions.tsx
  web/src/repo/blob/actions/ToggleLineWrap.tsx
  web/src/repo/blob/discussions/DiscussionsGutterOverlay.tsx
  web/src/search/helpers.test.tsx
  web/src/search/helpers.tsx
  web/src/search/input/QueryInput.tsx
  web/src/search/input/ScopePage.tsx
  web/src/search/input/SearchNavbarItem.tsx
  web/src/search/input/SearchPage.tsx
  web/src/search/input/Suggestion.scss
  web/src/search/input/Suggestion.tsx
  web/src/search/results/RepositorySearchResult.tsx
  web/src/search/results/SearchResults.test.tsx
  web/src/search/results/SearchResults.tsx
  web/src/search/results/SearchResultsList.tsx
  web/src/search/searchFilterSuggestions.ts
  web/src/site/NeedsRepositoryConfigurationAlert.tsx
  web/src/tree/File.tsx
  yarn.lock
Labels: search, web

#6567 Respond to additional feedback on LSIF Jobs page.
  web/src/enterprise/site-admin/SiteAdminLsifJobsPage.scss
  web/src/enterprise/site-admin/SiteAdminLsifJobsPage.tsx
Labels: lsif

#6598 a8n: Use worker pool instead of unbounded num of goroutines
  enterprise/pkg/a8n/run/runner.go
Labels: automation

#6534 a8n: Implement comby campaigns
  web/src/SourcegraphWebApp.scss
  web/src/backend/diff.ts
  web/src/components/Collapsible.tsx
  web/src/components/MonacoEditor.tsx
  web/src/components/diff/DiffHunk.test.tsx
  web/src/components/diff/DiffHunk.tsx
  web/src/components/diff/DiffStat.scss
  web/src/components/diff/DiffStat.test.tsx
  web/src/components/diff/DiffStat.tsx
  web/src/components/diff/FileDiffConnection.tsx
  web/src/components/diff/FileDiffHunks.scss
  web/src/components/diff/FileDiffHunks.tsx
  web/src/components/diff/FileDiffNode.scss
  web/src/components/diff/FileDiffNode.tsx
  web/src/components/diff/__snapshots__/DiffHunk.test.tsx.snap
  web/src/components/diff/__snapshots__/DiffStat.test.tsx.snap
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/repo/backend.ts
  web/src/repo/commit/RepositoryCommitPage.tsx
  web/src/repo/compare/FileDiffConnection.tsx
  web/src/repo/compare/RepositoryCompareArea.scss
  web/src/repo/compare/RepositoryCompareDiffPage.tsx
  web/src/settings/MonacoSettingsEditor.tsx
  web/src/site-admin/SiteAdminOverviewPage.tsx
Labels: automation

#6601 a8n: Remove duplicated waitgroup.Wait() in Runner
  enterprise/pkg/a8n/run/runner.go
Labels: automation

#6612 LSIF: Prevent worker from crashing on missing input dump file
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/worker/importer/importer.ts
  lsif/src/worker/importer/input.test.ts
  lsif/src/worker/importer/input.ts
  lsif/src/worker/processors/convert.ts
Labels: lsif

#6624 a8n: Persist CampaignJob even if we ran into a timeout before
  enterprise/pkg/a8n/run/runner.go
Labels: automation

#6628 a8n: Use request's actor when running CampaignPlan async
  enterprise/pkg/a8n/resolvers/resolver.go
Labels: automation

#6638 a8n: Ignore jobs with empty diff as completed in CampaignPlan status
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
Labels: automation

#6639 a8n: Enqueue CampaignJobs in goroutine to not block request
  enterprise/pkg/a8n/run/runner.go
Labels: automation

#6622 LSIF: Fix empty string bug in git log parsing.
  lsif/src/shared/xrepo/commits.test.ts
  lsif/src/shared/xrepo/commits.ts
Labels: lsif

#6641 Handle paths containing spaces or special characters
  browser/src/libs/bitbucket/scrape.ts
  browser/src/libs/github/util.tsx
  browser/src/libs/gitlab/scrape.ts
Labels: browser-extension, bug

#6590 LSIF: Remove noisy NoLSIFDumpError
  lsif/src/server/backend/backend.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
Labels: lsif

#6640 LSIF: Add endpoint to explicitly delete a dump.
  lsif/docs/api.yaml
  lsif/src/server/backend/backend.ts
  lsif/src/server/routes/dumps.ts
Labels: lsif

#6608 gitserver/client: remove v1 response fallback logic
  internal/gitserver/client.go
Labels: debt

#6642 Adding quickstart guide and organizing LSIF docs
  doc/_resources/templates/document.html
  doc/user/code_intelligence/lsif.md
  doc/user/code_intelligence/lsif_in_ci.md
  doc/user/code_intelligence/lsif_on_github.md
  doc/user/code_intelligence/lsif_quickstart.md
Labels: docs

#6654 move product comparison to about.sourcegraph.com
  doc/_resources/templates/document.html
  doc/adopt/comp/index.md
  doc/adopt/index.md
Labels: docs

#6660 a8n: Correctly use `git apply` with prefix-less unified diffs
  cmd/gitserver/server/patch.go
  enterprise/pkg/a8n/run/campaign_type.go
  enterprise/pkg/a8n/run/campaign_type_test.go
  enterprise/pkg/a8n/service.go
  internal/gitserver/protocol/gitserver.go
Labels: automation

#6648 LSIF: Do not swallow errors on upload.
  enterprise/pkg/codeintel/lsifserver/proxy/auth.go
  enterprise/pkg/codeintel/lsifserver/proxy/upload.go
Labels: lsif

#6603 LSIF: Add endpoint to explicitly delete a job.
  lsif/docs/api.yaml
  lsif/src/server/routes/jobs.ts
Labels: lsif

#6670 LSIF: Experimental notice on GraphQL API
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: lsif

#6657 Add possible errors to LSIF docs
  doc/user/code_intelligence/lsif_quickstart.md
Labels: code-intel, docs

#6673 LSIF: Add method and body to lsif-server client.
  enterprise/pkg/codeintel/lsifserver/client/client.go
  enterprise/pkg/codeintel/resolvers/dump.go
  enterprise/pkg/codeintel/resolvers/job.go
  enterprise/pkg/codeintel/resolvers/resolver.go
Labels: lsif

#6591 LSIF: Simplify generation of commits in tests.
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/xrepo/commits.test.ts
  lsif/src/tests/integration/xrepo/xrepo.test.ts
Labels: lsif

#6669 LSIF: Fix tracing to lsif-server
  enterprise/pkg/codeintel/lsifserver/client/client.go
Labels: lsif

#6672 LSIF: Use client for LSIF uploads (replace reverse proxy)
  enterprise/pkg/codeintel/lsifserver/proxy/auth.go
  enterprise/pkg/codeintel/lsifserver/proxy/upload.go
  lsif/src/server/routes/lsif.ts
Labels: lsif

#6629 reword no-externalURL config alert
  cmd/frontend/graphqlbackend/site_alerts.go
Labels: release-blocker

#6662 RFC14 Autocomplete Suggestions (Front-End) - 3.10 Release Fixes
  shared/src/util/string.test.ts
  shared/src/util/strings.ts
  web/src/search/helpers.test.tsx
  web/src/search/helpers.tsx
  web/src/search/input/QueryInput.tsx
  web/src/search/input/Suggestion.tsx
Labels: search, web

#6682 a8n: Persist a repository's default branch name along the rev to CampaignJob
  cmd/frontend/db/schema.md
  enterprise/pkg/a8n/resolvers/resolver_test.go
  enterprise/pkg/a8n/run/runner.go
  enterprise/pkg/a8n/run/runner_test.go
  enterprise/pkg/a8n/service.go
  enterprise/pkg/a8n/service_test.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  internal/a8n/types.go
  migrations/1528395617_add_base_ref_to_campaign_jobs.down.sql
  migrations/1528395617_add_base_ref_to_campaign_jobs.up.sql
  migrations/bindata.go
Labels: automation

#6647 Re-introduce updated architecture overview diagram
  .github/PULL_REQUEST_TEMPLATE.md
  doc/dev/architecture/architecture.dot
  doc/dev/architecture/architecture.svg
  doc/dev/architecture/index.md
Labels: docs

#6685 RFC14 Autocomplete Suggestions (Front-End) - 3.10 Release, Minor Fixes
  web/src/search/helpers.tsx
  web/src/search/input/QueryInput.tsx
  web/src/search/input/Suggestion.tsx
Labels: search, web

#6606 LSIF: Update logging
  lsif/src/server/backend/backend.ts
  lsif/src/server/backend/database.ts
  lsif/src/server/routes/jobs.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/server/server.ts
  lsif/src/shared/config/config.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/logging.ts
  lsif/src/shared/queue/queue.ts
  lsif/src/shared/xrepo/commits.test.ts
  lsif/src/shared/xrepo/commits.ts
  lsif/src/shared/xrepo/metrics.ts
  lsif/src/shared/xrepo/xrepo.ts
  lsif/src/tests/integration/xrepo/commits.test.ts
  lsif/src/worker/importer/importer.ts
  lsif/src/worker/processors/clean-failed-jobs.ts
  lsif/src/worker/processors/clean-old-jobs.ts
  lsif/src/worker/processors/convert.ts
  lsif/src/worker/server.ts
  lsif/src/worker/worker.ts
Labels: lsif

#6688 include RFC14 3.0 additions
  CHANGELOG.md
Labels: search, web

#6687 LSIF: Update batch sizes for non-sqlite models.
  lsif/src/shared/constants.ts
  lsif/src/shared/models/dump.ts
  lsif/src/shared/models/util.ts
  lsif/src/shared/models/xrepo.ts
Labels: lsif

#6677 LSIF: lsif-server client struct
  enterprise/pkg/codeintel/lsifserver/client/client.go
  enterprise/pkg/codeintel/resolvers/dump.go
  enterprise/pkg/codeintel/resolvers/job.go
  enterprise/pkg/codeintel/resolvers/resolver.go
Labels: lsif

#6708 LSIF: Update missing use of lsifserver/client.DefaultClient.
  enterprise/pkg/codeintel/lsifserver/proxy/upload.go
Labels: lsif

#6705 web: Fix loading indicator not hiding
  web/src/search/input/QueryInput.tsx
Labels: search, web

#6706 web: Fix no undefined filter value
  web/src/search/helpers.test.tsx
  web/src/search/helpers.tsx
Labels: search, web

#6617 Add snapshot tests to some campaign components
  web/src/enterprise/campaigns/detail/AddChangesetForm.test.tsx
  web/src/enterprise/campaigns/detail/BurndownChart.test.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/AddChangesetForm.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: automation

#6621 search pagination: do not panic when timeouts occur
  cmd/frontend/graphqlbackend/search_pagination.go
Labels: search-pagination

#6619 search pagination: use a much less strict timeout for very large repos
  CHANGELOG.md
  cmd/frontend/graphqlbackend/search_pagination.go
Labels: search-pagination

#6589 LSIF: GraphQL enhancements
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/codeintel/resolvers/dump.go
  enterprise/pkg/codeintel/resolvers/resolver.go
  web/src/enterprise/repo/settings/backend.tsx
  web/src/enterprise/site-admin/backend.ts
Labels: lsif

#6743 LSIF: Remove cors middleware.
  lsif/package.json
  lsif/src/server/server.ts
  lsif/yarn.lock
Labels: lsif

#6700 a8n: Initial documentation
  doc/_resources/assets/layout.css
  doc/_resources/templates/document.html
  doc/dev/automation_development.md
  doc/dev/index.md
  doc/user/automation.md
  doc/user/index.md
Labels: automation, docs

#6692 LSIF: Split PostgresLocker into its own package.
  lsif/src/server/server.ts
  lsif/src/shared/database/metrics.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/locker/locker.ts
  lsif/src/shared/xrepo/metrics.ts
  lsif/src/shared/xrepo/xrepo.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/xrepo/commits.test.ts
  lsif/src/tests/integration/xrepo/xrepo.test.ts
  lsif/src/worker/processors/convert.ts
  lsif/src/worker/worker.ts
Labels: lsif

#6742 LSIF: Be explicit about falsy comparisons.
  lsif/src/server/backend/backend.ts
Labels: lsif

#6741 LSIF: Use correct Id type in importer
  lsif/src/worker/importer/importer.ts
Labels: lsif

#6740 LSIF: Revert over-eager batch size change.
  lsif/src/shared/models/dump.ts
Labels: lsif

#6764 graphqlbackend: Optimize repo query for lang suggestions
  cmd/frontend/db/repos.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_suggestions_test.go
Labels: search

#6684 LSIF: GraphQL mutations.
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/codeintel/lsifserver/client/client.go
  enterprise/pkg/codeintel/resolvers/resolver.go
Labels: lsif

#6767 a8n: Delete ChangesetJobs when Campaign is deleted
  cmd/frontend/db/schema.md
  migrations/1528395618_add_delete_cascade_to_changeset_jobs.down.sql
  migrations/1528395618_add_delete_cascade_to_changeset_jobs.up.sql
  migrations/bindata.go
Labels: automation

#6775 LSIF: Add createDatabase method to backend.
  lsif/src/server/backend/backend.ts
Labels: lsif

#6776 LSIF: Convert to LSP location later in request
  lsif/src/server/backend/backend.test.ts
  lsif/src/server/backend/backend.ts
  lsif/src/server/backend/database.test.ts
  lsif/src/server/backend/database.ts
  lsif/src/shared/models/xrepo.ts
Labels: lsif

#6777 LSIF: Remote hover
  lsif/src/server/backend/backend.ts
Labels: lsif

#6769 LSIF: Move update-tips functionality into convert job
  lsif/docs/api.yaml
  lsif/docs/jobs.md
  lsif/src/server/routes/jobs.ts
  lsif/src/server/server.ts
  lsif/src/server/settings.ts
  lsif/src/shared/constants.ts
  lsif/src/shared/xrepo/commits.test.ts
  lsif/src/shared/xrepo/commits.ts
  lsif/src/shared/xrepo/xrepo.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/xrepo/commits.test.ts
  lsif/src/tests/integration/xrepo/xrepo.test.ts
  lsif/src/worker/processors/convert.ts
  lsif/src/worker/processors/update-tips.ts
  lsif/src/worker/worker.ts
Labels: lsif

#6768 a8n: Add Head/Base to ExternalChangeset in GraphQL API
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/resolvers/changesets.go
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
  internal/a8n/types.go
Labels: automation

#6830 web: Update repohascommitafter suggestions with quotes
  web/src/search/searchFilterSuggestions.ts
Labels: search, web

#6831 a8n: Use a context.Timeout when running CampaignJobs
  enterprise/pkg/a8n/run/runner.go
Labels: automation

#6832 Regression: Extract codenav utils
  web/src/regression/codenav.test.ts
  web/src/regression/util/codeintel.ts
Labels: regression-test

#6833 Regression: Extract inner functions from code intel utils.
  web/src/regression/util/codeintel.ts
Labels: regression-test

#6828 a8n: Align ChangsetPlan/ExternalChangset interfaces
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/resolvers/campaign_plans.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/FileDiffTab.test.tsx
  web/src/enterprise/campaigns/detail/FileDiffTab.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/FileDiffTab.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
Labels: automation

#6853 a8n: Merge `a8n` and `run` packages
  dev/check/go-dbconn-import.sh
  enterprise/pkg/a8n/campaign_type.go
  enterprise/pkg/a8n/campaign_type_test.go
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/runner.go
  enterprise/pkg/a8n/runner_test.go
  enterprise/pkg/a8n/service_test.go
Labels: automation

#6874 Fix preview campaign plan query
  web/src/enterprise/campaigns/detail/backend.ts
Labels: automation, bug

#6891 More optional chaining
  .storybook/webpack.config.ts
  browser/config/webpack/utils.ts
  browser/src/extension/scripts/inject.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/github/dom_functions.ts
  browser/src/libs/github/file_info.ts
  lsif/src/server/routes/dumps.ts
  shared/src/api/client/context/context.ts
  shared/src/extensions/extension.ts
  shared/src/extensions/helpers.ts
  tsconfig.json
  web/src/enterprise/extensions/registry/backend.ts
  web/src/platform/context.ts
  web/src/regression/search.test.ts
  web/src/regression/util/api.ts
  web/src/repo/backend.ts
Labels: web

#6905 core/a8n: Expose more Search types
  cmd/frontend/graphqlbackend/codemod.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_commits.go
  cmd/frontend/graphqlbackend/search_didyoumeanquoted.go
  cmd/frontend/graphqlbackend/search_pagination.go
  cmd/frontend/graphqlbackend/search_pagination_test.go
  cmd/frontend/graphqlbackend/search_repositories.go
  cmd/frontend/graphqlbackend/search_repositories_test.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/search_suggestions_test.go
  cmd/frontend/graphqlbackend/search_symbols.go
  cmd/frontend/graphqlbackend/search_symbols_test.go
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/textsearch_test.go
  cmd/frontend/graphqlbackend/zoekt.go
Labels: api, automation

#6906 migrations: Remove redundant Postgres indexes
  cmd/frontend/db/schema.md
  migrations/1528395619_remove_unused_indexes.down.sql
  migrations/1528395619_remove_unused_indexes.up.sql
  migrations/bindata.go
Labels: debt, perf

#6907 a8n: Fix ID kind of ExternalChangeset
  enterprise/internal/a8n/resolvers/changesets.go
Labels: automation, bug

#6678 Add comby preview e2e test
  shared/src/e2e/driver.ts
  web/src/e2e/e2e.test.ts
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/global/nav/CampaignsNavItem.tsx
Labels: automation, e2e-tests

#6912 a8n: Sort JSON lines returned by replacer service
  enterprise/internal/a8n/campaign_type.go
  enterprise/internal/a8n/campaign_type_test.go
Labels: automation

#6913 a8n: Use more robust sorting of replacer service JSON lines
  enterprise/internal/a8n/campaign_type.go
Labels: automation

#6893 a8n: Add a prototype campaign type to search & replace leaked NPM credentials.
  enterprise/internal/a8n/campaign_type.go
  enterprise/internal/a8n/service.go
  schema/campaign-types/comby.schema.json
  schema/campaign-types/comby_stringdata.go
  schema/campaign-types/credentials.schema.json
  schema/campaign-types/credentials_stringdata.go
  schema/gen.go
  schema/tsconfig.json
  web/src/e2e/e2e.test.ts
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/backend.ts
Labels: automation

#6914 a8n: Add replaceWith to credentials
  schema/campaign-types/credentials.schema.json
  schema/campaign-types/credentials_stringdata.go
Labels: automation
