Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2019-02, with the labels that each got.

#2131 Revert to PostgreSQL 9.6 for 3.0 release
  cmd/server/Dockerfile
  doc/dev/local_development.md
  doc/dev/postgresql.md
Labels: release-blocker

#2151 Replace code discussions and typescript entries with datadog for top extensions list
  web/src/enterprise/extensions/explore/ExtensionsExploreSection.tsx
Labels: docs

#2171 remove unused/deprecated site config options
  CHANGELOG.md
  cmd/frontend/graphqlbackend/client_configuration.go
  cmd/frontend/internal/cli/http.go
  doc/admin/site_config/all.md
  pkg/conf/computed.go
  pkg/conf/diff_test.go
  pkg/conf/parse.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: feature:site-config

#2121 cmd/server: Postgres auto-upgrade procedure
  CHANGELOG.md
  cmd/server/Dockerfile
  cmd/server/build.sh
  cmd/server/rootfs/postgres-optimize.sh
  cmd/server/shared/postgres.go
  cmd/server/shared/ssh.go
  doc/admin/external_database.md
  doc/admin/postgres.md
  doc/admin/postgres_upgrade.md
  doc/dev/postgresql.md
  go.mod
  go.sum
Labels: release-blocker

#2213 fix bug in docsite check template with zero headings
  dev/check/docsite/doc.html
Labels: docs

#2217 Fix Global Alert on Sourcegraph.com/start
  web/src/search/input/MainPage.tsx
Labels: design

#2293 remove empty "Experimental configuration" section
  client/browser/src/libs/options/Menu.tsx
Labels: browser-extension

#2296 remove unused stylelint-compact yarn command
  .vscode/tasks.json
  web/package.json
Labels: debt, web

#2231 feat: Add auth.disableUsernameChanges option to site config
  CHANGELOG.md
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/user.go
  doc/admin/site_config/all.md
  schema/critical.schema.json
  schema/critical_stringdata.go
  schema/schema.go
  web/src/user/account/UserAccountProfilePage.tsx
Labels: feature:site-config, site-admin

#2178 Move extsvc config JSON Schemas to separate files
  .prettierignore
  client/browser/src/globals.d.ts
  cmd/frontend/db/external_services.go
  schema/aws_codecommit.schema.json
  schema/aws_codecommit_stringdata.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/critical.schema.json
  schema/critical_stringdata.go
  schema/gen.go
  schema/github.schema.json
  schema/github_stringdata.go
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
  schema/gitolite.schema.json
  schema/gitolite_stringdata.go
  schema/other_external_service.schema.json
  schema/other_external_service_stringdata.go
  schema/phabricator.schema.json
  schema/phabricator_stringdata.go
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  schema/site.schema.json
  schema/site_stringdata.go
  shared/src/schema/extension.schema.json
  shared/src/schema/extension.schema.ts
  tsconfig.json
  web/src/extensions/extension/RegistryExtensionManifestPage.tsx
  web/src/globals.d.ts
  web/src/settings/DynamicallyImportedMonacoSettingsEditor.tsx
  web/src/settings/MonacoSettingsEditor.tsx
  web/src/settings/SettingsFile.tsx
  web/src/settings/SettingsPage.tsx
  web/src/site-admin/SiteAdminAddExternalServicePage.tsx
  web/src/site-admin/SiteAdminConfigurationPage.tsx
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
  web/src/site-admin/externalServices.ts
Labels: feature:site-config

#2039 remove hover priority from extension API
  packages/@sourcegraph/extension-api-types/src/hover.d.ts
  packages/sourcegraph-extension-api/package.json
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/types/hover.test.ts
  shared/src/api/client/types/hover.ts
  shared/src/api/extension/api/types.ts
  yarn.lock
Labels: extensions, feature:code-intel

#2237 support standard touch scrolling on iOS for main content
  .gitignore
  cmd/frontend/internal/app/templates/data_vfsdata.go
  cmd/frontend/internal/app/templates/ui/app.html
  web/src/Layout.scss
  web/src/SourcegraphWebApp.scss
  web/src/nav/GlobalNavbar.scss
Labels: web

#2309 Extension security doc
  doc/extensions/index.md
Labels: extensions

#2328 simplify settings JSON Schema code, fix validation errors
  web/src/extensions/extension/RegistryExtensionManifestPage.tsx
  web/src/settings/DynamicallyImportedMonacoSettingsEditor.tsx
  web/src/settings/MonacoSettingsEditor.tsx
  web/src/settings/SettingsArea.tsx
  web/src/settings/SettingsFile.tsx
  web/src/settings/SettingsPage.tsx
  web/src/settings/configuration.test.ts
  web/src/settings/configuration.ts
  web/src/site-admin/SiteAdminConfigurationPage.tsx
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
Labels: web

#2295 fix some noImplicitAny errors in the browser ext code
  package.json
  web/src/polyfills.ts
  web/src/types/whatwg-url/index.d.ts
  yarn.lock
Labels: debt

#2363 Remove non-standard deprecated methods from URI API
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/extension/types/uri.ts
Labels: extensions

#2354 update query builder copy and examples
  web/src/search/input/QueryBuilder.tsx
Labels: search

#2429 Sync documents to ext host before windows
  shared/src/api/client/api/documents.ts
  shared/src/api/client/api/windows.ts
  shared/src/api/client/connection.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/documents.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/windows.test.ts
Labels: bug

#2431 remove extra bottom spacing on diff search results
  web/src/components/SearchResultMatch.scss
Labels: search, web

#2294 remove remnants of safari support in the browser extension
  client/browser/src/config/polyfill.tsx
  client/browser/tsconfig.json
  package.json
  yarn.lock
Labels: browser-extension

#2483 update roadmap
  doc/dev/roadmap/index.md
  doc/dev/roadmap/previous_releases.md
Labels: docs
