Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2019-06, with the labels that each got.

#4279 frontend: Speed up repository listing by increasing batch size
  cmd/frontend/graphqlbackend/repositories.go
  cmd/frontend/graphqlbackend/repositories_test.go
Labels: api, team/core-services

#4264 globals: Keep ExternalURL up to date
  cmd/frontend/backend/user_emails.go
  cmd/frontend/external/globals/globals.go
  cmd/frontend/globals/globals.go
  cmd/frontend/graphqlbackend/org_invitations.go
  cmd/frontend/graphqlbackend/users_create.go
  cmd/frontend/graphqlbackend/users_randomize_password.go
  cmd/frontend/internal/app/app.go
  cmd/frontend/internal/app/jscontext/jscontext.go
  cmd/frontend/internal/app/opensearch.go
  cmd/frontend/internal/auth/userpasswd/reset_password.go
  cmd/frontend/internal/cli/http.go
  cmd/frontend/internal/cli/middleware/goimportpath.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/internal/httpapi/internal.go
  cmd/frontend/internal/pkg/handlerutil/middleware.go
  cmd/frontend/internal/session/session.go
  cmd/frontend/registry/extensions.go
  enterprise/cmd/frontend/internal/registry/extension_connection_graphql_test.go
Labels: auth, team/core-services

#4263 authz: Fix logic for repos without external repo set
  cmd/frontend/db/repos_perm.go
  cmd/frontend/db/repos_perm_filter_test.go
Labels: auth, team/core-services

#4327 frontend: Increase batch size from 500 to 1250
  cmd/frontend/graphqlbackend/repositories.go
Labels: perf

#4331 extsvc: Reuse CodeHost struct
  cmd/frontend/authz/common.go
  enterprise/cmd/frontend/auth/githuboauth/provider.go
  enterprise/cmd/frontend/auth/githuboauth/session.go
  enterprise/cmd/frontend/auth/githuboauth/session_test.go
  enterprise/cmd/frontend/auth/gitlaboauth/provider.go
  enterprise/cmd/frontend/auth/gitlaboauth/session.go
  enterprise/cmd/frontend/internal/authz/github/github.go
  enterprise/cmd/frontend/internal/authz/gitlab/gitlab_oauth.go
  enterprise/cmd/frontend/internal/authz/gitlab/gitlab_sudo.go
  pkg/extsvc/codehost.go
  pkg/extsvc/github/codehost.go
  pkg/extsvc/gitlab/codehost.go
Labels: team/core-services

#4343 handlerutil: Dynamic csrf.Secure option in CSRFMiddleware
  cmd/frontend/internal/pkg/handlerutil/middleware.go
  doc/admin/config/critical_config.md
Labels: team/core-services

#4345 github-proxy: Use custom IdleConnTimeout to avoid EOF errors
  cmd/github-proxy/github-proxy.go
Labels: team/core-services

#3288 Show decorations on diff code views
  browser/src/libs/bitbucket/__snapshots__/dom_functions.test.ts.snap
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/bitbucket/dom_functions.ts
  browser/src/libs/code_intelligence/__snapshots__/code_intelligence.test.tsx.snap
  browser/src/libs/code_intelligence/code_intelligence.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/code_intelligence_test_utils.ts
  browser/src/libs/code_intelligence/code_views.test.ts
  browser/src/libs/code_intelligence/code_views.ts
  browser/src/libs/code_intelligence/extensions.tsx
  browser/src/libs/github/__snapshots__/dom_functions.test.ts.snap
  browser/src/libs/github/dom_functions.ts
  browser/src/libs/gitlab/__snapshots__/dom_functions.test.ts.snap
  browser/src/libs/gitlab/dom_functions.ts
  browser/src/libs/phabricator/__snapshots__/dom_functions.test.ts.snap
  browser/src/libs/phabricator/dom_functions.ts
  browser/src/shared/util/dom.tsx
  shared/src/api/client/services/decoration.test.ts
  shared/src/api/client/services/decoration.ts
  shared/src/api/extension/api/codeEditor.ts
  web/src/SourcegraphWebApp.tsx
  web/src/components/FilteredConnection.tsx
  web/src/repo/commit/RepositoryCommitPage.tsx
  web/src/repo/compare/DiffHunk.test.tsx
  web/src/repo/compare/DiffHunk.tsx
  web/src/repo/compare/FileDiffConnection.tsx
  web/src/repo/compare/FileDiffHunks.tsx
  web/src/repo/compare/FileDiffNode.tsx
  web/src/repo/compare/RepositoryCompareArea.tsx
  web/src/repo/compare/RepositoryCompareDiffPage.tsx
  web/src/repo/compare/RepositoryCompareOverviewPage.tsx
  web/src/repo/compare/__snapshots__/DiffHunk.test.tsx.snap
  web/src/repo/compare/dom-functions.ts
Labels: browser-extension

#4352 extsvc/bitbucketserver: Implement User listing in Client
  pkg/extsvc/bitbucketserver/client.go
  pkg/extsvc/bitbucketserver/client_test.go
  pkg/extsvc/bitbucketserver/testdata/vcr/Users.yaml
Labels: team/core-services

#4399 repo-updater: Test picking when resolving repo conflicts
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repos/types_test.go
Labels: flaky-coverage

#4371 Refactor trackViews() to reliably remove views
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/code_views.test.ts
  browser/src/libs/code_intelligence/content_views.test.ts
  browser/src/libs/code_intelligence/content_views.ts
  browser/src/libs/code_intelligence/text_fields.tsx
  browser/src/libs/code_intelligence/views.test.ts
  browser/src/libs/code_intelligence/views.ts
Labels: browser-extension, code-nav

#4427 graphqlbackend: Fix boundary bug in repositoryConnectionResolver
  cmd/frontend/graphqlbackend/repositories.go
Labels: bug, team/core-services

#4141 make command list in global nav have same color as other nav links
  shared/src/commandPalette/CommandList.tsx
  web/src/components/PopoverButton.scss
  web/src/components/shared.tsx
Labels: web

#4403 authz: Initial implementation of Bitbucket Server ACLs
  cmd/frontend/db/external_services.go
  cmd/repo-updater/repos/testdata/sources/BITBUCKETSERVER/excluded-repos-are-never-yielded.yaml
  cmd/repo-updater/repos/testdata/sources/BITBUCKETSERVER/yielded-repos-are-always-enabled.yaml
  enterprise/cmd/frontend/db/external_services.go
  enterprise/cmd/frontend/db/external_services_test.go
  enterprise/cmd/frontend/internal/authz/authz_bitbucketserver.go
  enterprise/cmd/frontend/internal/authz/authz_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/testdata/vcr/FetchAccount.yaml
  enterprise/cmd/frontend/internal/authz/bitbucketserver/testdata/vcr/RepoPerms.yaml
  enterprise/cmd/frontend/internal/authz/init.go
  go.mod
  go.sum
  pkg/extsvc/bitbucketserver/client.go
  pkg/extsvc/bitbucketserver/client_test.go
  pkg/extsvc/bitbucketserver/testdata/vcr/Users.yaml
  pkg/extsvc/bitbucketserver/testing.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/schema.go
Labels: team/core-services

#2789 allow contributing RepoContainer routes
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/enterprise/main.tsx
  web/src/enterprise/repo/routes.tsx
  web/src/main.tsx
  web/src/repo/RepoContainer.tsx
  web/src/repo/RepoRevContainer.tsx
  web/src/repo/releases/RepositoryReleasesArea.tsx
  web/src/repo/routes.tsx
Labels: web

#3960 use babel-loader instead of ts-loader in webpack for TypeScript builds
  babel.config.js
  browser/config/shared/webpack.ts
  browser/config/webpack/base.config.ts
  package.json
  web/webpack.config.ts
  yarn.lock
Labels: web

#4455 factor out genericSearchResultInterfaceFields in GraphQL search query
  web/src/search/backend.tsx
Labels: search, web

#4448 Faster Webpack builds
  web/gulpfile.ts
  web/src/SourcegraphWebApp.tsx
  web/src/util/empty.css
  web/webpack.config.ts
Labels: web

#4449 never show "Search" text on search query button
  web/src/search/input/SearchButton.scss
  web/src/search/input/SearchButton.tsx
Labels: web

#4450 simplify ModalPage
  web/src/components/ModalPage.tsx
Labels: web

#4457 use correct Bootstrap alert class for errors
  web/src/extensions/extension/RegistryExtensionContributionsPage.tsx
Labels: web

#4458 cleaner base CSS for <hr/>
  web/src/SourcegraphWebApp.scss
  web/src/SourcegraphWebApp.tsx
  web/src/enterprise/user/productSubscriptions/ProductSubscriptionForm.tsx
  web/src/search/input/QueryBuilder.scss
  web/src/search/input/QueryBuilder.tsx
Labels: web

#4452 use Bootstrap z-indexes for our custom popover
  shared/src/components/PopoverButton.scss
  web/src/components/PopoverButton.scss
Labels: web

#4456 consistent spacing for CommandList in global navbar
  web/src/components/shared.tsx
  web/src/nav/NavLinks.tsx
  web/src/nav/UserNavItem.tsx
  web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
Labels: web

#4466 use isDefined
  web/webpack.config.ts
Labels: web

#4467 Pin history version that doesn't decode
  package.json
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  web/src/repo/compare/RepositoryCompareArea.tsx
  web/src/repo/routes.tsx
  yarn.lock
Labels: bug, customer, web

#4440 api: Add status-messages to repo-updater and GraphQL API
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/status_messages.go
  cmd/frontend/graphqlbackend/status_messages_test.go
  cmd/frontend/types/types.go
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/scheduler.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  pkg/repoupdater/client.go
  pkg/repoupdater/protocol/repoupdater.go
Labels: team/core-services

#4472 Update to core-js 3
  .storybook/webpack.config.ts
  babel.config.js
  package.json
  shared/src/polyfills.ts
  yarn.lock
Labels: browser-extension, web

#4453 support PersonLink elements without a separate displayName
  web/src/repo/stats/RepositoryStatsContributorsPage.tsx
  web/src/user/PersonLink.test.tsx
  web/src/user/PersonLink.tsx
  web/src/user/__snapshots__/PersonLink.test.tsx.snap
Labels: web

#3961 support hot reloading for React components (with code splitting)
  package.json
  web/gulpfile.ts
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/routes.tsx
  web/src/user/area/UserOverviewPage.tsx
  web/webpack.config.ts
  yarn.lock
Labels: ops & tools & dev, web

#4461 support updating a comment body in the GraphQL API
  cmd/frontend/db/discussion_comments.go
  cmd/frontend/db/discussion_comments_mock.go
  cmd/frontend/db/discussion_comments_test.go
  cmd/frontend/db/discussion_threads.go
  cmd/frontend/db/discussion_threads_mock.go
  cmd/frontend/graphqlbackend/discussion_comments_test.go
  cmd/frontend/graphqlbackend/discussion_threads.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  web/src/repo/blob/discussions/DiscussionsInput.tsx
Labels: feature:code-discussions, web

#4468 report code discussions GraphQL errors
  web/src/discussions/backend.tsx
Labels: feature:code-discussions, web

#4462 flatten admin area in DiscussionsComment
  web/src/discussions/DiscussionsComment.scss
  web/src/discussions/DiscussionsComment.tsx
Labels: feature:code-discussions, web

#4463 lowercase GraphQL API DiscussionThreadUpdateInput fields (for consistency)
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: feature:code-discussions, web

#4441 web: Add StatusMessageItem to NavBar
  CHANGELOG.md
  web/src/nav/GlobalNavbar.tsx
  web/src/nav/NavLinks.scss
  web/src/nav/NavLinks.test.tsx
  web/src/nav/NavLinks.tsx
  web/src/nav/StatusMessagesNavItem.scss
  web/src/nav/StatusMessagesNavItem.test.tsx
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: team/core-services, web

#4475 docs: Document "all" as valid value in bitbucket.repositoryQuery
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/sources_test.go
  cmd/repo-updater/repos/testdata/sources/BITBUCKETSERVER/yielded-repos-are-always-enabled.yaml
  doc/admin/external_service/bitbucket_server.md
  web/src/site-admin/externalServices.tsx
Labels: bitbucket, docs, team/core-services

#4491 fix various Monaco bugs and limitations
  web/src/settings/DynamicallyImportedMonacoSettingsEditor.tsx
  web/src/settings/MonacoSettingsEditor.tsx
Labels: web

#4487 remove unused and incorrect non-top-level .vscode dirs
  browser/.vscode/settings.json
  packages/sourcegraph-extension-api/.vscode/extensions.json
  packages/sourcegraph-extension-api/.vscode/settings.json
  shared/.vscode/extensions.json
  shared/.vscode/settings.json
  shared/.vscode/tasks.json
  web/.vscode/settings.json
Labels: debt

#4460 fix Resizable when resizing element whose position:relative context is specific
  shared/src/components/Resizable.scss
Labels: web

#4492 authz: Address Thorsten's post-merge feedback on #4442
  doc/admin/repo/permissions.md
  doc/integration/bitbucket_server.md
  enterprise/cmd/frontend/internal/authz/authz_bitbucketserver.go
Labels: bitbucket, docs, team/core-services

#4488 use darker green for (eg) btn-success for greater contrast (a11y)
  web/src/SourcegraphWebApp.scss
Labels: web

#3962 use node 12
  package.json
Labels: web

#4483 docs: add item in devrel release checklist to remove `motd` for previous release
  doc/dev/devrel_release_issue_template.md
Labels: docs

#4496 repo-updater: Get rid of global repos.Scheduler instance
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/scheduler.go
  cmd/repo-updater/repos/scheduler_test.go
Labels: team/core-services

#4493 authz: Bitbucket Server ACLs caching
  cmd/frontend/authz/common.go
  cmd/frontend/authz/iface.go
  cmd/frontend/db/schema.md
  cmd/frontend/internal/app/pkg/updatecheck/handler_test.go
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/db.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/store.go
  enterprise/cmd/frontend/internal/authz/authz_bitbucketserver.go
  enterprise/cmd/frontend/internal/authz/authz_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/integration_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider_test.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store_test.go
  enterprise/cmd/frontend/internal/authz/github/github.go
  enterprise/cmd/frontend/internal/authz/init.go
  enterprise/cmd/frontend/main.go
  go.mod
  go.sum
  migrations/1528395580_create_user_permissions_table.down.sql
  migrations/1528395580_create_user_permissions_table.up.sql
  migrations/bindata.go
  pkg/db/dbtest/dbtest.go
  pkg/db/dbutil/dbutil.go
  pkg/extsvc/bitbucketserver/client.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  web/src/site-admin/externalServices.tsx
Labels: bitbucket, perf, team/core-services

#4517 authz: Fix Postgres row deadlock
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store_test.go
Labels: auth, bitbucket, bug, team/core-services

#4486 use eslint rules for React hooks
  .eslintrc.js
  .github/CODEOWNERS
  .vscode/extensions.json
  .vscode/settings.json
  browser/.eslintignore
  browser/package.json
  enterprise/dev/ci/gen-pipeline.go
  package.json
  shared/package.json
  shared/src/components/completion/EditorCompletionWidget.tsx
  shared/src/components/editorTextField/EditorTextField.tsx
  shared/src/components/linkPreviews/WithLinkPreviews.tsx
  web/package.json
  web/src/snippets/SnippetsPage.tsx
  web/src/user/area/UserOverviewPage.tsx
  yarn.lock
Labels: debt, extensions, web

#4527 remove duplicate storybook stories from browser/
  browser/stories/global.scss
  browser/stories/options/Header.tsx
  browser/stories/options/Menu.tsx
  browser/stories/options/ServerURLForm.tsx
Labels: web

#4530 remove hardcoded colors from Markdown styles
  shared/src/components/Markdown.scss
  web/src/SourcegraphWebApp.scss
Labels: web

#4529 omit management-console assets from VS Code search results
  .vscode/settings.json
Labels: web

#4531 simplify ExternalServiceCard
  web/src/SourcegraphWebApp.scss
  web/src/components/ExternalServiceCard.scss
  web/src/components/ExternalServiceCard.tsx
  web/src/e2e/util.ts
  web/src/repo/settings/RepoSettingsOptionsPage.tsx
  web/src/site-admin/SiteAdminAddExternalServicePage.tsx
  web/src/site-admin/SiteAdminAddExternalServicesPage.tsx
  web/src/site-admin/SiteAdminExternalServicePage.tsx
  web/src/site-admin/externalServices.tsx
Labels: web

#4542 remove unused Repository styles
  web/src/SourcegraphWebApp.scss
  web/src/repo/Repository.scss
Labels: debt, web

#4535 remove hover translateY effects
  web/src/enterprise/extensions/explore/ExtensionsExploreSection.scss
  web/src/integrations/explore/IntegrationsExploreSection.scss
Labels: design, web

#4533 simplify APIConsole
  web/src/api/APIConsole.scss
  web/src/api/APIConsole.tsx
Labels: debt, web

#4532 simplify SiteAdminOverviewPage
  web/src/SourcegraphWebApp.scss
  web/src/components/Collapsible.tsx
  web/src/components/Overview.scss
  web/src/components/Overview.tsx
  web/src/site-admin/SiteAdmin.scss
  web/src/site-admin/SiteAdminOverviewPage.scss
  web/src/site-admin/SiteAdminOverviewPage.tsx
Labels: debt, web

#4534 simplify MonacoEditor
  web/src/SourcegraphWebApp.scss
  web/src/components/MonacoEditor.scss
  web/src/components/MonacoEditor.tsx
Labels: debt, web

#4537 remove gradients from QueryBuilder
  web/src/search/input/QueryBuilder.scss
Labels: design, web

#4540 remove now-unused docsite styles from web app
  doc/_resources/assets/layout.css
  web/src/docSite/DocSitePage.scss
Labels: debt, web

#4539 remove unnecessary SiteAdminRepositoriesPage style
  web/src/site-admin/SiteAdmin.scss
  web/src/site-admin/SiteAdminRepositoriesPage.scss
Labels: debt, web

#4543 remove .btn-outline-* variants
  browser/src/app.scss
  web/src/enterprise/extensions/extension/RegistryExtensionDeleteButton.tsx
  web/src/enterprise/site-admin/SiteAdminRegistryExtensionsPage.tsx
  web/src/enterprise/site-admin/dotcom/productSubscriptions/SiteAdminProductSubscriptionPage.tsx
  web/src/enterprise/user/productSubscriptions/BackToAllSubscriptionsLink.tsx
  web/src/enterprise/user/productSubscriptions/UserSubscriptionsEditProductSubscriptionPage.tsx
  web/src/global-styles/buttons.scss
  web/src/org/area/OrgInvitationPage.tsx
Labels: design, web

#4541 simplify Area and AreaHeader styles
  doc/_resources/assets/sourcegraph.css
  web/src/components/Area.scss
  web/src/components/AreaHeader.scss
  web/src/discussions/DiscussionsPage.tsx
  web/src/enterprise/extensions/registry/RegistryArea.tsx
  web/src/extensions/ExtensionsArea.scss
  web/src/extensions/ExtensionsArea.tsx
  web/src/extensions/extension/ExtensionArea.scss
  web/src/extensions/extension/ExtensionArea.tsx
  web/src/extensions/extension/ExtensionAreaHeader.tsx
  web/src/global-styles/nav.scss
  web/src/org/OrgsArea.scss
  web/src/org/OrgsArea.tsx
  web/src/org/area/OrgArea.scss
  web/src/org/area/OrgArea.tsx
  web/src/org/area/OrgHeader.scss
  web/src/org/area/OrgHeader.tsx
  web/src/org/settings/OrgSettingsArea.scss
  web/src/org/settings/OrgSettingsArea.tsx
  web/src/repo/branches/RepositoryBranchesArea.scss
  web/src/repo/branches/RepositoryBranchesArea.tsx
  web/src/repo/commit/RepositoryCommitPage.scss
  web/src/repo/commit/RepositoryCommitPage.tsx
  web/src/repo/compare/RepositoryCompareArea.scss
  web/src/repo/compare/RepositoryCompareArea.tsx
  web/src/repo/compare/RepositoryCompareHeader.scss
  web/src/repo/compare/RepositoryCompareHeader.tsx
  web/src/repo/releases/RepositoryReleasesArea.scss
  web/src/repo/releases/RepositoryReleasesArea.tsx
  web/src/repo/settings/RepoSettingsArea.scss
  web/src/repo/settings/RepoSettingsArea.tsx
  web/src/repo/stats/RepositoryStatsArea.scss
  web/src/repo/stats/RepositoryStatsArea.tsx
  web/src/site-admin/SiteAdmin.scss
  web/src/site-admin/SiteAdminArea.tsx
  web/src/user/area/UserArea.scss
  web/src/user/area/UserArea.tsx
  web/src/user/area/UserAreaHeader.scss
  web/src/user/area/UserAreaHeader.tsx
  web/src/user/settings/UserSettingsArea.scss
  web/src/user/settings/UserSettingsArea.tsx
Labels: debt, design, web

#4528 remove welcome area from app
  cmd/frontend/internal/app/templates/ui/app.html
  cmd/frontend/internal/app/ui/handlers.go
  cmd/frontend/internal/app/ui/handlers_test.go
  cmd/frontend/internal/app/ui/router.go
  web/src/enterprise.scss
  web/src/enterprise/dotcom/welcome/WelcomeArea.scss
  web/src/enterprise/dotcom/welcome/WelcomeArea.tsx
  web/src/enterprise/dotcom/welcome/WelcomeAreaFooter.tsx
  web/src/enterprise/dotcom/welcome/WelcomeMainPage.scss
  web/src/enterprise/dotcom/welcome/WelcomeMainPage.tsx
  web/src/enterprise/dotcom/welcome/WelcomeMainPageDemos.scss
  web/src/enterprise/dotcom/welcome/WelcomeMainPageDemos.tsx
  web/src/enterprise/dotcom/welcome/WelcomeMainPageLogos.scss
  web/src/enterprise/dotcom/welcome/WelcomeMainPageLogos.tsx
  web/src/enterprise/dotcom/welcome/logos.tsx
  web/src/enterprise/dotcom/welcome/routes.ts
  web/src/enterprise/routes.tsx
  web/src/nav/GlobalNavbar.scss
  web/src/nav/GlobalNavbar.tsx
  web/src/nav/NavLinks.test.tsx
  web/src/nav/NavLinks.tsx
  web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  web/src/routes.tsx
Labels: web

#4538 simplify Activation{Dropdown,Checklist} styles
  shared/src/components/activation/ActivationChecklist.scss
  shared/src/components/activation/ActivationChecklist.tsx
  shared/src/components/activation/ActivationDropdown.scss
  shared/src/components/activation/ActivationDropdown.tsx
  shared/src/components/activation/__snapshots__/ActivationChecklist.test.tsx.snap
  shared/src/components/activation/__snapshots__/ActivationDropdown.test.tsx.snap
  shared/src/index.scss
  ui/assets/img/onboarding-bg.png
  web/src/site-admin/SiteAdminOverviewPage.tsx
  web/src/user/settings/profile/UserSettingsProfilePage.scss
  web/src/user/settings/profile/UserSettingsProfilePage.tsx
Labels: design, web

#4536 simplify explore page sections
  web/src/SourcegraphWebApp.scss
  web/src/enterprise.scss
  web/src/enterprise/extensions/explore/ExtensionsExploreSection.scss
  web/src/enterprise/extensions/explore/ExtensionsExploreSection.tsx
  web/src/enterprise/extensions/explore/ExtensionsExploreSectionExtensionCard.tsx
  web/src/integrations/explore/IntegrationsExploreSection.scss
  web/src/integrations/explore/IntegrationsExploreSection.tsx
  web/src/repo/explore/RepositoriesExploreSection.scss
  web/src/repo/explore/RepositoriesExploreSection.tsx
Labels: design, web

#4545 upgrade+unvendor reactstrap, remove PopoverButton
  browser/src/libs/code_intelligence/extensions.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/github/extensions.tsx
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/shared.scss
  browser/src/shared/components/GlobalDebug.tsx
  package.json
  shared/src/commandPalette/CommandList.scss
  shared/src/commandPalette/CommandList.tsx
  shared/src/components/PopoverButton.scss
  shared/src/components/PopoverButton.tsx
  shared/src/extensions/ExtensionStatus.tsx
  shared/src/index.scss
  web/src/SourcegraphWebApp.scss
  web/src/components/PopoverButton.scss
  web/src/components/PopoverButton.tsx
  web/src/components/shared.tsx
  web/src/e2e/index.e2e.test.tsx
  web/src/global-styles/colors.scss
  web/src/global/GlobalDebug.tsx
  web/src/nav/GlobalNavbar.scss
  web/src/nav/NavLinks.tsx
  web/src/repo/RepoHeader.tsx
  web/src/repo/RepoRevContainer.tsx
  yarn.lock
Labels: debt, web

#4547 fix command palette styling on Bitbucket Server
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/bitbucket/style.scss
  browser/src/libs/code_intelligence/code_intelligence.tsx
  shared/src/commandPalette/CommandList.tsx
Labels: browser-extension, extensions

#4548 fix flash of unstyled content in browser extension
  browser/src/extension/scripts/inject.tsx
Labels: browser-extension, extensions

#4550 remove unused browser extension CSS for extension cards
  browser/src/shared.scss
Labels: browser-extension, extensions

#4551 simplify GlobalNavbar styles
  web/src/nav/GlobalNavbar.scss
  web/src/nav/GlobalNavbar.tsx
Labels: design, web

#4553 remove unneeded div in ExtensionAreaHeader
  web/src/extensions/ExtensionToggle.tsx
  web/src/extensions/extension/ExtensionAreaHeader.tsx
Labels: web

#4451 fix typo
  shared/src/api/client/services/modelService.ts
Labels: extensions

#4552 simplify ExtensionList CSS
  web/src/SourcegraphWebApp.scss
  web/src/extensions/ExtensionCard.scss
  web/src/extensions/ExtensionCard.tsx
  web/src/extensions/ExtensionsArea.scss
  web/src/extensions/ExtensionsList.scss
  web/src/extensions/ExtensionsList.tsx
  web/src/extensions/__snapshots__/ExtensionCard.test.tsx.snap
  web/src/extensions/shared.scss
Labels: design, web

#4495 Support toggling display of a code host's native tooltips
  browser/src/app.scss
  browser/src/browser/types.ts
  browser/src/extension/scripts/inject.tsx
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/code_intelligence/code_intelligence.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/hover_alerts.tsx
  browser/src/libs/code_intelligence/native_tooltips.scss
  browser/src/libs/code_intelligence/native_tooltips.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/libs/phabricator/code_intelligence.ts
  browser/src/libs/sentry/index.ts
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  shared/src/hover/HoverOverlay.scss
  shared/src/hover/HoverOverlay.test.tsx
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  shared/src/util/errors.ts
  shared/src/util/types.ts
  web/src/components/shared.tsx
Labels: browser-extension, code-nav

#4587 fix tooltip positioning
  web/src/components/tooltip/Tooltip.tsx
Labels: web

#4597 Improve Sentry reporting of backend errors
  cmd/frontend/internal/pkg/handlerutil/error_reporting.go
  pkg/trace/httptrace.go
Labels: ops & tools & dev, team/core-services

#4586 improve spacing and expand click area of collapsibles in SiteAdminOverviewPage
  web/src/components/Collapsible.tsx
  web/src/site-admin/SiteAdminOverviewPage.tsx
Labels: web

#4591 status-indicator: Show actual cloning state
  cmd/gitserver/server/server.go
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/observability.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/testing.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  dev/site-config.json
  pkg/gitserver/client.go
  pkg/gitserver/protocol/gitserver.go
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: team/core-services

#4635 Proper TSLint Extends
  .github/CODEOWNERS
  browser/tslint.json
  shared/src/hover/actions.test.ts
  shared/tslint.json
  tslint.config.js
  tslint.json
  web/tslint.json
Labels: ops & tools & dev

#4638 Remove overflow:hidden
  web/src/repo/RepoContainer.scss
Labels: bug, web

#4636 Use ESLint for ban-imports
  package.json
  shared/.eslintrc.js
  shared/dev/tslint/.gitignore
  shared/dev/tslint/banImportsRule.ts
  shared/package.json
  shared/tslint.json
Labels: ops & tools & dev

#4589 simplify and improve ExtensionArea CSS
  web/src/extensions/extension/ExtensionArea.scss
  web/src/extensions/extension/RegistryExtensionContributionsPage.tsx
  web/src/extensions/extension/RegistryExtensionOverviewPage.scss
  web/src/extensions/extension/RegistryExtensionOverviewPage.tsx
  web/src/extensions/extension/__snapshots__/RegistryExtensionOverviewPage.test.tsx.snap
Labels: extensions, web

#4470 repositoryPathPattern fixes
  browser/src/libs/bitbucket/context.tsx
  browser/src/libs/bitbucket/scrape.test.ts
  browser/src/libs/bitbucket/scrape.ts
  browser/src/libs/code_intelligence/ extensions.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/code_views.test.ts
  browser/src/libs/code_intelligence/code_views.ts
  browser/src/libs/code_intelligence/external_links.test.tsx
  browser/src/libs/code_intelligence/external_links.tsx
  browser/src/libs/code_intelligence/test_helpers.tsx
  browser/src/libs/code_intelligence/util/file_info.ts
  browser/src/libs/github/__snapshots__/util.test.ts.snap
  browser/src/libs/github/code_intelligence.test.ts
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/github/file_info.ts
  browser/src/libs/github/util.tsx
  browser/src/libs/gitlab/file_info.ts
  browser/src/libs/gitlab/scrape.ts
  browser/src/libs/options/OptionsContainer.tsx
  browser/src/libs/phabricator/backend.tsx
  browser/src/libs/phabricator/file_info.ts
  browser/src/libs/phabricator/index.tsx
  browser/src/libs/phabricator/util.tsx
  browser/src/platform/context.test.tsx
  browser/src/platform/context.ts
  browser/src/shared/backend/diffs.tsx
  browser/src/shared/backend/errors.tsx
  browser/src/shared/backend/search.tsx
  browser/src/shared/repo/backend.tsx
  shared/src/backend/errors.ts
  shared/src/backend/repo.ts
  shared/src/hover/actions.test.ts
  shared/src/hover/actions.ts
  shared/src/platform/context.ts
  shared/src/util/errors.ts
  shared/src/util/url.ts
  web/src/repo/RepoContainer.tsx
  web/src/repo/RepoRevContainer.tsx
  web/src/repo/RepositoryGitDataContainer.tsx
  web/src/repo/backend.tsx
Labels: browser-extension, code-nav, extensions

#4656 Fix table formatting
  doc/user/search/queries.md
Labels: docs

#4588 simplify ResultContainer and FileMatchChildren
  shared/src/components/FileMatchChildren.scss
  shared/src/components/ResultContainer.scss
Labels: search, web

#4658 fix quoting suggestions for fields with invalid regexes
  cmd/frontend/graphqlbackend/search_didyoumeanquoted_test.go
  cmd/frontend/internal/pkg/search/query/syntax/query.go
  cmd/frontend/internal/pkg/search/query/syntax/query_test.go
Labels: search

#4642 authz: Instrument Bitbucket Server ACLs code paths with tracing
  cmd/frontend/db/external_accounts.go
  cmd/frontend/db/repos_perm.go
  dev/nginx.conf
  enterprise/cmd/frontend/internal/authz/bitbucketserver/provider.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  web/src/site-admin/externalServices.tsx
Labels: auth, bitbucket, team/core-services

#4667 graphqlbackend: Use pointers to zoekt.Repository instead of copying
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/textsearch_test.go
Labels: perf, search

#4665 fix background color on ref/def results snippets
  shared/src/components/FileMatchChildren.scss
Labels: web

#4689 docs: Document `ttl` in Bitbucket Server repo permissions
  doc/admin/repo/permissions.md
Labels: auth, bitbucket, docs, team/core-services

#4690 auth: Allow '.' in NormalizeUsername
  CHANGELOG.md
  cmd/frontend/auth/auth.go
  cmd/frontend/auth/auth_test.go
  doc/admin/auth/index.md
  enterprise/cmd/frontend/auth/httpheader/middleware_test.go
Labels: auth

#4685 schema: Validate GH & BBS config have repos OR repositoryQuery
  CHANGELOG.md
  cmd/frontend/db/external_services.go
  cmd/repo-updater/main.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/migrations.go
  cmd/repo-updater/repos/migrations_test.go
  enterprise/cmd/frontend/db/external_services_test.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/github.schema.json
  schema/github_stringdata.go
  schema/schema.go
Labels: team/core-services

#4705 docs: heading and TOC fixes
  doc/extensions/authoring/builtin_commands.md
Labels: docs
