Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2019-10, with the labels that each got.

#5765 repo-updater: Replace SubSyncer with PreSync function
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/shared/main.go
  enterprise/cmd/repo-updater/main.go
  enterprise/pkg/a8n/syncer.go
Labels: a8n, team/core-services

#5818 Configure lsif Renovate PRs to be owned by code-intel team
  renovate.json
Labels: ops & tools & dev

#5768 Bitbucket Server: Add LoadPullRequest method to Client
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/bitbucketserver_test.go
  cmd/repo-updater/repos/testdata/golden/BitbucketServerSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_LoadChangesets_subset-not-found.yaml
  enterprise/pkg/a8n/resolvers/graphql_test.go
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  pkg/a8n/types.go
  pkg/extsvc/bitbucketserver/client.go
  pkg/extsvc/bitbucketserver/client_test.go
  pkg/extsvc/bitbucketserver/testdata/golden/LoadPullRequest-success
  pkg/extsvc/bitbucketserver/testdata/vcr/PullRequests.yaml
Labels: a8n, team/core-services

#5830 Fix GH PR discussion snippets filename resolution
  browser/src/libs/github/__fixtures__/github.com/pull-request-discussion/refined-github/code-view.html
  browser/src/libs/github/__fixtures__/github.com/pull-request-discussion/vanilla/code-view.html
  browser/src/libs/github/__snapshots__/dom_functions.test.ts.snap
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/github/dom_functions.test.ts
  browser/src/libs/github/file_info.ts
  browser/src/libs/github/util.test.ts
  browser/src/libs/github/util.tsx
Labels: browser-extension

#5832 a8n: Fix reading Bitbucket Server changesets from DB
  enterprise/pkg/a8n/resolvers/graphql_test.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
Labels: a8n, team/core-services

#5817 Don't count fixtures into GitHub language stats
  .gitattributes
Labels: ops & tools & dev

#5846 Fix Bitbucket Server tests
  cmd/repo-updater/repos/bitbucketserver_test.go
  enterprise/pkg/a8n/resolvers/graphql_test.go
  pkg/extsvc/bitbucketserver/client_test.go
Labels: a8n, team/core-services

#5849 github: Load timeline items in LoadPullRequests
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  pkg/a8n/types.go
  pkg/extsvc/github/client_test.go
  pkg/extsvc/github/pulls.go
  pkg/extsvc/github/testdata/golden/LoadPullRequests-2
  pkg/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: a8n

#5871 LSIF: Read postgres config from frontend.
  lsif/package.json
  lsif/src/config.ts
  lsif/src/connection.ts
  lsif/src/server.ts
  lsif/src/worker.ts
  lsif/yarn.lock
Labels: lsif

#5740 LSIF: Cross-repository database to target Postgres
  CHANGELOG.md
  doc/admin/external_database.md
  doc/dev/local_development.md
  doc/dev/postgresql.md
  lsif/Dockerfile
  lsif/README.md
  lsif/package.json
  lsif/src/cache.ts
  lsif/src/config.ts
  lsif/src/connection.ts
  lsif/src/cpp.test.ts
  lsif/src/database.ts
  lsif/src/importer.ts
  lsif/src/models.database.ts
  lsif/src/models.xrepo.ts
  lsif/src/server.ts
  lsif/src/test-utils.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/worker.ts
  lsif/src/xrepo.ts
  lsif/yarn.lock
  migrations/1528395594_create_lsif_database.down.sql
  migrations/1528395594_create_lsif_database.up.sql
  migrations/1528395595_lsif_xrepo_init.down.sql
  migrations/1528395595_lsif_xrepo_init.up.sql
  migrations/bindata.go
Labels: lsif

#5870 a8n: Introduce ChangesetEvent
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  pkg/a8n/types.go
  pkg/extsvc/github/pulls.go
  pkg/extsvc/github/testdata/golden/LoadPullRequests-2
  pkg/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: a8n

#5834 a8n: Persist GitHub ChangesetEvents to database
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_LoadChangesets_subset-not-found.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  enterprise/pkg/a8n/resolvers/graphql.go
  enterprise/pkg/a8n/resolvers/graphql_test.go
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  enterprise/pkg/a8n/syncer.go
  migrations/1528395594_create_changeset_events_table.down.sql
  migrations/1528395594_create_changeset_events_table.up.sql
  migrations/bindata.go
  pkg/extsvc/github/testdata/golden/LoadPullRequests-2
  pkg/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: a8n

#5886 Un-Revert "LSIF: Cross-repository database to target Postgres (#5740)"
  CHANGELOG.md
  doc/admin/external_database.md
  doc/dev/local_development.md
  doc/dev/postgresql.md
  lsif/Dockerfile
  lsif/README.md
  lsif/src/cache.ts
  lsif/src/config.ts
  lsif/src/connection.ts
  lsif/src/cpp.test.ts
  lsif/src/database.ts
  lsif/src/importer.ts
  lsif/src/models.database.ts
  lsif/src/models.xrepo.ts
  lsif/src/server.ts
  lsif/src/test-utils.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/worker.ts
  lsif/src/xrepo.ts
  migrations/1528395595_create_lsif_database.down.sql
  migrations/1528395595_create_lsif_database.up.sql
  migrations/1528395596_lsif_xrepo_init.down.sql
  migrations/1528395596_lsif_xrepo_init.up.sql
  migrations/bindata.go
Labels: lsif

#5691 LSIF: Track and determine closest commit
  lsif/docs/xrepo.md
  lsif/package.json
  lsif/src/cache.ts
  lsif/src/commits.test.ts
  lsif/src/commits.ts
  lsif/src/connection.ts
  lsif/src/cpp.test.ts
  lsif/src/database.ts
  lsif/src/importer.ts
  lsif/src/models.xrepo.ts
  lsif/src/server.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/util.ts
  lsif/src/worker.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
  lsif/yarn.lock
  migrations/1528395597_lsif_commits.down.sql
  migrations/1528395597_lsif_commits.up.sql
  migrations/bindata.go
Labels: lsif

#5923 Add campaign routing to the backend
  cmd/frontend/internal/app/ui/router.go
Labels: a8n

#5894 Browser extension GSuite deployment fixes
  browser/src/browser/ExtensionStorageSubject.ts
  browser/src/browser/storage.ts
  browser/src/browser/types.ts
  browser/src/extension/schema.json
  browser/src/extension/scripts/background.tsx
  browser/src/extension/scripts/options.tsx
  browser/src/libs/code_intelligence/hover_alerts.tsx
  browser/src/libs/phabricator/backend.tsx
  browser/src/libs/sentry/index.ts
  browser/src/platform/context.ts
Labels: browser-extension

#5925 Use FilteredConnection for campaigns list
  web/src/components/FilteredConnection.tsx
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/backend.ts
  web/src/enterprise/campaigns/list/CampaignList.tsx
  web/src/enterprise/campaigns/list/CampaignListItem.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/useCampaigns.ts
  web/src/search/helpers.tsx
Labels: a8n

#5934 Change log level for spurious "error" from the resque scheduler.
  lsif/src/connection.ts
  lsif/src/server.ts
Labels: lsif

#5901 LSIF: Logging and Tracing
  lsif/.eslintrc.js
  lsif/package.json
  lsif/src/@types/async-exit-hook/index.d.ts
  lsif/src/@types/express-opentracing/index.d.ts
  lsif/src/commits.ts
  lsif/src/config.ts
  lsif/src/connection.ts
  lsif/src/cpp.test.ts
  lsif/src/database.ts
  lsif/src/importer.ts
  lsif/src/logging.ts
  lsif/src/queue.ts
  lsif/src/server.ts
  lsif/src/tracing.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/util.ts
  lsif/src/worker.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
  lsif/yarn.lock
Labels: lsif

#5970 add direction page about security and compliance
  doc/direction/index.md
  doc/direction/secure/index.md
Labels: docs

#5973 Create Renovate PRs for nightly TypeScript builds
  renovate.json
Labels: ops & tools & dev, web

#5913 a8n: Upsert changeset events from GitHub webhooks
  cmd/frontend/auth/non_public.go
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/hooks/hooks.go
  cmd/frontend/internal/cli/http.go
  cmd/frontend/internal/cli/middleware/blackhole.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/internal/httpapi/api_test.go
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/router/router.go
  cmd/frontend/main.go
  cmd/frontend/shared/frontend.go
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  doc/admin/external_service/github.md
  enterprise/cmd/frontend/main.go
  enterprise/pkg/a8n/integration_test.go
  enterprise/pkg/a8n/resolvers/graphql.go
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  enterprise/pkg/a8n/testdata/fixtures/issue_comment-edited.json
  enterprise/pkg/a8n/testdata/vcr/github-webhooks.yaml
  enterprise/pkg/a8n/webhooks.go
  enterprise/pkg/a8n/webhooks_test.go
  go.mod
  go.sum
  internal/a8n/types.go
  internal/extsvc/github/client.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
  migrations/1528395602_add_updated_at_and_drop_source_from_changeset_events.down.sql
  migrations/1528395602_add_updated_at_and_drop_source_from_changeset_events.up.sql
  migrations/bindata.go
  schema/github.schema.json
  schema/github_stringdata.go
  schema/schema.go
Labels: a8n

#5895 a8n: Implement GraphQL API for Burndown Chart
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/pkg/a8n/counts.go
  enterprise/pkg/a8n/counts_test.go
  enterprise/pkg/a8n/resolvers/graphql.go
  enterprise/pkg/a8n/resolvers/graphql_test.go
  enterprise/pkg/a8n/resolvers/testdata/vcr/test-changeset-counts-over-time.yaml
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  enterprise/pkg/a8n/webhooks_test.go
  internal/a8n/types.go
Labels: a8n

#5964 dev-config: Enable automation by default for devs
  dev/config.json
Labels: a8n, ops & tools & dev

#5988 changelog: Add entry about GitHub webhooks to 3.9
  CHANGELOG.md
Labels: a8n

#5401 Allow user-select in ResultContainer header
  CHANGELOG.md
  shared/src/components/ResultContainer.scss
Labels: web

#6025 server: Upgrade libc6 from 1.1.23-r3 to 1.1.24-r0
  cmd/server/Dockerfile
Labels: ops & tools & dev, team/distribution 🚢📦💨

#6024 a8n: Fix listing all ChangesetEvents resulting in empty results
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
Labels: a8n

#6023 a8n: Fix GitHub PR ReviewState by ignoring pending/commented reviews
  internal/a8n/types.go
  internal/a8n/types_test.go
Labels: a8n

#6026 a8n: Fix panic in webhook handling and address Beyang's feedback
  enterprise/pkg/a8n/webhooks.go
Labels: a8n

#6030 remove redundant sentence from LiteralSearchToast
  web/src/marketing/LiteralSearchToast.tsx
Labels: search

#5915 Allow to edit and delete campaigns
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/useCampaignByID.ts
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/enterprise/campaigns/new/NewCampaignPage.tsx
  web/src/util/useObservable.ts
Labels: a8n

#6005 Add campaign burndown chart
  package.json
  shared/src/global-styles/colors.scss
  web/src/enterprise/campaigns/detail/BurndownChart.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ChangesetList.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  yarn.lock
Labels: a8n, release-blocker

#6045 Add documentation for reviewing Renovate pull requests
  doc/dev/index.md
  doc/dev/renovate.md
Labels: docs

#6062 LSIF: Replace node-resque with bull
  lsif/package.json
  lsif/src/@types/async-exit-hook/index.d.ts
  lsif/src/@types/node-resque/index.d.ts
  lsif/src/queue.ts
  lsif/src/server.ts
  lsif/src/tracing.ts
  lsif/src/worker.metrics.ts
  lsif/src/worker.ts
  lsif/yarn.lock
Labels: lsif

#6067 LSIF: Add machinery for repeated/scheduled jobs.
  lsif/src/queue.ts
  lsif/src/server.ts
  lsif/src/worker.ts
Labels: lsif

#6082 LSIF: Stop inserting rows into lsif_commits we don't use
  lsif/src/commits.ts
  lsif/src/xrepo.ts
Labels: lsif

#5829 Adapt code for TypeScript 3.7
  .vscode/settings.json
  browser/scripts/build.ts
  browser/src/libs/code_intelligence/extensions.tsx
  web/src/repo/blob/Blob.tsx
Labels: npm

#6046 Add docs for preferring union types
  doc/dev/typescript/patterns.md
Labels: docs

#6104 a8n: Split up a8n GraphQL resolver into multiple files
  enterprise/pkg/a8n/resolvers/campaigns.go
  enterprise/pkg/a8n/resolvers/changeset_events.go
  enterprise/pkg/a8n/resolvers/changesets.go
  enterprise/pkg/a8n/resolvers/graphql.go
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
Labels: a8n

#6041 Add simple form to add changesets
  web/src/enterprise/campaigns/detail/AddChangesetForm.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
Labels: a8n, web

#6107 Use gon.gitlab_url instead of location.hostname
  browser/src/globals.d.ts
  browser/src/libs/gitlab/scrape.ts
  browser/src/shared/util/context.tsx
Labels: browser-extension, bug, gitlab

#6110 Only use hostname from Gitlab URL
  browser/src/libs/gitlab/scrape.ts
Labels: gitlab

#6102 doc: Update docs with 3.9.0
  cmd/frontend/internal/app/pkg/updatecheck/handler.go
  doc/_resources/templates/doc.html
  doc/admin/external_database.md
  doc/admin/install/docker/aws.md
  doc/admin/install/docker/digitalocean.md
  doc/admin/install/docker/google_cloud.md
  doc/admin/install/docker/index.md
  doc/admin/management_console.md
  doc/admin/postgres.md
  doc/admin/ssl_https_self_signed_cert_nginx.md
  doc/dev/testing.md
  doc/index.md
Labels: docs

#6118 slightly clearer docs about images in doc pages
  doc/dev/documentation/index.md
Labels: docs

#5750 add more GraphQL API examples
  doc/_resources/assets/layout.css
  doc/_resources/templates/doc.html
  doc/api/graphql/examples.md
Labels: docs

#6145 Gitlab: don't use gon in the browser extension
  browser/src/libs/gitlab/scrape.ts
Labels: browser-extension, bug

#6019 LSIF: Track and filter out non-tip references
  cmd/frontend/db/schema.md
  lsif/docs/jobs.md
  lsif/package.json
  lsif/src/backend.ts
  lsif/src/commits.test.ts
  lsif/src/commits.ts
  lsif/src/connection.ts
  lsif/src/database.test.ts
  lsif/src/database.ts
  lsif/src/server.ts
  lsif/src/test-utils.ts
  lsif/src/worker.ts
  lsif/src/xrepo.models.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
  lsif/yarn.lock
  migrations/1528395606_lsif_add_visible_at_tip_flag.down.sql
  migrations/1528395606_lsif_add_visible_at_tip_flag.up.sql
  migrations/bindata.go
Labels: lsif

#6136 LSIF: Add scheduled job to clean old job data.
  lsif/docs/jobs.md
  lsif/src/server.ts
  lsif/src/worker.ts
Labels: lsif

#6137 LSIF: Rearrange docs.
  lsif/README.md
  lsif/docs/README.md
  lsif/docs/api.md
  lsif/docs/database.md
  lsif/docs/datamodel.md
  lsif/docs/datamodel.xrepo.md
  lsif/docs/jobs.md
Labels: lsif

#6162 Don't reference Bootstrap alert in HoverOverlay
  browser/src/app.scss
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/libs/phabricator/code_intelligence.ts
  shared/src/hover/HoverOverlay.scss
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  web/src/components/shared.tsx
Labels: browser-extension

#6194 Support adding gitlab.com repos on demand in sourcegraph.com
  cmd/frontend/backend/repos.go
  cmd/frontend/backend/repos_mock.go
  cmd/frontend/backend/repos_test.go
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/gitlab_test.go
  cmd/repo-updater/repos/testdata/sources/GITLAB-DOT-COM/found.yaml
  cmd/repo-updater/repos/testdata/sources/GITLAB-DOT-COM/not-found.yaml
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  cmd/repo-updater/shared/main.go
  internal/extsvc/codehost.go
  internal/extsvc/codehost_test.go
Labels: gitlab

#6177 LSIF: Update job schedules
  lsif/src/queue.ts
  lsif/src/server.ts
  lsif/src/worker.ts
Labels: lsif

#6205 LSIF: Prune old dumps
  cmd/frontend/db/schema.md
  lsif/docs/jobs.md
  lsif/package.json
  lsif/src/backend.ts
  lsif/src/commits.test.ts
  lsif/src/connection.ts
  lsif/src/constants.ts
  lsif/src/cpp.test.ts
  lsif/src/retention.ts
  lsif/src/server.ts
  lsif/src/settings.ts
  lsif/src/test-utils.ts
  lsif/src/typescript-linked-reference-results.test.ts
  lsif/src/typescript-xrepo.test.ts
  lsif/src/util.ts
  lsif/src/worker.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
  lsif/yarn.lock
  migrations/1528395607_lsif_add_dump_uploaded_at.down.sql
  migrations/1528395607_lsif_add_dump_uploaded_at.up.sql
  migrations/bindata.go
Labels: lsif

#6217 LSIF: Endpoints for dumps in lsif-server
  lsif/docs/api.md
  lsif/src/backend.ts
  lsif/src/server.ts
  lsif/src/xrepo.ts
Labels: lsif

#6227 LSIF: Endpoints for jobs in lsif-server
  lsif/docs/api.md
  lsif/package.json
  lsif/src/api-job.ts
  lsif/src/queue.ts
  lsif/src/search-jobs.lua
  lsif/src/server.ts
  lsif/src/worker.ts
  lsif/yarn.lock
Labels: lsif

#6121 a8n: Implement skeleton API and CRUD layer for running campaigns
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/discussion_threads.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/graphqlbackend_test.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/search.go
  enterprise/pkg/a8n/resolvers/campaign_plans.go
  enterprise/pkg/a8n/resolvers/campaigns.go
  enterprise/pkg/a8n/resolvers/changeset_events.go
  enterprise/pkg/a8n/resolvers/changesets.go
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/resolvers/resolver_test.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  internal/a8n/types.go
  migrations/1528395608_create_campaign_plans_table.down.sql
  migrations/1528395608_create_campaign_plans_table.up.sql
  migrations/1528395609_create_campaign_jobs_table.down.sql
  migrations/1528395609_create_campaign_jobs_table.up.sql
  migrations/bindata.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
Labels: a8n

#6247 lsif: Fix `no such file or directory [...] search-jobs.lua`
  lsif/package.json
Labels: code-intel

#6249 a8n: Remove RepoSearcher interface and expose SearchRepos directly
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/search.go
  enterprise/pkg/a8n/resolvers/resolver.go
Labels: a8n

#6252 doc: Clarify team retrospectives
  doc/dev/retrospectives/index.md
Labels: docs

#6206 a8n: Implement ExternalChangeset.diff for GitHub & Bitbucket Server
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  enterprise/pkg/a8n/resolvers/changesets.go
  internal/a8n/types.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: a8n

#6250 LSIF: GraphQL endpoints for LSIF dumps
  CHANGELOG.md
  cmd/frontend/auth/non_public.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/graphqlutil/page_info.go
  cmd/frontend/graphqlbackend/lsif_dump.go
  cmd/frontend/graphqlbackend/lsif_dumps.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_pagination.go
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/router/router.go
  cmd/frontend/internal/lsif/request.go
  cmd/frontend/internal/lsif/settings.go
  cmd/frontend/types/lsif.go
  doc/dev/architecture/index.md
  go.mod
  go.sum
  lsif/docs/api.md
  lsif/src/commits.test.ts
  lsif/src/database.test.ts
  lsif/src/server.ts
  lsif/src/xrepo.models.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
  migrations/1528395604_lsif_multi_project.up.sql
  migrations/bindata.go
Labels: lsif

#6263 a8n: Persist CampaignPlan.Arguments as string
  cmd/frontend/db/schema.md
  enterprise/pkg/a8n/resolvers/resolver.go
  enterprise/pkg/a8n/store.go
  enterprise/pkg/a8n/store_test.go
  internal/a8n/types.go
  migrations/1528395610_change_campaign_plan_arguments_to_text.down.sql
  migrations/1528395610_change_campaign_plan_arguments_to_text.up.sql
  migrations/bindata.go
Labels: a8n

#6305 Move cyclic constants into the same file.
  lsif/src/commits.ts
  lsif/src/constants.ts
  lsif/src/xrepo.test.ts
  lsif/src/xrepo.ts
Labels: lsif

#6284 Add ResolveRev call to upload proxy handler.
  cmd/frontend/internal/httpapi/lsif.go
Labels: lsif
