Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-08, with the labels that each got.

#12637 Improve performance of enabling/disabling extensions
  web/src/extensions/ExtensionCard.test.tsx
  web/src/extensions/ExtensionCard.tsx
  web/src/extensions/ExtensionsList.tsx
Labels: perf, team/web

#12659 search: fuzzify regex patterns for suggestions if globbing is active
  cmd/frontend/graphqlbackend/search_suggestions.go
  internal/search/query/transformer.go
  internal/search/query/transformer_test.go
Labels: team/search

#12702 Remove prepublish script
  .vscode/tasks.json
  browser/package.json
  dev/ci/yarn-run.sh
  dev/ci/yarn-test.sh
  enterprise/dev/ci/ci/pipeline-steps.go
  gulpfile.js
  package.json
  web/gulpfile.js
Labels: ops & tools & dev, team/web

#12139 campaigns: add GitLab webhook support
  CHANGELOG.md
  cmd/frontend/auth/non_public.go
  cmd/frontend/enterprise/enterprise.go
  cmd/frontend/graphqlbackend/external_service.go
  cmd/frontend/internal/cli/http.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/internal/httpapi/api_test.go
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/router/router.go
  doc/admin/external_service/gitlab.md
  enterprise/cmd/frontend/internal/campaigns/init.go
  enterprise/internal/campaigns/changeset_history.go
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/state_test.go
  enterprise/internal/campaigns/webhooks.go
  enterprise/internal/campaigns/webhooks_gitlab.go
  enterprise/internal/campaigns/webhooks_gitlab_test.go
  internal/campaigns/types.go
  internal/campaigns/types_test.go
  internal/extsvc/gitlab/labels.go
  internal/extsvc/gitlab/merge_requests.go
  internal/extsvc/gitlab/notes.go
  internal/extsvc/gitlab/pipelines.go
  internal/extsvc/gitlab/time.go
  internal/extsvc/gitlab/time_test.go
  internal/extsvc/gitlab/webhooks/events.go
  internal/extsvc/gitlab/webhooks/events_test.go
  internal/extsvc/gitlab/webhooks/merge_requests.go
  internal/extsvc/gitlab/webhooks/merge_requests_test.go
  internal/extsvc/gitlab/webhooks/webhooks.go
  internal/extsvc/types.go
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
  schema/schema.go
  web/src/site-admin/SiteAdminExternalServicePage.tsx
  web/src/site-admin/SiteAdminExternalServiceWebhook.tsx
  web/src/site-admin/externalServices.tsx
Labels: campaigns, gitlab

#12691 codeintel: Internal API proxy
  cmd/frontend/auth/non_public.go
  cmd/frontend/enterprise/enterprise.go
  cmd/frontend/envvar/envvar.go
  cmd/frontend/internal/cli/http.go
  cmd/frontend/internal/cli/serve_cmd.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/internal_proxy_handler.go
  enterprise/cmd/frontend/internal/codeintel/internal_proxy_handler_test.go
  enterprise/dev/start.sh
Labels: team/code-intelligence

#12753 Implement missing methods in changesetResolver and add ChangesetStats
  cmd/frontend/graphqlbackend/campaigns.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaigns_test.go
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_connection.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/internal/campaigns/resolvers/testing.go
  enterprise/internal/campaigns/state.go
  internal/campaigns/types.go
Labels: campaigns, team/campaigns

#12798 codeintel: Add mocks for queue client
  enterprise/internal/codeintel/queue/client/mocks/gen.go
  enterprise/internal/codeintel/queue/client/mocks/mock_client.go
Labels: RFC-199, team/code-intelligence

#12797 internal API proxy: Remove verb allowlist in gitservice proxy
  enterprise/cmd/frontend/internal/codeintel/internal_proxy_handler.go
Labels: RFC-199, team/code-intelligence

#12800 codeintel: Add disable indexer flag
  enterprise/cmd/precise-code-intel-indexer/env.go
  enterprise/cmd/precise-code-intel-indexer/main.go
Labels: RFC-199, team/code-intelligence

#12828 search: fuzzify glob patterns if users enter paths
  internal/search/query/transformer.go
  internal/search/query/transformer_test.go
Labels: team/search

#12851 Clean up Storybook
  browser/src/browser-extension/options-page/OptionsHeader.story.tsx
  browser/src/browser-extension/options-page/OptionsMenu.story.tsx
  browser/src/browser-extension/options-page/ServerUrlForm.story.tsx
  shared/src/actions/ActionItem.story.tsx
  shared/src/components/Toggle.story.tsx
  shared/src/components/completion/CompletionWidget.story.tsx
  web/src/enterprise/codeintel/CodeIntelIndexPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelIndexesPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelUploadPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelUploadsPage.story.tsx
Labels: ops & tools & dev, team/web

#12108 codeintel: Additional worker memory improvements
  enterprise/cmd/precise-code-intel-worker/internal/correlation/canonicalize.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/canonicalize_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/correlate.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/correlate_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/datastructures/compare.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/datastructures/default_idset_map.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/datastructures/default_idset_map_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/datastructures/disjoint_idset.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/datastructures/disjoint_idset_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/datastructures/idset.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/datastructures/idset_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/lsif/types.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/lsif/unmarshal.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/lsif/unmarshal_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/prune.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/prune_test.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/state.go
Labels: team/code-intelligence

#12795 codeintel: Collapse worker handler and processor
  enterprise/cmd/precise-code-intel-worker/internal/worker/gen.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/mock_processor_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
Labels: team/code-intelligence

#12125 codeintel: Group code intel data for serialization on-demand
  enterprise/cmd/precise-code-intel-worker/internal/correlation/correlate.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group_test.go
  enterprise/internal/codeintel/bundles/persistence/mocks/mock_writer.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/batch/write.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/v5/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/writer.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/writer_test.go
  enterprise/internal/codeintel/bundles/persistence/writer.go
Labels: team/code-intelligence

#12723 codeintel: VM-based indexer service
  .github/CODEOWNERS
  dev/prometheus/all/prometheus_targets.yml
  dev/prometheus/linux/prometheus_targets.yml
  dev/src-prof-services.json
  enterprise/cmd/precise-code-intel-indexer-vm/Dockerfile
  enterprise/cmd/precise-code-intel-indexer-vm/build.sh
  enterprise/cmd/precise-code-intel-indexer-vm/env.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/heartbeat/heartbeater.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/heartbeat/heartbeater_test.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/index_manager/manager.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/command.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/commander.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/gen.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler_test.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/indexer.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/metrics.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/mock_commander_test.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/store_shim.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/server/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/server/server.go
  enterprise/cmd/precise-code-intel-indexer-vm/main.go
  enterprise/cmd/precise-code-intel-worker/internal/commit-updater/updater.go
  enterprise/cmd/precise-code-intel-worker/internal/metrics/metrics.go
  enterprise/dev/Procfile
  enterprise/dev/ci/ci/pipeline-steps.go
  enterprise/dev/start.sh
  internal/workerutil/dbworker/resetter.go
  internal/workerutil/worker.go
Labels: RFC-199, team/code-intelligence

#12887 campaigns: prevent real repo-updater calls in test
  enterprise/internal/campaigns/service_test.go
Labels: bug, testing

#12897 Reduce logspam and don't try to talk to external services from tests
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/testing/changeset_source.go
  enterprise/internal/campaigns/webhooks_gitlab_test.go
Labels: campaigns, debt

#12908 repo-updater: No private repos on sourcegraph.com
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
Labels: team/cloud

#12919 docker-images: Add ignite-ubuntu
  docker-images/ignite-ubuntu/Dockerfile
  docker-images/ignite-ubuntu/README.md
  docker-images/ignite-ubuntu/build.sh
  enterprise/dev/ci/ci/pipeline-steps.go
Labels: RFC-199, team/code-intelligence

#12896 reduce a few common kinds of linter warnings
  enterprise/internal/campaigns/counts.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/campaigns_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
Labels: campaigns

#12379 codeintel: Apply rate limit to gitserver requests from indexability scheduler
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater_test.go
Labels: team/code-intelligence

#12841 Add integration tests for orgs
  web/src/integration/org.test.ts
  web/src/org/new/NewOrganizationPage.tsx
Labels: team/web, testing

#12993 Retain diffStat of changeset specs when turned into changesets
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
Labels: bug, campaigns

#13011 web: add a stray 'is' to a message
  web/src/site-admin/SiteAdminCreateUserPage.tsx
Labels: site-admin

#13001 campaigns: migrate pre-spec campaigns to have specs
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/spec_migration.go
  enterprise/internal/campaigns/spec_migration_campaigns.go
  enterprise/internal/campaigns/spec_migration_changesets.go
  enterprise/internal/campaigns/store_campaign_specs.go
  enterprise/internal/campaigns/store_campaign_specs_test.go
  enterprise/internal/campaigns/store_campaigns.go
  enterprise/internal/campaigns/store_campaigns_test.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/webhooks_test.go
  internal/campaigns/types.go
  internal/db/schema.md
  migrations/1528395701_burn_the_campaigns_boats.down.sql
  migrations/1528395701_burn_the_campaigns_boats.up.sql
  migrations/bindata.go
Labels: team/campaigns

#12878 codeintel: Add fast-path edge unmarshalling
  enterprise/cmd/precise-code-intel-worker/internal/correlation/lsif/unmarshal.go
Labels: debt, team/code-intelligence

#13020 campaigns: migrate to allow changeset spec user IDs to be NULL
  enterprise/internal/campaigns/store_changeset_specs.go
  internal/db/schema.md
  migrations/1528395702_changeset_user_fk.down.sql
  migrations/1528395702_changeset_user_fk.up.sql
  migrations/bindata.go
Labels: bug, campaigns, team/campaigns

#13030 campaigns: update a migration with an UPDATE
  migrations/1528395701_burn_the_campaigns_boats.up.sql
  migrations/bindata.go
Labels: campaigns

#13041 Improving code intelligence docs and LSIF indexer installation instructions
  doc/_resources/templates/document.html
  doc/user/code_intelligence/basic_code_intelligence.md
  doc/user/code_intelligence/features.md
  doc/user/code_intelligence/index.md
  doc/user/code_intelligence/lsif_quickstart.md
  doc/user/code_intelligence/precise_code_intelligence.md
  web/src/enterprise/codeintel/CodeIntelIndexesPage.tsx
  web/src/enterprise/codeintel/CodeIntelUploadsPage.tsx
Labels: 3.19-release-announcement, docs, team/code-intelligence

#13008 changelog: added Keegan's missing entries for 3.19
  CHANGELOG.md
Labels: 3.19-release-announcement

#12776 search: document -content and NOT
  CHANGELOG.md
  doc/user/search/language.md
  doc/user/search/queries.md
Labels: 3.19-release-announcement

#13078 Updated adding lsif to workflows docs
  doc/user/code_intelligence/adding_lsif_to_workflows.md
Labels: docs, team/code-intelligence

#13089 Fix deleting a campaign that used to be the owner of a changeset
  internal/db/schema.md
  migrations/1528395704_remove_owner_on_campaign_delete.down.sql
  migrations/1528395704_remove_owner_on_campaign_delete.up.sql
  migrations/bindata.go
Labels: bug, campaigns, team/campaigns

#13102 Fix reconciler failing for duplicate headref changesets
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
Labels: bug, campaigns

#13108 Edit of language guide page to improve phrasing
  doc/user/code_intelligence/languages/index.md
Labels: docs, team/code-intelligence

#13109 Implement filters like they are displayed in the UI
  web/src/enterprise/campaigns/close/CampaignCloseChangesetsList.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetFilterRow.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/utils.ts
Labels: campaigns

#13119 codeintel: Install docker inside precise-code-intel-indexer-vm docker image
  enterprise/cmd/precise-code-intel-indexer-vm/Dockerfile
Labels: RFC-199, team/code-intelligence

#13111 campaigns: patch changeset IDs when migrating
  enterprise/internal/campaigns/spec_migration.go
  enterprise/internal/campaigns/spec_migration_changesets.go
Labels: campaigns, team/campaigns

#13071 Complete org integration tests
  shared/src/testing/integration/graphQlResults.ts
  web/src/integration/org.test.ts
  web/src/org/area/OrgMembersPage.tsx
  web/src/regression/org.test.ts
Labels: team/web, testing

#13133 search: support new rev: filter
  internal/search/query/fields.go
  internal/search/query/parser.go
  internal/search/query/searchquery.go
  internal/search/query/transformer.go
  internal/search/query/transformer_test.go
Labels: team/search

#12972 Search onboarding tour
  package.json
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  shared/src/search/parser/filters.ts
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/global-styles/web-content.scss
  web/src/integration/search-onboarding.test.ts
  web/src/nav/GlobalNavbar.test.tsx
  web/src/nav/GlobalNavbar.tsx
  web/src/repogroups/RepogroupPage.story.tsx
  web/src/repogroups/RepogroupPage.tsx
  web/src/search/index.tsx
  web/src/search/input/MonacoQueryInput.tsx
  web/src/search/input/SearchHelpDropdownButton.tsx
  web/src/search/input/SearchNavbarItem.tsx
  web/src/search/input/SearchOnboardingTour.scss
  web/src/search/input/SearchOnboardingTour.ts
  web/src/search/input/SearchPage.scss
  web/src/search/input/SearchPage.tsx
  web/src/search/input/SearchPageInput.tsx
  web/src/user/area/UserArea.tsx
  web/src/user/settings/UserSettingsArea.tsx
  web/src/user/settings/UserSettingsSidebar.tsx
  web/src/util/settings.ts
  yarn.lock
Labels: RFC-159.2

#13157 codeintel: Install and use the LSIF upload route on the codeintel internal API
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/internal_proxy_handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler_test.go
Labels: RFC-199, team/code-intelligence

#13142 Add integration test suite for campaigns
  .github/CODEOWNERS
  enterprise/dev/ci/ci/pipeline-steps.go
  web/src/components/diff/FileDiffNode.tsx
  web/src/enterprise/campaigns/apply/CampaignApplyPage.tsx
  web/src/enterprise/campaigns/apply/CreateUpdateCampaignAlert.tsx
  web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.tsx
  web/src/enterprise/campaigns/close/CampaignCloseAlert.tsx
  web/src/enterprise/campaigns/close/CampaignClosePage.tsx
  web/src/enterprise/campaigns/close/ExternalChangesetCloseNode.tsx
  web/src/enterprise/campaigns/detail/BurndownChart.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignDetailsActionSection.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ExternalChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/list/CampaignListPage.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignListPage.test.tsx.snap
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
  web/src/integration/campaigns.test.ts
Labels: campaigns

#13188 Update left side navigation
  doc/_resources/templates/document.html
Labels: team/code-intelligence

#13097 Fix secondary outline btn and add button group story
  web/src/global-styles/buttons.scss
  web/src/global-styles/global-styles.story.tsx
Labels: design, team/web

#13190 doc: update src-cli campaign examples
  doc/user/campaigns/hello_world_campaign.md
  doc/user/campaigns/index.md
Labels: campaigns, docs, team/campaigns

#11621 Enable Campaigns by default (with write-access only for admins)
  CHANGELOG.md
  cmd/frontend/graphqlbackend/user.go
  cmd/frontend/internal/app/jscontext/jscontext.go
  dev/config.json
  doc/user/campaigns/managing_access.md
  enterprise/internal/campaigns/resolvers/campaign.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  internal/campaigns/config.go
  internal/conf/computed.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.story.tsx
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsDotComPage.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsMarketing.test.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsMarketing.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsSiteAdminMarketingPage.test.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsSiteAdminMarketingPage.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsUserMarketingPage.test.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsUserMarketingPage.tsx
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsMarketing.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsSiteAdminMarketingPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsUserMarketingPage.test.tsx.snap
  web/src/enterprise/main.tsx
  web/src/enterprise/organizations/navitems.ts
  web/src/enterprise/organizations/routes.tsx
  web/src/enterprise/user/navitems.ts
  web/src/enterprise/user/productSubscriptions/UserSubscriptionsNewProductSubscriptionPage.tsx
  web/src/enterprise/user/productSubscriptions/UserSubscriptionsProductSubscriptionsPage.tsx
  web/src/enterprise/user/routes.tsx
  web/src/enterprise/user/settings/UserSettingsExternalAccountsPage.tsx
  web/src/enterprise/user/settings/auth/UserSettingsPermissionsPage.tsx
  web/src/integration/campaigns.test.ts
  web/src/integration/jscontext.ts
  web/src/jscontext.ts
  web/src/site-admin/SiteAdminConfigurationPage.tsx
  web/src/user/area/UserArea.tsx
  web/src/user/settings/UserSettingsArea.tsx
  web/src/user/settings/auth/UserSettingsPasswordPage.tsx
  web/src/user/settings/emails/UserSettingsEmailsPage.tsx
Labels: campaigns, planned/3.18, planned/3.19, team/campaigns

#13271 search: show alert for invalid rev syntax
  CHANGELOG.md
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_alert.go
  cmd/frontend/graphqlbackend/search_results.go
  internal/vcs/git/revisions.go
Labels: team/search

#13276 search: add link to revision syntax doc page in alert
  cmd/frontend/graphqlbackend/search_alert.go
Labels: team/search

#13252 Improve render performance of status messages nav item
  web/src/nav/NavLinks.tsx
  web/src/nav/StatusMessagesNavItem.test.tsx
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: webapp

#13261 Don't serialize icon svg content into snapshots
  shared/src/components/activation/__snapshots__/ActivationDropdown.test.tsx.snap
  shared/src/util/enzymeSnapshotModifiers.ts
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLastSynced.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/HiddenExternalChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  web/src/enterprise/campaigns/global/nav/__snapshots__/CampaignsNavItem.test.tsx.snap
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
  web/src/nav/__snapshots__/VersionContextDropdown.test.tsx.snap
Labels: testing

#13060 Add indicators for change for diffs
  web/src/components/diff/DiffHunk.tsx
  web/src/components/diff/FileDiffHunks.scss
  web/src/components/diff/__snapshots__/DiffHunk.test.tsx.snap
Labels: accessibility

#13243 doc: add src campaigns preview to campaign docs
  doc/user/campaigns/hello_world_campaign.md
  doc/user/campaigns/index.md
Labels: docs

#13295 campaigns: update sample command to apply campaign
  web/src/enterprise/campaigns/create/CreateCampaignPage.tsx
Labels: campaigns, team/campaigns

#13314 search: handle negated revisions during rev validation
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_test.go
Labels: team/search

#13333 Update code intel quick start
  doc/user/code_intelligence/lsif_quickstart.md
Labels: docs, team/code-intelligence

#13362 Upgrade TypeScript to v4
  package.json
  shared/src/api/client/context/expr/lexer.ts
  yarn.lock
Labels: ops & tools & dev

#13334 Fix switching back to default filter not reflected in URL
  web/src/components/FilteredConnection.tsx
Labels: bug, webapp

#13395 schema: remove deprecated authz fields
  cmd/frontend/internal/app/jscontext/jscontext.go
  doc/admin/repo/permissions.md
  enterprise/internal/authz/authz_test.go
  internal/conf/computed.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/github.schema.json
  schema/github_stringdata.go
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#13399 ci: add backend integration tests to `main` branch
  dev/ci/backend-integration.sh
  enterprise/dev/ci/ci/pipeline-steps.go
  enterprise/dev/ci/ci/pipeline.go
  internal/gqltestutil/access_token.go
  internal/gqltestutil/client.go
  internal/gqltestutil/external_service.go
  internal/gqltestutil/git_blob.go
  internal/gqltestutil/organization.go
  internal/gqltestutil/repository.go
  internal/gqltestutil/search.go
  internal/gqltestutil/settings.go
  internal/gqltestutil/user.go
Labels: api

#13095 web: add pages to CRUD user-added external services
  cmd/frontend/graphqlbackend/external_service.go
  cmd/frontend/graphqlbackend/external_services.go
  cmd/frontend/graphqlbackend/external_services_test.go
  cmd/frontend/internal/app/jscontext/jscontext.go
  internal/db/external_services.go
  web/src/SourcegraphWebApp.scss
  web/src/auth.ts
  web/src/components/externalServices/AddExternalServicePage.tsx
  web/src/components/externalServices/AddExternalServicesPage.scss
  web/src/components/externalServices/AddExternalServicesPage.story.tsx
  web/src/components/externalServices/AddExternalServicesPage.tsx
  web/src/components/externalServices/ExternalServiceCard.story.tsx
  web/src/components/externalServices/ExternalServiceCard.tsx
  web/src/components/externalServices/ExternalServiceForm.test.tsx
  web/src/components/externalServices/ExternalServiceForm.tsx
  web/src/components/externalServices/ExternalServiceNode.tsx
  web/src/components/externalServices/ExternalServicePage.story.tsx
  web/src/components/externalServices/ExternalServicePage.tsx
  web/src/components/externalServices/ExternalServiceWebhook.story.tsx
  web/src/components/externalServices/ExternalServiceWebhook.tsx
  web/src/components/externalServices/ExternalServicesPage.story.tsx
  web/src/components/externalServices/ExternalServicesPage.tsx
  web/src/components/externalServices/__snapshots__/ExternalServiceForm.test.tsx.snap
  web/src/components/externalServices/backend.ts
  web/src/components/externalServices/externalServices.tsx
  web/src/integration/campaigns.test.ts
  web/src/integration/jscontext.ts
  web/src/integration/profile.test.ts
  web/src/integration/settings.test.ts
  web/src/jscontext.ts
  web/src/regression/util/api.ts
  web/src/repo/settings/RepoSettingsOptionsPage.tsx
  web/src/site-admin/SiteAdmin.scss
  web/src/site-admin/SiteAdminAddExternalServicePage.tsx
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
  web/src/site-admin/SiteAdminExternalServicePage.tsx
  web/src/site-admin/SiteAdminExternalServicesPage.tsx
  web/src/site-admin/routes.tsx
  web/src/user/area/UserArea.tsx
  web/src/user/settings/UserSettingsSidebar.tsx
  web/src/user/settings/routes.tsx
  web/src/user/settings/sidebaritems.ts
Labels: webapp

#13426 search: create experimental feature flag for enterprise home panels
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/search/index.tsx
  web/src/search/input/SearchPage.tsx
  web/src/util/settings.ts
Labels: RFC-224

#13213 Add story for `web-content` to Storybook and match Figma spec
  web/src/global-styles/global-styles.story.tsx
  web/src/global-styles/type.scss
  web/src/global-styles/web-content.scss
  web/src/search/input/SearchNavbarItem.tsx
  web/src/search/input/SearchOnboardingTour.ts
Labels: webapp

#13472 schema: fix incorrectly nested prop in settings
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
Labels: team/campaigns

#13446 Open "Help" and "About" in new tabs
  .eslintrc.js
  web/src/components/WebStory.tsx
  web/src/components/diff/FileDiffHunks.story.tsx
  web/src/components/diff/FileDiffNode.story.tsx
  web/src/components/externalServices/AddExternalServicesPage.story.tsx
  web/src/components/externalServices/ExternalServiceCard.story.tsx
  web/src/components/externalServices/ExternalServicePage.story.tsx
  web/src/components/externalServices/ExternalServiceWebhook.story.tsx
  web/src/components/externalServices/ExternalServicesPage.story.tsx
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  web/src/global-styles/global-styles.story.tsx
  web/src/nav/NavLinks.test.tsx
  web/src/nav/NavLinks.tsx
  web/src/nav/UserNavItem.story.tsx
  web/src/nav/UserNavItem.test.tsx
  web/src/nav/UserNavItem.tsx
  web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
  web/src/search/input/PrivateCodeCta.tsx
Labels: team/web, ux
