Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-06, with the labels that each got.

#11152 Nest storybooks
  browser/src/browser-extension/options-page/OptionsHeader.story.tsx
  browser/src/browser-extension/options-page/OptionsMenu.story.tsx
  browser/src/browser-extension/options-page/ServerUrlForm.story.tsx
  shared/src/actions/ActionItem.story.tsx
  shared/src/components/Toggle.story.tsx
  shared/src/components/activation/ActivationDropdown.story.tsx
  shared/src/components/completion/CompletionWidget.story.tsx
  shared/src/hover/HoverOverlay.story.tsx
  shared/src/notifications/NotificationItem.story.tsx
  web/src/components/tooltip/Tooltip.story.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.story.tsx
  web/src/nav/UserNavItem.story.tsx
  web/src/nav/VersionContextDropdown.story.tsx
  web/src/views/ChartViewContent.story.tsx
Labels: ops & tools & dev, team/web

#11158 Add global styles storybook
  web/src/SourcegraphWebApp.scss
  web/src/global-styles/global-styles.story.tsx
Labels: design, team/web

#11117 Fix wrong file revision chosen in file diff
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/repository_comparison_test.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  internal/vcs/git/merge_base.go
  internal/vcs/git/mocks.go
Labels: bug, campaigns

#11033 migrating commands according to RFC 155
  shared/src/api/client/api/api.ts
  shared/src/api/client/api/commands.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/mainthread-api.settings.test.ts
  shared/src/api/client/mainthread-api.ts
  shared/src/api/client/mainthreadApi.ts
  shared/src/api/contract.ts
  shared/src/api/extension/api/commands.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/extension/flatExtensionApi.ts
Labels: extensions, team/web

#11071 Hide information in campaigns based on repository permissions
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/changeset_events.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/patch_sets.go
  enterprise/internal/campaigns/resolvers/patch_sets_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  web/src/enterprise.scss
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLastSynced.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLastSynced.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetStateIcon.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.scss
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/HiddenExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLastSynced.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ExternalChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/patches/CampaignPatches.tsx
  web/src/enterprise/campaigns/detail/patches/HiddenPatchNode.tsx
  web/src/enterprise/campaigns/detail/patches/PatchInterfaceNode.tsx
  web/src/enterprise/campaigns/detail/patches/PatchNode.tsx
  web/src/enterprise/campaigns/detail/patches/PatchSetPatches.tsx
  web/src/enterprise/campaigns/detail/patches/__snapshots__/PatchNode.test.tsx.snap
Labels: RFC-157, campaigns

#11258 Add viewerCanAdminister flag to campaigns connection
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: RFC-157, campaigns

#11266 web: Reload after toggling the Campaigns flag
  web/src/site-admin/SiteAdminConfigurationPage.tsx
Labels: campaigns, site-admin

#10859 Use enzyme and enzyme to JSON for snapshot tests
  jest.config.base.js
  package.json
  shared/dev/enzymeSerializer.js
  shared/dev/enzymeSetup.js
  shared/jest.config.js
  shared/src/components/activation/ActivationDropdown.test.tsx
  shared/src/components/activation/__snapshots__/ActivationDropdown.test.tsx.snap
  shared/src/util/enzymeSnapshotModifiers.ts
  web/src/nav/StatusMessagesNavItem.test.tsx
  web/src/nav/UserNavItem.test.tsx
  web/src/nav/VersionContextDropdown.test.tsx
  web/src/nav/VersionContextDropdown.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
  web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
  web/src/nav/__snapshots__/VersionContextDropdown.test.tsx.snap
  yarn.lock
Labels: debt, team/web

#11263 Enforce viewerCanAdminister in client
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLastSynced.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLastSynced.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/HiddenExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLastSynced.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ExternalChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/global/list/backend.ts
Labels: campaigns

#11286 Finish removal of draft campaigns
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/backend.ts
Labels: RFC-157, campaigns

#11292 Fix HasUnpublishedPatches for errored changeset jobs
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: bug, campaigns

#11293 Implement publish all button
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  web/src/enterprise/campaigns/detail/CampaignDetails.scss
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.scss
  web/src/enterprise/campaigns/detail/CampaignStatus.story.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
Labels: campaigns

#11313 Fix merge conflict
  enterprise/internal/campaigns/service.go
Labels: campaigns

#11311 Port OnlyWithoutChangesetJob to CountPatches
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: campaigns, debt

#11314 Fix nightly browser extension e2e tests
  enterprise/dev/ci/ci/pipeline-steps.go
Labels: browser-extension, e2e-tests

#11306 Check repo permissions in campaigns mutations (except update)
  cmd/frontend/db/err_test.go
  cmd/frontend/db/repos.go
  cmd/frontend/db/repos_db_test.go
  cmd/frontend/db/repos_mock.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/testing.go
  enterprise/internal/campaigns/workers_test.go
Labels: RFC-157, campaigns

#11348 Finish repository permissions frontend work
  web/src/enterprise/campaigns/detail/CampaignActionsBar.test.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.test.tsx
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CloseDeleteCampaignPrompt.test.tsx.snap
Labels: RFC-157, campaigns

#11373 Respect repo permissions in campaign update
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
Labels: campaigns

#11347 Faster default branch resolve
  cmd/frontend/graphqlbackend/codemod.go
  cmd/frontend/graphqlbackend/git_blob.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_ref.go
  cmd/frontend/graphqlbackend/git_tree.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/git_tree_entry_test.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/search_commits_test.go
  cmd/frontend/graphqlbackend/search_pagination_test.go
  cmd/frontend/graphqlbackend/search_repositories.go
  cmd/frontend/graphqlbackend/search_repositories_test.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_stats_languages_test.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/search_structural.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_suggestions_test.go
  cmd/frontend/graphqlbackend/search_symbols.go
  cmd/frontend/graphqlbackend/search_symbols_test.go
  cmd/frontend/graphqlbackend/symbols.go
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/zoekt.go
  cmd/gitserver/server/server.go
  cmd/gitserver/server/server_test.go
Labels: perf

#11503 Link to insights category
  web/src/insights/InsightsPage.tsx
Labels: code insights

#11320 codeintel: Upload and index UI improvements
  web/src/components/FilteredConnection.tsx
  web/src/enterprise.scss
  web/src/enterprise/codeintel/CodeIntel.scss
  web/src/enterprise/codeintel/CodeIntelIndexPage.scss
  web/src/enterprise/codeintel/CodeIntelIndexPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelIndexPage.tsx
  web/src/enterprise/codeintel/CodeIntelIndexesPage.scss
  web/src/enterprise/codeintel/CodeIntelIndexesPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelIndexesPage.tsx
  web/src/enterprise/codeintel/CodeIntelUploadPage.scss
  web/src/enterprise/codeintel/CodeIntelUploadPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelUploadPage.tsx
  web/src/enterprise/codeintel/CodeIntelUploadsPage.scss
  web/src/enterprise/codeintel/CodeIntelUploadsPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelUploadsPage.tsx
  web/src/enterprise/codeintel/backend.tsx
  web/src/enterprise/repo/settings/RepoSettingsArea.scss
  web/src/enterprise/repo/settings/sidebaritems.ts
  web/src/enterprise/site-admin/SiteAdminLsifUploadPage.tsx
  web/src/enterprise/site-admin/sidebaritems.ts
Labels: team/code-intelligence, webapp

#10779 Refactor FileInfo in browser extension
  browser/src/shared/code-hosts/bitbucket/fileInfo.ts
  browser/src/shared/code-hosts/bitbucket/scrape.test.ts
  browser/src/shared/code-hosts/bitbucket/scrape.ts
  browser/src/shared/code-hosts/github/codeHost.ts
  browser/src/shared/code-hosts/github/fileInfo.ts
  browser/src/shared/code-hosts/github/util.tsx
  browser/src/shared/code-hosts/gitlab/api.ts
  browser/src/shared/code-hosts/gitlab/codeHost.ts
  browser/src/shared/code-hosts/gitlab/fileInfo.ts
  browser/src/shared/code-hosts/gitlab/scrape.ts
  browser/src/shared/code-hosts/phabricator/fileInfo.test.ts
  browser/src/shared/code-hosts/phabricator/fileInfo.ts
  browser/src/shared/code-hosts/shared/codeHost.test.tsx
  browser/src/shared/code-hosts/shared/codeHost.tsx
  browser/src/shared/code-hosts/shared/codeViews.test.ts
  browser/src/shared/code-hosts/shared/codeViews.ts
  browser/src/shared/code-hosts/shared/util/fileInfo.ts
  browser/src/shared/components/CodeViewToolbar.tsx
  browser/src/shared/repo/backend.tsx
Labels: browser-extension, team/web

#11277 moved query tranformer registry to the worker
  shared/src/api/client/api/api.ts
  shared/src/api/client/api/search.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/mainthread-api.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/queryTransformer.test.ts
  shared/src/api/client/services/queryTransformer.ts
  shared/src/api/contract.ts
  shared/src/api/extension/api/common.ts
  shared/src/api/extension/api/search.ts
  shared/src/api/extension/extensionHost.search.test.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/extension/flatExtensionApi.ts
  shared/src/api/integration-test/search.test.ts
  web/src/Layout.tsx
  web/src/search/backend.tsx
  web/src/search/results/SearchResults.tsx
Labels: team/web

#11520 git: refactor diff out of the GraphQL resolver
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/search_commits_test.go
  internal/vcs/git/diff.go
  internal/vcs/git/diff_search.go
  internal/vcs/git/diff_search_test.go
  internal/vcs/git/diff_test.go
  internal/vcs/git/object.go
Labels: campaigns

#11558 Reduce amount of commit resolvers created for file results
  cmd/frontend/graphqlbackend/zoekt.go
Labels: perf

#11620 Only create GitCommitResolver when doing symbol search
  cmd/frontend/graphqlbackend/zoekt.go
Labels: perf

#11279 campaigns: Cache external changeset diffstats
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/syncer_test.go
  enterprise/internal/campaigns/testing/changeset_source.go
  enterprise/internal/campaigns/testing/mock_github.go
  enterprise/internal/campaigns/webhooks.go
  enterprise/internal/campaigns/webhooks_test.go
  enterprise/internal/campaigns/workers.go
  enterprise/internal/campaigns/workers_test.go
  internal/campaigns/types.go
  internal/campaigns/types_test.go
  migrations/1528395685_add_diffstat_fields_to_changesets.down.sql
  migrations/1528395685_add_diffstat_fields_to_changesets.up.sql
  migrations/bindata.go
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ExternalChangesetNode.test.tsx.snap
Labels: campaigns

#11711 Add CampaignSpecs & ChangesetSpecs tables, type definitions and campaigns.Store support
  cmd/frontend/db/schema.md
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_campaign_specs.go
  enterprise/internal/campaigns/store_campaign_specs_test.go
  enterprise/internal/campaigns/store_changeset_specs.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  go.mod
  go.sum
  internal/campaigns/types.go
  migrations/1528395685_add_campaign_specs_and_changeset_specs.down.sql
  migrations/1528395685_add_campaign_specs_and_changeset_specs.up.sql
  migrations/bindata.go
Labels: RFC-157, campaigns, team/campaigns

#11716 Fix repo-updater not finding repositories for sync
  enterprise/internal/campaigns/state.go
Labels: bug, campaigns

#11742 Remove traces of distinction between manual and automated campaign
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
Labels: campaigns

#11733 Add GraphQL resolvers for CampaignSpec/ChangesetSpec
  cmd/frontend/db/orgs.go
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaign_spec.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  internal/campaigns/types.go
Labels: campaigns, team/campaigns

#11821 doc: fix quickstart typo
  doc/dev/local_development.md
Labels: docs

#11826 dev: write to the correct Prometheus log
  dev/prometheus.sh
Labels: bug
