Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-10, with the labels that each got.

#14334 repo-updater: Make the number of concurrent syncers configurable
  cmd/repo-updater/repos/conf.go
  cmd/repo-updater/repos/syncer.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#14141 codeintel: Validate input commit
  enterprise/internal/codeintel/httpapi/upload_handler.go
  enterprise/internal/codeintel/httpapi/upload_handler_test.go
Labels: team/code-intelligence

#14265 tracking-issue: Turn the tracking issue inside out
  dev/check/no-alpine-guard.sh
  internal/cmd/tracking-issue/Dockerfile
  internal/cmd/tracking-issue/api.go
  internal/cmd/tracking-issue/context.go
  internal/cmd/tracking-issue/dedup.go
  internal/cmd/tracking-issue/emoji.go
  internal/cmd/tracking-issue/issue.go
  internal/cmd/tracking-issue/issue_loader.go
  internal/cmd/tracking-issue/labels.go
  internal/cmd/tracking-issue/load.go
  internal/cmd/tracking-issue/main.go
  internal/cmd/tracking-issue/main_test.go
  internal/cmd/tracking-issue/matcher.go
  internal/cmd/tracking-issue/pull_request.go
  internal/cmd/tracking-issue/render.go
  internal/cmd/tracking-issue/resolve.go
  internal/cmd/tracking-issue/search.go
  internal/cmd/tracking-issue/strings.go
  internal/cmd/tracking-issue/testdata/fixtures.json
  internal/cmd/tracking-issue/testdata/issue-13675.md
  internal/cmd/tracking-issue/testdata/issue-13987.md
  internal/cmd/tracking-issue/testdata/issue-13988.md
  internal/cmd/tracking-issue/testdata/issue-14166.md
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/testdata/last-update.txt
  internal/cmd/tracking-issue/time.go
  internal/cmd/tracking-issue/tracking_issue.go
  internal/cmd/tracking-issue/update.go
  internal/cmd/tracking-issue/util.go
  internal/cmd/tracking-issue/workload.go
  internal/cmd/tracking-issue/workloads.go
Labels: team/code-intelligence, tracking-issue

#14344 CNCF: Explicitly list CNCF repositories for auto-indexing
  enterprise/cmd/precise-code-intel-indexer/env.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater_test.go
  enterprise/cmd/precise-code-intel-indexer/main.go
Labels: team/code-intelligence

#14121 codeintel: Make docker/firecracker abstraction in indexer
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/formatter.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
Labels: RFC-201, team/code-intelligence

#14349 doc: use the body font for theme buttons
  doc/_resources/assets/docsite.css
Labels: docs-ux

#13476 campaigns: allow partial publishing of changesets
  CHANGELOG.md
  doc/user/campaigns/campaign_spec_yaml_reference.md
  doc/user/campaigns/hello_world_campaign.md
  doc/user/campaigns/index.md
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/store_campaign_specs_test.go
  go.mod
  go.sum
  internal/campaigns/campaign_spec.go
  schema/campaign_spec.schema.json
  schema/campaign_spec_stringdata.go
  schema/schema.go
Labels: planned/3.20, team/campaigns

#13904 codeintel: RFC 235: Add code intel postgres container
  cmd/server/shared/postgres.go
  dev/start.sh
  doc/admin/external_database.md
  doc/admin/updates/docker_compose.md
  doc/admin/updates/kubernetes.md
Labels: RFC-235, team/code-intelligence

#14355 codeintel: Ensure CNCF values override real values
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater.go
Labels: team/code-intelligence

#14356 codeintel: Add index config types
  enterprise/internal/codeintel/index/json.go
  enterprise/internal/codeintel/index/json_test.go
  enterprise/internal/codeintel/index/types.go
  enterprise/internal/codeintel/index/yaml.go
  enterprise/internal/codeintel/index/yaml_test.go
Labels: RFC-201, team/code-intelligence

#14354 doc: fix published array ordering
  doc/user/campaigns/campaign_spec_yaml_reference.md
Labels: docs, team/campaigns

#14358 codeintel: Update lsif_index records to hold their own configuration
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler.go
  enterprise/internal/codeintel/store/docker_step.go
  enterprise/internal/codeintel/store/helpers_test.go
  enterprise/internal/codeintel/store/indexes.go
  enterprise/internal/codeintel/store/indexes_test.go
  internal/db/schema.md
  migrations/frontend/1528395725_indexer_configuration_fields.down.sql
  migrations/frontend/1528395725_indexer_configuration_fields.up.sql
  migrations/frontend/bindata.go
Labels: team/code-intelligence

#14360 migration: Update default indexer/indexer_args in lsif_indexes table
  migrations/frontend/1528395726_lsif_index_defaults.down.sql
  migrations/frontend/1528395726_lsif_index_defaults.up.sql
  migrations/frontend/bindata.go
Labels: RFC-201, team/code-intelligence

#14372 repo-updater: Fix metrics
  cmd/repo-updater/repos/metrics.go
Labels: team/cloud

#13903 codeintel: RFC 235: Add migration infrastructure to codeintel database
  dev/db/add_migration.sh
  dev/db/migrate.sh
  dev/db/squash_migrations.sh
  internal/db/dbconn/dbconn.go
  internal/db/dbstore_db_test.go
  internal/db/dbtest/dbtest.go
  internal/db/dbtesting/dbtesting.go
  internal/db/dbutil/dbutil.go
  internal/db/schema.md
  internal/db/schemadoc/main.go
  migrations/README.md
  migrations/codeintel/1000000000_init.down.sql
  migrations/codeintel/1000000000_init.up.sql
  migrations/codeintel/1000000001_init.down.sql
  migrations/codeintel/1000000001_init.up.sql
  migrations/codeintel/bindata.go
  migrations/codeintel/gen.go
  migrations/codeintel/migrations_test.go
Labels: RFC-235, team/code-intelligence

#14375 repo-updater: Fix deleted_at check
  cmd/repo-updater/repos/metrics.go
Labels: team/cloud

#14378 codeintel: Update default indexer args in index scheduler
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler.go
Labels: RFC-201, team/code-intelligence

#14359 codeintel: Update indexer execution to reflect configured index jobs
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/formatter.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler_test.go
Labels: RFC-201, team/code-intelligence

#14380 migration: Fix bad default in indexer records
  migrations/frontend/1528395727_frontend.down.sql
  migrations/frontend/1528395727_frontend.up.sql
  migrations/frontend/bindata.go
Labels: RFC-201, team/code-intelligence

#14386 codeintel: Fix bad default lsif-go arguments
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler.go
Labels: RFC-201, team/code-intelligence

#14373 vcs/git: Handle tags without CreatorDate in git.ListTags
  CHANGELOG.md
  internal/vcs/git/refs.go
  internal/vcs/git/refs_test.go
Labels: bug, team/cloud

#13864 codeintel: RFC 235: Create connection to codeintel database
  cmd/frontend/internal/cli/config.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/server/shared/shared.go
  dev/check/go-dbconn-import.sh
  dev/reconciler-test-script/main.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
  enterprise/cmd/precise-code-intel-indexer/main.go
  enterprise/cmd/precise-code-intel-worker/main.go
  internal/conf/conftypes/conftypes.go
  internal/db/dbutil/dbutil.go
  internal/db/dbutil/dbutil_test.go
Labels: RFC-235, team/code-intelligence

#14388 Change tooltip color
  web/src/SourcegraphWebApp.scss
  web/src/components/tooltip/Tooltip.story.tsx
Labels: design, webapp

#14195 incorporate graphql-go patch to fix union/interface inline fragments
  go.mod
  go.sum
Labels: team/cloud

#14398 tracking-issue: Fix outstanding graphql errors
  internal/cmd/tracking-issue/api.go
  internal/cmd/tracking-issue/issue_loader.go
  internal/cmd/tracking-issue/main.go
  internal/cmd/tracking-issue/testdata/fixtures.json
  internal/cmd/tracking-issue/testdata/issue-13675.md
  internal/cmd/tracking-issue/testdata/issue-13987.md
  internal/cmd/tracking-issue/testdata/issue-13988.md
  internal/cmd/tracking-issue/testdata/issue-14166.md
  internal/cmd/tracking-issue/testdata/last-update.txt
  internal/cmd/tracking-issue/update.go
Labels: team/code-intelligence, tracking-issue

#14411 codeintel: Remove temporary files from firecracker VMs on startup
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/formatter.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler_test.go
Labels: RFC-201, team/code-intelligence

#14412 codeintel: Set size on index VMs
  enterprise/cmd/precise-code-intel-indexer-vm/env.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/formatter.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler_test.go
  enterprise/cmd/precise-code-intel-indexer-vm/main.go
Labels: RFC-201, team/code-intelligence

#14410 tracking-issue: Do not display tracking issue within tracking issue
  internal/cmd/tracking-issue/render.go
  internal/cmd/tracking-issue/testdata/issue-13675.md
  internal/cmd/tracking-issue/testdata/issue-13987.md
  internal/cmd/tracking-issue/testdata/issue-13988.md
  internal/cmd/tracking-issue/testdata/issue-14166.md
  internal/cmd/tracking-issue/testdata/last-update.txt
Labels: team/code-intelligence, tracking-issue

#14415 codeintel: Publish index configuration from database
  dev/db/add_migration.sh
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler_test.go
  enterprise/internal/codeintel/store/index_configuration.go
  enterprise/internal/codeintel/store/index_configuration_test.go
  enterprise/internal/codeintel/store/indexable_repos.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
  internal/db/schema.md
  migrations/frontend/1528395728_lsif_index_configuration.down.sql
  migrations/frontend/1528395728_lsif_index_configuration.up.sql
  migrations/frontend/bindata.go
Labels: RFC-201, team/code-intelligence

#14193 VersionContext does not implement GraphQL Node
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/version_context.go
Labels: team/search

#14194 add Campaigns nav item to user/org header in central place
  web/src/enterprise/namespaces/navitems.ts
  web/src/enterprise/organizations/navitems.ts
  web/src/enterprise/user/navitems.ts
  web/src/namespaces/NamespaceArea.tsx
  web/src/user/area/navitems.ts
Labels: team/campaigns

#14376 repo-updater: Enforce user added repo limits
  cmd/repo-updater/repos/conf.go
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/metrics.go
  cmd/repo-updater/repos/observability.go
  cmd/repo-updater/repos/phabricator.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/shared/main.go
  enterprise/cmd/repo-updater/authz/perms_syncer_test.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#14444 tracking-issue: Update back estimate for nested tracking issues
  internal/cmd/tracking-issue/render.go
  internal/cmd/tracking-issue/testdata/issue-13675.md
  internal/cmd/tracking-issue/testdata/issue-13987.md
  internal/cmd/tracking-issue/testdata/issue-13988.md
  internal/cmd/tracking-issue/testdata/issue-14166.md
  internal/cmd/tracking-issue/testdata/last-update.txt
Labels: team/code-intelligence, tracking-issue

#14416 codeintel: Publish index configuration from config file
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler_test.go
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/mocks/mock_client.go
  enterprise/internal/codeintel/gitserver/text.go
Labels: RFC-201, team/code-intelligence

#14428 codeintel: Fix proper suffix for project root check
  enterprise/cmd/precise-code-intel-worker/internal/correlation/correlate.go
Labels: team/code-intelligence

#14418 codeintel: Infer index configuration from repository contents
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/go.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/go_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/paths.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/paths_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/patterns.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/recognizers.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/typescript.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/typescript_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/util.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler_test.go
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/contents.go
  enterprise/internal/codeintel/gitserver/files.go
  enterprise/internal/codeintel/gitserver/mocks/mock_client.go
Labels: RFC-201, team/code-intelligence

#14452 codeintel: Add go mod download step to go index jobs
  enterprise/cmd/precise-code-intel-indexer/internal/inference/go.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/go_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/typescript.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/typescript_test.go
Labels: RFC-201, team/code-intelligence

#13923 codeintel: RFC 235: Add postgres-backed store implementation
  enterprise/internal/codeintel/bundles/persistence/postgres/batch.go
  enterprise/internal/codeintel/bundles/persistence/postgres/batch_test.go
  enterprise/internal/codeintel/bundles/persistence/postgres/migrate.go
  enterprise/internal/codeintel/bundles/persistence/postgres/sqlite.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store_test.go
Labels: RFC-235, team/code-intelligence

#13924 codeintel: RFC 235: Update bundle manager to read from Postgres
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/handler.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/server.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
Labels: RFC-235, team/code-intelligence

#14469 fix: Do not double-register sqlite3 driver
  enterprise/internal/codeintel/bundles/persistence/postgres/sqlite_test.go
Labels: team/code-intelligence

#14479 repo-updater: Clean up old sync jobs on startup
  cmd/repo-updater/repos/sync_worker.go
Labels: team/cloud

#14468 codeintel: RFC 235: Prepare janitor to be aware of LSIF data in postgres
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/janitor.go
Labels: RFC-235, team/code-intelligence

#14484 codeintel: Run migrations on startup for codeintel database
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
  enterprise/cmd/precise-code-intel-indexer/main.go
  enterprise/cmd/precise-code-intel-worker/main.go
  migrations/codeintel/1000000001_init.up.sql
  migrations/codeintel/bindata.go
Labels: RFC-235, team/code-intelligence

#13946 codeintel: RFC 235: Update worker to write to Postgres
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/cmd/precise-code-intel-worker/main.go
Labels: RFC-235, team/code-intelligence

#13932 codeintel: RFC 235: Migrate SQLite data to Postgres
  enterprise/cmd/precise-code-intel-bundle-manager/internal/readers/migrate.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
Labels: RFC-235, team/code-intelligence

#14493 codeintel: Do not block bundle manager startup with migrations
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
Labels: RFC-235, team/code-intelligence

#14516 doc: Add instructions for user added code hosts
  doc/admin/external_service/bitbucket_cloud.md
  doc/admin/external_service/github.md
  doc/admin/external_service/gitlab.md
  doc/admin/external_service/index.md
Labels: team/cloud

#14520 codeintel: Lower number of goroutines during SQLite -> Postgres migration
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
Labels: RFC-235, team/code-intelligence

#14522 Remove unnecessary check if campaigns are enabled
  enterprise/internal/campaigns/resolvers/campaign.go
Labels: team/campaigns

#14491 dev: Do not crash startup script on unbound PG variables
  dev/start.sh
Labels: team/code-intelligence

#14524 Add missing Close call to diff iterator
  enterprise/internal/campaigns/state.go
Labels: team/campaigns

#14518 Record ListRepos errors
  cmd/repo-updater/repos/observability.go
Labels: team/cloud

#14536 codeintel: De-multiply writes during SQLite -> Postgres migration
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
Labels: RFC-235, team/code-intelligence

#14537 codeintel: Clean up bundle files after SQLite -> Postgres migration
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/paths.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/readers/migrate.go
Labels: RFC-235, team/code-intelligence

#14538 codeintel: Add indexes to codeintel database tables
  internal/db/schema.md
  migrations/codeintel/1000000002_add_indexes.down.sql
  migrations/codeintel/1000000002_add_indexes.up.sql
  migrations/codeintel/bindata.go
Labels: RFC-235, team/code-intelligence

#14530 repo-updater: Add critical alerts
  cmd/repo-updater/repos/syncer.go
  doc/admin/observability/alert_solutions.md
  monitoring/repo_updater.go
Labels: team/cloud

#14519 Fix crash on Gitlab external service configuration
  enterprise/internal/db/external_services_test.go
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
Labels: team/cloud

#14457 codeintel: Store index job commands and output in the database
  enterprise/cmd/frontend/internal/codeintel/internal_proxy_handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/command.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/commander.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/formatter.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler_test.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/indexer.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/logging.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/store_shim.go
  enterprise/cmd/precise-code-intel-indexer/internal/index_manager/manager.go
  enterprise/cmd/precise-code-intel-indexer/internal/index_manager/manager_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/server/handler.go
  enterprise/cmd/precise-code-intel-indexer/main.go
  enterprise/internal/codeintel/queue/client/client.go
  enterprise/internal/codeintel/queue/client/client_test.go
  enterprise/internal/codeintel/queue/client/mocks/mock_client.go
  enterprise/internal/codeintel/queue/types/types.go
  enterprise/internal/codeintel/store/indexes.go
  enterprise/internal/codeintel/store/indexes_test.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
  internal/db/schema.md
  migrations/frontend/1528395730_lsif_index_log_contents.down.sql
  migrations/frontend/1528395730_lsif_index_log_contents.up.sql
  migrations/frontend/bindata.go
Labels: RFC-201, team/code-intelligence

#14407 Add after install page to browser extension
  .prettierignore
  client/branded/src/global-styles/background.scss
  client/branded/src/global-styles/colors.scss
  client/branded/src/global-styles/index.scss
  client/branded/src/global-styles/web-content.scss
  client/browser/config/webpack/base.config.ts
  client/browser/package.json
  client/browser/scripts/tasks.ts
  client/browser/src/branded.scss
  client/browser/src/browser-extension/ThemeWrapper.tsx
  client/browser/src/browser-extension/after-install-page/AfterInstallPageContent.scss
  client/browser/src/browser-extension/after-install-page/AfterInstallPageContent.story.tsx
  client/browser/src/browser-extension/after-install-page/AfterInstallPageContent.tsx
  client/browser/src/browser-extension/manifest.spec.json
  client/browser/src/browser-extension/options-page/OptionsMenu.story.tsx
  client/browser/src/browser-extension/options-page/ServerUrlForm.story.tsx
  client/browser/src/browser-extension/pages/after_install.html
  client/browser/src/browser-extension/pages/options.html
  client/browser/src/browser-extension/scripts/afterInstallPage.main.tsx
  client/browser/src/browser-extension/scripts/backgroundPage.main.ts
  client/browser/src/options.scss
Labels: browser-extension, team/web

#14555 Update browser extension icon with alert state
  client/browser/src/browser-extension/browser-action-icon.ts
  client/browser/src/browser-extension/scripts/backgroundPage.main.ts
Labels: browser-extension, team/web

#14583 repo-updater: Handle null value returned from metric query
  cmd/repo-updater/repos/metrics.go
Labels: team/cloud

#14584 repo-updater: Don't log when error is nil
  cmd/repo-updater/repos/observability.go
Labels: team/cloud

#14587 fix regression in extension API to allow dynamic context key access
  client/shared/src/api/client/context/expr/evaluator.test.ts
  client/shared/src/api/client/context/expr/evaluator.ts
Labels: team/web

#14585 repo-updater: Remove NewChangesetSource
  cmd/repo-updater/repos/sources.go
Labels: team/cloud

#14236 licensing: add new plans and feature tags
  enterprise/cmd/frontend/internal/licensing/data.go
  enterprise/cmd/frontend/internal/licensing/features.go
  enterprise/cmd/frontend/internal/licensing/features_test.go
  enterprise/cmd/frontend/internal/licensing/plans_test.go
Labels: RFC-167, team/cloud

#14620 Auto-retry integration tests as a bandaid
  package.json
Labels: testing

#12001 admin docs: describes experimental validation command in the src-cli
  doc/admin/index.md
  doc/admin/validation.md
Labels: team/distribution

#14345 Implement browser extension options menu improvements (RFC 221)
  client/branded/src/components/LoaderInput.scss
  client/branded/src/components/LoaderInput.story.tsx
  client/branded/src/components/LoaderInput.test.tsx
  client/branded/src/components/LoaderInput.tsx
  client/branded/src/components/Toggle.tsx
  client/branded/src/components/__snapshots__/LoaderInput.test.tsx.snap
  client/browser/src/branded.scss
  client/browser/src/browser-extension/knownCodeHosts.ts
  client/browser/src/browser-extension/options-menu/OptionsPage.scss
  client/browser/src/browser-extension/options-menu/OptionsPage.story.tsx
  client/browser/src/browser-extension/options-menu/OptionsPage.tsx
  client/browser/src/browser-extension/options-menu/OptionsPageAdvancedSettings.story.tsx
  client/browser/src/browser-extension/options-menu/OptionsPageAdvancedSettings.tsx
  client/browser/src/browser-extension/options-menu/SourcegraphLogo.tsx
  client/browser/src/browser-extension/options-page/OptionsContainer.scss
  client/browser/src/browser-extension/options-page/OptionsContainer.test.tsx
  client/browser/src/browser-extension/options-page/OptionsContainer.tsx
  client/browser/src/browser-extension/options-page/OptionsHeader.scss
  client/browser/src/browser-extension/options-page/OptionsHeader.tsx
  client/browser/src/browser-extension/options-page/OptionsMenu.scss
  client/browser/src/browser-extension/options-page/OptionsMenu.story.tsx
  client/browser/src/browser-extension/options-page/OptionsMenu.test.tsx
  client/browser/src/browser-extension/options-page/OptionsMenu.tsx
  client/browser/src/browser-extension/options-page/ServerUrlForm.scss
  client/browser/src/browser-extension/options-page/ServerUrlForm.story.tsx
  client/browser/src/browser-extension/options-page/ServerUrlForm.test.tsx
  client/browser/src/browser-extension/options-page/ServerUrlForm.tsx
  client/browser/src/browser-extension/options-page/__snapshots__/OptionsMenu.test.tsx.snap
  client/browser/src/browser-extension/scripts/backgroundPage.main.ts
  client/browser/src/browser-extension/scripts/optionsPage.main.tsx
  client/browser/src/browser-extension/web-extension-api/runtime.ts
  client/browser/src/browser-extension/web-extension-api/types.ts
  client/browser/src/shared/code-hosts/shared/codeHost.test.tsx
  client/browser/src/shared/code-hosts/shared/codeHost.tsx
  client/shared/src/util/useInputValidation.test.ts
  client/shared/src/util/useInputValidation.ts
  client/web/src/SourcegraphWebApp.scss
  client/web/src/auth/SignUpForm.tsx
  client/web/src/components/useInputValidation.ts
Labels: RFC-221, browser-extension, team/web

#14487 server: Ensure we have distinct codeintel database
  cmd/server/shared/postgres.go
Labels: RFC-235, team/code-intelligence

#14648 crashfix: SendUserEmailOnFieldUpdate crashes on users without an email
  cmd/frontend/backend/user_emails.go
Labels: team/code-intelligence

#14662 monitoring: By default show instance name instead of "value"
  monitoring/generator.go
  monitoring/repo_updater.go
Labels: team/cloud

#14525 Add pagination logic to fetch all timeline events
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: team/campaigns

#14633 doc/dev: Update architecture diagram.
  doc/dev/background-information/architecture/architecture.dot
  doc/dev/background-information/architecture/architecture.svg
  doc/dev/background-information/architecture/index.md
  doc/dev/background-information/codeintel/architecture.md
  doc/dev/background-information/codeintel/diagrams/architecture.dot
  doc/dev/background-information/codeintel/diagrams/architecture.svg
  doc/dev/background-information/codeintel/diagrams/generate.sh
  doc/dev/background-information/codeintel/index.md
Labels: team/code-intelligence

#14624 Add postgres bulk insertion mode for tracing
  internal/db/batch/batch.go
  internal/db/dbconn/dbconn.go
Labels: team/code-intelligence

#14641 codeintel: Rewrite janitor to focus on postgres data
  CHANGELOG.md
  enterprise/cmd/precise-code-intel-bundle-manager/env.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/db_records.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/db_records_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/expired.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/free_space.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/free_space_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/helpers_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/janitor.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/old_files.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/old_files_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/orphans.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/orphans_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/util.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/util_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
  enterprise/internal/codeintel/lsifstore/mocks/gen.go
  enterprise/internal/codeintel/lsifstore/mocks/mock_store.go
  enterprise/internal/codeintel/lsifstore/store.go
  enterprise/internal/codeintel/lsifstore/store_test.go
  enterprise/internal/codeintel/store/dumps.go
  enterprise/internal/codeintel/store/dumps_test.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
Labels: RFC-235, team/code-intelligence

#14656 Add missing bg-4 class
  client/branded/src/global-styles/background.scss
  client/branded/src/global-styles/colors.scss
Labels: RFC-221, team/web

#14655 Show form feedback on input
  client/browser/src/browser-extension/options-menu/OptionsPage.tsx
Labels: team/web

#14635 docs: Update upgrading docs
  doc/admin/updates.md
  doc/admin/updates/docker_compose.md
  doc/admin/updates/kubernetes.md
  doc/admin/updates/pure_docker.md
  doc/admin/updates/server.md
  enterprise/cmd/precise-code-intel-bundle-manager/internal/readers/migrate.go
Labels: RFC-235, team/code-intelligence

#14523 Fix wrong state calculated for empty check suites
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/state_test.go
Labels: bug, team/campaigns

#14698 Add notice on how to publish remaining changesets
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.tsx
  client/web/src/enterprise/campaigns/detail/UnpublishedNotice.story.tsx
  client/web/src/enterprise/campaigns/detail/UnpublishedNotice.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.tsx
Labels: team/campaigns

#14658 monitoring: Allow alerting on zero
  monitoring/frontend.go
  monitoring/generator.go
  monitoring/git_server.go
  monitoring/github_proxy.go
  monitoring/precise_code_intel_bundle_manager.go
  monitoring/precise_code_intel_indexer.go
  monitoring/precise_code_intel_worker.go
  monitoring/prometheus.go
  monitoring/repo_updater.go
  monitoring/searcher.go
  monitoring/shared.go
  monitoring/symbols.go
  monitoring/syntect_server.go
  monitoring/zoekt_index_server.go
  monitoring/zoekt_web_server.go
Labels: team/cloud

#14654 Enable OptionsMenu dark mode
  client/branded/src/components/SourcegraphLogo.tsx
  client/branded/src/global-styles/colors.scss
  client/browser/src/browser-extension/ThemeWrapper.tsx
  client/browser/src/browser-extension/options-menu/OptionsPage.tsx
  client/browser/src/browser-extension/scripts/optionsPage.main.tsx
Labels: RFC-221, browser-extension, team/web

#14521 Only take reconciled changesets into consideration when calculating events
  enterprise/internal/campaigns/resolvers/campaign.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
Labels: bug, team/campaigns

#14704 monitoring: Properly aggregate repo-updater metrics
  doc/admin/observability/alert_solutions.md
  monitoring/repo_updater.go
Labels: team/cloud

#14684 codeintel: Rewrite janitor
  doc/admin/observability/alert_solutions.md
  enterprise/cmd/precise-code-intel-bundle-manager/env.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/db_records.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/db_records_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/expired.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/janitor.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/metrics.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/old_files.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/old_files_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/orphans.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/orphans_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
  enterprise/internal/codeintel/store/uploads.go
  enterprise/internal/codeintel/store/uploads_test.go
  monitoring/CODENOTIFY
  monitoring/precise_code_intel_bundle_manager.go
Labels: RFC-235

#14718 frontend: Remove deprecated language field
  cmd/frontend/graphqlbackend/repository_test.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/zoekt_test.go
  cmd/frontend/types/types.go
  internal/db/repos.go
  internal/db/repos_db_test.go
Labels: team/cloud

#14695 codeintel: Update monitoring
  doc/admin/observability/alert_solutions.md
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
  enterprise/internal/codeintel/bundles/database/observability.go
  enterprise/internal/codeintel/bundles/persistence/observability.go
  enterprise/internal/codeintel/store/observability.go
  monitoring/frontend.go
  monitoring/precise_code_intel_bundle_manager.go
  monitoring/precise_code_intel_indexer.go
  monitoring/precise_code_intel_worker.go
Labels: team/code-intelligence

#14722 chore: Fix enterprise server build
  enterprise/cmd/frontend/build.sh
  enterprise/cmd/frontend/go-build.sh
Labels: team/code-intelligence

#14703 Fail integration test on missing mock
  client/shared/src/testing/console.ts
  client/shared/src/testing/driver.ts
  client/shared/src/testing/integration/context.ts
  client/shared/src/testing/integration/polly/CdpAdapter.ts
  client/web/src/integration/blob-viewer.test.ts
  client/web/src/integration/extension-registry.test.ts
  client/web/src/integration/repository.test.ts
  client/web/src/integration/search.test.ts
Labels: testing

#14659 Adapt in-app messaging to native integration
  client/web/src/nav/NavLinks.tsx
  client/web/src/nav/UserNavItem.story.tsx
  client/web/src/nav/UserNavItem.test.tsx
  client/web/src/nav/UserNavItem.tsx
  client/web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
  client/web/src/repo/RepoContainer.tsx
  client/web/src/repo/actions/InstallBrowserExtensionAlert.story.tsx
  client/web/src/repo/actions/InstallBrowserExtensionAlert.test.tsx
  client/web/src/repo/actions/InstallBrowserExtensionAlert.tsx
  client/web/src/repo/actions/__snapshots__/InstallBrowserExtensionAlert.test.tsx.snap
  doc/admin/external_service/gitlab.md
  doc/admin/external_service/phabricator.md
  doc/integration/bitbucket_server.md
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
Labels: RFC-221, team/web, webapp

#14600 db: Improve defaultRepos.List query
  internal/db/default_repos.go
Labels: team/cloud

#14733 codeintel: Clean up internal HTTP server setup
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/handler.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/server.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/server/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/server/server.go
  enterprise/cmd/precise-code-intel-indexer-vm/main.go
  enterprise/cmd/precise-code-intel-indexer/internal/server/handler.go
  enterprise/cmd/precise-code-intel-indexer/internal/server/server.go
  enterprise/cmd/precise-code-intel-worker/internal/server/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/server/server.go
  enterprise/cmd/precise-code-intel-worker/main.go
  internal/httpserver/server.go
Labels: team/code-intelligence

#14747 Ignore logspam from "Target closed."
  client/shared/src/testing/integration/polly/CdpAdapter.ts
Labels: ops & tools & dev, testing

#14748 Watch integration test bundle
  .vscode/tasks.json
  client/web/gulpfile.js
  dev/Procfile
  doc/dev/background-information/testing.md
  enterprise/dev/Procfile
  gulpfile.js
  package.json
Labels: ops & tools & dev, testing

#14757 monitoring: Amend repo-updater critical alerts
  doc/admin/observability/alert_solutions.md
  monitoring/repo_updater.go
Labels: team/cloud

#14768 db: Add a Delete method to internal/db/repos
  internal/db/repos.go
  internal/db/repos_db_test.go
  internal/db/repos_test.go
Labels: team/cloud

#14776 Update commit reference for code-intel-extensions for bundled extensions
  client/browser/bundled-code-intel-extensions.json
Labels: browser-extension, team/web

#14772 Return sources when running Get and List
  cmd/frontend/types/types.go
  internal/db/repos.go
  internal/db/repos_db_test.go
Labels: team/cloud

#14775 Fix native integration condition
  client/web/src/repo/actions/InstallBrowserExtensionAlert.tsx
  client/web/src/repo/actions/__snapshots__/InstallBrowserExtensionAlert.test.tsx.snap
Labels: bug, team/web, webapp

#14699 Draft mode syntax support
  client/shared/dev/generateGraphQlOperations.js
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service_apply_campaign_test.go
  enterprise/internal/campaigns/store_campaign_specs_test.go
  enterprise/internal/campaigns/testing/specs.go
  go.mod
  go.sum
  internal/campaigns/campaign_spec.go
  internal/campaigns/changeset_spec_description.go
  internal/campaigns/published.go
  internal/campaigns/published_test.go
  schema/campaign_spec.schema.json
  schema/campaign_spec_stringdata.go
  schema/changeset_spec.schema.json
  schema/changeset_spec_stringdata.go
Labels: team/campaigns

#14795 Delete redis keys in batch
  internal/rcache/rcache.go
  internal/rcache/rcache_test.go
Labels: team/cloud

#14517 Delete repositories when they become private
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
Labels: team/cloud

#14741 Implement `getText` for extension API
  client/packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  client/shared/src/api/extension/api/textDocument.test.ts
  client/shared/src/api/extension/api/textDocument.ts
Labels: extensions, team/web

#14801 repo-updater: Remove deprecated Language field
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-path-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-simple.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-ssh.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-username.golden
  cmd/repo-updater/repos/testdata/golden/BitbucketCloudSource_makeRepo_path-pattern
  cmd/repo-updater/repos/testdata/golden/BitbucketCloudSource_makeRepo_simple
  cmd/repo-updater/repos/testdata/golden/BitbucketCloudSource_makeRepo_ssh
  cmd/repo-updater/repos/testdata/golden/GitLabSource_makeRepo_path-pattern
  cmd/repo-updater/repos/testdata/golden/GitLabSource_makeRepo_simple
  cmd/repo-updater/repos/testdata/golden/GitLabSource_makeRepo_ssh
  cmd/repo-updater/repos/testdata/golden/GithubSource_makeRepo_path-pattern
  cmd/repo-updater/repos/testdata/golden/GithubSource_makeRepo_simple
  cmd/repo-updater/repos/testdata/golden/GithubSource_makeRepo_ssh
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repoupdater/server_test.go
Labels: team/cloud

#14841 chore: Fix typo in usage documentation
  internal/db/basestore/store.go
Labels: team/code-intelligence, user-code-execution

#14836 internal: Add base configuration object
  internal/env/CODENOTIFY
  internal/env/baseconfig.go
Labels: team/code-intelligence, user-code-execution

#14815 tracking-issue: Fix display of depriorized issues
  internal/cmd/tracking-issue/matcher.go
Labels: team/code-intelligence, tracking-issue

#14842 codenotify: Update db package
  internal/db/CODENOTIFY
  internal/db/basestore/CODENOTIFY
  internal/db/batch/CODENOTIFY
  internal/db/dbconn/CODENOTIFY
  internal/db/dbtest/CODENOTIFY
  internal/db/dbtesting/CODENOTIFY
  internal/db/dbutil/CODENOTIFY
Labels: team/code-intelligence

#14837 workerutil: Add SetLogContents to store
  cmd/repo-updater/repos/store.go
  internal/db/schema.md
  internal/workerutil/dbworker/store/helpers_test.go
  internal/workerutil/dbworker/store/mocks/mock_store.go
  internal/workerutil/dbworker/store/store.go
  internal/workerutil/dbworker/store/store_test.go
  internal/workerutil/mock_store_test.go
  internal/workerutil/store.go
  migrations/frontend/1528395734_repo_updater_log_contents.down.sql
  migrations/frontend/1528395734_repo_updater_log_contents.up.sql
  migrations/frontend/bindata.go
Labels: team/code-intelligence, user-code-execution

#14839 docker-images: Install src-cli in ignite-ubuntu base image
  docker-images/ignite-ubuntu/CODENOTIFY
  docker-images/ignite-ubuntu/Dockerfile
  docker-images/ignite-ubuntu/README.md
  docker-images/ignite-ubuntu/build.sh
  internal/cmd/src-cli-version/main.go
Labels: team/code-intelligence, user-code-execution

#14838 workerutil: Add QueuedCount to store
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/store_shim.go
  internal/workerutil/dbworker/store/helpers_test.go
  internal/workerutil/dbworker/store/mocks/mock_store.go
  internal/workerutil/dbworker/store/store.go
  internal/workerutil/dbworker/store/store_test.go
  internal/workerutil/dbworker/store_shim.go
  internal/workerutil/mock_store_test.go
  internal/workerutil/store.go
Labels: team/code-intelligence, user-code-execution

#14840 chore: Add additional utils for interacting with goroutines
  internal/debugserver/debug.go
  internal/goroutine/CODENOTIFY
  internal/goroutine/background.go
  internal/goroutine/periodic.go
Labels: team/code-intelligence, user-code-execution

#14742 Implement UI display and burndown chart calculation for GitHub draft mode
  client/web/src/enterprise/campaigns/close/CampaignClosePage.story.tsx
  client/web/src/enterprise/campaigns/detail/BurndownChart.story.tsx
  client/web/src/enterprise/campaigns/detail/BurndownChart.test.tsx
  client/web/src/enterprise/campaigns/detail/BurndownChart.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.test.tsx
  client/web/src/enterprise/campaigns/detail/CampaignStatsCard.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignStatsCard.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetFilterRow.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.tsx
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  client/web/src/enterprise/campaigns/utils.ts
  client/web/src/integration/campaigns.test.ts
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_CloseChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_already_exists
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/golden/GithubSource_ReopenChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_UpdateChangeset_success
  cmd/repo-updater/repos/testdata/sources/GithubSource_CloseChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_already_exists.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_ReopenChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_UpdateChangeset_success.yaml
  enterprise/internal/campaigns/changeset_history.go
  enterprise/internal/campaigns/counts.go
  enterprise/internal/campaigns/counts_test.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_connection.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_counts.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/state_test.go
  internal/campaigns/changeset.go
  internal/campaigns/changeset_event.go
  internal/campaigns/changeset_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/ClosePullRequest-0
  internal/extsvc/github/testdata/golden/ClosePullRequest-1
  internal/extsvc/github/testdata/golden/CreatePullRequest-0
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/golden/ReopenPullRequest-0
  internal/extsvc/github/testdata/golden/ReopenPullRequest-1
  internal/extsvc/github/testdata/vcr/ClosePullRequest.yaml
  internal/extsvc/github/testdata/vcr/CreatePullRequest.yaml
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
  internal/extsvc/github/testdata/vcr/ReopenPullRequest.yaml
Labels: team/campaigns

#14829 Clean up CSS border color styles
  client/branded/src/components/Tabs.scss
  client/branded/src/components/panel/Panel.scss
  client/branded/src/components/panel/views/HierarchicalLocationsView.scss
  client/branded/src/global-styles/card.scss
  client/branded/src/global-styles/colors.scss
  client/branded/src/global-styles/dropdown.scss
  client/branded/src/global-styles/forms.scss
  client/branded/src/global-styles/index.scss
  client/branded/src/global-styles/list-group.scss
  client/branded/src/global-styles/tables.scss
  client/browser/src/browser-extension/options-menu/OptionsPage.scss
  client/browser/src/shared.scss
  client/web/src/api/graphiql-theme.scss
  client/web/src/auth/OrDivider.scss
  client/web/src/auth/SignInSignUpPageCommon.scss
  client/web/src/components/ConnectionPopover.scss
  client/web/src/components/FilteredConnection.scss
  client/web/src/components/SearchResultMatch.scss
  client/web/src/components/d3/BarChart.scss
  client/web/src/enterprise/campaigns/apply/ChangesetSpecNode.scss
  client/web/src/enterprise/campaigns/close/ChangesetCloseNode.scss
  client/web/src/enterprise/campaigns/detail/BurndownChart.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetNode.scss
  client/web/src/enterprise/campaigns/list/CampaignNode.scss
  client/web/src/marketing/Toast.scss
  client/web/src/repo/GitReference.scss
  client/web/src/repo/GitReferenceTag.scss
  client/web/src/repo/RepoHeader.scss
  client/web/src/repo/RepoRevisionSidebar.scss
  client/web/src/repo/settings/RepoSettingsIndexPage.scss
  client/web/src/repo/settings/components/ActionContainer.scss
  client/web/src/repogroups/RepogroupPage.scss
  client/web/src/savedSearches/SavedSearchModal.scss
  client/web/src/search/FilterChip.scss
  client/web/src/search/input/MonacoQueryInput.scss
  client/web/src/search/input/interactive/FilterInput.scss
  client/web/src/search/input/toggles/Toggles.scss
  client/web/src/search/results/SearchResultsFilterBars.scss
  client/web/src/search/results/SearchResultsList.scss
  client/web/src/views/ChartViewContent.scss
Labels: team/web

#14872 Fix integration test dispose() flakiness
  client/shared/src/testing/coverage.ts
  client/shared/src/testing/integration/context.ts
Labels: testing

#14793 Run paginated queries in SetClonedRepos
  cmd/repo-updater/repos/conf.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#14862 Add support for GitHub review webhooks
  enterprise/internal/campaigns/testdata/fixtures/webhooks/github/converted-to-draft.json
  enterprise/internal/campaigns/testdata/fixtures/webhooks/github/ready-for-review.json
  enterprise/internal/campaigns/testdata/vcr/github-webhooks.yaml
  enterprise/internal/campaigns/webhooks.go
Labels: team/campaigns

#14901 repo-updater: Convert DBStore to basestore
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/observability.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
Labels: team/cloud

#14847 Clean up CSS text color styles
  client/branded/src/components/Tabs.scss
  client/branded/src/global-styles/buttons.scss
  client/branded/src/global-styles/code.scss
  client/branded/src/global-styles/colors.scss
  client/branded/src/global-styles/dropdown.scss
  client/branded/src/global-styles/forms.scss
  client/branded/src/global-styles/list-group.scss
  client/branded/src/global-styles/web-content.scss
  client/browser/src/shared.scss
  client/shared/src/components/CodeExcerpt.scss
  client/shared/src/components/completion/CompletionWidget.story.tsx
  client/shared/src/components/icons.tsx
  client/shared/src/global-styles/icons.scss
  client/web/src/api/graphiql-theme.scss
  client/web/src/components/completion/CompletionWidgetDropdown.scss
  client/web/src/components/diff/FileDiffHunks.scss
  client/web/src/components/diff/FileDiffNode.scss
  client/web/src/components/shared.tsx
  client/web/src/marketing/Toast.scss
  client/web/src/marketing/Toast.tsx
  client/web/src/repo/RepoHeader.scss
  client/web/src/repo/RepoRevisionContainer.scss
  client/web/src/repo/RepoRevisionSidebar.tsx
  client/web/src/repo/RepoRevisionSidebarSymbols.scss
  client/web/src/repo/RevisionsPopover.scss
  client/web/src/repo/commits/GitCommitNode.scss
  client/web/src/search/FilterChip.scss
  client/web/src/search/input/MonacoQueryInput.scss
  client/web/src/search/results/SearchResultsFilterBars.scss
  client/web/src/search/results/SearchResultsList.scss
  client/web/src/tree/Tree.scss
Labels: team/web

#14397 clean up UserArea, UserSettingsProfilePage, user header, updateUser mutation
  CHANGELOG.md
  client/web/src/end-to-end/end-to-end.test.ts
  client/web/src/enterprise/user/settings/routes.tsx
  client/web/src/enterprise/user/settings/sidebaritems.ts
  client/web/src/integration/campaigns.test.ts
  client/web/src/integration/profile.test.ts
  client/web/src/integration/settings.test.ts
  client/web/src/regression/core.test.ts
  client/web/src/user/area/UserArea.tsx
  client/web/src/user/area/UserAreaHeader.tsx
  client/web/src/user/area/navitems.ts
  client/web/src/user/area/routes.tsx
  client/web/src/user/settings/UserSettingsArea.scss
  client/web/src/user/settings/backend.tsx
  client/web/src/user/settings/profile/EditUserProfileForm.test.tsx
  client/web/src/user/settings/profile/EditUserProfileForm.tsx
  client/web/src/user/settings/profile/UserProfileFormFields.scss
  client/web/src/user/settings/profile/UserProfileFormFields.test.tsx
  client/web/src/user/settings/profile/UserProfileFormFields.tsx
  client/web/src/user/settings/profile/UserSettingsProfilePage.tsx
  client/web/src/user/settings/profile/__snapshots__/EditUserProfileForm.test.tsx.snap
  client/web/src/user/settings/profile/__snapshots__/UserProfileFormFields.test.tsx.snap
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/user.go
  cmd/frontend/graphqlbackend/user_test.go
Labels: team/web, webapp

#14852 Clean up CSS background color styles
  client/branded/src/components/CodeSnippet.scss
  client/branded/src/components/panel/Panel.scss
  client/branded/src/global-styles/card.scss
  client/branded/src/global-styles/colors.scss
  client/branded/src/global-styles/index.scss
  client/branded/src/global-styles/tables.scss
  client/browser/src/shared.scss
  client/shared/src/components/FileMatchChildren.scss
  client/shared/src/components/Resizable.scss
  client/web/src/components/SearchResultMatch.scss
  client/web/src/components/SingleValueCard.scss
  client/web/src/components/diff/FileDiffHunks.scss
  client/web/src/nav/GlobalNavbar.scss
  client/web/src/nav/VersionContextDropdown.scss
  client/web/src/repo/GitReferenceTag.scss
  client/web/src/repo/RepoHeader.scss
  client/web/src/repo/RepoRevisionContainer.scss
  client/web/src/repo/tree/TreeEntriesSection.scss
  client/web/src/repogroups/RepogroupPage.scss
  client/web/src/search/FilterChip.scss
  client/web/src/search/input/QueryInput.scss
  client/web/src/search/input/Suggestion.scss
  client/web/src/search/input/interactive/FilterInput.scss
  client/web/src/search/input/toggles/Toggles.scss
  client/web/src/search/panels/PanelContainer.scss
  client/web/src/search/results/SearchResultsList.scss
  client/web/src/site-admin/SiteAdminConfigurationPage.scss
  client/web/src/tree/Tree.scss
Labels: team/web

#14906 Clean up extension registry page
  client/branded/src/global-styles/web-content.scss
  client/web/src/extensions/ExtensionsArea.tsx
  client/web/src/extensions/extension/ExtensionAreaHeader.tsx
  client/web/src/extensions/extension/RegistryExtensionOverviewPage.scss
  client/web/src/extensions/extension/RegistryExtensionOverviewPage.test.tsx
  client/web/src/extensions/extension/RegistryExtensionOverviewPage.tsx
  client/web/src/extensions/extension/__snapshots__/RegistryExtensionOverviewPage.test.tsx.snap
Labels: webapp

#14740 campaigns: add new icon
  CHANGELOG.md
  client/web/src/enterprise/campaigns/create/CreateCampaignPage.tsx
  client/web/src/enterprise/campaigns/detail/CampaignHeader.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  client/web/src/enterprise/campaigns/global/marketing/CampaignsDotComPage.tsx
  client/web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  client/web/src/enterprise/campaigns/global/nav/__snapshots__/CampaignsNavItem.test.tsx.snap
  client/web/src/enterprise/campaigns/icons.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.tsx
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignListPage.test.tsx.snap
  client/web/src/enterprise/namespaces/navitems.ts
  client/web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  doc/campaigns/campaigns-icon.svg
Labels: team/campaigns

#14887 Design debt issue template
  .github/ISSUE_TEMPLATE/design_debt.md
Labels: design-debt

#14854 Make stacking contexts explicit
  .vscode/extensions.json
  client/branded/src/components/panel/Panel.scss
  client/branded/src/components/panel/Panel.tsx
  client/browser/src/shared.scss
  client/browser/src/shared/code-hosts/shared/HoverOverlay.scss
  client/browser/src/shared/global-styles/variables.scss
  client/web/src/components/ConnectionPopover.scss
  client/web/src/enterprise/productSubscription/ProductCertificate.scss
  client/web/src/repo/RepoRevisionContainer.scss
  client/web/src/repo/RepoRevisionSidebar.scss
  client/web/src/repo/RevisionsPopover.scss
  client/web/src/repo/actions/InstallBrowserExtensionPopover.scss
  client/web/src/site-admin/SiteAdminSidebar.scss
  client/web/src/tree/Tree.scss
  client/web/src/user/settings/UserSettingsSidebar.scss
Labels: ops & tools & dev, webapp

#14944 Fix SetClonedRepos
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/shared/main.go
Labels: team/cloud

#14942 db: Drop repo.language
  internal/db/external_services_test.go
  internal/db/schema.md
  migrations/frontend/1528395735_drop_language_from_repo.down.sql
  migrations/frontend/1528395735_drop_language_from_repo.up.sql
  migrations/frontend/bindata.go
Labels: team/cloud

#14948 secret: remove abandoned secret key file on start
  internal/secret/init.go
Labels: team/cloud

#14947 secret: only turn on encryption when the env var is explicitly specified
  internal/secret/init.go
Labels: team/cloud

#14943 licensing: enforce repository permissions
  enterprise/cmd/frontend/internal/authz/resolvers/resolver.go
  enterprise/cmd/frontend/internal/registry/publisher_graphql.go
  enterprise/cmd/frontend/internal/registry/registry_graphql.go
  enterprise/cmd/repo-updater/authz/perms_syncer.go
  enterprise/internal/licensing/features.go
Labels: team/cloud

#14817 Clean up `<code>` styles
  client/branded/src/components/CodeSnippet.scss
  client/branded/src/components/CodeSnippet.tsx
  client/branded/src/global-styles/code.scss
  client/branded/src/global-styles/index.scss
  client/shared/src/components/Markdown.scss
  client/web/src/SourcegraphWebApp.scss
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignSpecTab.test.tsx.snap
Labels: team/web

#14936 Add meta tag for color-scheme
  client/branded/src/global-styles/colors.scss
  client/browser/src/browser-extension/ThemeWrapper.tsx
  client/web/src/SourcegraphWebApp.tsx
  cmd/frontend/internal/app/templates/ui/app.html
Labels: webapp

#14926 Update browser extension icon state on private repositories
  client/browser/src/browser-extension/scripts/backgroundPage.main.ts
Labels: RFC-221, browser-extension, team/web

#14949 oauth: use service ID + client ID as the provider config ID
  enterprise/cmd/frontend/auth/oauth/provider.go
Labels: team/cloud

#14818 Add storybook for HierarchicalLocationsView, remove hardcoded theme colors
  client/branded/src/components/panel/views/HierarchicalLocationsView.story.tsx
  client/branded/src/components/panel/views/HierarchicalLocationsView.tsx
  client/branded/src/components/panel/views/contributions.ts
Labels: team/web

#14934 remove remaining component-specific theming
  client/branded/src/global-styles/colors.scss
  client/shared/src/components/ResultContainer.scss
  client/web/src/SourcegraphWebApp.scss
  client/web/src/components/DecoratedTextLines.scss
  client/web/src/components/DecoratedTextLines.tsx
  client/web/src/components/HeroPage.scss
  client/web/src/components/PageHeader.scss
  client/web/src/enterprise/productSubscription/ProductCertificate.scss
  client/web/src/extensions/ExtensionCard.scss
  client/web/src/repo/blob/Blob.scss
  client/web/src/search/input/SearchOnboardingTour.scss
  client/web/src/search/input/SearchPage.scss
  client/web/src/search/input/SearchPage.tsx
  client/web/src/search/panels/RepositoriesPanel.scss
  client/web/src/search/results/CommitSearchResult.scss
  client/web/src/search/results/CommitSearchResult.tsx
  client/web/src/search/results/SearchResultsList.scss
Labels: team/web

#14771 Add error handling for not found changesets from GitHub
  cmd/repo-updater/repos/bitbucketserver_test.go
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/gitlab_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangeset_not-found.yaml
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  internal/extsvc/github/client.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/gitlab/client.go
Labels: bug, estimate/1d, team/campaigns

#14967 campaigns: fix icon display on navbars
  client/web/src/enterprise/campaigns/global/nav/CampaignsNavItem.tsx
  client/web/src/enterprise/campaigns/global/nav/__snapshots__/CampaignsNavItem.test.tsx.snap
  client/web/src/enterprise/campaigns/icons.tsx
  client/web/src/enterprise/namespaces/navitems.ts
  client/web/src/nav/__snapshots__/NavLinks.test.tsx.snap
Labels: bug, team/campaigns

#14973 perms: update test to cover no-update case
  enterprise/internal/db/perms_store_test.go
Labels: team/cloud

#14981 Faster SetClonedRepos query
  cmd/repo-updater/repos/conf.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#14983 repo-updater: Use config value repoListUpdateInterval
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
  cmd/repo-updater/shared/main.go
Labels: team/cloud

#14960 Fix browser extension end-to-end tests
  client/browser/src/end-to-end/github.test.ts
  client/browser/src/end-to-end/shared.ts
Labels: browser-extension, team/web, testing

#14980 Fix externalURLs alert logic
  client/web/src/repo/actions/InstallBrowserExtensionAlert.test.tsx
  client/web/src/repo/actions/InstallBrowserExtensionAlert.tsx
  client/web/src/repo/actions/__snapshots__/InstallBrowserExtensionAlert.test.tsx.snap
Labels: bug, customer, important, team/web

#15006 doc: add redirects for code intel hover links
  doc/_resources/assets/redirects
Labels: docs

#14946 licensing: make product name recognize new plan tags
  enterprise/internal/licensing/tags.go
  enterprise/internal/licensing/tags_test.go
Labels: team/cloud

#15004 Add support for GitLab Draft/WIP MRs
  cmd/repo-updater/repos/gitlab.go
  enterprise/internal/campaigns/changeset_history.go
  enterprise/internal/campaigns/counts_test.go
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/state_test.go
  internal/campaigns/changeset.go
  internal/campaigns/changeset_event.go
  internal/campaigns/changeset_event_test.go
  internal/campaigns/util.go
  internal/extsvc/gitlab/merge_requests.go
  internal/extsvc/gitlab/merge_requests_test.go
  internal/extsvc/gitlab/notes.go
  internal/extsvc/gitlab/notes_test.go
Labels: team/campaigns

#15003 Fix timestamp usage on CampaignNode component
  client/web/src/enterprise/campaigns/list/CampaignNode.story.tsx
  client/web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  client/web/src/enterprise/campaigns/list/CampaignNode.tsx
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: team/campaigns

#15005 Implement action in preview for draft mode
  client/web/src/enterprise/campaigns/apply/ChangesetSpecAction.tsx
  client/web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.story.tsx
Labels: team/campaigns

#14527 Add documentation for draft {P,M}Rs
  CHANGELOG.md
  doc/campaigns/campaign_spec_yaml_reference.md
  doc/campaigns/quickstart.md
Labels: team/campaigns

#15016 Hide publish hint when at least one changeset has been published
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.tsx
  client/web/src/enterprise/campaigns/detail/UnpublishedNotice.story.tsx
  client/web/src/enterprise/campaigns/detail/UnpublishedNotice.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
Labels: team/campaigns
