Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-12, with the labels that each got.

#16286 db: Drop duplicate index.
  internal/db/schema.md
  migrations/frontend/1528395759_drop_repo_id_index_on_external_service_repos.down.sql
  migrations/frontend/1528395759_drop_repo_id_index_on_external_service_repos.up.sql
  migrations/frontend/bindata.go
Labels: team/cloud

#16260 executor: Pass secrets along with job payload
  enterprise/cmd/executor-queue/internal/queues/codeintel/transform.go
  enterprise/cmd/executor-queue/internal/queues/codeintel/transform_test.go
  enterprise/cmd/executor/config.go
  enterprise/internal/apiworker/apiclient/types.go
  enterprise/internal/apiworker/command/logger.go
  enterprise/internal/apiworker/command/logger_test.go
  enterprise/internal/apiworker/handler.go
  enterprise/internal/apiworker/worker.go
Labels: team/code-intelligence

#15778 Emails page redesign
  client/branded/src/components/LoaderInput.story.tsx
  client/branded/src/global-styles/index.scss
  client/browser/src/branded.scss
  client/shared/src/util/useInputValidation.test.ts
  client/shared/src/util/useInputValidation.ts
  client/web/src/SourcegraphWebApp.scss
  client/web/src/user/settings/emails/AddUserEmailForm.tsx
  client/web/src/user/settings/emails/SetUserPrimaryEmailForm.tsx
  client/web/src/user/settings/emails/UserEmail.tsx
  client/web/src/user/settings/emails/UserSettingsEmailsPage.scss
  client/web/src/user/settings/emails/UserSettingsEmailsPage.tsx
Labels: team/cloud

#16270 codeintel: Topologically sort commits in gitserver
  enterprise/cmd/frontend/internal/codeintel/api/exists_test.go
  enterprise/cmd/frontend/internal/codeintel/api/helpers_test.go
  enterprise/cmd/frontend/internal/codeintel/api/iface.go
  enterprise/cmd/frontend/internal/codeintel/api/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/iface.go
  enterprise/cmd/frontend/internal/codeintel/background/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/iface.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_iface_test.go
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/client_test.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph_test.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/commits_test.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
Labels: team/code-intelligence

#16086 codeintel: Reduce memory when calculating commit graph
  enterprise/internal/codeintel/stores/dbstore/commit_graph.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph_test.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph_view.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/commits_test.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
  enterprise/internal/codeintel/stores/dbstore/helpers_test.go
  enterprise/internal/codeintel/stores/dbstore/references_test.go
Labels: team/code-intelligence

#16140 codeintel: Limit size of commit graph
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/iface.go
  enterprise/cmd/frontend/internal/codeintel/background/mock_iface_test.go
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/observability.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
Labels: team/code-intelligence

#16247 codeintel: Make log contents structured (Step 4: UI)
  client/web/src/components/Timeline.scss
  client/web/src/components/Timeline.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.story.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexTimeline.scss
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexTimeline.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelUploadPage.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelUploadTimeline.tsx
  client/web/src/enterprise/codeintel/detail/DockerStep.tsx
  client/web/src/enterprise/codeintel/detail/DockerSteps.tsx
  client/web/src/enterprise/codeintel/detail/ExecutorLogs.tsx
  client/web/src/enterprise/codeintel/index.scss
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.story.tsx
  client/web/src/enterprise/codeintel/shared/CodeIntelUploadOrIndexIndexer.tsx
  client/web/src/enterprise/codeintel/shared/CodeIntelUploadOrIndexTimeline.tsx
  client/web/src/enterprise/codeintel/shared/backend.ts
Labels: team/code-intelligence

#16246 codeintel: Make log contents structured (Step 3: Executor)
  client/web/src/components/Timeline.scss
  client/web/src/components/Timeline.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.story.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexTimeline.scss
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexTimeline.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelUploadPage.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelUploadTimeline.tsx
  client/web/src/enterprise/codeintel/detail/DockerStep.tsx
  client/web/src/enterprise/codeintel/detail/DockerSteps.tsx
  client/web/src/enterprise/codeintel/detail/ExecutorLogs.tsx
  client/web/src/enterprise/codeintel/index.scss
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.story.tsx
  client/web/src/enterprise/codeintel/shared/CodeIntelUploadOrIndexIndexer.tsx
  client/web/src/enterprise/codeintel/shared/CodeIntelUploadOrIndexTimeline.tsx
  client/web/src/enterprise/codeintel/shared/backend.ts
  enterprise/cmd/frontend/internal/executor/internal_proxy_handler.go
  enterprise/internal/apiworker/apiclient/client.go
  enterprise/internal/apiworker/apiclient/client_test.go
  enterprise/internal/apiworker/apiclient/types.go
  enterprise/internal/apiworker/apiserver/handler.go
  enterprise/internal/apiworker/apiserver/handler_test.go
  enterprise/internal/apiworker/apiserver/routes.go
  enterprise/internal/apiworker/command/docker.go
  enterprise/internal/apiworker/command/firecracker.go
  enterprise/internal/apiworker/command/logger.go
  enterprise/internal/apiworker/command/logger_test.go
  enterprise/internal/apiworker/command/main_test.go
  enterprise/internal/apiworker/command/run.go
  enterprise/internal/apiworker/command/run_test.go
  enterprise/internal/apiworker/command/runner.go
  enterprise/internal/apiworker/command/util.go
  enterprise/internal/apiworker/handler.go
  enterprise/internal/apiworker/handler_test.go
  enterprise/internal/apiworker/mock_store_test.go
  enterprise/internal/apiworker/store.go
  enterprise/internal/apiworker/workspace.go
Labels: team/code-intelligence

#16245 codeintel: Make log contents structured (Step 2: GraphQL)
  client/web/src/components/Timeline.scss
  client/web/src/components/Timeline.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.story.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexTimeline.scss
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexTimeline.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelUploadPage.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelUploadTimeline.tsx
  client/web/src/enterprise/codeintel/detail/DockerStep.tsx
  client/web/src/enterprise/codeintel/detail/DockerSteps.tsx
  client/web/src/enterprise/codeintel/detail/ExecutorLogs.tsx
  client/web/src/enterprise/codeintel/index.scss
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.story.tsx
  client/web/src/enterprise/codeintel/shared/CodeIntelUploadOrIndexIndexer.tsx
  client/web/src/enterprise/codeintel/shared/CodeIntelUploadOrIndexTimeline.tsx
  client/web/src/enterprise/codeintel/shared/backend.ts
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/execution_log_entry.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index_steps.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index_steps_index.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index_steps_preindex.go
  enterprise/cmd/frontend/internal/executor/internal_proxy_handler.go
  enterprise/internal/apiworker/apiclient/client.go
  enterprise/internal/apiworker/apiclient/client_test.go
  enterprise/internal/apiworker/apiclient/types.go
  enterprise/internal/apiworker/apiserver/handler.go
  enterprise/internal/apiworker/apiserver/handler_test.go
  enterprise/internal/apiworker/apiserver/routes.go
  enterprise/internal/apiworker/command/docker.go
  enterprise/internal/apiworker/command/firecracker.go
  enterprise/internal/apiworker/command/logger.go
  enterprise/internal/apiworker/command/logger_test.go
  enterprise/internal/apiworker/command/main_test.go
  enterprise/internal/apiworker/command/run.go
  enterprise/internal/apiworker/command/run_test.go
  enterprise/internal/apiworker/command/runner.go
  enterprise/internal/apiworker/command/util.go
  enterprise/internal/apiworker/handler.go
  enterprise/internal/apiworker/handler_test.go
  enterprise/internal/apiworker/mock_store_test.go
  enterprise/internal/apiworker/store.go
  enterprise/internal/apiworker/workspace.go
Labels: team/code-intelligence

#16337 campaigns: allow changeset diffs to be downloaded
  CHANGELOG.md
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/enterprise/campaigns/detail/changesets/DownloadDiffButton.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
Labels: team/campaigns

#16185 Implement delta API resolvers on changeset spec
  cmd/frontend/graphqlbackend/campaigns.go
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaign_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/rewirer.go
  enterprise/internal/campaigns/service_apply_campaign.go
  enterprise/internal/campaigns/service_apply_campaign_test.go
Labels: team/campaigns

#16240 Implement basic first version of delta UI
  CHANGELOG.md
  client/web/src/enterprise/campaigns/apply/ChangesetSpecAction.tsx
  client/web/src/enterprise/campaigns/apply/HiddenChangesetSpecNode.story.tsx
  client/web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.story.tsx
  client/web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.tsx
  client/web/src/enterprise/campaigns/apply/backend.ts
  client/web/src/integration/campaigns.test.ts
Labels: team/campaigns

#16312 github-proxy: Instrument mutex contention
  cmd/github-proxy/github-proxy.go
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/github_proxy.go
Labels: team/cloud

#16345 graphqlbackend: add new scalar BigInt to fix int overflow
  client/shared/src/util/strings.ts
  client/web/src/integration/graphQlResults.ts
  client/web/src/site-admin/overview/SiteAdminOverviewPage.test.tsx
  client/web/src/site-admin/overview/SiteAdminOverviewPage.tsx
  cmd/frontend/graphqlbackend/bigint.go
  cmd/frontend/graphqlbackend/repository_stats.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: team/cloud

#16313 Fix repo names with plus signs
  client/shared/src/util/url.test.ts
  client/shared/src/util/url.ts
  client/web/src/integration/graphQlResponseHelpers.ts
  client/web/src/integration/repository.test.ts
  client/web/src/repo/RepoContainer.tsx
  client/web/src/repo/tree/TreePage.tsx
Labels: bug, team/web

#16335 Removes bitbucket cloud from user code hosts
  client/web/src/user/settings/UserAddExternalServicesPage.tsx
Labels: team/cloud

#15679 Add extension architecture docs
  .stylelintignore
  doc/dev/background-information/architecture/index.md
  doc/dev/background-information/architecture/sourcegraph-extensions.md
  doc/dev/background-information/web/extension-architecture.svg
  doc/dev/background-information/web/extension-host.drawio
  doc/dev/background-information/web/extension-host.svg
Labels: docs, team/web

#16372 repo-updater: Use unnest instead of json_to_recordset
  cmd/repo-updater/repos/store.go
Labels: team/cloud

#16360 vcs/git: Remove commandRetryer
  cmd/frontend/backend/go_importers.go
  cmd/frontend/backend/repos_vcs.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_revision.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/repository_git_refs.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_symbols.go
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/internal/httpapi/internal.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/locations.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/codeintel/gitserver/client.go
  internal/vcs/git/blame_test.go
  internal/vcs/git/commits.go
  internal/vcs/git/commits_test.go
  internal/vcs/git/exec.go
  internal/vcs/git/merge_base_test.go
  internal/vcs/git/refs.go
  internal/vcs/git/revisions.go
  internal/vcs/git/revisions_test.go
  internal/vcs/git/tree_test.go
Labels: team/cloud

#16385 executor-queue: Do not ignore errors from store methods
  enterprise/internal/apiworker/apiserver/handler.go
Labels: team/code-intelligence

#16384 codeintel: Convert FAILED state to ERRORED
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/upload.go
Labels: team/code-intelligence

#16386 codeintel: Convert state columns to text
  internal/db/schema.md
  migrations/frontend/1528395761_remove_enums.down.sql
  migrations/frontend/1528395761_remove_enums.up.sql
  migrations/frontend/bindata.go
Labels: team/code-intelligence

#16396 Set read and write timeouts on gitserver http server
  cmd/github-proxy/github-proxy.go
  cmd/gitserver/main.go
  cmd/query-runner/main.go
  cmd/repo-updater/shared/main.go
  cmd/searcher/main.go
  cmd/symbols/main.go
  enterprise/cmd/executor/main.go
  enterprise/cmd/precise-code-intel-worker/main.go
Labels: team/cloud

#16404 repo-updater: Lazily performs deletes in UpsertRepos
  cmd/repo-updater/internal/store.go
  cmd/repo-updater/repos/store.go
Labels: team/cloud

#16397 Instrument when gitserver janitor is running
  cmd/gitserver/server/cleanup.go
Labels: team/cloud

#16401 Implement repo header changes
  client/web/src/integration/repository.test.ts
  client/web/src/repo/FilePathBreadcrumb.tsx
  client/web/src/repo/FilePathBreadcrumbs.scss
  client/web/src/repo/FilePathBreadcrumbs.tsx
  client/web/src/repo/RepoContainer.tsx
  client/web/src/repo/RepoHeader.tsx
  client/web/src/repo/routes.tsx
  client/web/src/repo/tree/TreePage.tsx
Labels: breaders, team/web

#16416 Use EXPERIMENTAL_useSourceOfProjectReferenceRedirect
  .eslintrc.js
Labels: ops & tools & dev

#16402 Use generated GraphQL types for Repository
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.tsx
  client/web/src/enterprise/codeintel/list/CodeIntelUploadsPage.tsx
  client/web/src/enterprise/repo/settings/RepoSettingsPermissionsPage.tsx
  client/web/src/repo/RepoContainer.tsx
  client/web/src/repo/RepoRevisionContainer.tsx
  client/web/src/repo/actions/GoToCodeHostAction.tsx
  client/web/src/repo/actions/InstallBrowserExtensionAlert.story.tsx
  client/web/src/repo/actions/InstallBrowserExtensionAlert.test.tsx
  client/web/src/repo/actions/InstallBrowserExtensionAlert.tsx
  client/web/src/repo/actions/__snapshots__/InstallBrowserExtensionAlert.test.tsx.snap
  client/web/src/repo/backend.ts
  client/web/src/repo/branches/RepositoryBranchesArea.tsx
  client/web/src/repo/commit/RepositoryCommitPage.tsx
  client/web/src/repo/commits/RepositoryCommitsPage.tsx
  client/web/src/repo/compare/RepositoryCompareArea.tsx
  client/web/src/repo/releases/RepositoryReleasesArea.tsx
  client/web/src/repo/settings/RepoSettingsArea.tsx
  client/web/src/repo/settings/RepoSettingsIndexPage.tsx
  client/web/src/repo/settings/RepoSettingsMirrorPage.tsx
  client/web/src/repo/settings/RepoSettingsOptionsPage.tsx
  client/web/src/repo/settings/RepoSettingsSidebar.tsx
  client/web/src/repo/settings/backend.tsx
  client/web/src/repo/stats/RepositoryStatsArea.tsx
Labels: debt, team/web

#16403 Remove onDidUpdateRepository
  client/web/src/repo/RepoContainer.tsx
  client/web/src/repo/RepoRevisionContainer.tsx
  client/web/src/repo/settings/RepoSettingsArea.tsx
  client/web/src/repo/settings/RepoSettingsMirrorPage.tsx
  client/web/src/repo/settings/RepoSettingsOptionsPage.tsx
Labels: debt, team/web

#16424 gqltest: test repository name with space
  dev/gqltest/main_test.go
  dev/gqltest/repository_test.go
  internal/gqltestutil/repository.go
Labels: team/cloud

#16435 db: Authorization is required for user owned external services
  internal/db/external_services.go
  internal/db/external_services_test.go
  internal/db/repos_db_test.go
  internal/db/users_test.go
Labels: team/cloud

#16437 Add ListRepoNames method to Repo Store
  internal/db/repos.go
  internal/db/repos_db_test.go
  internal/types/types.go
Labels: team/cloud

#16444 repo-updater: Don't sync private repos on demand
  cmd/repo-updater/repoupdater/server.go
Labels: team/cloud

#16449 Remove dependency octicons-react
  package.json
  yarn.lock
Labels: debt

#16458 Remove campaigns snapshot tests
  client/web/src/enterprise/campaigns/detail/BurndownChart.test.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.test.tsx
  client/web/src/enterprise/campaigns/detail/CampaignSpecTab.test.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignSpecTab.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetLabel.test.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetLastSynced.test.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.test.tsx
  client/web/src/enterprise/campaigns/detail/changesets/HiddenExternalChangesetNode.test.tsx
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLabel.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLastSynced.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/ExternalChangesetNode.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/HiddenExternalChangesetNode.test.tsx.snap
  client/web/src/enterprise/campaigns/global/marketing/CampaignsDotComPage.test.tsx
  client/web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  client/web/src/enterprise/campaigns/global/nav/CampaignsNavItem.test.tsx
  client/web/src/enterprise/campaigns/global/nav/__snapshots__/CampaignsNavItem.test.tsx.snap
  client/web/src/enterprise/campaigns/list/CampaignListPage.test.tsx
  client/web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignListPage.test.tsx.snap
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: debt

#16411 gulp: disable graphql-codegen's watch feature
  client/shared/dev/generateGraphQlOperations.js
  client/shared/gulpfile.js
  client/web/gulpfile.js
  gulpfile.js
Labels: quality-of-life

#16505 repo-updater: Instrument code host sync errors.
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/repo_updater.go
Labels: team/cloud

#16453 repo-updater: Don't delete repos when rate limit exceeded
  cmd/repo-updater/repoupdater/server.go
  internal/extsvc/github/common.go
  internal/extsvc/github/v3.go
Labels: team/cloud

#16459 codeintel: Fix integration tests
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  internal/cmd/precise-code-intel-tester/query.go
  internal/cmd/precise-code-intel-tester/scripts/clone-and-index.sh
  internal/cmd/precise-code-intel-tester/scripts/go-index.sh
  internal/cmd/precise-code-intel-tester/upload.go
  internal/cmd/precise-code-intel-tester/util/parallel.go
Labels: team/code-intelligence

#16445 Some dev environment QoL improvements
  client/shared/gulpfile.js
  dev/syntect_server.sh
  enterprise/dev/Procfile
  tsconfig.json
Labels: quality-of-life

#16368 codeintel: Optimize commit graph
  enterprise/internal/codeintel/commitgraph/commit_graph.go
  enterprise/internal/codeintel/commitgraph/commit_graph_test.go
  enterprise/internal/codeintel/commitgraph/commit_graph_view.go
  enterprise/internal/codeintel/commitgraph/testdata/commits.txt.gz
  enterprise/internal/codeintel/commitgraph/testdata/uploads.txt.gz
  enterprise/internal/codeintel/commitgraph/upload_meta.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph_test.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/commits_test.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
  enterprise/internal/codeintel/stores/dbstore/helpers_test.go
  enterprise/internal/codeintel/stores/dbstore/references_test.go
Labels: team/code-intelligence

#16146 campaigns: notify the user upon fresher specs
  CHANGELOG.md
  client/web/src/enterprise/campaigns/apply/CampaignApplyPage.story.tsx
  client/web/src/enterprise/campaigns/apply/CampaignApplyPage.tsx
  client/web/src/enterprise/campaigns/apply/backend.ts
  client/web/src/enterprise/campaigns/close/CampaignClosePage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.tsx
  client/web/src/enterprise/campaigns/detail/SupersedingCampaignSpecAlert.tsx
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/integration/campaigns.test.ts
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaign_spec.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store_campaign_specs.go
  enterprise/internal/campaigns/store_campaign_specs_test.go
Labels: team/campaigns

#16517 hotfix: Optimize code intelligence commit graph
  enterprise/cmd/frontend/internal/codeintel/api/exists_test.go
  enterprise/cmd/frontend/internal/codeintel/api/helpers_test.go
  enterprise/cmd/frontend/internal/codeintel/api/iface.go
  enterprise/cmd/frontend/internal/codeintel/api/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/iface.go
  enterprise/cmd/frontend/internal/codeintel/background/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/iface.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_iface_test.go
  enterprise/internal/codeintel/commitgraph/commit_graph.go
  enterprise/internal/codeintel/commitgraph/commit_graph_test.go
  enterprise/internal/codeintel/commitgraph/commit_graph_view.go
  enterprise/internal/codeintel/commitgraph/testdata/commits.txt.gz
  enterprise/internal/codeintel/commitgraph/testdata/uploads.txt.gz
  enterprise/internal/codeintel/commitgraph/upload_meta.go
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/client_test.go
  enterprise/internal/codeintel/gitserver/observability.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph_test.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/commits_test.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
  enterprise/internal/codeintel/stores/dbstore/helpers_test.go
  enterprise/internal/codeintel/stores/dbstore/references_test.go
  internal/cmd/precise-code-intel-tester/query.go
  internal/cmd/precise-code-intel-tester/scripts/clone-and-index.sh
  internal/cmd/precise-code-intel-tester/scripts/go-index.sh
  internal/cmd/precise-code-intel-tester/upload.go
  internal/cmd/precise-code-intel-tester/util/parallel.go
Labels: team/code-intelligence

#16532 migrations: remove unused campaigns tables
  internal/db/schema.md
  migrations/frontend/1528395763_remove_old_campaign_tables.down.sql
  migrations/frontend/1528395763_remove_old_campaign_tables.up.sql
  migrations/frontend/bindata.go
Labels: team/campaigns

#16470 codeintel: Add UI to configure indexing jobs
  client/web/src/enterprise/codeintel/configuration/CodeIntelIndexConfigurationPage.story.tsx
  client/web/src/enterprise/codeintel/configuration/CodeIntelIndexConfigurationPage.tsx
  client/web/src/enterprise/codeintel/configuration/backend.ts
  client/web/src/enterprise/codeintel/configuration/schema.json
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.tsx
  client/web/src/enterprise/codeintel/list/CodeIntelUploadsPage.tsx
  client/web/src/enterprise/repo/settings/routes.tsx
  client/web/src/enterprise/repo/settings/sidebaritems.ts
  client/web/src/repo/settings/RepoSettingsArea.tsx
  client/web/tsconfig.json
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/cmd/frontend/internal/codeintel/background/index_scheduler.go
  enterprise/cmd/frontend/internal/codeintel/background/indexability_updater.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index_configuration.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/resolver.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/iface.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mocks/mock_resolver.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/autoindex/config/json.go
  enterprise/internal/codeintel/autoindex/config/json_test.go
  enterprise/internal/codeintel/autoindex/config/types.go
  enterprise/internal/codeintel/autoindex/config/yaml.go
  enterprise/internal/codeintel/autoindex/config/yaml_test.go
  enterprise/internal/codeintel/autoindex/inference/go.go
  enterprise/internal/codeintel/autoindex/inference/go_test.go
  enterprise/internal/codeintel/autoindex/inference/paths.go
  enterprise/internal/codeintel/autoindex/inference/paths_test.go
  enterprise/internal/codeintel/autoindex/inference/patterns.go
  enterprise/internal/codeintel/autoindex/inference/recognizers.go
  enterprise/internal/codeintel/autoindex/inference/typescript.go
  enterprise/internal/codeintel/autoindex/inference/typescript_test.go
  enterprise/internal/codeintel/autoindex/inference/util.go
  enterprise/internal/codeintel/stores/dbstore/index_configuration.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/observability.go
Labels: estimate/3d, team/code-intelligence

#16522 errcode: Use anonymous interfaces
  internal/errcode/code.go
Labels: team/cloud

#16542 Revert "errcode: Use anonymous interfaces (#16522)"
  internal/errcode/code.go
Labels: team/cloud

#16551 monitoring: Fix job name in frontend (for dev)
  monitoring/definitions/frontend.go
Labels: team/code-intelligence

#16466 web: search: major code excerpt refactor (better testing, code structure, etc.)
  client/branded/src/components/panel/views/FileLocations.tsx
  client/shared/src/components/CodeExcerpt.test.tsx
  client/shared/src/components/CodeExcerpt.tsx
  client/shared/src/components/FileMatch.test.tsx
  client/shared/src/components/FileMatch.tsx
  client/shared/src/components/FileMatchChildren.test.tsx
  client/shared/src/components/FileMatchChildren.tsx
  client/shared/src/components/FileMatchContext.test.tsx
  client/shared/src/components/FileMatchContext.ts
Labels: team/internal-contributor

#16553 campaigns: reword download diff link
  client/web/src/enterprise/campaigns/detail/changesets/DownloadDiffButton.tsx
Labels: team/campaigns

#16547 monitoring: Use lines for thresholds instead fill areas
  monitoring/monitoring/monitoring.go
Labels: team/cloud

#16516 repo-updater: Handle revoked tokens
  internal/errcode/code.go
  internal/extsvc/awscodecommit/repos.go
  internal/extsvc/gitolite/repos.go
  internal/extsvc/gitolite/repos_test.go
  internal/repos/sources.go
  internal/repos/syncer.go
  internal/repos/syncer_test.go
Labels: team/cloud

#16581 go.mod: Update gonduit dependency
  go.mod
  go.sum
Labels: team/cloud

#16591 monitoring: Disable alerting for echo_command_duration
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/git_server.go
Labels: gitserver, team/cloud

#16558 code-intel: pass hex byte encoded commit hash to query
  enterprise/internal/codeintel/stores/dbstore/dumps.go
Labels: team/code-intelligence

#16202 campaigns: add changeset text search
  CHANGELOG.md
  client/web/src/enterprise.scss
  client/web/src/enterprise/campaigns/close/CampaignCloseChangesetsList.tsx
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetFilterRow.scss
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetFilterRow.tsx
  client/web/src/enterprise/campaigns/detail/changesets/EmptyChangesetListElement.tsx
  client/web/src/enterprise/campaigns/detail/changesets/EmptyChangesetSearchElement.tsx
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/search/changeset.go
  enterprise/internal/campaigns/search/changeset_test.go
  enterprise/internal/campaigns/search/errors.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
Labels: team/campaigns

#16603 campaigns: tinker with no result wording
  client/web/src/enterprise/campaigns/detail/changesets/EmptyChangesetSearchElement.tsx
Labels: automerge

#16605 Remove prioritization of changesets without any diffstat
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/syncer_test.go
Labels: debt, team/campaigns

#16590 Use RepoNames instead of Repos in search code
  cmd/frontend/backend/repos.go
  cmd/frontend/graphqlbackend/repositories.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_alert_test.go
  cmd/frontend/graphqlbackend/search_commits.go
  cmd/frontend/graphqlbackend/search_commits_test.go
  cmd/frontend/graphqlbackend/search_pagination.go
  cmd/frontend/graphqlbackend/search_pagination_test.go
  cmd/frontend/graphqlbackend/search_repositories.go
  cmd/frontend/graphqlbackend/search_repositories_test.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/search_structural.go
  cmd/frontend/graphqlbackend/search_structural_test.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_suggestions_test.go
  cmd/frontend/graphqlbackend/search_symbols.go
  cmd/frontend/graphqlbackend/search_test.go
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/textsearch_test.go
  cmd/frontend/graphqlbackend/zoekt.go
  cmd/frontend/graphqlbackend/zoekt_test.go
  cmd/frontend/internal/httpapi/internal.go
  cmd/frontend/internal/httpapi/internal_test.go
  internal/db/default_repos.go
  internal/db/default_repos_test.go
  internal/db/repos.go
  internal/db/repos_mock.go
  internal/search/repo_revs.go
  internal/types/types.go
Labels: team/cloud

#16613 Remove Repo store OnlyRepoIDs option
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_suggestions_test.go
  internal/db/external_services_test.go
  internal/db/repos.go
  internal/db/repos_db_test.go
Labels: team/cloud

#16615 Change global repo type structure
  cmd/frontend/graphqlbackend/repositories_test.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/repository_test.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/search_test.go
  cmd/frontend/graphqlbackend/zoekt_test.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  enterprise/cmd/frontend/internal/authz/resolvers/repositories.go
  internal/db/external_services_test.go
  internal/db/repos.go
  internal/db/repos_db_test.go
  internal/repos/types_test.go
  internal/types/testing.go
  internal/types/types.go
Labels: team/cloud

#16618 Delete repo-updater Repo types
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  enterprise/cmd/repo-updater/authz/integration_test.go
  enterprise/cmd/repo-updater/authz/perms_syncer.go
  enterprise/cmd/repo-updater/authz/perms_syncer_test.go
  enterprise/internal/campaigns/executor_test.go
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/store_codehost_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/syncer_test.go
  enterprise/internal/campaigns/testing/repos.go
  enterprise/internal/campaigns/webhooks.go
  enterprise/internal/campaigns/webhooks_gitlab.go
  enterprise/internal/campaigns/webhooks_gitlab_test.go
  enterprise/internal/campaigns/webhooks_test.go
  internal/repos/awscodecommit.go
  internal/repos/bitbucketcloud.go
  internal/repos/bitbucketcloud_test.go
  internal/repos/bitbucketserver.go
  internal/repos/bitbucketserver_test.go
  internal/repos/github.go
  internal/repos/github_test.go
  internal/repos/gitlab.go
  internal/repos/gitlab_test.go
  internal/repos/gitolite.go
  internal/repos/observability.go
  internal/repos/other.go
  internal/repos/other_test.go
  internal/repos/phabricator.go
  internal/repos/scheduler.go
  internal/repos/scheduler_test.go
  internal/repos/sources.go
  internal/repos/sources_test.go
  internal/repos/store.go
  internal/repos/store_test.go
  internal/repos/syncer.go
  internal/repos/syncer_test.go
  internal/repos/testing.go
  internal/repos/types.go
  internal/repos/types_test.go
  internal/usagestats/campaigns_test.go
Labels: team/cloud

#16622 grafana: Add internal Nginx dashboards
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/nginx.json
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/request-handling-performance.json
Labels: team/cloud

#16570 graphql: add ability to syntax highlight specific line ranges
  cmd/frontend/graphqlbackend/highlight.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  internal/highlight/highlight.go
  internal/highlight/highlight_test.go
Labels: team/internal-contributor

#16571 search: reduce bytes transferred for loading each search result by ~50-70%
  client/branded/src/components/panel/Panel.tsx
  client/branded/src/components/panel/views/FileLocations.tsx
  client/branded/src/components/panel/views/HierarchicalLocationsView.story.tsx
  client/branded/src/components/panel/views/HierarchicalLocationsView.test.tsx
  client/branded/src/components/panel/views/HierarchicalLocationsView.tsx
  client/branded/src/components/panel/views/PanelView.tsx
  client/shared/src/components/CodeExcerpt.test.tsx
  client/shared/src/components/CodeExcerpt.tsx
  client/shared/src/components/FileMatch.test.tsx
  client/shared/src/components/FileMatch.tsx
  client/shared/src/components/FileMatchChildren.test.tsx
  client/shared/src/components/FileMatchChildren.tsx
  client/shared/src/components/ResultContainer.test.tsx
  client/shared/src/settings/settings.ts
  client/shared/src/util/searchTestHelpers.ts
  client/web/src/Layout.tsx
  client/web/src/SourcegraphWebApp.tsx
  client/web/src/integration/blob-viewer.test.ts
  client/web/src/repo/backend.ts
  client/web/src/search/results/SearchResults.test.tsx
  client/web/src/search/results/SearchResults.tsx
  client/web/src/search/results/SearchResultsList.story.tsx
  client/web/src/search/results/SearchResultsList.test.tsx
  client/web/src/search/results/SearchResultsList.tsx
  client/web/src/search/results/streaming/StreamingSearchResults.story.tsx
  client/web/src/search/results/streaming/StreamingSearchResults.test.tsx
  client/web/src/search/results/streaming/StreamingSearchResults.tsx
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
Labels: team/internal-contributor

#16464 Add resend email verification link to emails setting page
  client/web/src/user/settings/emails/UserEmail.tsx
  client/web/src/user/settings/emails/UserSettingsEmailsPage.scss
  client/web/src/user/settings/emails/UserSettingsEmailsPage.tsx
  cmd/frontend/graphqlbackend/user_emails.go
  cmd/frontend/graphqlbackend/user_emails_test.go
Labels: estimate/0.5d, team/cloud

#16656 profiler: Introduce a profiler package and use it in repo-updater
  cmd/repo-updater/shared/main.go
  go.mod
  go.sum
  internal/profiler/profiler.go
Labels: team/cloud

#16665 gitserver: Enable continuous profiling
  cmd/gitserver/main.go
Labels: backend-infra, gitserver, team/cloud

#16666 executor: Fix too many open files
  enterprise/internal/apiworker/command/run.go
Labels: team/code-intelligence

#16637 Fix racy read on r.namespace
  enterprise/internal/campaigns/resolvers/campaign_spec.go
Labels: team/campaigns

#16664 monitoring: Tune some repo-updater alerts
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/repo_updater.go
  monitoring/monitoring/README.md
  monitoring/monitoring/monitoring.go
Labels: monitoring, repo-updater, team/cloud

#16688 repo-updater: Skip listing conflicting repos when sourcing fails
  internal/repos/syncer.go
Labels: repo-updater, team/cloud

#16693 frontend: Enable continuous profiling
  cmd/frontend/internal/cli/serve_cmd.go
Labels: backend-infra, team/cloud

#16695 pubsub: Use explicit credentials file
  internal/pubsub/publish.go
Labels: backend-infra, team/cloud

#16548 Add SQL views for changeset rewirer
  enterprise/internal/campaigns/store/changeset_specs.go
  migrations/frontend/1528395765_changeset_rewirer_views.down.sql
  migrations/frontend/1528395765_changeset_rewirer_views.up.sql
  migrations/frontend/bindata.go
Labels: debt, team/campaigns

#16050 Fetch gitlab state change events from API
  enterprise/internal/campaigns/counts_test.go
  enterprise/internal/campaigns/webhooks_gitlab.go
  enterprise/internal/campaigns/webhooks_gitlab_test.go
  internal/campaigns/changeset.go
  internal/campaigns/changeset_event.go
  internal/campaigns/changeset_event_test.go
  internal/extsvc/gitlab/merge_requests.go
  internal/extsvc/gitlab/mock.go
  internal/extsvc/gitlab/notes.go
  internal/extsvc/gitlab/notes_test.go
  internal/extsvc/gitlab/pipelines.go
  internal/extsvc/gitlab/resource_state_events.go
  internal/extsvc/gitlab/webhooks/merge_requests.go
  internal/extsvc/gitlab/webhooks/merge_requests_test.go
  internal/repos/gitlab.go
  internal/repos/gitlab_test.go
  migrations/frontend/1528395766_drop_old_gitlab_events.down.sql
  migrations/frontend/1528395766_drop_old_gitlab_events.up.sql
  migrations/frontend/bindata.go
Labels: bug, team/campaigns

#16529 Update the list of Jetbrains IDEs
  doc/integration/editor.md
Labels: team/product

#16716 ratelimit: Key monitors by "resource"
  internal/extsvc/github/user_test.go
  internal/extsvc/github/v3.go
  internal/extsvc/github/v3_test.go
  internal/extsvc/github/v4.go
  internal/extsvc/gitlab/client.go
  internal/ratelimit/monitor.go
  internal/repos/github.go
Labels: team/cloud

#16213 Replace calls to repo-updater InsertRepos to RepoStore Create
  enterprise/internal/campaigns/resolvers/campaign_connection_test.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/store/changeset_specs_test.go
  enterprise/internal/campaigns/store/changesets_test.go
  enterprise/internal/campaigns/store/codehost_test.go
  enterprise/internal/campaigns/testing/repos.go
  enterprise/internal/campaigns/webhooks_gitlab_test.go
  enterprise/internal/campaigns/webhooks_test.go
  internal/db/repos.go
  internal/usagestats/campaigns_test.go
Labels: team/cloud

#16215 Replace calls to repo-updater DeleteRepos to RepoStore Delete
  enterprise/internal/campaigns/store/changeset_specs_test.go
  enterprise/internal/campaigns/store/changesets_test.go
  enterprise/internal/campaigns/store/codehost_test.go
Labels: team/cloud

#16589 Handle dark theme for decorations
  client/branded/src/global-styles/colors.scss
  client/browser/src/app.scss
  client/browser/src/shared.scss
  client/browser/src/shared/code-hosts/github/codeHost.ts
  client/browser/src/shared/code-hosts/github/style.scss
  client/browser/src/shared/code-hosts/shared/codeHost.test.tsx
  client/browser/src/shared/code-hosts/shared/codeHost.tsx
  client/browser/src/shared/code-hosts/shared/consts.ts
  client/browser/src/shared/code-hosts/shared/extensions.tsx
  client/shared/src/hover/HoverOverlay.scss
  client/shared/src/hover/HoverOverlay.tsx
  client/shared/src/theme.ts
Labels: browser-extension

#16692 Improve go integration in vscode
  .vscode/settings.json
Labels: ops & tools & dev

#16719 Replace calls to repo-updater ListRepos method
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/syncer_test.go
  enterprise/internal/campaigns/webhooks.go
  enterprise/internal/campaigns/webhooks_test.go
  internal/db/external_services.go
  internal/db/repos.go
Labels: team/cloud

#16685 Refactor campaigns go tests
  enterprise/internal/campaigns/executor_test.go
  enterprise/internal/campaigns/main_test.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/campaign_connection_test.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/campaign_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/code_host_connection_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service_apply_campaign_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store/campaigns_test.go
  enterprise/internal/campaigns/store/integration_test.go
  enterprise/internal/campaigns/testing/changeset_spec.go
  enterprise/internal/campaigns/testing/org.go
  enterprise/internal/campaigns/testing/user.go
  enterprise/internal/campaigns/webhooks_integration_test.go
Labels: debt, team/campaigns

#16690 Remove httpcli from campaigns resolvers and service packages
  enterprise/internal/campaigns/resolvers/campaign.go
  enterprise/internal/campaigns/resolvers/campaign_connection.go
  enterprise/internal/campaigns/resolvers/campaign_spec.go
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_connection.go
  enterprise/internal/campaigns/resolvers/changeset_event.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/service/service.go
  enterprise/internal/campaigns/service/service_apply_campaign_test.go
  enterprise/internal/campaigns/service/service_test.go
Labels: debt, team/campaigns

#16691 Fix some golanglint warnings in campaigns packages
  enterprise/internal/campaigns/reconciler/executor.go
  enterprise/internal/campaigns/reconciler/reconciler_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/urls.go
  enterprise/internal/campaigns/search/changeset.go
  enterprise/internal/campaigns/search/changeset_test.go
  enterprise/internal/campaigns/service/service_apply_campaign_test.go
  enterprise/internal/campaigns/state/counts.go
  enterprise/internal/campaigns/store/campaign_specs.go
  enterprise/internal/campaigns/store/campaigns_test.go
  enterprise/internal/campaigns/store/changeset_events_test.go
  enterprise/internal/campaigns/store/changeset_specs_test.go
  enterprise/internal/campaigns/store/changesets_test.go
  enterprise/internal/campaigns/syncer/syncer_test.go
  enterprise/internal/campaigns/webhooks/webhooks_test.go
Labels: debt, team/campaigns

#16708 Make campaigns pkg the only entry-point for external usage of campaigns code
  enterprise/cmd/frontend/internal/campaigns/CODENOTIFY
  enterprise/cmd/frontend/main.go
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/background.go
  enterprise/internal/campaigns/background/background.go
  enterprise/internal/campaigns/background/workers.go
  enterprise/internal/campaigns/doc.go
  enterprise/internal/campaigns/frontend.go
  enterprise/internal/campaigns/resolvers/resolver.go
Labels: debt, team/campaigns

#16725 Fix doc comment of NewWithStore
  enterprise/internal/campaigns/service/service.go
Labels: team/campaigns

#16639 codeintel: Update storybooks
  client/web/src/components/Timeline.story.tsx
  client/web/src/enterprise/codeintel/configuration/CodeIntelIndexConfigurationPage.story.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.story.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelUploadPage.story.tsx
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.story.tsx
  client/web/src/enterprise/codeintel/list/CodeIntelUploadsPage.story.tsx
  client/web/src/enterprise/codeintel/list/backend.ts
Labels: team/code-intelligence

#16636 codeintel: Optimize nearest upload operations
  enterprise/cmd/frontend/internal/codeintel/api/helpers_test.go
  enterprise/cmd/frontend/internal/codeintel/httpapi/upload_handler_test.go
  enterprise/internal/codeintel/bloomfilter/helpers_test.go
  enterprise/internal/codeintel/commitgraph/commit_graph.go
  enterprise/internal/codeintel/commitgraph/commit_graph_test.go
  enterprise/internal/codeintel/commitgraph/commit_graph_view.go
  enterprise/internal/codeintel/commitgraph/upload_meta.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/commits_test.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
  enterprise/internal/codeintel/stores/dbstore/helpers_test.go
  enterprise/internal/codeintel/stores/dbstore/references.go
  enterprise/internal/codeintel/stores/dbstore/references_test.go
  enterprise/internal/codeintel/stores/lsifstore/bundle_test.go
  enterprise/internal/codeintel/stores/uploadstore/gcs_client_test.go
  enterprise/internal/codeintel/stores/uploadstore/s3_client_test.go
  internal/db/batch/batch_test.go
  internal/db/dbconn/dbconn.go
  internal/db/schema.md
  migrations/frontend/1528395767_split_nearest_uploads.down.sql
  migrations/frontend/1528395767_split_nearest_uploads.up.sql
  migrations/frontend/1528395768_compress_nearest_uploads.down.sql
  migrations/frontend/1528395768_compress_nearest_uploads.up.sql
  migrations/frontend/bindata.go
Labels: team/code-intelligence

#16676 Add campaign requirements
  doc/campaigns/how-tos/updating_a_campaign.md
  doc/campaigns/index.md
  doc/campaigns/references/requirements.md
Labels: team/campaigns

#16733 codeintel: Refrain from using git log --all in directed path
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  enterprise/internal/codeintel/gitserver/client.go
Labels: team/code-intelligence

#16753 Decouple repo-updater store from the rest of the codebase
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/webhooks/github_webhooks.go
  cmd/frontend/webhooks/github_webhooks_test.go
  enterprise/internal/campaigns/frontend.go
  enterprise/internal/campaigns/resolvers/campaign_connection_test.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/rewirer/rewirer.go
  enterprise/internal/campaigns/service/service.go
  enterprise/internal/campaigns/service/service_apply_campaign.go
  enterprise/internal/campaigns/store/campaign_specs_test.go
  enterprise/internal/campaigns/store/campaigns_test.go
  enterprise/internal/campaigns/store/changeset_events_test.go
  enterprise/internal/campaigns/store/changeset_specs_test.go
  enterprise/internal/campaigns/store/changesets_test.go
  enterprise/internal/campaigns/store/codehost_test.go
  enterprise/internal/campaigns/store/store_test.go
  enterprise/internal/campaigns/testing/repos.go
  enterprise/internal/campaigns/webhooks/webhooks.go
  enterprise/internal/campaigns/webhooks/webhooks_gitlab.go
  enterprise/internal/campaigns/webhooks/webhooks_gitlab_test.go
  enterprise/internal/campaigns/webhooks/webhooks_test.go
  internal/repos/observability.go
  internal/repos/store.go
  internal/usagestats/campaigns_test.go
Labels: team/cloud

#16759 Remove unused calls to repo updater store
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/background.go
  enterprise/internal/campaigns/background/background.go
Labels: team/cloud

#16713 Ensure repo is always hydrated when needed
  cmd/frontend/graphqlbackend/git_blob.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_commits.go
  cmd/frontend/graphqlbackend/git_object.go
  cmd/frontend/graphqlbackend/git_revision.go
  cmd/frontend/graphqlbackend/git_tree.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/git_tree_entry_test.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/preview_repository_comparison_test.go
  cmd/frontend/graphqlbackend/repositories.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/repository_comparison_test.go
  cmd/frontend/graphqlbackend/repository_contributors.go
  cmd/frontend/graphqlbackend/repository_external.go
  cmd/frontend/graphqlbackend/repository_git_refs.go
  cmd/frontend/graphqlbackend/repository_mirror.go
  cmd/frontend/graphqlbackend/repository_test.go
  cmd/frontend/graphqlbackend/repository_text_search_index.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_commits.go
  cmd/frontend/graphqlbackend/search_commits_test.go
  cmd/frontend/graphqlbackend/search_pagination.go
  cmd/frontend/graphqlbackend/search_pagination_test.go
  cmd/frontend/graphqlbackend/search_repositories.go
  cmd/frontend/graphqlbackend/search_repositories_test.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_stats_languages.go
  cmd/frontend/graphqlbackend/search_results_stats_languages_test.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/search_structural.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_symbols_test.go
  cmd/frontend/graphqlbackend/search_test.go
  cmd/frontend/graphqlbackend/symbols.go
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/zoekt.go
  cmd/frontend/graphqlbackend/zoekt_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/locations.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/locations_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/resolver.go
  internal/db/repos_mock.go
Labels: team/cloud

#16535 Add proper preview API
  client/web/src/enterprise.scss
  client/web/src/enterprise/campaigns/apply/ChangesetSpecAction.tsx
  client/web/src/enterprise/campaigns/apply/ChangesetSpecList.story.tsx
  client/web/src/enterprise/campaigns/apply/ChangesetSpecNode.story.tsx
  client/web/src/enterprise/campaigns/apply/HiddenChangesetSpecNode.story.tsx
  client/web/src/enterprise/campaigns/apply/HiddenChangesetSpecNode.tsx
  client/web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.story.tsx
  client/web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.tsx
  client/web/src/enterprise/campaigns/apply/backend.ts
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetInfoCell.tsx
  client/web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  client/web/src/enterprise/campaigns/preview/CampaignPreviewPage.story.tsx
  client/web/src/enterprise/campaigns/preview/CampaignPreviewPage.tsx
  client/web/src/enterprise/campaigns/preview/CampaignSpecInfoByline.story.tsx
  client/web/src/enterprise/campaigns/preview/CampaignSpecInfoByline.tsx
  client/web/src/enterprise/campaigns/preview/CreateUpdateCampaignAlert.scss
  client/web/src/enterprise/campaigns/preview/CreateUpdateCampaignAlert.story.tsx
  client/web/src/enterprise/campaigns/preview/CreateUpdateCampaignAlert.tsx
  client/web/src/enterprise/campaigns/preview/MissingCredentialsAlert.tsx
  client/web/src/enterprise/campaigns/preview/backend.ts
  client/web/src/enterprise/campaigns/preview/list/ChangesetApplyPreviewNode.scss
  client/web/src/enterprise/campaigns/preview/list/ChangesetApplyPreviewNode.story.tsx
  client/web/src/enterprise/campaigns/preview/list/ChangesetApplyPreviewNode.tsx
  client/web/src/enterprise/campaigns/preview/list/EmptyPreviewListElement.scss
  client/web/src/enterprise/campaigns/preview/list/EmptyPreviewListElement.tsx
  client/web/src/enterprise/campaigns/preview/list/GitBranchChangesetDescriptionInfo.tsx
  client/web/src/enterprise/campaigns/preview/list/HiddenChangesetApplyPreviewNode.scss
  client/web/src/enterprise/campaigns/preview/list/HiddenChangesetApplyPreviewNode.story.tsx
  client/web/src/enterprise/campaigns/preview/list/HiddenChangesetApplyPreviewNode.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewAction.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewList.scss
  client/web/src/enterprise/campaigns/preview/list/PreviewList.story.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewList.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewListHeader.tsx
  client/web/src/enterprise/campaigns/preview/list/VisibleChangesetApplyPreviewNode.scss
  client/web/src/enterprise/campaigns/preview/list/VisibleChangesetApplyPreviewNode.story.tsx
  client/web/src/enterprise/campaigns/preview/list/VisibleChangesetApplyPreviewNode.tsx
  client/web/src/enterprise/campaigns/preview/list/backend.ts
  client/web/src/integration/campaigns.test.ts
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/exec.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaign_spec.go
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview_connection.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/rewirer/rewirer.go
  enterprise/internal/campaigns/service/service_apply_campaign.go
  enterprise/internal/campaigns/store/changeset_specs.go
  enterprise/internal/campaigns/store/changeset_specs_test.go
Labels: team/campaigns

#16765 repo-updater: Allow custom git update interval
  CHANGELOG.md
  internal/conf/validate_custom.go
  internal/repos/scheduler.go
  internal/repos/scheduler_test.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#16750 Instrument GitHub and GitLab rate limit remaining per code host connection
  doc/admin/observability/alert_solutions.md
  internal/extsvc/github/v4.go
  internal/extsvc/gitlab/client.go
  internal/ratelimit/monitor.go
  internal/ratelimit/rate_limit_test.go
  internal/repos/github.go
  internal/repos/gitlab.go
  monitoring/definitions/repo_updater.go
Labels: team/cloud

#16689 dev(release): fix caching behaviour for version confirmation
  dev/release/src/campaigns.ts
  dev/release/src/config.ts
  dev/release/src/github.ts
  dev/release/src/google-calendar.ts
  dev/release/src/release.ts
  dev/release/src/slack.ts
  dev/release/src/util.ts
Labels: release-rough-edges, team/distribution

#16766 Add changelog entry for release 3.23
  client/web/src/enterprise/campaigns/list/CampaignListIntro.tsx
Labels: team/campaigns

#16773 monitoring: Disable alerting for syntect_server
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/syntect_server.go
Labels: monitoring, team/cloud

#16687 campaigns: implement licence checks
  CHANGELOG.md
  client/web/src/enterprise/campaigns/list/CampaignListIntro.story.tsx
  client/web/src/enterprise/campaigns/list/CampaignListIntro.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.story.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.tsx
  client/web/src/enterprise/campaigns/list/backend.ts
  client/web/src/integration/campaigns.test.ts
  cmd/frontend/enterprise/enterprise.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/license.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/testing.go
  cmd/frontend/internal/cli/serve_cmd.go
  enterprise/cmd/frontend/internal/authz/resolvers/resolver_test.go
  enterprise/cmd/frontend/internal/licensing/init/init.go
  enterprise/internal/campaigns/resolvers/campaign_connection_test.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/campaign_test.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/code_host_connection_test.go
  enterprise/internal/campaigns/resolvers/errors.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/codemonitors/resolvers/resolvers_test.go
  enterprise/internal/licensing/resolvers/resolvers.go
  enterprise/internal/licensing/resolvers/resolvers_test.go
Labels: team/campaigns

#16739 codeintel: Increase background task observability
  dev/prometheus/all/prometheus_targets.yml
  dev/prometheus/linux/prometheus_targets.yml
  doc/admin/observability/alert_solutions.md
  enterprise/cmd/frontend/internal/codeintel/background/abandoned_uploads.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/deleted_repositories.go
  enterprise/cmd/frontend/internal/codeintel/background/hard_delete.go
  enterprise/cmd/frontend/internal/codeintel/background/index_scheduler.go
  enterprise/cmd/frontend/internal/codeintel/background/index_scheduler_test.go
  enterprise/cmd/frontend/internal/codeintel/background/indexability_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/indexability_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/metrics.go
  enterprise/cmd/frontend/internal/codeintel/background/observability.go
  enterprise/cmd/frontend/internal/codeintel/background/record_expirer.go
  enterprise/cmd/frontend/internal/codeintel/background/resetters.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  internal/observation/observation.go
  internal/workerutil/worker.go
  monitoring/definitions/frontend.go
Labels: team/code-intelligence

#16173 Code monitoring docs
  client/web/src/enterprise/code-monitoring/CodeMonitoringNode.tsx
  client/web/src/enterprise/code-monitoring/CodeMonitoringPage.tsx
  client/web/src/enterprise/code-monitoring/CreateCodeMonitorPage.tsx
  client/web/src/enterprise/code-monitoring/ManageCodeMonitorPage.tsx
  client/web/src/enterprise/code-monitoring/__snapshots__/CodeMonitoringPage.test.tsx.snap
  client/web/src/enterprise/code-monitoring/components/CodeMonitorForm.tsx
  client/web/src/enterprise/code-monitoring/components/FormActionArea.tsx
  client/web/src/enterprise/code-monitoring/components/FormTriggerArea.tsx
  doc/code_monitoring/CODENOTIFY
  doc/code_monitoring/campaigns-icon.svg
  doc/code_monitoring/explanations/best_practices.md
  doc/code_monitoring/explanations/core_concepts.md
  doc/code_monitoring/explanations/index.md
  doc/code_monitoring/file-icon.svg
  doc/code_monitoring/how-tos/index.md
  doc/code_monitoring/how-tos/starting_points.md
  doc/code_monitoring/index.md
  doc/code_monitoring/quickstart.md
  doc/docsite.json
Labels: docs

#16805 campaigns: remove download diff button on imports
  CHANGELOG.md
  client/web/src/enterprise/campaigns/close/CampaignClosePage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  client/web/src/integration/campaigns.test.ts
Labels: team/campaigns

#16813 workerutil: Initialize worker components with unique names
  enterprise/cmd/executor-queue/internal/queues/codeintel/queue.go
  enterprise/cmd/executor/config.go
  enterprise/cmd/frontend/internal/codeintel/background/resetters.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/internal/campaigns/background/workers.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  enterprise/internal/codemonitors/background/workers.go
  internal/repos/sync_worker.go
  internal/workerutil/dbworker/resetter.go
  internal/workerutil/dbworker/resetter_test.go
  internal/workerutil/dbworker/store/helpers_test.go
  internal/workerutil/dbworker/store/store.go
  internal/workerutil/dbworker/store/store_test.go
  internal/workerutil/worker.go
  internal/workerutil/worker_test.go
Labels: team/code-intelligence

#16815 codeintel: Remove duplicated store functions
  enterprise/cmd/precise-code-intel-worker/internal/worker/gen.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/iface.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/mock_iface_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/mock_worker_store_test.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/indexes_test.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  enterprise/internal/codeintel/stores/dbstore/uploads_test.go
  enterprise/internal/codeintel/stores/dbstore/worker.go
Labels: team/code-intelligence

#16714 Call ListRepoNames from search code
  cmd/frontend/backend/repos.go
  cmd/frontend/graphqlbackend/repositories.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_alert_test.go
  cmd/frontend/graphqlbackend/search_commits.go
  cmd/frontend/graphqlbackend/search_commits_test.go
  cmd/frontend/graphqlbackend/search_pagination.go
  cmd/frontend/graphqlbackend/search_pagination_test.go
  cmd/frontend/graphqlbackend/search_progress_test.go
  cmd/frontend/graphqlbackend/search_repositories.go
  cmd/frontend/graphqlbackend/search_repositories_test.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_test.go
  cmd/frontend/graphqlbackend/search_structural.go
  cmd/frontend/graphqlbackend/search_structural_test.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/graphqlbackend/search_suggestions_test.go
  cmd/frontend/graphqlbackend/search_symbols.go
  cmd/frontend/graphqlbackend/search_test.go
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/textsearch_test.go
  cmd/frontend/graphqlbackend/zoekt.go
  cmd/frontend/graphqlbackend/zoekt_test.go
  cmd/frontend/internal/httpapi/internal.go
  cmd/frontend/internal/httpapi/internal_test.go
  internal/db/default_repos.go
  internal/db/default_repos_test.go
  internal/db/repos.go
  internal/db/repos_mock.go
  internal/search/repo_revs.go
  internal/types/types.go
Labels: team/cloud

#16829 monitoring: Disable custom repo-updater pod availability alert
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/repo_updater.go
Labels: monitoring, repo-updater, team/cloud

#16822 Remove ListExternalService in favor of internal/db/ExternalServiceStore#List
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  cmd/repo-updater/shared/main.go
  internal/db/external_services.go
  internal/db/external_services_test.go
  internal/repos/gitolite.go
  internal/repos/integration_test.go
  internal/repos/observability.go
  internal/repos/phabricator.go
  internal/repos/store.go
  internal/repos/store_test.go
  internal/repos/syncer.go
  internal/repos/types.go
  internal/repos/types_test.go
Labels: team/cloud

#16826 monitoring: Fix rate limit monitoring
  internal/extsvc/github/v3.go
  internal/repos/github.go
Labels: team/cloud

#16835 github: Don't record rate limit for 401 response
  internal/extsvc/github/common.go
  internal/repos/syncer.go
  internal/workerutil/dbworker/handler.go
Labels: team/cloud

#16817 dbworker: Add tracing and metrics
  internal/workerutil/dbworker/store/helpers_test.go
  internal/workerutil/dbworker/store/observability.go
  internal/workerutil/dbworker/store/store.go
Labels: team/code-intelligence

#16818 apiworker: Add tracing and metrics to client
  enterprise/cmd/executor/config.go
  enterprise/cmd/executor/main.go
  enterprise/internal/apiworker/apiclient/baseclient.go
  enterprise/internal/apiworker/apiclient/client.go
  enterprise/internal/apiworker/apiclient/client_test.go
  enterprise/internal/apiworker/apiclient/observability.go
  enterprise/internal/apiworker/worker.go
Labels: team/code-intelligence

#16845 codeintel: Reduce gitserver errors for missing revisions
  enterprise/internal/codeintel/gitserver/observability.go
  internal/observation/observation.go
Labels: team/code-intelligence

#16844 codeintel: Handle unknown commits when recalculating commit graph for a repository
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/iface.go
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/updater.go
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/updater_test.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  enterprise/internal/codeintel/stores/dbstore/uploads_test.go
Labels: team/code-intelligence

#16848 Fix imported changesets being counted twice in metrics
  enterprise/internal/campaigns/rewirer/rewirer.go
  enterprise/internal/campaigns/store/changesets.go
  internal/campaigns/changeset.go
  internal/db/schema.md
  internal/usagestats/CODENOTIFY
  internal/usagestats/campaigns.go
  internal/usagestats/campaigns_test.go
  migrations/frontend/1528395769_drop_added_to_campaign.down.sql
  migrations/frontend/1528395769_drop_added_to_campaign.up.sql
  migrations/frontend/bindata.go
Labels: team/campaigns

#16847 Remove test entry point for package without any tests
  enterprise/internal/campaigns/main_test.go
Labels: team/campaigns

#16855 Add common CE questions to requirements
  doc/campaigns/references/requirements.md
Labels: team/campaigns

#16859 Rrhyne/requirements typo
  doc/campaigns/references/requirements.md
Labels: team/campaigns

#16853 workerutil: Standardize metrics
  enterprise/cmd/executor/config.go
  enterprise/cmd/executor/main.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/internal/campaigns/background/metrics.go
  enterprise/internal/campaigns/background/workers.go
  enterprise/internal/codeintel/stores/dbstore/worker.go
  enterprise/internal/codemonitors/background/metrics.go
  enterprise/internal/codemonitors/background/workers.go
  internal/repos/sync_worker.go
  internal/workerutil/observability.go
  internal/workerutil/worker.go
  internal/workerutil/worker_test.go
  monitoring/definitions/precise_code_intel_worker.go
Labels: team/code-intelligence

#16856 codeintel: Emit additional metrics
  enterprise/cmd/executor-queue/internal/queues/codeintel/queue.go
  enterprise/cmd/executor-queue/main.go
  enterprise/cmd/frontend/internal/codeintel/background/janitor/resetters.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/internal/apiworker/apiserver/handler.go
  enterprise/internal/apiworker/apiserver/observability.go
  enterprise/internal/apiworker/apiserver/server.go
  enterprise/internal/codeintel/stores/dbstore/worker.go
Labels: team/code-intelligence

#16842 db: Consistently use ExternalServicesListOptions
  internal/db/external_services.go
Labels: team/cloud

#16838 Remove ListRepos in favor of internal/db/RepoStore#List
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  cmd/repo-updater/shared/main.go
  enterprise/cmd/repo-updater/authz/integration_test.go
  enterprise/cmd/repo-updater/authz/perms_syncer.go
  enterprise/cmd/repo-updater/authz/perms_syncer_test.go
  enterprise/cmd/repo-updater/main.go
  internal/repos/integration_test.go
  internal/repos/observability.go
  internal/repos/store.go
  internal/repos/store_test.go
  internal/repos/syncer.go
  internal/repos/syncer_test.go
Labels: team/cloud

#16839 repo-updater: Replace InsertRepos and DeleteRepos
  cmd/repo-updater/repoupdater/server_test.go
  enterprise/cmd/repo-updater/authz/integration_test.go
  enterprise/cmd/repo-updater/authz/perms_syncer.go
  internal/repos/integration_test.go
  internal/repos/observability.go
  internal/repos/store.go
  internal/repos/store_test.go
  internal/repos/syncer_test.go
Labels: team/cloud

#16867 repo-updater: remove ObservedStore
  cmd/repo-updater/repoupdater/server_test.go
  cmd/repo-updater/shared/main.go
  internal/repos/integration_test.go
  internal/repos/observability.go
  internal/repos/store.go
Labels: team/cloud

#16869 repo-updater: remove store interface
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  cmd/repo-updater/shared/main.go
  enterprise/cmd/repo-updater/authz/integration_test.go
  internal/repos/gitolite.go
  internal/repos/integration_test.go
  internal/repos/phabricator.go
  internal/repos/store.go
  internal/repos/store_test.go
  internal/repos/sync_worker_test.go
  internal/repos/syncer.go
  internal/repos/syncer_test.go
Labels: team/cloud

#16870 repo-updater: remove unused internal package
  cmd/repo-updater/internal/observability.go
  cmd/repo-updater/internal/store.go
  cmd/repo-updater/internal/store_test.go
  cmd/repo-updater/internal/sync_job.go
Labels: team/cloud

#16874 repo-updater: remove Lister interface
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  cmd/repo-updater/shared/main.go
  enterprise/cmd/repo-updater/authz/integration_test.go
  enterprise/cmd/repo-updater/authz/perms_syncer.go
  enterprise/cmd/repo-updater/authz/perms_syncer_test.go
  enterprise/cmd/repo-updater/main.go
  internal/repos/syncer.go
  internal/repos/syncer_test.go
Labels: team/cloud

#16878 github-proxy: Remove rate limit monitoring
  cmd/github-proxy/github-proxy.go
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/github_proxy.go
Labels: team/cloud

#16880 api: Expose LastSyncError on ExternalService
  cmd/frontend/graphqlbackend/external_service.go
  cmd/frontend/graphqlbackend/external_services_test.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  internal/db/basestore/store.go
  internal/db/external_services.go
  internal/db/external_services_test.go
Labels: team/cloud

#16860 Merge unsynced and publication state together
  enterprise/internal/campaigns/reconciler/executor.go
  enterprise/internal/campaigns/reconciler/executor_test.go
  enterprise/internal/campaigns/reconciler/plan.go
  enterprise/internal/campaigns/resolvers/campaign.go
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/rewirer/rewirer.go
  enterprise/internal/campaigns/service/service_apply_campaign_test.go
  enterprise/internal/campaigns/store/changesets.go
  enterprise/internal/campaigns/store/changesets_test.go
  enterprise/internal/campaigns/syncer/syncer.go
  enterprise/internal/campaigns/testing/changeset.go
  internal/campaigns/changeset.go
  internal/db/schema.md
  migrations/frontend/1528395770_drop_unsynced.down.sql
  migrations/frontend/1528395770_drop_unsynced.up.sql
  migrations/frontend/bindata.go
Labels: team/campaigns

#16864 codeintel: Additional executor metrics
  enterprise/internal/apiworker/command/docker.go
  enterprise/internal/apiworker/command/docker_test.go
  enterprise/internal/apiworker/command/firecracker.go
  enterprise/internal/apiworker/command/firecracker_test.go
  enterprise/internal/apiworker/command/helpers_test.go
  enterprise/internal/apiworker/command/mock_runner_test.go
  enterprise/internal/apiworker/command/observability.go
  enterprise/internal/apiworker/command/run.go
  enterprise/internal/apiworker/command/run_test.go
  enterprise/internal/apiworker/command/runner.go
  enterprise/internal/apiworker/handler.go
  enterprise/internal/apiworker/handler_test.go
  enterprise/internal/apiworker/worker.go
  enterprise/internal/apiworker/workspace.go
  enterprise/internal/apiworker/workspace_test.go
Labels: team/code-intelligence

#16884 db: Handle null external service failure messages
  internal/db/basestore/rows.go
  internal/db/external_services.go
  internal/db/external_services_test.go
Labels: team/cloud

#16883 Remove Cloud only dashboards
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/nginx.json
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/postgres.json
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/request-handling-performance.json
Labels: team/distribution

#16903 repo-updater: Expose unauthorized error during sync
  internal/repos/syncer.go
  internal/repos/syncer_test.go
Labels: team/cloud

#16887 codeintel: Emit metrics from auto-index scheduler routines
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/updater.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/index_scheduler.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/indexability_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/observability.go
  enterprise/internal/codeintel/autoindex/inference/recognizers.go
  internal/goroutine/periodic.go
  internal/goroutine/periodic_test.go
Labels: team/code-intelligence

#16863 Refactor changeset state into GraphQL API
  client/web/src/enterprise/campaigns/close/CampaignCloseChangesetsList.tsx
  client/web/src/enterprise/campaigns/close/CampaignClosePage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetFilterRow.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetInfoCell.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/HiddenExternalChangesetNode.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/HiddenExternalChangesetNode.tsx
  client/web/src/enterprise/campaigns/utils.ts
  client/web/src/integration/campaigns.test.ts
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  internal/campaigns/changeset.go
Labels: team/campaigns

#16889 doc: add note about the interaction of SSH and credentials
  doc/campaigns/references/requirements.md
Labels: docs, team/campaigns

#16806 codeintel: Update metrics dashboards
  doc/admin/observability/alert_solutions.md
  monitoring/definitions/executor.go
  monitoring/definitions/executor_queue.go
  monitoring/definitions/frontend.go
  monitoring/definitions/precise_code_intel_indexer.go
  monitoring/definitions/precise_code_intel_worker.go
  monitoring/main.go
Labels: team/code-intelligence

#16914 Don't update changeset diffstat on changeset spec change
  enterprise/internal/campaigns/reconciler/executor.go
  enterprise/internal/campaigns/rewirer/rewirer.go
Labels: team/campaigns

#16910 Don't enqueue unpublished changeset for closing
  enterprise/internal/campaigns/store/changesets.go
  enterprise/internal/campaigns/store/changesets_test.go
Labels: bug, team/campaigns

#16925 Try to fix flaky syncer test
  enterprise/internal/campaigns/syncer/syncer_test.go
Labels: team/campaigns

#16926 Fix copying executor script into firecracker vm
  enterprise/internal/apiworker/command/firecracker.go
Labels: team/code-intelligence

#16932 grafana: Do not sum by high-cardinality {{op}} on alarm-able data
  monitoring/definitions/executor_queue.go
  monitoring/definitions/frontend.go
  monitoring/definitions/precise_code_intel_indexer.go
  monitoring/definitions/precise_code_intel_worker.go
Labels: team/code-intelligence

#16923 chore: Add missing readmes for enterprise/cmd services
  enterprise/cmd/executor-queue/README.md
  enterprise/cmd/executor/README.md
  enterprise/cmd/precise-code-intel-worker/README.md
Labels: team/code-intelligence

#16934 codeintel: Call ResolveRev to distinguish gitserver errors
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/observability.go
Labels: team/code-intelligence

#16936 codeintel: Fix IsRevisionNotFound check
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/updater.go
Labels: team/code-intelligence
