Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-02, with the labels that each got.

#8115 a8n: Add labels to changesets
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_CloseChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_already exists
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/golden/GithubSource_UpdateChangeset_success
  cmd/repo-updater/repos/testdata/sources/GithubSource_CloseChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_already-exists.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_UpdateChangeset_success.yaml
  enterprise/internal/a8n/resolvers/changesets.go
  enterprise/internal/a8n/webhooks_test.go
  internal/a8n/types.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/ClosePullRequest-0
  internal/extsvc/github/testdata/golden/ClosePullRequest-1
  internal/extsvc/github/testdata/golden/CreatePullRequest-0
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/ClosePullRequest.yaml
  internal/extsvc/github/testdata/vcr/CreatePullRequest.yaml
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ChangesetLabel.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLabel.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLabel.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  yarn.lock
Labels: automation

#8156 a8n: Add example showcasing usage of ESLint to upgrade to new TypeScript syntax
  doc/user/automation.md
Labels: automation, docs

#8150 a8n: Allow updating individually published Changesets
  enterprise/internal/a8n/service.go
  enterprise/internal/a8n/service_test.go
Labels: automation, team/core-services

#8258 Fix progressbar style for notifications
  shared/src/notifications/NotificationItem.scss
  shared/src/notifications/NotificationItem.tsx
Labels: bug, web

#8240 a8n: Ensure Campaign is not processing when closing/deleting
  enterprise/internal/a8n/service.go
  internal/a8n/types.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
Labels: automation, team/core-services

#8263 docs: Remove /cache from ESLint example, mention cache in separate section
  doc/user/automation.md
Labels: automation, docs

#8154 a8n: Add webhooks for label updates
  CHANGELOG.md
  cmd/frontend/graphqlbackend/a8n.go
  cmd/repo-updater/repos/testdata/golden/GithubSource_CloseChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_already exists
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/golden/GithubSource_UpdateChangeset_success
  cmd/repo-updater/repos/testdata/sources/GithubSource_CloseChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_already-exists.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_UpdateChangeset_success.yaml
  enterprise/internal/a8n/resolvers/changesets.go
  enterprise/internal/a8n/webhooks.go
  internal/a8n/types.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/ClosePullRequest-0
  internal/extsvc/github/testdata/golden/ClosePullRequest-1
  internal/extsvc/github/testdata/golden/CreatePullRequest-0
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/ClosePullRequest.yaml
  internal/extsvc/github/testdata/vcr/CreatePullRequest.yaml
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: automation

#8117 Improve campaign close popover UX
  web/src/enterprise/campaigns/detail/CampaignDetails.scss
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.scss
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.test.tsx
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CloseDeleteCampaignPrompt.test.tsx.snap
Labels: automation

#8266 Set 3.10.2 as minimum version of src-cli
  internal/src-cli/consts.go
Labels: automation

#7257 Build: Publish LSIF dumps for all go code directories
  .github/workflows/lsif.yml
Labels: lsif

#8020 a8n: Add checkState to ExternalChangeset resolver
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/repo-updater/repos/testdata/golden/GithubSource_CloseChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_already exists
  cmd/repo-updater/repos/testdata/golden/GithubSource_CreateChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/golden/GithubSource_UpdateChangeset_success
  cmd/repo-updater/repos/testdata/sources/GithubSource_CloseChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_already-exists.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_CreateChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_UpdateChangeset_success.yaml
  enterprise/internal/a8n/resolvers/changesets.go
  enterprise/internal/a8n/resolvers/resolver_test.go
  enterprise/internal/a8n/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/internal/a8n/resolvers/testdata/vcr/test-changeset-counts-over-time.yaml
  enterprise/internal/a8n/syncer.go
  internal/a8n/types.go
  internal/a8n/types_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/ClosePullRequest-0
  internal/extsvc/github/testdata/golden/ClosePullRequest-1
  internal/extsvc/github/testdata/golden/CreatePullRequest-0
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/ClosePullRequest.yaml
  internal/extsvc/github/testdata/vcr/CreatePullRequest.yaml
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.scss
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/presentation.ts
Labels: automation

#8342 Fix docker image build process
  cmd/lsif-server/Dockerfile
  cmd/server/Dockerfile
Labels: e2e-tests

#8347 Sourcegraph docs case fix
  doc/dev/zoekt.md
  enterprise/docs/glossary.md
Labels: docs

#8361 a8n: Send campaigns count in usage pings
  cmd/frontend/internal/app/pkg/updatecheck/client.go
  cmd/frontend/internal/app/pkg/updatecheck/handler.go
  cmd/frontend/internal/usagestats/automation.go
  cmd/frontend/types/types.go
Labels: automation

#8373 Revert "a8n: Send campaigns count in usage pings (#8361)"
  cmd/frontend/internal/app/pkg/updatecheck/client.go
  cmd/frontend/internal/app/pkg/updatecheck/handler.go
  cmd/frontend/internal/usagestats/automation.go
  cmd/frontend/types/types.go
Labels: automation

#8399 docs: Fix automation timeout typo
  doc/user/automation.md
Labels: bug

#8403 a8n: Fix PublicationEnqueued by loading all ChangesetJobs for a Campaign
  enterprise/internal/a8n/resolvers/campaign_plans.go
Labels: automation

#8421 a8n: Document `-branch` option in src CLI
  doc/user/automation.md
Labels: automation

#8389 Campaign update UI
  internal/src-cli/consts.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignUpdateDiff.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
Labels: automation

#8422 Add filter UI for campaigns
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/backend.ts
Labels: automation

#8424 Fix updating campaign title
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
Labels: automation, bug

#8374 Send pings about Automation pings
  cmd/frontend/internal/app/pkg/updatecheck/client.go
  cmd/frontend/internal/app/pkg/updatecheck/handler.go
  cmd/frontend/internal/usagestats/automation.go
  cmd/frontend/types/types.go
  doc/admin/pings.md
  web/src/site-admin/SiteAdminPingsPage.tsx
Labels: automation

#8437 a8n: Fix updating of a Campaign's name/description
  enterprise/internal/a8n/service.go
  enterprise/internal/a8n/service_test.go
Labels: automation

#8426 Fix GitHub enterprise detection in site admin
  web/src/site-admin/SiteAdminExternalServicePage.tsx
Labels: bug, web

#8482 a8n: Lower-case campaign name when using as default value for branch
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
Labels: automation, web

#8269 LSIF: Support overlapping roots
  cmd/frontend/db/schema.md
  enterprise/internal/codeintel/lsifserver/client/query.go
  lsif/docs/api.yaml
  lsif/src/server/backend/backend.ts
  lsif/src/server/backend/cache.ts
  lsif/src/server/backend/database.test.ts
  lsif/src/server/backend/database.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/server/server.ts
  lsif/src/server/startup-migrations/filenames.ts
  lsif/src/server/startup-migrations/indexers.ts
  lsif/src/server/startup-migrations/migration.ts
  lsif/src/server/startup-migrations/redis.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/input.test.ts
  lsif/src/shared/input.ts
  lsif/src/shared/models/pg.ts
  lsif/src/shared/models/queries.ts
  lsif/src/shared/store/dumps.ts
  lsif/src/shared/store/uploads.ts
  lsif/src/shared/util.ts
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/store/dependencies.test.ts
  lsif/src/tests/integration/store/dumps.test.ts
  lsif/src/worker/conversion/conversion.ts
  lsif/src/worker/conversion/importer.ts
  lsif/src/worker/worker.ts
  migrations/1528395652_add_lsif_indexer.down.sql
  migrations/1528395652_add_lsif_indexer.up.sql
  migrations/bindata.go
Labels: lsif

#7904 Add buttons to delete LSIF uploads
  enterprise/internal/codeintel/lsifserver/client/upload.go
  web/src/enterprise/repo/settings/RepoSettingsCodeIntelligencePage.scss
  web/src/enterprise/repo/settings/RepoSettingsCodeIntelligencePage.tsx
  web/src/enterprise/repo/settings/RepoSettingsLsifUploadPage.tsx
  web/src/enterprise/repo/settings/backend.tsx
Labels: lsif

#8496 LSIF: Add indexName to LSIF upload proxy.
  enterprise/internal/codeintel/lsifserver/client/query.go
  enterprise/internal/codeintel/lsifserver/proxy/proxy.go
Labels: lsif

#8497 LSIF: Make a custom TypeORM logger.
  lsif/src/server/backend/cache.ts
  lsif/src/server/backend/database.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/shared/database/logger.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/database/sqlite.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/worker/conversion/importer.ts
Labels: lsif

#8525 Rename a8n to campaigns in Go code
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/bitbucketserver_test.go
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/types.go
  enterprise/cmd/frontend/main.go
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/campaign_type.go
  enterprise/internal/campaigns/campaigns_test.go
  enterprise/internal/campaigns/counts.go
  enterprise/internal/campaigns/counts_test.go
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/resolvers/campaign_plans.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/changeset_events.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/resolvers/testdata/vcr/test-campaigns.yaml
  enterprise/internal/campaigns/resolvers/testdata/vcr/test-changeset-counts-over-time.yaml
  enterprise/internal/campaigns/runner.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/testdata/fixtures/issue_comment-edited.json
  enterprise/internal/campaigns/testdata/vcr/github-webhooks.yaml
  enterprise/internal/campaigns/webhooks.go
  enterprise/internal/campaigns/webhooks_test.go
  internal/campaigns/config.go
  internal/campaigns/types.go
  internal/campaigns/types_test.go
Labels: campaigns

#8510 docs: Campaigns updates
  doc/_resources/templates/document.html
  doc/user/campaigns.md
Labels: docs

#8547 Replace a8n with campaigns in dev docs
  doc/dev/campaigns_development.md
Labels: campaigns, docs

#8651 Add cursor pointer to search reference sheet
  web/src/SourcegraphWebApp.scss
  web/src/search/input/SearchHelpDropdownButton.tsx
Labels: webapp

#8652 Properly return nil for unresolvable node
  cmd/frontend/graphqlbackend/graphqlbackend.go
  enterprise/internal/campaigns/resolvers/resolver.go
Labels: campaigns
