Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-05, with the labels that each got.

#10236 Add directory page extension APIs
  CHANGELOG.md
  browser/src/libs/code_intelligence/code_intelligence.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/text_fields.test.tsx
  browser/src/libs/code_intelligence/text_fields.tsx
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  shared/src/api/client/api/views.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/context/context.test.ts
  shared/src/api/client/context/context.ts
  shared/src/api/client/services.ts
  shared/src/api/client/services/contribution.test.ts
  shared/src/api/client/services/contribution.ts
  shared/src/api/client/services/editorService.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/client/services/location.ts
  shared/src/api/client/services/modelService.ts
  shared/src/api/client/services/viewService.test.ts
  shared/src/api/client/services/viewService.ts
  shared/src/api/client/services/viewerService.test.ts
  shared/src/api/client/services/viewerService.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/documents.ts
  shared/src/api/extension/api/views.ts
  shared/src/api/extension/api/windows.test.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/integration-test/codeEditor.test.ts
  shared/src/api/integration-test/languageFeatures.test.ts
  shared/src/api/integration-test/selections.test.ts
  shared/src/api/integration-test/testHelpers.ts
  shared/src/api/integration-test/views.test.ts
  shared/src/api/integration-test/windows.test.ts
  shared/src/api/protocol/contribution.ts
  shared/src/components/completion/EditorCompletionWidget.tsx
  shared/src/components/editorTextField/EditorTextField.test.tsx
  shared/src/components/editorTextField/EditorTextField.tsx
  shared/src/extensions/controller.ts
  shared/src/hover/actions.test.ts
  shared/src/settings/settings.ts
  shared/src/util/markdown.ts
  shared/src/util/types.ts
  web/src/components/diff/FileDiffConnection.tsx
  web/src/repo/TreePage.scss
  web/src/repo/TreePage.tsx
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/snippets/SnippetsPage.tsx
Labels: code insights, team/web

#10345 Make ActionItems open in new tab if external links
  shared/src/actions/ActionItem.tsx
  shared/src/actions/__snapshots__/ActionItem.test.tsx.snap
  shared/src/components/LinkOrButton.tsx
Labels: browser-extension, code-nav, customer, team/web, webapp

#10349 Don't hard-reload when clicking search results
  web/src/components/SearchResult.tsx
Labels: bug, team/search

#10350 Remove linkClickHandler
  shared/src/panel/views/PanelView.tsx
  shared/src/util/linkClickHandler.ts
  web/src/extensions/explore/ExtensionViewsExploreSection.tsx
  web/src/snippets/SnippetsPage.tsx
Labels: debt, team/web

#10351 Wait with codecov comment until all reports were uploaded
  dev/codecov.yml
Labels: ops & tools & dev

#10105 Rewrite precise-code-intel-worker in Go
  .github/CODEOWNERS
  cmd/precise-code-intel-worker/Dockerfile
  cmd/precise-code-intel-worker/build.sh
  cmd/precise-code-intel-worker/env.go
  cmd/precise-code-intel-worker/go-build.sh
  cmd/precise-code-intel-worker/internal/correlation/canonicalize.go
  cmd/precise-code-intel-worker/internal/correlation/canonicalize_test.go
  cmd/precise-code-intel-worker/internal/correlation/correlate.go
  cmd/precise-code-intel-worker/internal/correlation/correlate_test.go
  cmd/precise-code-intel-worker/internal/correlation/datastructures/default_idset_map.go
  cmd/precise-code-intel-worker/internal/correlation/datastructures/default_idset_map_test.go
  cmd/precise-code-intel-worker/internal/correlation/datastructures/disjoint_idset.go
  cmd/precise-code-intel-worker/internal/correlation/datastructures/disjoint_idset_test.go
  cmd/precise-code-intel-worker/internal/correlation/datastructures/idset.go
  cmd/precise-code-intel-worker/internal/correlation/datastructures/idset_test.go
  cmd/precise-code-intel-worker/internal/correlation/errors.go
  cmd/precise-code-intel-worker/internal/correlation/group.go
  cmd/precise-code-intel-worker/internal/correlation/group_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/document.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/document_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/element.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/element_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/hover.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/hover_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/metadata.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/metadata_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/moniker.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/moniker_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/package_information.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/package_information_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/range.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/range_test.go
  cmd/precise-code-intel-worker/internal/correlation/lsif/result_set.go
  cmd/precise-code-intel-worker/internal/correlation/prune.go
  cmd/precise-code-intel-worker/internal/correlation/prune_test.go
  cmd/precise-code-intel-worker/internal/correlation/state.go
  cmd/precise-code-intel-worker/internal/existence/directory_contents.go
  cmd/precise-code-intel-worker/internal/existence/directory_contents_test.go
  cmd/precise-code-intel-worker/internal/existence/dirtree.go
  cmd/precise-code-intel-worker/internal/existence/dirtree_test.go
  cmd/precise-code-intel-worker/internal/existence/existence.go
  cmd/precise-code-intel-worker/internal/existence/paths.go
  cmd/precise-code-intel-worker/internal/existence/paths_test.go
  cmd/precise-code-intel-worker/internal/worker/worker.go
  cmd/precise-code-intel-worker/internal/worker/worker_test.go
  cmd/precise-code-intel-worker/main.go
  cmd/precise-code-intel-worker/testdata/dump.lsif
Labels: team/code-intelligence

#10288 all: make prometheus metrics greppable
  cmd/frontend/backend/trace.go
  cmd/frontend/db/repos_perm.go
  cmd/frontend/graphqlbackend/externallink/repository.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/internal/app/pkg/updatecheck/handler.go
  cmd/github-proxy/github-proxy.go
  cmd/gitserver/server/cleanup.go
  cmd/gitserver/server/server.go
  cmd/gitserver/server/servermetrics.go
  cmd/replacer/replace/replace.go
  cmd/repo-updater/repos/metrics.go
  cmd/repo-updater/repos/observability.go
  cmd/repo-updater/repoupdater/observability.go
  cmd/searcher/search/search.go
  cmd/searcher/search/search_structural.go
  cmd/symbols/internal/symbols/fetch.go
  cmd/symbols/internal/symbols/parse.go
  cmd/symbols/internal/symbols/service.go
  enterprise/cmd/frontend/internal/registry/http_api.go
  enterprise/cmd/repo-updater/authz/perms_syncer.go
  enterprise/internal/campaigns/syncer.go
  internal/api/internal_client.go
  internal/extsvc/awscodecommit/repos.go
  internal/extsvc/github/repos.go
  internal/extsvc/gitlab/projects.go
  internal/extsvc/phabricator/client.go
  internal/gitserver/client.go
  internal/highlight/highlight.go
  internal/search/backend/metered_searcher.go
  internal/store/store.go
  internal/trace/httptrace.go
  internal/vfsutil/cache.go
  internal/vfsutil/github_archive.go
  internal/vfsutil/gitserver.go
Labels: new-contributor

#10364 improve subscription pricing behavior
  cmd/frontend/graphqlbackend/dotcom.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/cmd/frontend/internal/dotcom/billing/plans.go
  enterprise/cmd/frontend/internal/dotcom/billing/plans_graphql.go
  enterprise/cmd/frontend/internal/dotcom/productsubscription/invoices_graphql.go
  enterprise/cmd/frontend/internal/dotcom/productsubscription/subscriptions_graphql.go
  web/src/enterprise/dotcom/productPlans/ProductPlanFormControl.test.tsx
  web/src/enterprise/dotcom/productPlans/ProductPlanFormControl.tsx
  web/src/enterprise/dotcom/productPlans/ProductPlanPrice.test.tsx
  web/src/enterprise/dotcom/productPlans/ProductPlanPrice.tsx
  web/src/enterprise/dotcom/productPlans/ProductPlanTiered.test.tsx
  web/src/enterprise/dotcom/productPlans/ProductPlanTiered.tsx
  web/src/enterprise/dotcom/productPlans/ProductSubscriptionUserCountFormControl.tsx
  web/src/enterprise/dotcom/productPlans/__snapshots__/ProductPlanFormControl.test.tsx.snap
  web/src/enterprise/dotcom/productPlans/__snapshots__/ProductSubscriptionUserCountFormControl.test.tsx.snap
  web/src/enterprise/user/productSubscriptions/NewProductSubscriptionPaymentSection.tsx
  web/src/enterprise/user/productSubscriptions/ProductSubscriptionForm.tsx
  web/src/enterprise/user/productSubscriptions/UserSubscriptionsEditProductSubscriptionPage.tsx
  web/src/enterprise/user/productSubscriptions/UserSubscriptionsNewProductSubscriptionPage.tsx
  web/src/enterprise/user/productSubscriptions/__snapshots__/UserSubscriptionsEditProductSubscriptionPage.test.tsx.snap
Labels: webapp

#10369 Navigate with location.assign() if URL is external
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/shared/util/url.test.ts
  browser/src/shared/util/url.ts
  shared/src/hover/actions.test.ts
  shared/src/hover/actions.ts
  shared/src/util/url.test.ts
  shared/src/util/url.ts
  web/src/contributions.ts
Labels: browser-extension, bug

#10367 Use asyncScheduler instead of animationFrameScheduler
  .eslintrc.js
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/content_views.ts
  browser/src/libs/code_intelligence/text_fields.tsx
Labels: browser-extension, bug, firefox

#10381 Improve code insights loading state
  shared/src/api/client/services/viewService.ts
  web/src/repo/RepoRevContainer.scss
  web/src/repo/routes.tsx
  web/src/repo/tree/TreePage.scss
  web/src/repo/tree/TreePage.tsx
  web/src/repo/tree/ViewGrid.scss
  web/src/repo/tree/ViewGrid.tsx
Labels: code insights

#10302 Use browser extension Port objects instead of hacky comlink string channel
  browser/src/extension/scripts/background.ts
  browser/src/platform/extensionHost.ts
  browser/src/platform/ports.ts
  package.json
  shared/src/api/client/api/codeEditor.ts
  shared/src/api/client/api/commands.ts
  shared/src/api/client/api/common.ts
  shared/src/api/client/api/configuration.ts
  shared/src/api/client/api/content.ts
  shared/src/api/client/api/context.ts
  shared/src/api/client/api/extensions.ts
  shared/src/api/client/api/languageFeatures.ts
  shared/src/api/client/api/roots.ts
  shared/src/api/client/api/search.ts
  shared/src/api/client/api/views.ts
  shared/src/api/client/api/windows.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/services/hover.ts
  shared/src/api/client/services/linkPreview.ts
  shared/src/api/client/services/location.ts
  shared/src/api/client/services/registry.ts
  shared/src/api/client/services/viewService.ts
  shared/src/api/extension/api/api.ts
  shared/src/api/extension/api/codeEditor.ts
  shared/src/api/extension/api/commands.ts
  shared/src/api/extension/api/common.ts
  shared/src/api/extension/api/configuration.test.ts
  shared/src/api/extension/api/configuration.ts
  shared/src/api/extension/api/content.ts
  shared/src/api/extension/api/context.ts
  shared/src/api/extension/api/documents.ts
  shared/src/api/extension/api/extensions.ts
  shared/src/api/extension/api/languageFeatures.ts
  shared/src/api/extension/api/roots.ts
  shared/src/api/extension/api/search.ts
  shared/src/api/extension/api/views.ts
  shared/src/api/extension/api/windows.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/extension/main.worker.ts
  shared/src/api/extension/worker.ts
  shared/src/api/util.ts
  shared/src/platform/context.ts
  web/src/platform/context.ts
  yarn.lock
Labels: browser-extension, bug, debt, team/web

#10387 campaigns: Refactor CalcCounts to use concrete types instead of custom interfaces
  enterprise/internal/campaigns/counts.go
  enterprise/internal/campaigns/counts_test.go
  enterprise/internal/campaigns/resolvers/campaigns.go
Labels: campaigns

#10388 merge experimentalFeatures settings
  shared/src/settings/settings.test.ts
  shared/src/settings/settings.ts
Labels: webapp

#10389 Fix e2e tests for browser extension
  browser/src/e2e/bitbucket.test.ts
  browser/src/e2e/ghe.test.ts
  browser/src/e2e/github.test.ts
  browser/src/e2e/gitlab.test.ts
  browser/src/e2e/phabricator.test.ts
Labels: e2e-tests

#10392 Fix firefox release script
  browser/.editorconfig
  browser/scripts/release-ff.sh
  packages/@sourcegraph/extension-api-types/.editorconfig
  packages/sourcegraph-extension-api/.editorconfig
  shared/.editorconfig
Labels: browser-extension, ops & tools & dev

#10403 Remove TypeScript pattern guide
  .github/CODEOWNERS
  doc/_resources/templates/document.html
  doc/dev/index.md
  doc/dev/typescript/index.md
  doc/dev/typescript/patterns.md
  doc/dev/web/build.md
  doc/dev/web/index.md
  doc/dev/web/web_app.md
Labels: docs

#10413 Use single function to calculate changeset state/review state
  enterprise/internal/campaigns/changeset_events.go
  enterprise/internal/campaigns/changeset_events_test.go
  enterprise/internal/campaigns/changeset_history.go
  enterprise/internal/campaigns/counts.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/state_test.go
Labels: campaigns

#10406 Browser extension nightly DOM checks
  enterprise/dev/ci/ci/helpers.go
  enterprise/dev/ci/ci/pipeline-steps.go
  enterprise/dev/ci/ci/pipeline.go
Labels: ops & tools & dev, team/web

#10408 Make externalRepository non-nullable
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: team/core-services

#10352 Add code intelligence and CI checks for GQL queries
  browser/src/e2e/tsconfig.json
  browser/tsconfig.json
  enterprise/dev/ci/ci/pipeline-steps.go
  package.json
  shared/src/commands/commands.ts
  shared/src/e2e/tsconfig.json
  shared/tsconfig.json
  web/src/backend/diff.ts
  web/src/e2e/tsconfig.json
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/marketing/backend.tsx
  web/src/platform/context.ts
  web/src/repo/compare/RepositoryCompareDiffPage.tsx
  web/src/search/backend.tsx
  web/tsconfig.json
  yarn.lock
Labels: ops & tools & dev, team/web

#9241 Git tags page improvements
  web/src/repo/GitRef.tsx
  web/src/repo/RepoContainer.scss
  web/src/repo/RevisionsPopover.tsx
  web/src/repo/releases/RepositoryReleasesPage.scss
  web/src/repo/releases/RepositoryReleasesTagsPage.test.tsx
  web/src/repo/releases/RepositoryReleasesTagsPage.tsx
  web/src/repo/releases/__snapshots__/RepositoryReleasesTagsPage.test.tsx.snap
Labels: debt, webapp

#10423 fix subscription user count input
  web/src/enterprise/dotcom/productPlans/ProductSubscriptionUserCountFormControl.tsx
  web/src/enterprise/dotcom/productPlans/__snapshots__/ProductSubscriptionUserCountFormControl.test.tsx.snap
  web/src/enterprise/user/productSubscriptions/ProductSubscriptionForm.tsx
  web/src/enterprise/user/productSubscriptions/__snapshots__/ProductSubscriptionForm.test.tsx.snap
Labels: webapp

#10380 Updated doc local_development.md: new item in troublshooting section and detailed outline
  doc/dev/local_development.md
Labels: new-contributor

#10449 Fix code block markdown syntax
  doc/admin/updates/docker_compose.md
Labels: new-contributor

#10436 fixes issue where user settings cannot be changed
  cmd/frontend/graphqlbackend/settings.go
Labels: new-contributor

#10494 Don't run e2e tests on Renovate branches
  enterprise/dev/ci/ci/pipeline-steps.go
Labels: e2e-tests, ops & tools & dev

#10516 Fix port in 301 redirect to match port of SSL server config
  doc/admin/http_https_configuration.md
Labels: new-contributor

#10548 Make Campaigns teaser pages clearer and easier to follow
  doc/user/campaigns/getting_started.md
  web/src/enterprise.scss
  web/src/enterprise/campaigns/global/create/CreateCampaign.tsx
  web/src/enterprise/campaigns/global/create/__snapshots__/CreateCampaign.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/CampaignMarketing.scss
  web/src/enterprise/campaigns/global/marketing/CampaignsDotComPage.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsMarketing.tsx
  web/src/enterprise/campaigns/global/marketing/CampaignsSiteAdminMarketingPage.tsx
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsMarketing.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsSiteAdminMarketingPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsUserMarketingPage.test.tsx.snap
Labels: campaigns

#10557 Do not show error message when 'authbind' is not found
  dev/start.sh
Labels: ops & tools & dev

#10561 Change video in Campaigns docs and fix formatting
  doc/user/campaigns/getting_started.md
  doc/user/campaigns/index.md
Labels: campaigns

#10575 docs: add jq installation to local setup
  doc/dev/local_development.md
Labels: new-contributor

#10390 Fix '/' shortcut to focus search bar
  web/src/components/MonacoEditor.tsx
  web/src/keyboardShortcuts/KeyboardShortcutsHelp.tsx
  web/src/keyboardShortcuts/__snapshots__/KeyboardShortcutsHelp.test.tsx.snap
  web/src/keyboardShortcuts/keyboardShortcuts.ts
  web/src/search/input/MonacoQueryInput.tsx
  web/src/search/input/QueryInput.tsx
  web/src/search/input/SearchNavbarItem.tsx
  web/src/search/input/SearchPage.tsx
  web/src/search/input/interactive/InteractiveModeInput.tsx
Labels: team/web

#10596 Fix link to repo branch in dropdown list
  web/src/repo/RevisionsPopover.tsx
Labels: new-contributor

#10628 registry: Instrument API with Prometheus metrics
  enterprise/cmd/frontend/internal/registry/http_api.go
Labels: team/core-services

#10609 Fix pattern type redirection
  shared/src/util/strings.ts
  shared/src/util/url.test.ts
  shared/src/util/url.ts
  web/src/search/results/SearchResults.tsx
Labels: team/search, team/web, webapp

#10550 Add support for charts to the extension API
  package.json
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/components/Markdown.test.tsx
  shared/src/components/Markdown.tsx
  shared/src/components/linkClickHandler.test.tsx
  shared/src/components/linkClickHandler.ts
  shared/src/global-styles/colors.scss
  web/src/repo/tree/ViewGrid.scss
  web/src/views/ChartViewContent.scss
  web/src/views/ChartViewContent.story.tsx
  web/src/views/ChartViewContent.tsx
  web/src/views/ViewContent.scss
  web/src/views/ViewContent.tsx
  web/src/views/__snapshots__/ViewPage.test.tsx.snap
  yarn.lock
Labels: code insights, extensions, team/web

#10475 RFC 145: Usage stats download button
  cmd/frontend/db/event_logs.go
  cmd/frontend/db/event_logs_test.go
  cmd/frontend/db/users.go
  cmd/frontend/graphqlbackend/search_alert_test.go
  cmd/frontend/internal/app/app.go
  cmd/frontend/internal/app/router/router.go
  cmd/frontend/internal/app/usage_stats.go
  cmd/frontend/internal/app/usage_stats_test.go
  cmd/frontend/internal/usagestats/usage_stats.go
  cmd/frontend/internal/usagestats/usage_stats_test.go
  cmd/frontend/types/types.go
  web/src/site-admin/SiteAdminUsageStatisticsPage.tsx
Labels: team/core-services

#10633 Cache diff stats on patches to speed up computing combined diff stat of patch sets/campaigns
  cmd/frontend/db/schema.md
  enterprise/cmd/frontend/main.go
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/migrations.go
  enterprise/internal/campaigns/migrations_test.go
  enterprise/internal/campaigns/resolvers/patch_sets.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  internal/campaigns/types.go
  migrations/1528395676_add_diff_stats_to_patches.down.sql
  migrations/1528395676_add_diff_stats_to_patches.up.sql
  migrations/bindata.go
Labels: campaigns

#10622 Take percy snapshots of storybooks
  .prettierignore
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/coverage.test.ts
  .storybook/jest.config.js
  .storybook/main.js
  .storybook/preview.js
  .storybook/styles.ts
  .storybook/webpack.config.ts
  dev/codecov.yml
  enterprise/dev/ci/ci/pipeline-steps.go
  jest.config.base.js
  jest.config.js
  package.json
  shared/src/components/activation/ActivationDropdown.tsx
  shared/src/e2e/coverage.ts
  yarn.lock
Labels: ops & tools & dev, team/web, testing

#10634 Display webhook URL on external services page
  cmd/frontend/graphqlbackend/external_service.go
  doc/admin/external_service/bitbucket_server.md
  doc/admin/external_service/github.md
  doc/integration/bitbucket_server.md
  enterprise/internal/campaigns/webhooks.go
  enterprise/internal/campaigns/webhooks_test.go
  internal/extsvc/types.go
  schema/github.schema.json
  schema/github_stringdata.go
  web/src/site-admin/SiteAdminAddExternalServicePage.tsx
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
  web/src/site-admin/SiteAdminExternalServicePage.tsx
  web/src/site-admin/__snapshots__/SiteAdminExternalServiceForm.test.tsx.snap
  web/src/site-admin/externalServices.tsx
Labels: campaigns, release-blocker

#10606 extension-api: Add versionContext field to WorkspaceRoot
  CHANGELOG.md
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/api/workspace.ts
  shared/src/api/client/connection.ts
  shared/src/api/client/services/workspaceService.ts
  shared/src/api/extension/api/api.ts
  shared/src/api/extension/api/workspace.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/hover/actions.test.ts
  web/src/SourcegraphWebApp.tsx
Labels: extensions

#10674 Fix hover tooltips on diff views
  web/src/repo/compare/dom-functions.ts
Labels: bug, team/web

#10168 Add copy query button
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/nav/GlobalNavbar.scss
  web/src/nav/GlobalNavbar.test.tsx
  web/src/nav/GlobalNavbar.tsx
  web/src/repo/RepoContainer.tsx
  web/src/repo/RepoRevContainer.tsx
  web/src/repo/routes.tsx
  web/src/repo/tree/TreePage.tsx
  web/src/search/ScopePage.test.tsx
  web/src/search/ScopePage.tsx
  web/src/search/__snapshots__/ScopePage.test.tsx.snap
  web/src/search/index.tsx
  web/src/search/input/LazyMonacoQueryInput.test.tsx
  web/src/search/input/MonacoQueryInput.tsx
  web/src/search/input/QueryInput.scss
  web/src/search/input/QueryInput.tsx
  web/src/search/input/SearchNavbarItem.tsx
  web/src/search/input/SearchPage.scss
  web/src/search/input/SearchPage.tsx
  web/src/search/input/interactive/InteractiveModeInput.tsx
  web/src/search/input/toggles/CopyQueryButton.tsx
  web/src/search/input/toggles/Toggles.scss
  web/src/search/input/toggles/Toggles.tsx
  web/src/views/QueryInputInViewContent.tsx
  web/src/views/ViewContent.tsx
  web/src/views/ViewPage.test.tsx
  web/src/views/ViewsArea.tsx
  web/src/views/__snapshots__/ViewPage.test.tsx.snap
Labels: team/search, team/web

#10724 Make NotificationItem story not flaky
  shared/src/notifications/NotificationItem.story.tsx
Labels: ops & tools & dev, testing

#10726 Use release branch as Percy target
  enterprise/dev/ci/ci/pipeline.go
Labels: ops & tools & dev

#10722 Make insights dashboard resizable
  package.json
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/services/viewService.ts
  shared/src/components/Markdown.scss
  web/src/repo/tree/TreePage.scss
  web/src/repo/tree/TreePage.tsx
  web/src/repo/tree/ViewGrid.scss
  web/src/repo/tree/ViewGrid.tsx
  web/src/views/ChartViewContent.story.tsx
  web/src/views/ChartViewContent.tsx
  web/src/views/ViewContent.scss
  web/src/views/ViewContent.tsx
  web/src/views/__snapshots__/ViewPage.test.tsx.snap
  yarn.lock
Labels: code insights, team/web, webapp

#10745 Use core-js URL polyfill instead of whatwg-url
  babel.config.js
  package.json
  shared/src/polyfills.ts
  shared/src/polyfills/configure-core-js.ts
  shared/src/polyfills/index.ts
  shared/src/polyfills/polyfill.ts
  yarn.lock
Labels: perf, team/web, webapp

#10759 GlobalCampaignsArea: make beta alert dismissible and at top
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
Labels: campaigns, team/campaigns

#10758 campaigns: improve docs of GraphQL API
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: campaigns, team/campaigns

#10775 move {User,Repo}SettingsPermissionsPage to enterprise
  web/src/enterprise/repo/settings/RepoSettingsPermissionsPage.tsx
  web/src/enterprise/repo/settings/routes.tsx
  web/src/enterprise/user/settings/auth/UserSettingsPermissionsPage.tsx
  web/src/enterprise/user/settings/routes.ts
  web/src/enterprise/user/settings/sidebaritems.ts
  web/src/repo/settings/routes.tsx
  web/src/user/settings/routes.tsx
  web/src/user/settings/sidebaritems.ts
Labels: webapp

#10239 Add CodeQL Analysis workflow
  .github/workflows/codeql.yml
Labels: new-contributor

#10785 Force-include core-js polyfills through babel config
  babel.config.js
  package.json
  shared/src/polyfills/polyfill.ts
  yarn.lock
Labels: browser-extension, team/web

#10777 Treat 403s as auth errors
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/external_links.tsx
  browser/src/libs/options/OptionsContainer.tsx
  browser/src/platform/context.ts
  browser/src/shared/components/CodeViewToolbar.tsx
  shared/src/backend/fetch.ts
Labels: browser-extension, team/web

#10803 Ensure to incorporate all changesets in burndown chart
  enterprise/internal/campaigns/resolvers/campaigns.go
Labels: bug, campaigns

#10799 Print correct error
  enterprise/internal/campaigns/workers.go
Labels: bug, campaigns

#10800 Don't set unidiff-zero anymore
  enterprise/internal/campaigns/workers.go
Labels: campaigns, debt

#10806 Update campaigns documentation for developers
  doc/dev/campaigns_development.md
Labels: campaigns, docs

#10824 Remove duplicate request for username
  web/src/auth.ts
Labels: debt, webapp

#10846 campaigns: Remove unused changesets() query resolver
  cmd/frontend/graphqlbackend/campaigns.go
  enterprise/internal/campaigns/resolvers/resolver.go
Labels: campaigns

#10825 Correctly reset publishing state after immediate error
  web/src/enterprise/campaigns/detail/patches/PatchNode.tsx
Labels: bug, campaigns

#10774 clarify repo permissions API docs
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  doc/admin/repo/permissions.md
Labels: team/core-services

#8096 Add Google Tag snippet
  cmd/frontend/internal/app/templates/ui/app.html
  dev/check/template-inlines.sh
Labels: dot-com

#10858 Add golangci-lint GitHub Action
  .github/workflows/reviewdog.yml
  .golangci.yml
  internal/search/query/parser.go
Labels: debt, team/core-services

#10517 support predefined icons for badges (backward compat)
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/components/BadgeAttachment.scss
  shared/src/components/BadgeAttachment.story.tsx
  shared/src/components/BadgeAttachment.test.tsx
  shared/src/components/BadgeAttachment.tsx
  shared/src/components/FileMatchChildren.scss
  shared/src/hover/HoverOverlay.scss
Labels: extensions, team/web

#10957 repo-updater: Change Postgres isolation level to default
  cmd/repo-updater/shared/main.go
Labels: team/core-services

#10980 Allow filtering out errors on database-level when fetching campaign status
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  internal/campaigns/types.go
Labels: RFC-157

#10964 docs: Update broken handbook links
  README.md
  doc/_resources/assets/redirects
  doc/dev/documentation.md
Labels: docs

#10956 Overhaul tooltip close button & badge styles
  .storybook/main.js
  CHANGELOG.md
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/bitbucket/style.scss
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/github/style.scss
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/libs/gitlab/style.scss
  browser/src/libs/phabricator/code_intelligence.ts
  browser/src/libs/phabricator/style.scss
  browser/src/shared.scss
  package.json
  shared/src/components/BadgeAttachment.scss
  shared/src/components/BadgeAttachment.story.tsx
  shared/src/components/BadgeAttachment.test.tsx
  shared/src/components/BadgeAttachment.tsx
  shared/src/components/__snapshots__/BadgeAttachment.test.tsx.snap
  shared/src/components/linkClickHandler.ts
  shared/src/globals.d.ts
  shared/src/hover/HoverOverlay.scss
  shared/src/hover/HoverOverlay.story.tsx
  shared/src/hover/HoverOverlay.test.tsx
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  shared/src/index.scss
  web/src/components/shared.tsx
  yarn.lock
Labels: browser-extension, extensions, team/web, webapp

#10988 Fix branch input empty in edit mode
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/form/CampaignDescriptionField.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignDescriptionField.test.tsx.snap
Labels: bug, campaigns

#11020 Update go-diff to add support for binary diffs
  go.mod
  go.sum
Labels: bug, campaigns

#11021 Fix repo not found error for patches
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: bug, campaigns

#11022 Add backlink in changeset description
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/workers.go
  enterprise/internal/campaigns/workers_test.go
  internal/campaigns/types.go
Labels: campaigns

#11024 Don't return patch and changeset when repo is soft-deleted
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: campaigns

#10961 Implement permission levels for campaigns
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
Labels: RFC-157, campaigns

#11034 Render blob panel even if the highlighting request failed
  web/src/repo/blob/BlobPage.tsx
Labels: bug, webapp

#11035 campaigns: Display a legend under burndown charts
  web/src/enterprise/campaigns/detail/BurndownChart.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
Labels: campaigns

#11053 Improve header information for file diffs
  cmd/frontend/graphqlbackend/file.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/git_tree_entry_test.go
  cmd/frontend/graphqlbackend/repository_comparison_test.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/virtual_file.go
  cmd/frontend/graphqlbackend/virtual_file_test.go
  web/src/backend/diff.ts
  web/src/components/diff/FileDiffNode.tsx
Labels: webapp

#10965 docs: Fix branch prefix detection with dashes
  doc/_resources/assets/docs.js
  doc/_resources/templates/document.html
Labels: docs-ux

#11083 Override $LANG when running Jest tests
  jest.config.base.js
Labels: testing

#11049 campaigns: Attempt to republish failed changesets
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  internal/campaigns/types.go
Labels: bug, campaigns

#10257 Add ts-morph scaffold for TS codemods
  .vscode/launch.json
  dev/foreach-ts-project.sh
  dev/ts-morph/.eslintrc.js
  dev/ts-morph/add-history-prop.ts
  dev/ts-morph/main.ts
  dev/ts-morph/prettier-ts-morph.ts
  dev/ts-morph/tsconfig.json
  package.json
  yarn.lock
Labels: ops & tools & dev, webapp

#11105 repo-updater: Use per HTTP request timeouts
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/syncer.go
  internal/httpcli/client.go
  internal/httpcli/client_test.go
Labels: customer, team/core-services

#11095 campaigns: Fix publishing campaigns w/ failed jobs
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: bug, campaigns

#11092 repoupdater: do not log big data structures
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/repos/types_test.go
Labels: RFC-151, bigdata

#11050 Don't produce unparseable diff
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/repository_comparison_test.go
Labels: api, bug
