Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-01, with the labels that each got.

#7404 Refactor and add some tests for CampaignDetails
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/CampaignDescriptionField.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignDescriptionField.tsx
  web/src/enterprise/campaigns/detail/form/CampaignNamespaceField.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignNamespaceField.tsx
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.tsx
  web/src/enterprise/campaigns/detail/form/CampaignTitleField.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignTitleField.tsx
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.test.tsx
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignDescriptionField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignNamespaceField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignPlanSpecificationFields.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignTitleField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CloseDeleteCampaignPrompt.test.tsx.snap
  web/src/enterprise/namespaces/backend.ts
Labels: automation, web

#7448 upgrade mdi-react and mock icons in snapshot tests
  browser/src/libs/options/OptionsMenu.test.tsx
  browser/src/libs/options/__snapshots__/OptionsMenu.test.tsx.snap
  package.json
  shared/src/actions/ActionItem.test.tsx
  shared/src/actions/__snapshots__/ActionItem.test.tsx.snap
  shared/src/components/activation/ActivationChecklist.test.tsx
  shared/src/components/activation/ActivationDropdown.test.tsx
  shared/src/components/activation/__snapshots__/ActivationChecklist.test.tsx.snap
  shared/src/components/activation/__snapshots__/ActivationDropdown.test.tsx.snap
  shared/src/panel/views/HierarchicalLocationsView.test.tsx
  shared/src/panel/views/__snapshots__/HierarchicalLocationsView.test.tsx.snap
  web/src/components/ErrorBoundary.test.tsx
  web/src/components/__snapshots__/ErrorBoundary.test.tsx.snap
  web/src/components/__snapshots__/alerts.test.tsx.snap
  web/src/components/alerts.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/FileDiffTab.test.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/FileDiffTab.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
  web/src/extensions/extension/RegistryExtensionOverviewPage.test.tsx
  web/src/extensions/extension/__snapshots__/RegistryExtensionOverviewPage.test.tsx.snap
  web/src/nav/StatusMessagesNavItem.test.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
  yarn.lock
Labels: web

#7450 ensure regeneratorRuntime is available in jest tests
  jest.config.base.js
Labels: web

#7449 use same timezone for all jest tests
  jest.config.base.js
  shared/dev/jestGlobalSetup.js
Labels: web

#7451 web: faster SearchResultsList test
  web/src/search/results/SearchResultsList.test.tsx
Labels: web

#7331 auth: Restrict GitHub logins to members of `allowOrgs`
  CHANGELOG.md
  doc/admin/auth/index.md
  enterprise/cmd/frontend/auth/githuboauth/config.go
  enterprise/cmd/frontend/auth/githuboauth/config_test.go
  enterprise/cmd/frontend/auth/githuboauth/provider.go
  enterprise/cmd/frontend/auth/githuboauth/session.go
  enterprise/cmd/frontend/auth/githuboauth/session_test.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/testdata/golden/GetAuthenticatedUserOrgs
  internal/extsvc/github/testdata/vcr/GetAuthenticatedUserOrgs.yaml
  internal/extsvc/github/user.go
  internal/extsvc/github/user_emails.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: auth, customer, github

#7467 a8n: Return an error in CreateCampaign if it would create 0 changesets
  enterprise/internal/a8n/service.go
  enterprise/internal/a8n/service_test.go
Labels: automation

#7233 LSIF: Rewrite LSIF supervisor to use goreman
  cmd/lsif-server/Dockerfile
  cmd/lsif-server/README.md
  cmd/lsif-server/build.sh
  cmd/lsif-server/main.go
  cmd/server/Dockerfile
  cmd/server/build.sh
  cmd/server/shared/shared.go
  enterprise/dev/ci/ci/pipeline-steps.go
  internal/goreman/README.md
  internal/goreman/goreman.go
  internal/goreman/log.go
  internal/goreman/proc.go
  internal/goreman/proc_posix.go
  internal/goreman/proc_windows.go
  internal/goreman/rpc.go
  internal/goremancmd/Procfile
  internal/goremancmd/main.go
  lsif/Dockerfile
  lsif/README.md
  lsif/kill_supervisor.sh
  lsif/supervisord.conf
Labels: lsif

#7494 Docs UX improvements and minor content changes
  doc/_resources/assets/docs.js
  doc/_resources/assets/layout.css
  doc/_resources/templates/document.html
  doc/admin/config/index.md
  doc/admin/url.md
Labels: docs, docs-ux

#7502 Cache bust docs CSS
  doc/_resources/templates/root.html
Labels: docs

#7466 a8n: Expose ExternalID on ExternalChangesets
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/a8n/resolvers/changesets.go
Labels: automation

#7505 a8n: Allow empty rewriteTemplates in Comby campaigns
  enterprise/internal/a8n/campaign_type_test.go
  schema/campaign-types/comby.schema.json
  schema/campaign-types/comby_stringdata.go
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignPlanSpecificationFields.test.tsx.snap
Labels: automation

#7459 support searching multiple revs per repo (`repo:r@branch1:branch2`) in text search
  CHANGELOG.md
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/textsearch_test.go
  cmd/frontend/graphqlbackend/zoekt.go
  internal/conf/computed.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
  shared/src/components/FileMatch.tsx
  web/src/e2e/e2e.test.ts
  web/src/search/backend.tsx
Labels: search

#7513 a8n: Ensure that same diff produces same commit SHA
  enterprise/internal/a8n/service.go
Labels: automation

#7522 a8n: Fix Changeset syncing by not marking newly created changesets as deleted
  CHANGELOG.md
  enterprise/internal/a8n/store.go
  enterprise/internal/a8n/store_test.go
  migrations/1528395630_reset_changeset_external_deleted_at.down.sql
  migrations/1528395630_reset_changeset_external_deleted_at.up.sql
  migrations/bindata.go
Labels: automation, bug

#7543 auth: GitHub authentication fixes
  enterprise/cmd/frontend/auth/githuboauth/config.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: auth, github, github-enterprise

#7555 githuboauth: Request read:org scope to support the allowOrgs setting
  enterprise/cmd/frontend/auth/githuboauth/config_test.go
  enterprise/cmd/frontend/auth/githuboauth/middleware_test.go
  enterprise/cmd/frontend/auth/githuboauth/provider.go
Labels: auth

#7261 Web: Add badge indicators to hover overlay and file matches.
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/consts.ts
  browser/src/libs/code_intelligence/extensions.tsx
  packages/@sourcegraph/extension-api-types/src/badged.d.ts
  packages/@sourcegraph/extension-api-types/src/index.d.ts
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/services/decoration.ts
  shared/src/api/client/services/location.ts
  shared/src/api/client/types/hover.ts
  shared/src/api/extension/api/types.ts
  shared/src/components/BadgeAttachment.scss
  shared/src/components/BadgeAttachment.tsx
  shared/src/components/FileMatch.tsx
  shared/src/components/FileMatchChildren.scss
  shared/src/components/FileMatchChildren.tsx
  shared/src/hover/HoverOverlay.scss
  shared/src/hover/HoverOverlay.test.tsx
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  shared/src/index.scss
  shared/src/panel/views/FileLocations.tsx
  shared/src/panel/views/__snapshots__/HierarchicalLocationsView.test.tsx.snap
  shared/src/util/icon.ts
  web/src/extensions/ExtensionCard.tsx
  web/src/extensions/extension/ExtensionAreaHeader.tsx
  web/src/repo/blob/LineDecorationAttachment.tsx
Labels: lsif

#7344 a8n: Fix burndown chart weirdness
  web/src/enterprise/campaigns/detail/BurndownChart.test.tsx
  web/src/enterprise/campaigns/detail/BurndownChart.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
Labels: automation, bug

#7447 More campaign UI refactors and minor changes
  package.json
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.test.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignTabs.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.test.tsx
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTab.test.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTab.tsx
  web/src/enterprise/campaigns/detail/diffs/__snapshots__/CampaignDiffs.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/__snapshots__/FileDiffTab.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/CampaignDescriptionField.tsx
  web/src/enterprise/campaigns/detail/form/CampaignNamespaceField.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignNamespaceField.tsx
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.tsx
  web/src/enterprise/campaigns/detail/form/CampaignTitleField.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignDescriptionField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignNamespaceField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignPlanSpecificationFields.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignTitleField.test.tsx.snap
  web/src/enterprise/campaigns/global/list/backend.ts
  web/src/enterprise/campaigns/icons.ts
  yarn.lock
Labels: automation, web

#7519 LSIF: Update type of upload identifier
  enterprise/internal/codeintel/lsifserver/client/query.go
  enterprise/internal/codeintel/lsifserver/client/upload.go
  enterprise/internal/codeintel/lsifserver/proxy/upload.go
  enterprise/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/resolvers/upload.go
  internal/lsif/types.go
  lsif/docs/api.yaml
Labels: lsif

#7641 search: support searching text in multiple refs specified by glob
  CHANGELOG.md
  cmd/frontend/graphqlbackend/textsearch.go
  cmd/frontend/graphqlbackend/textsearch_test.go
  cmd/frontend/graphqlbackend/zoekt.go
  internal/search/repo_revs.go
  internal/vcs/git/ref_globs.go
  internal/vcs/git/ref_globs_test.go
  internal/vcs/git/refs.go
  web/src/e2e/e2e.test.ts
Labels: search

#7615 a8n: When retrying Campaign creation only retry failed jobs
  enterprise/internal/a8n/store.go
  enterprise/internal/a8n/store_test.go
Labels: automation

#7441 Fix incorrect license expiration warning
  web/src/site/LicenseExpirationAlert.test.tsx
  web/src/site/LicenseExpirationAlert.tsx
  web/src/site/__snapshots__/LicenseExpirationAlert.test.tsx.snap
Labels: bug, web

#7328 a8n: Add ability to update Campaign's CampaignPlan in UpdateCampaign
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/repo-updater/repos/bitbucketcloud_test.go
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/bitbucketserver_test.go
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-exclude-all.golden
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-exclude-name.golden
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-exclude-none.golden
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-exclude-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-exclude-uuid.golden
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-path-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-simple.golden
  cmd/repo-updater/repos/testdata/bitbucketcloud-repos-ssh.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-exclude-both.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-exclude-id.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-exclude-name.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-exclude-none.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-exclude-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-path-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-simple.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-ssh.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-username.golden
  cmd/repo-updater/repos/testdata/golden/GithubSource_UpdateChangeset_success
  cmd/repo-updater/repos/testdata/sources/GithubSource_UpdateChangeset_success.yaml
  enterprise/internal/a8n/resolvers/resolver.go
  enterprise/internal/a8n/service.go
  enterprise/internal/a8n/service_test.go
  internal/a8n/types.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/testutil/golden.go
Labels: automation

#7486 LSIF: Unify dump and upload models.
  cmd/frontend/db/schema.md
  enterprise/internal/codeintel/lsifserver/client/query.go
  enterprise/internal/codeintel/lsifserver/client/upload.go
  enterprise/internal/codeintel/lsifserver/proxy/upload.go
  enterprise/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/resolvers/upload.go
  internal/lsif/types.go
  lsif/docs/api.yaml
  lsif/src/server/backend/database.test.ts
  lsif/src/server/routes/lsif.test.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/gitserver/gitserver.ts
  lsif/src/shared/models/pg.ts
  lsif/src/shared/models/queries.ts
  lsif/src/shared/store/dumps.ts
  lsif/src/shared/store/uploads.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/store/dependencies.test.ts
  lsif/src/tests/integration/store/dumps.test.ts
  lsif/src/worker/conversion/conversion.ts
  lsif/src/worker/worker.ts
  migrations/1528395634_lsif_unify_dumps_and_uploads.down.sql
  migrations/1528395634_lsif_unify_dumps_and_uploads.up.sql
  migrations/bindata.go
Labels: lsif

#7571 LSIF: Re-enable dump cleanup
  lsif/src/server/server.ts
  lsif/src/server/settings.ts
  lsif/src/server/tasks/runner.ts
  lsif/src/server/tasks/uploads.ts
  lsif/src/shared/store/dumps.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/worker/conversion/conversion.ts
  lsif/src/worker/settings.ts
Labels: lsif

#7346 a8n: Align preview and campaign logic
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.test.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/FileDiffTabNode.test.tsx
  web/src/enterprise/campaigns/detail/FileDiffTabNode.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignTabs.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/FileDiffTabNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.test.tsx
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTab.test.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTab.tsx
  web/src/enterprise/campaigns/detail/diffs/__snapshots__/CampaignDiffs.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/__snapshots__/FileDiffTab.test.tsx.snap
  web/src/enterprise/campaigns/detail/presentation.ts
Labels: automation

#7653 a8n: Make fast path in UpdateCampaign faster by only talking to database
  enterprise/internal/a8n/service.go
  enterprise/internal/a8n/store.go
  enterprise/internal/a8n/store_test.go
Labels: automation

#7526 LSIF: Unify lsif dump and upload entities
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/codeintel/lsifserver/client/dump.go
  enterprise/internal/codeintel/lsifserver/client/query.go
  enterprise/internal/codeintel/lsifserver/client/upload.go
  enterprise/internal/codeintel/resolvers/dump.go
  enterprise/internal/codeintel/resolvers/location.go
  enterprise/internal/codeintel/resolvers/query.go
  enterprise/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/resolvers/upload.go
  internal/lsif/types.go
  lsif/docs/api.yaml
  lsif/src/server/middleware/validation.ts
  lsif/src/server/routes/dumps.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/server/routes/uploads.ts
  lsif/src/server/server.ts
  lsif/src/shared/store/dumps.ts
  lsif/src/shared/store/uploads.ts
  web/src/components/FilteredConnection.tsx
  web/src/enterprise.scss
  web/src/enterprise/repo/settings/RepoSettingsArea.scss
  web/src/enterprise/repo/settings/RepoSettingsCodeIntelligencePage.scss
  web/src/enterprise/repo/settings/RepoSettingsCodeIntelligencePage.tsx
  web/src/enterprise/repo/settings/RepoSettingsLsifUploadPage.scss
  web/src/enterprise/repo/settings/RepoSettingsLsifUploadPage.tsx
  web/src/enterprise/repo/settings/backend.tsx
  web/src/enterprise/repo/settings/routes.tsx
  web/src/enterprise/repo/settings/sidebaritems.ts
  web/src/enterprise/site-admin/SiteAdmin.scss
  web/src/enterprise/site-admin/SiteAdminLsifUploadPage.tsx
  web/src/enterprise/site-admin/SiteAdminLsifUploadsPage.scss
  web/src/enterprise/site-admin/SiteAdminLsifUploadsPage.tsx
  web/src/enterprise/site-admin/backend.ts
  web/src/enterprise/site-admin/routes.ts
  web/src/enterprise/site-admin/sidebaritems.ts
Labels: lsif

#7654 a8n: Rename Campaign.changesetCreationStatus to .status
  CHANGELOG.md
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/a8n/resolvers/campaigns.go
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
Labels: automation

#7717 a8n: Handle GitHub review events when reviewer is team
  cmd/repo-updater/repos/testdata/golden/GithubSource_LoadChangesets_found
  cmd/repo-updater/repos/testdata/sources/GithubSource_LoadChangesets_found.yaml
  enterprise/internal/a8n/webhooks.go
  internal/a8n/types.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/LoadPullRequests-2
  internal/extsvc/github/testdata/vcr/LoadPullRequests.yaml
Labels: automation

#7757 a8n: Validate that Campaign name is not blank
  cmd/frontend/db/schema.md
  enterprise/internal/a8n/service.go
  migrations/1528395635_check_campaign_name_not_blank.down.sql
  migrations/1528395635_check_campaign_name_not_blank.up.sql
  migrations/bindata.go
Labels: automation

#7621 UI polish of campaign components
  shared/src/notifications/NotificationItem.scss
  web/src/SourcegraphWebApp.scss
  web/src/components/Collapsible.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.tsx
  web/src/enterprise/campaigns/detail/presentation.ts
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/backend.ts
  web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
  web/src/site-admin/externalServices.tsx
Labels: automation

#7185 LSIF: Remove legacy query endpoints and frontend proxy
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/router/router.go
  enterprise/internal/codeintel/lsifserver/proxy/all_routes.go
  enterprise/internal/codeintel/lsifserver/proxy/github_auth.go
  enterprise/internal/codeintel/lsifserver/proxy/proxy.go
  enterprise/internal/codeintel/lsifserver/proxy/upload.go
  lsif/docs/api.yaml
  lsif/src/server/routes/lsif.test.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
Labels: lsif

#7766 e2e: Reduce number of repos that need to be cloned
  web/src/e2e/e2e.test.ts
Labels: e2e-tests

#7753 enterprise/a8n: Allow individually publishing changeset jobs
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/a8n/resolvers/campaign_plans.go
  enterprise/internal/a8n/resolvers/campaigns.go
  enterprise/internal/a8n/resolvers/resolver.go
  enterprise/internal/a8n/service.go
  enterprise/internal/a8n/service_test.go
  enterprise/internal/a8n/store.go
  enterprise/internal/a8n/store_test.go
  internal/a8n/types.go
  migrations/1528395636_add_published_at_to_changeset_jobs.down.sql
  migrations/1528395636_add_published_at_to_changeset_jobs.up.sql
  migrations/bindata.go
Labels: automation

#7808 e2e: Re-enable others after accidentally committing test.only
  web/src/e2e/e2e.test.ts
Labels: e2e-tests

#7809 e2e tests: Ensure repos are cloned before starting test suite
  shared/src/e2e/driver.ts
Labels: e2e-tests

#7659 Campaign draft mode UI
  CHANGELOG.md
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.test.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignTabs.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.test.tsx
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.tsx
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignPlanSpecificationFields.test.tsx.snap
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: automation

#6649 Code intelligence regression tests
  web/src/enterprise/repo/settings/RepoSettingsCodeIntelligencePage.tsx
  web/src/enterprise/repo/settings/RepoSettingsLsifUploadPage.tsx
  web/src/regression/README.md
  web/src/regression/codeintel.test.ts
  web/src/regression/codenav.test.ts
  web/src/regression/lsif-data/.gitignore
  web/src/regression/lsif-data/prometheus-client-golang@333f01cef0d6.lsif.gz
  web/src/regression/lsif-data/prometheus-common@287d3e634a1e.lsif.gz
  web/src/regression/util/TestResourceManager.ts
  web/src/regression/util/codeintel.ts
  web/src/regression/util/codenav.ts
Labels: e2e-tests, lsif

#7842 search: remove tooltip that obscured search mode dropdown
  web/src/search/input/interactive/SearchModeToggle.tsx
Labels: release-blocker, search

#7739 LSIF: Use repository ids instead of names
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/codeintel/lsifserver/client/query.go
  enterprise/internal/codeintel/lsifserver/client/upload.go
  enterprise/internal/codeintel/lsifserver/proxy/proxy.go
  enterprise/internal/codeintel/resolvers/location.go
  enterprise/internal/codeintel/resolvers/query.go
  enterprise/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/resolvers/tree.go
  enterprise/internal/codeintel/resolvers/tree_collection.go
  enterprise/internal/codeintel/resolvers/upload.go
  internal/lsif/types.go
  lsif/docs/api.yaml
  lsif/src/server/backend/backend.ts
  lsif/src/server/backend/database.test.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/server/routes/uploads.ts
  lsif/src/server/server.ts
  lsif/src/server/tasks/uploads.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/models/pg.ts
  lsif/src/shared/models/queries.ts
  lsif/src/shared/paths.ts
  lsif/src/shared/store/dependencies.ts
  lsif/src/shared/store/dumps.ts
  lsif/src/shared/store/uploads.ts
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/util.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/store/dependencies.test.ts
  lsif/src/tests/integration/store/dumps.test.ts
  lsif/src/worker/conversion/conversion.ts
  lsif/src/worker/worker.ts
  migrations/1528395637_lsif_repository_ids.down.sql
  migrations/1528395637_lsif_repository_ids.up.sql
  migrations/bindata.go
  web/src/enterprise/repo/settings/RepoSettingsLsifUploadPage.tsx
  web/src/enterprise/repo/settings/backend.tsx
Labels: lsif

#7860 a8n: Add count:99999 to credentials search query
  enterprise/internal/a8n/campaign_type.go
Labels: automation

#7865 Use golangci-lint as lint tool in VS Code workspace settings
  .vscode/settings.json
Labels: ops & tools & dev

#7863 docs: Improve a8n docs & document "Find leaked credentials" campaign
  doc/user/automation.md
Labels: docs

#7856 Format logs from the Puppeteer browser console
  .buildkite/pipeline.e2e.yml
  enterprise/dev/ci/ci/pipeline.go
  package.json
  shared/src/e2e/console.ts
  shared/src/e2e/driver.ts
  yarn.lock
Labels: e2e-tests

#7871 Add e2e test for regexp campaigns
  web/src/e2e/e2e.test.ts
Labels: automation, e2e-tests

#7872 Use Mocha for e2e and regression tests
  .buildkite/pipeline.e2e.yml
  .github/CODEOWNERS
  .mocharc.json
  .vscode/settings.json
  browser/.eslintrc.js
  browser/package.json
  browser/src/e2e/bitbucket.test.ts
  browser/src/e2e/ghe.test.ts
  browser/src/e2e/github.test.ts
  browser/src/e2e/gitlab.test.ts
  browser/src/e2e/phabricator.test.ts
  browser/src/e2e/shared.ts
  browser/src/e2e/tsconfig.json
  browser/src/types/chrome-webstore-upload/index.d.ts
  browser/src/types/plist/index.d.ts
  browser/tsconfig.json
  dev/check/check-owners.sh
  package.json
  shared/.eslintrc.js
  shared/src/e2e/console.ts
  shared/src/e2e/driver.ts
  shared/src/e2e/screenshotReporter.ts
  shared/src/e2e/tsconfig.json
  shared/tsconfig.json
  tsconfig.json
  web/.eslintrc.js
  web/package.json
  web/src/e2e/e2e.test.ts
  web/src/e2e/tsconfig.json
  web/src/regression/auth.test.ts
  web/src/regression/codeintel.test.ts
  web/src/regression/codenav.test.ts
  web/src/regression/config-settings.test.ts
  web/src/regression/core.test.ts
  web/src/regression/extensions.test.ts
  web/src/regression/external-services.test.ts
  web/src/regression/init.test.ts
  web/src/regression/integrations.test.ts
  web/src/regression/onboarding.test.ts
  web/src/regression/org.test.ts
  web/src/regression/search.test.ts
  web/src/regression/tsconfig.json
  web/src/regression/util/codeintel.ts
  web/src/regression/util/codenav.ts
  web/src/regression/util/init.ts
  web/tsconfig.json
  web/tsconfig.test.json
  yarn.lock
Labels: e2e-tests

#7874 Code intel regression test merge
  web/package.json
  web/src/regression/codeintel.test.ts
  web/src/regression/codenav.test.ts
  web/src/regression/lsif-data/.gitignore
  web/src/regression/lsif-data/github.com/sourcegraph-testing/prometheus-client-golang@333f01cef0d6.lsif.gz
  web/src/regression/lsif-data/github.com/sourcegraph-testing/prometheus-common@287d3e634a1e.lsif.gz
  web/src/regression/util/codeintel.ts
  web/src/regression/util/codenav.ts
Labels: lsif

#7896 LSIF: Use gitserver proxy
  cmd/frontend/db/schema.md
  enterprise/internal/codeintel/lsifserver/client/query.go
  lsif/docs/api.yaml
  lsif/src/server/backend/backend.ts
  lsif/src/server/backend/database.test.ts
  lsif/src/server/routes/lsif.ts
  lsif/src/server/server.ts
  lsif/src/shared/config/config.ts
  lsif/src/shared/database/postgres.ts
  lsif/src/shared/gitserver/gitserver.test.ts
  lsif/src/shared/gitserver/gitserver.ts
  lsif/src/shared/models/pg.ts
  lsif/src/shared/store/dumps.ts
  lsif/src/shared/store/uploads.ts
  lsif/src/tests/integration/backend/linked-reference-results.test.ts
  lsif/src/tests/integration/backend/reference-pagination-monorepo.test.ts
  lsif/src/tests/integration/backend/reference-pagination.test.ts
  lsif/src/tests/integration/backend/simple.test.ts
  lsif/src/tests/integration/backend/xrepo.test.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/store/dependencies.test.ts
  lsif/src/tests/integration/store/dumps.test.ts
  lsif/src/worker/conversion/conversion.ts
  lsif/src/worker/worker.ts
  migrations/1528395637_lsif_repository_ids.down.sql
  migrations/1528395640_drop_repository_name_at_upload.down.sql
  migrations/1528395640_drop_repository_name_at_upload.up.sql
  migrations/bindata.go
Labels: lsif

#7897 Add field for isLatestForRepo on LSIF upload page.
  web/src/enterprise/repo/settings/RepoSettingsLsifUploadPage.tsx
  web/src/enterprise/repo/settings/backend.tsx
Labels: lsif

#7895 Remove lightstep configuration from lsif server.
  lsif/package.json
  lsif/src/shared/config/config.ts
  lsif/src/shared/tracing.ts
  lsif/yarn.lock
Labels: lsif

#7898 LSIF regression test - isLatestForRepo check
  web/src/regression/codeintel.test.ts
Labels: lsif

#7922 Do not remove LSIF upload files immediately on deletion.
  lsif/src/server/server.ts
  lsif/src/shared/paths.ts
  lsif/src/shared/store/dumps.ts
  lsif/src/tests/integration/integration-test-util.ts
  lsif/src/tests/integration/store/dependencies.test.ts
  lsif/src/tests/integration/store/dumps.test.ts
  lsif/src/worker/worker.ts
Labels: lsif

#7934 Remove mention of "external services" and use "sync" consistently
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
  web/src/site-admin/SiteAdminRepositoriesPage.tsx
Labels: web

#7936 a8n: Improve dev docs (link important docs, glossary, getting started)
  doc/dev/automation_development.md
Labels: automation, docs

#7945 LSIF: Update outdated api doc fields.
  lsif/docs/api.yaml
Labels: lsif

#7944 LSIF: Document that we use RFC3339 over ISO8601.
  lsif/docs/api.yaml
Labels: lsif

#7926 a8n: Ensure we run campaign jobs as the user that created the plan
  CHANGELOG.md
  cmd/frontend/backend/orgs.go
  cmd/frontend/backend/site_admin.go
  cmd/frontend/db/schema.md
  enterprise/internal/a8n/resolvers/resolver.go
  enterprise/internal/a8n/resolvers/resolver_test.go
  enterprise/internal/a8n/runner.go
  enterprise/internal/a8n/runner_test.go
  enterprise/internal/a8n/service.go
  enterprise/internal/a8n/service_test.go
  enterprise/internal/a8n/store.go
  enterprise/internal/a8n/store_test.go
  internal/a8n/types.go
  migrations/1528395642_add_user_id_to_campaign_plan.down.sql
  migrations/1528395642_add_user_id_to_campaign_plan.up.sql
  migrations/bindata.go
Labels: automation

#7947 Remove deprecated __backcompatContents
  CHANGELOG.md
  packages/@sourcegraph/extension-api-types/src/hover.d.ts
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/types/hover.test.ts
  shared/src/api/client/types/hover.ts
  shared/src/api/extension/api/types.ts
Labels: web

#8011 fix error message prefix for publishing campaign
  enterprise/internal/a8n/resolvers/resolver.go
Labels: automation

#7976 Split ownership of a8n code into web and core
  .github/CODEOWNERS
Labels: ops & tools & dev

#8015 a8n: Do not report manual Campaigns as unpublished (fix #8009)
  enterprise/internal/a8n/resolvers/campaigns.go
Labels: automation, team/core-services

#8012 refuse to create changesets for campaign with plan
  enterprise/internal/a8n/service.go
Labels: automation

#8016 a8n: Add setting to allow read access to Campaigns for non-site-admins
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/internal/app/jscontext/jscontext.go
  enterprise/internal/a8n/resolvers/campaigns.go
  enterprise/internal/a8n/resolvers/resolver.go
  internal/conf/computed.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
  web/src/SourcegraphWebApp.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/globals.d.ts
Labels: customer

#8023 Correctly update UI when adding a changeset to manual campaign
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
Labels: automation, bug

#8024 Add changelog entry for manual campaign update fix
  CHANGELOG.md
Labels: automation

#8030 Improve collapse icon UX
  web/src/components/Collapsible.tsx
  web/src/components/diff/FileDiffNode.scss
  web/src/components/diff/FileDiffNode.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/FileDiffTabNode.test.tsx.snap
Labels: web

#8033 Improve changeset form UX
  web/src/SourcegraphWebApp.scss
  web/src/components/Collapsible.scss
  web/src/components/Collapsible.tsx
  web/src/enterprise/campaigns/detail/AddChangesetForm.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/AddChangesetForm.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.scss
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
Labels: automation, web

#8036 Add changelog entry for manual campaign UI polish
  CHANGELOG.md
Labels: automation

#8008 a8n: support creating campaign plans from API only, not UI
  cmd/frontend/graphqlbackend/a8n.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  doc/dev/automation_development.md
  doc/user/automation.md
  enterprise/cmd/frontend/main.go
  enterprise/internal/a8n/a8n_test.go
  enterprise/internal/a8n/campaign_type.go
  enterprise/internal/a8n/campaign_type_test.go
  enterprise/internal/a8n/resolvers/campaign_plans.go
  enterprise/internal/a8n/resolvers/resolver.go
  enterprise/internal/a8n/resolvers/resolver_test.go
  enterprise/internal/a8n/runner.go
  enterprise/internal/a8n/runner_test.go
  enterprise/internal/a8n/service_test.go
  enterprise/internal/a8n/store_test.go
  schema/campaign-types/comby.schema.json
  schema/campaign-types/comby_stringdata.go
  schema/campaign-types/credentials.schema.json
  schema/campaign-types/credentials_stringdata.go
  schema/campaign-types/regex_search_replace.schema.json
  schema/campaign-types/regex_search_replace_stringdata.go
  schema/gen.go
  schema/tsconfig.json
  shared/src/e2e/driver.ts
  web/src/e2e/e2e.test.ts
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignPlanSpecificationFields.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignPlanSpecificationFields.test.tsx.snap
  web/src/enterprise/campaigns/detail/presentation.ts
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/backend.ts
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: automation

#7923 docs: mention nodejs version management with nvm
  doc/dev/local_development.md
Labels: docs

#7870 Fix error in reading config
  shared/src/api/client/context/expr/evaluator.ts
Labels: bug, e2e-tests, web

#8064 a8n: Document how to run an action, create a campaign plan and campaign with CLI
  doc/user/automation.md
Labels: automation, team/core-services

#8065 docs: Link to <3.12 docs on new Automation docs page
  doc/user/automation.md
Labels: automation, docs

#8071 docs: Fix typos as follow-up to #8064
  doc/user/automation.md
Labels: docs

#8084 a8n docs: Note about scalability & example campaign that adds LSIF upload to Go repos
  doc/user/automation.md
Labels: automation, docs

#8089 a8n: Document `src actions scope-query` and using editor
  doc/user/automation.md
Labels: automation, docs

#8104 docs: Update automation docs based on user feedback
  doc/user/automation.md
Labels: automation, docs

#8108 a8n: Add Comby campaign as example to docs
  doc/user/automation.md
Labels: automation, docs

#8112 Use code host classes for notifications
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/code_intelligence/code_intelligence.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/extensions.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/libs/phabricator/code_intelligence.ts
  shared/src/notifications/NotificationItem.story.tsx
  shared/src/notifications/NotificationItem.tsx
  shared/src/notifications/Notifications.tsx
  web/src/SourcegraphWebApp.tsx
Labels: browser-extension, bug

#8125 a8n: Correctly unblock history
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
Labels: automation, bug

#8138 Clean up UpdateCampaign test to make it more readable
  enterprise/internal/a8n/service_test.go
Labels: automation, team/core-services

#8147 docs: Document Automation read-only access setting
  doc/user/automation.md
Labels: automation, docs

#8153 ci: Set COMMIT_SHA/DATE env vars when building server image
  enterprise/dev/ci/ci/pipeline-steps.go
  enterprise/dev/ci/ci/pipeline.go
Labels: ops & tools & dev
