Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-07, with the labels that each got.

#11793 Implement support to preview unsupported patches
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/patch_sets.go
  enterprise/internal/campaigns/resolvers/patch_sets_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/patches/PatchNode.test.tsx
  web/src/enterprise/campaigns/detail/patches/PatchNode.tsx
  web/src/enterprise/campaigns/detail/patches/PatchSetPatches.test.tsx
  web/src/enterprise/campaigns/detail/patches/PatchSetPatches.tsx
  web/src/enterprise/campaigns/detail/patches/__snapshots__/PatchNode.test.tsx.snap
Labels: campaigns

#11867 cloud: Repo-updater store repositories clone status in repo table
  cmd/frontend/db/schema.md
  cmd/repo-updater/repos/integration_test.go
  cmd/repo-updater/repos/observability.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/store_test.go
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-path-pattern.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-simple.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-ssh.golden
  cmd/repo-updater/repos/testdata/bitbucketserver-repos-username.golden
  cmd/repo-updater/repos/testdata/golden/BitbucketCloudSource_makeRepo_path-pattern
  cmd/repo-updater/repos/testdata/golden/BitbucketCloudSource_makeRepo_simple
  cmd/repo-updater/repos/testdata/golden/BitbucketCloudSource_makeRepo_ssh
  cmd/repo-updater/repos/testdata/golden/GitLabSource_makeRepo_path-pattern
  cmd/repo-updater/repos/testdata/golden/GitLabSource_makeRepo_simple
  cmd/repo-updater/repos/testdata/golden/GitLabSource_makeRepo_ssh
  cmd/repo-updater/repos/testdata/golden/GithubSource_makeRepo_path-pattern
  cmd/repo-updater/repos/testdata/golden/GithubSource_makeRepo_simple
  cmd/repo-updater/repos/testdata/golden/GithubSource_makeRepo_ssh
  cmd/repo-updater/repos/testing.go
  cmd/repo-updater/repos/types.go
  cmd/repo-updater/shared/main.go
  enterprise/cmd/repo-updater/authz/perms_syncer_test.go
  enterprise/internal/campaigns/syncer_test.go
  internal/db/dbutil/dbutil.go
  migrations/1528395688_add_cloned_column_to_repo.down.sql
  migrations/1528395688_add_cloned_column_to_repo.up.sql
  migrations/bindata.go
Labels: team/cloud

#11939 search pages: improve various queries
  web/src/repogroups/Android.tsx
  web/src/repogroups/Golang.tsx
  web/src/repogroups/Python2To3.tsx
  web/src/repogroups/ReactHooks.tsx
Labels: RFC-159

#11972 update campaigns docs to reflect new flow
  doc/_resources/templates/document.html
  doc/dev/campaigns_design.md
  doc/dev/campaigns_development.md
  doc/user/campaigns/CampaignSpec.schema.json
  doc/user/campaigns/actions.md
  doc/user/campaigns/campaigns-icon.svg
  doc/user/campaigns/configuration.md
  doc/user/campaigns/creating_campaign_from_patches.md
  doc/user/campaigns/creating_manual_campaign.md
  doc/user/campaigns/drafts.md
  doc/user/campaigns/examples/eslint_typescript_version.md
  doc/user/campaigns/examples/index.md
  doc/user/campaigns/examples/lsif_action.md
  doc/user/campaigns/examples/refactor_go_comby.md
  doc/user/campaigns/getting_started.md
  doc/user/campaigns/hello_world_campaign.md
  doc/user/campaigns/index.md
  doc/user/campaigns/managing_access.md
  doc/user/campaigns/updating_campaigns.md
Labels: campaigns

#11982 update GraphQL API to remove unneeded namespace param, add applyCampaign test
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  web/src/enterprise/campaigns/detail/backend.ts
Labels: campaigns

#12024 Remove globalThis polyfill
  jest.config.base.js
  shared/dev/globalThis.js
Labels: debt

#11997 Override GraphQL API for integration tests
  web/src/integration/__fixtures__/search/case_sensitivity_toggle/clicking_toggle_turns_off_case_sensitivity_and_removes_case_url_parameter_2951888955/recording.har
  web/src/integration/__fixtures__/search/case_sensitivity_toggle/clicking_toggle_turns_on_case_sensitivity_1945884784/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/filter_buttons_1341189549/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/filter_dropdown_and_finite_option_filter_inputs_3032515524/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/search_mode_component_appears_3096847116/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/updates_query_when_searching_from_directory_page_2511634085/recording.har
  web/src/integration/__fixtures__/search/structural_search_toggle/clicking_toggle_turns_off_structural_saerch_and_reverts_to_default_pattern_type_1607440570/recording.har
  web/src/integration/__fixtures__/search/structural_search_toggle/clicking_toggle_turns_on_structural_search_3387440268/recording.har
  web/src/integration/__fixtures__/search/structural_search_toggle/clicking_toggle_turns_on_structural_search_and_removes_existing_pattern_type_parameter_162733290/recording.har
  web/src/integration/__fixtures__/settings/user_settings_page/updates_user_settings_3395606591/recording.har
  web/src/integration/graphQlResults.ts
  web/src/integration/helpers.ts
  web/src/integration/search.test.ts
  web/src/integration/settings.test.ts
  web/src/regression/util/api.ts
  web/src/search/backend.tsx
Labels: team/web, testing

#12020 Update logo
  ui/assets/img/sourcegraph-head-logo.svg
  ui/assets/img/sourcegraph-light-head-logo.svg
  ui/assets/img/sourcegraph-logo.svg
  web/src/components/branding/BrandLogo.tsx
Labels: webapp

#12036 Add storybooks for file diffs and improve ugly states
  web/src/components/diff/FileDiffHunks.story.tsx
  web/src/components/diff/FileDiffNode.story.tsx
  web/src/components/diff/FileDiffNode.tsx
Labels: campaigns, debt

#12092 Implement ChangesetSpec resolver and validation of specs
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/json.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  enterprise/internal/campaigns/testing/specs.go
  internal/campaigns/types.go
  internal/campaigns/types_test.go
  schema/campaign_spec.schema.json
  schema/campaign_spec_stringdata.go
  schema/changeset_spec.schema.json
  schema/changeset_spec_stringdata.go
  schema/gen.go
Labels: campaigns, team/campaigns

#12084 Repogroup page copy edits
  web/src/repogroups/Android.tsx
  web/src/repogroups/Golang.tsx
  web/src/repogroups/Kubernetes.tsx
  web/src/repogroups/Python2To3.tsx
  web/src/repogroups/ReactHooks.tsx
  web/src/search/input/SearchPage.tsx
Labels: RFC-159

#12091 Serve mock index.html and window.context
  web/package.json
  web/src/enterprise/codeintel/CodeIntelIndexPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelIndexesPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelUploadPage.story.tsx
  web/src/enterprise/codeintel/CodeIntelUploadsPage.story.tsx
  web/src/globals.d.ts
  web/src/integration/__fixtures__/search/case_sensitivity_toggle/clicking_toggle_turns_off_case_sensitivity_and_removes_case_url_parameter_2951888955/recording.har
  web/src/integration/__fixtures__/search/case_sensitivity_toggle/clicking_toggle_turns_on_case_sensitivity_1945884784/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/filter_buttons_1341189549/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/filter_dropdown_and_finite_option_filter_inputs_3032515524/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/search_mode_component_appears_3096847116/recording.har
  web/src/integration/__fixtures__/search/interactive_search_mode/updates_query_when_searching_from_directory_page_2511634085/recording.har
  web/src/integration/__fixtures__/search/structural_search_toggle/clicking_toggle_turns_off_structural_saerch_and_reverts_to_default_pattern_type_1607440570/recording.har
  web/src/integration/__fixtures__/search/structural_search_toggle/clicking_toggle_turns_on_structural_search_3387440268/recording.har
  web/src/integration/__fixtures__/search/structural_search_toggle/clicking_toggle_turns_on_structural_search_and_removes_existing_pattern_type_parameter_162733290/recording.har
  web/src/integration/__fixtures__/settings/user_settings_page/updates_user_settings_3395606591/recording.har
  web/src/integration/graphQlResults.ts
  web/src/integration/helpers.ts
  web/src/integration/jscontext.ts
  web/src/jscontext.ts
  web/src/search/backend.tsx
  web/src/search/results/SearchResults.tsx
  web/src/search/results/SearchResultsList.tsx
Labels: ops & tools & dev, team/web, testing

#12096 Add integration tests to CI
  dev/codecov.yml
  enterprise/dev/ci/ci/pipeline-steps.go
  package.json
  web/package.json
  web/src/integration/README.md
  web/src/integration/helpers.ts
Labels: team/web, testing

#12130 Use mocha directly for integration tests and move to shared/
  package.json
  shared/src/testing/driver.ts
  shared/src/testing/integration/README.md
  shared/src/testing/integration/context.ts
  shared/src/testing/integration/graphQlResults.ts
  shared/src/testing/integration/polly/PuppeteerAdapter.ts
  web/src/integration/context.ts
  web/src/integration/graphQlResults.ts
  web/src/integration/helpers.ts
  web/src/integration/search.test.ts
  web/src/integration/settings.test.ts
  yarn.lock
Labels: team/web, testing

#11961 search: register repogroup routes in frontend
  cmd/frontend/internal/app/ui/router.go
  web/src/Layout.tsx
  web/src/routes.tsx
Labels: RFC-159

#11757 campaigns: add GitLab support
  CHANGELOG.md
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/gitlab_test.go
  enterprise/internal/campaigns/changeset_history.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/state_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  enterprise/internal/campaigns/workers.go
  internal/campaigns/types.go
  internal/campaigns/types_test.go
  internal/extsvc/gitlab/client.go
  internal/extsvc/gitlab/members.go
  internal/extsvc/gitlab/merge_requests.go
  internal/extsvc/gitlab/merge_requests_test.go
  internal/extsvc/gitlab/mock.go
  internal/extsvc/gitlab/notes.go
  internal/extsvc/gitlab/notes_test.go
  internal/extsvc/gitlab/pipelines.go
  internal/extsvc/gitlab/pipelines_test.go
  internal/extsvc/gitlab/projects.go
  internal/extsvc/gitlab/projects_test.go
  internal/extsvc/gitlab/repositories.go
  internal/extsvc/gitlab/testing.go
  internal/extsvc/gitlab/users.go
Labels: campaigns, gitlab

#12172 campaigns: hide YouTube from Percy
  .storybook/preview-head.html
  doc/dev/testing.md
  web/src/SourcegraphWebApp.scss
  web/src/enterprise/campaigns/global/marketing/CampaignsMarketing.tsx
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsMarketing.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsSiteAdminMarketingPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsUserMarketingPage.test.tsx.snap
  web/src/nav/StatusMessagesNavItem.scss
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: campaigns, testing

#12123 Add extension API for hover alerts
  browser/src/browser-extension/web-extension-api/types.ts
  browser/src/shared/code-hosts/shared/codeHost.tsx
  browser/src/shared/code-hosts/shared/hoverAlerts.tsx
  browser/src/shared/code-hosts/shared/nativeTooltips.tsx
  packages/@sourcegraph/extension-api-types/src/hover.d.ts
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/types/hover.test.ts
  shared/src/api/client/types/hover.ts
  shared/src/api/extension/api/types.ts
  shared/src/api/extension/extensionHost.hover.test.ts
  shared/src/api/integration-test/languageFeatures.test.ts
  shared/src/hover/HoverOverlay.scss
  shared/src/hover/HoverOverlay.story.tsx
  shared/src/hover/HoverOverlay.test.tsx
  shared/src/hover/HoverOverlay.tsx
  shared/src/hover/__snapshots__/HoverOverlay.test.tsx.snap
  shared/src/util/markdown.ts
  web/src/components/shared.tsx
Labels: extensions, team/code-intelligence

#12182 Fix Bitbucket file path wrapping
  browser/src/shared/code-hosts/bitbucket/style.scss
  browser/src/shared/code-hosts/github/style.scss
Labels: bitbucket, browser-extension

#12216 Upload storybook to Chromatic
  enterprise/dev/ci/ci/pipeline-steps.go
  package.json
  yarn.lock
Labels: ops & tools & dev, team/web

#12218 CODEOWNERS: campaigns should own docs
  .github/CODEOWNERS
Labels: campaigns, ops & tools & dev, team/campaigns

#12234 Auto-retry Chromatic step in CI
  enterprise/dev/ci/ci/pipeline-steps.go
Labels: ops & tools & dev

#12259 Add Figma integration to Storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  shared/src/types/storybook-addon-designs/index.d.ts
  web/src/global-styles/global-styles.story.tsx
  web/src/nav/VersionContextDropdown.story.tsx
  web/src/repogroups/RepogroupPage.story.tsx
  yarn.lock
Labels: browser-extension, design, ops & tools & dev, team/web, webapp

#12248 Integration test docs
  doc/dev/testing.md
  shared/src/testing/config.ts
  shared/src/testing/driver.ts
  web/src/integration/README.md
  web/src/integration/blob-viewer.test.ts
  web/src/integration/profile.test.ts
  web/src/integration/repository.test.ts
  web/src/integration/search.test.ts
  web/src/integration/settings.test.ts
Labels: docs, team/web, testing

#12207 Secure Token Schema
  .gitignore
  cmd/frontend/types/types.go
  internal/db/mockstores.go
  internal/db/schema.md
  internal/db/secrets.go
  internal/db/secrets_mock.go
  internal/db/stores.go
  internal/db/users_mock.go
  migrations/1528395691_encrypt_tokens.down.sql
  migrations/1528395691_encrypt_tokens.up.sql
  migrations/bindata.go
Labels: RFC-196

#12213 Increase contrast of placeholders to meet WCAG
  web/src/SourcegraphWebApp.scss
  web/src/global-styles/forms.scss
Labels: accessibility, design, team/web

#12315 Rename MockGitHubChangesetSync to more generic name
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/testing/mock_sync_state.go
  enterprise/internal/campaigns/webhooks_test.go
Labels: campaigns, team/campaigns

#12316 Remove unneeded context and error from CheckState method
  cmd/frontend/graphqlbackend/campaigns.go
  enterprise/internal/campaigns/resolvers/changesets.go
Labels: campaigns, team/campaigns

#12217 Revisions
  doc/user/campaigns/index.md
Labels: docs

#12223 docs: Add code host integrations
  doc/dev/code_host_integrations.md
  doc/dev/index.md
  doc/dev/web/index.md
Labels: docs, team/web

#12362 Check namespace perms in CreateCampaignSpec/MoveCampaign
  cmd/frontend/backend/site_admin.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
Labels: campaigns, team/campaigns

#12365 search: support globbing for filters
  cmd/frontend/graphqlbackend/search_filter_suggestions.go
  cmd/frontend/graphqlbackend/search_filter_suggestions_test.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_test.go
Labels: team/search

#12388 Drop old campaigns tables and add missing columns
  enterprise/cmd/frontend/main.go
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/migrations.go
  enterprise/internal/campaigns/migrations_test.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_changeset_specs.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  enterprise/internal/campaigns/store_test.go
  enterprise/internal/campaigns/webhooks_test.go
  enterprise/internal/campaigns/workers.go
  enterprise/internal/campaigns/workers_test.go
  internal/campaigns/types.go
  internal/db/schema.md
  migrations/1528395692_add_campaign_specs_and_changeset_specs.down.sql
  migrations/1528395692_add_campaign_specs_and_changeset_specs.up.sql
  migrations/1528395693_remove_old_campaigns_workflow_tables.down.sql
  migrations/1528395693_remove_old_campaigns_workflow_tables.up.sql
  migrations/bindata.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
Labels: campaigns, team/campaigns

#12406 codeintel: Add tables for denormalizing nearest upload data
  internal/db/schema.md
  migrations/1528395694_lsif_nearest_uploads.down.sql
  migrations/1528395694_lsif_nearest_uploads.up.sql
  migrations/bindata.go
Labels: team/code-intelligence

#12404 codeintel: Add CommitGraph to gitserver client
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/commits.go
  enterprise/internal/codeintel/gitserver/commits_test.go
  enterprise/internal/codeintel/gitserver/mocks/mock_client.go
Labels: team/code-intelligence

#12402 codeintel: Add commit graph utilities
  enterprise/internal/codeintel/store/commit_graph.go
  enterprise/internal/codeintel/store/commit_graph_test.go
Labels: team/code-intelligence

#12401 codeintel: Add Lock to store
  enterprise/internal/codeintel/store/lock.go
  enterprise/internal/codeintel/store/lock_test.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
  internal/db/basestore/rows.go
Labels: team/code-intelligence

#12433 Update info color to a lighter cyan
  shared/src/global-styles/colors.scss
Labels: design, webapp

#12408 codeintel: Add CalculateVisibleUploads to store
  enterprise/internal/codeintel/store/commits.go
  enterprise/internal/codeintel/store/commits_test.go
  enterprise/internal/codeintel/store/helpers_test.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
Labels: team/code-intelligence

#12504 schema: allow personal repos on Bitbucket Server
  enterprise/internal/db/external_services_test.go
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
Labels: bitbucket, bug, team/campaigns

#12556 search: reactivate dead code path in alertForOverRepoLimit
  cmd/frontend/graphqlbackend/search_alert.go
  cmd/frontend/graphqlbackend/search_alert_test.go
Labels: team/search

#12390 Badge design
  web/src/SourcegraphWebApp.scss
  web/src/components/diff/FileDiffNode.story.tsx
  web/src/components/diff/FileDiffNode.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignHeader.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/global/create/CampaignCliHelp.tsx
  web/src/enterprise/campaigns/global/create/CreateCampaign.tsx
  web/src/enterprise/campaigns/global/create/__snapshots__/CampaignCliHelp.test.tsx.snap
  web/src/enterprise/campaigns/global/create/__snapshots__/CreateCampaign.test.tsx.snap
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/__snapshots__/GlobalCampaignListPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/CampaignsMarketing.tsx
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsMarketing.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsSiteAdminMarketingPage.test.tsx.snap
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsUserMarketingPage.test.tsx.snap
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
  web/src/enterprise/search/stats/SearchStatsPage.tsx
  web/src/enterprise/search/stats/__snapshots__/SearchStatsPage.test.tsx.snap
  web/src/global-styles/global-styles.story.tsx
  web/src/global-styles/type.scss
  web/src/insights/InsightsPage.tsx
  web/src/snippets/SnippetsPage.tsx
Labels: design, webapp

#12559 Adopt graphql-code-generator
  .gitignore
  .prettierignore
  browser/.eslintignore
  browser/src/browser-extension/scripts/backgroundPage.main.ts
  browser/src/browser-extension/scripts/optionsPage.main.tsx
  browser/src/browser-extension/web-extension-api/types.ts
  browser/src/shared/backend/requestGraphQl.ts
  browser/src/shared/code-hosts/shared/testHelpers.ts
  browser/src/shared/platform/context.test.tsx
  browser/src/shared/platform/context.ts
  doc/dev/web/graphql.md
  doc/dev/web/index.md
  gulpfile.js
  package.json
  shared/.eslintignore
  shared/dev/enzymeSerializer.js
  shared/dev/extract-graphql-operations.ts
  shared/dev/extractGraphQlOperationCodegenPlugin.js
  shared/dev/generateGraphQlOperations.js
  shared/dev/gql2ts-transformer.ts
  shared/dev/jest-environment.js
  shared/gulpfile.js
  shared/package.json
  shared/src/graphql-operations.ts
  shared/src/graphql/graphql.ts
  shared/src/hover/actions.test.ts
  shared/src/platform/context.ts
  shared/src/testing/driver.ts
  web/.eslintignore
  web/gulpfile.js
  web/src/backend/graphql.ts
  web/src/enterprise/site-admin/dotcom/productSubscriptions/SiteAdminProductSubscriptionNode.tsx
  web/src/enterprise/site-admin/dotcom/productSubscriptions/SiteAdminProductSubscriptionsPage.tsx
  web/src/enterprise/user/productSubscriptions/UserSubscriptionsEditProductSubscriptionPage.tsx
  web/src/enterprise/user/productSubscriptions/UserSubscriptionsProductSubscriptionPage.tsx
  web/src/extensions/ExtensionsList.tsx
  web/src/graphql-operations.ts
  web/src/integration/graphQlResults.ts
  web/src/integration/repository.test.ts
  web/src/repo/GitReference.tsx
  web/src/search/backend.tsx
  web/src/site-admin/backend.tsx
  yarn.lock
Labels: ops & tools & dev, team/web

#12529 doc: make webhook configuration consistent
  doc/admin/external_service/bitbucket_server.md
  doc/admin/external_service/github.md
Labels: docs, team/campaigns

#12568 Fix filtering by external state and nil panic when state is given in args
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
Labels: bug, campaigns

#12562 Migrate campaigns components to use the new graphql types
  web/src/backend/diff.ts
  web/src/components/diff/DiffHunk.tsx
  web/src/components/diff/FileDiffConnection.tsx
  web/src/components/diff/FileDiffHunks.tsx
  web/src/components/diff/FileDiffNode.story.tsx
  web/src/components/diff/FileDiffNode.tsx
  web/src/enterprise/campaigns/detail/BurndownChart.test.tsx
  web/src/enterprise/campaigns/detail/BurndownChart.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLabel.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLabel.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/HiddenExternalChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLabel.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ExternalChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.story.tsx
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.test.tsx
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/backend.ts
  web/src/enterprise/campaigns/list/CampaignNode.story.tsx
  web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
  web/src/repo/compare/RepositoryCompareDiffPage.tsx
Labels: campaigns

#12411 codeintel: Add commit updater utility
  enterprise/cmd/precise-code-intel-worker/env.go
  enterprise/cmd/precise-code-intel-worker/internal/commit-updater/updater.go
  enterprise/cmd/precise-code-intel-worker/internal/commit-updater/updater_test.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/internal/codeintel/commits/mocks/gen.go
  enterprise/internal/codeintel/commits/mocks/mock_updater.go
  enterprise/internal/codeintel/commits/updater.go
  enterprise/internal/codeintel/commits/updater_test.go
Labels: team/code-intelligence

#12425 codeintel: Remove unused store, gitserver code
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/commits.go
  enterprise/internal/codeintel/gitserver/mocks/mock_client.go
  enterprise/internal/codeintel/store/commits.go
  enterprise/internal/codeintel/store/ctes.go
  enterprise/internal/codeintel/store/dumps.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
  enterprise/internal/codeintel/store/uploads.go
  internal/db/schema.md
  migrations/1528395695_lsif_remove_commits.down.sql
  migrations/1528395695_lsif_remove_commits.up.sql
  migrations/bindata.go
Labels: team/code-intelligence
