Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-03, with the labels that each got.

#8727 Fix branch input hidden on update
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
Labels: bug, campaigns

#8660 docs: Add global settings doc for admin > config
  doc/_resources/templates/document.html
  doc/admin/config/settings-cascade.md
  doc/admin/config/settings-cascade.svg
  doc/admin/config/settings.md
  doc/admin/config/settings.schema.json
Labels: docs

#8759 Fix Firefox horizontal scrolling
  shared/src/components/FileMatchChildren.scss
  shared/src/components/ResultContainer.scss
Labels: bug, search, webapp

#8663 Rework minor stuff on campaigns UI
  web/src/enterprise/campaigns/DraftBadge.test.tsx
  web/src/enterprise/campaigns/DraftBadge.tsx
  web/src/enterprise/campaigns/__snapshots__/DraftBadge.test.tsx.snap
  web/src/enterprise/campaigns/detail/BurndownChart.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.test.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.tsx
  web/src/enterprise/campaigns/detail/FileDiffTabNode.test.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignTabs.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/ChangesetLabel.scss
  web/src/enterprise/campaigns/detail/changesets/ChangesetLabel.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.scss
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLabel.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTabNode.test.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTabNode.tsx
  web/src/enterprise/campaigns/detail/diffs/__snapshots__/FileDiffTabNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/CampaignDescriptionField.tsx
  web/src/enterprise/campaigns/detail/form/CampaignTitleField.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignDescriptionField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignTitleField.test.tsx.snap
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/backend.ts
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: campaigns

#8750 Badge style fix
  doc/_resources/assets/layout.css
  doc/_resources/templates/root.html
Labels: docs

#7108 Fix display of command palette icons
  browser/src/libs/bitbucket/code_intelligence.tsx
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/libs/gitlab/style.scss
  shared/src/commandPalette/CommandList.tsx
Labels: browser-extension

#8788 Add a not-null constraint to {campaigns,campaign_jobs}.description
  cmd/frontend/db/schema.md
  migrations/1528395656_add_not_null_constraint_to_campaign_description.down.sql
  migrations/1528395656_add_not_null_constraint_to_campaign_description.up.sql
  migrations/1528395657_add_not_null_constraint_to_campaign_job_description.down.sql
  migrations/1528395657_add_not_null_constraint_to_campaign_job_description.up.sql
  migrations/bindata.go
Labels: campaigns

#8799 Handle double-delivery of Bitbucket Server webhooks
  internal/campaigns/types.go
Labels: campaigns

#8797 Add missing event types to GitHub webhook documentation
  doc/admin/external_service/github.md
Labels: docs

#8815 Log when accepting/dropping webhook events from Bitbucket Server
  enterprise/internal/campaigns/webhooks.go
  internal/extsvc/bitbucketserver/events.go
Labels: campaigns

#8786 Implement find subprojects and do not recurse to a non-bare repository for src-expose serve
  dev/src-expose/serve.go
Labels: new-contributor

#8823 Check error after failing to create a commit on gitserver
  enterprise/internal/campaigns/service.go
Labels: campaigns

#8820 Ensure that Sourcegraph instances don't overwrite BBS webhook
  enterprise/cmd/frontend/main.go
  enterprise/internal/campaigns/webhooks.go
Labels: campaigns

#8821 Compute Bitbucket Server changeset review state based on events
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  internal/campaigns/types.go
Labels: campaigns

#8824 Upper-case GitHub webhook event's state before conversion
  internal/campaigns/types.go
Labels: campaigns

#8464 Fix flickering on refresh of campaign
  web/src/components/FilteredConnection.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignTabs.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.tsx
Labels: bug, campaigns

#8840 Faster dev startup
  dev/nginx.conf
  dev/start.sh
  enterprise/dev/start.sh
Labels: debt

#8857 Revert concurrent yarn runs
  dev/start.sh
Labels: team/web

#8858 Add baseUri to DocumentFilter
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/client/services/location.test.ts
  shared/src/api/client/types/textDocument.test.ts
  shared/src/api/client/types/textDocument.ts
Labels: code-intel, extensions, team/web

#8847 Fix typos across sourcegraph repo
  browser/README.md
  browser/src/browser/README.md
  browser/src/extension/scripts/background.ts
  browser/src/platform/extensionHost.ts
  browser/src/shared/components/OpenDiffOnSourcegraph.tsx
  cmd/frontend/graphqlbackend/repository_git_refs.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_suggestions.go
  cmd/frontend/internal/session/session.go
  cmd/gitserver/main.go
  cmd/gitserver/server/list-gitolite_test.go
  cmd/gitserver/server/lock.go
  cmd/gitserver/server/patch.go
  cmd/gitserver/server/repo_info_test.go
  cmd/gitserver/server/serverutil.go
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/gitolite.go
  cmd/repo-updater/repos/purge.go
  cmd/repo-updater/repos/scheduler_test.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/repos/testing.go
  cmd/server/shared/shared.go
  dev/ci/go-build.sh
  dev/ci/go-test.sh
  doc/admin/migration/3_7.md
  doc/api/graphql/search.md
  doc/dev/architecture/life-of-a-search-query.md
  doc/dev/tech_stack.md
  doc/integration/bitbucket_server.md
  doc/user/campaigns.md
  enterprise/cmd/frontend/auth/oauth/cookie.go
  enterprise/cmd/frontend/internal/authz/bitbucketserver/store_test.go
  enterprise/cmd/frontend/internal/licensing/features.go
  enterprise/internal/campaigns/store.go
  internal/campaigns/types.go
  internal/conf/server.go
  internal/endpoint/endpoint.go
  internal/ratelimit/rate_limit_test.go
  migrations/1528395630_repo_external_always.up.sql
  migrations/bindata.go
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/components/completion/CompletionWidget.tsx
  shared/src/notifications/NotificationItem.tsx
  shared/src/util/types.ts
  web/src/api/APIConsole.tsx
  web/src/api/graphiql-theme.scss
  web/src/components/SearchResultMatch.tsx
  web/src/search/results/SearchResultsInfoBar.tsx
  web/src/search/results/SearchResultsList.tsx
  web/src/tree/Tree.tsx
Labels: new-contributor

#8877 Register a comlink transfer handler for URLs
  CHANGELOG.md
  shared/src/api/client/connection.ts
  shared/src/api/extension/extensionHost.ts
  shared/src/api/util.ts
Labels: bug, p1, team/web

#8852 List sub-headers under "On this page" in docs
  doc/_resources/templates/document.html
Labels: docs

#8897 docs: CSS and JS cache bust
  doc/_resources/templates/document.html
  doc/_resources/templates/root.html
Labels: docs

#6546 Restore stay-on-PR feature
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/github/code_intelligence.test.ts
  browser/src/libs/github/code_intelligence.ts
  browser/src/libs/github/scrape.ts
  browser/src/libs/gitlab/__fixtures__/merge-request.html
  browser/src/libs/gitlab/code_intelligence.test.ts
  browser/src/libs/gitlab/code_intelligence.ts
  browser/src/platform/context.ts
  browser/src/shared.scss
  browser/src/shared/util/url.ts
  shared/src/api/client/services/hover.ts
  shared/src/hover/actions.test.ts
  shared/src/hover/actions.ts
  shared/src/platform/context.ts
  shared/src/util/url.ts
  web/src/backend/features.ts
  web/src/repo/blob/Blob.tsx
  web/src/repo/blob/panel/BlobPanel.tsx
  web/src/repo/commit/RepositoryCommitPage.tsx
  web/src/repo/compare/RepositoryCompareArea.tsx
Labels: browser-extension, team/web

#8845 Add documentation for Bitbucket Server plugin
  doc/admin/external_service/bitbucket_server.md
  doc/admin/repo/permissions.md
  doc/integration/bitbucket_server.md
Labels: docs

#8912 dev-tooling: Only restart Go services that actually changed
  dev/go-install.sh
Labels: ops & tools & dev

#8913 Do not log conf client error if frontend is (re!)started
  internal/conf/client.go
Labels: ops & tools & dev

#8777 Fix margin on site-admin rows
  web/src/e2e/e2e.test.ts
  web/src/site-admin/SiteAdminOverviewPage.test.tsx
  web/src/site-admin/SiteAdminOverviewPage.tsx
  web/src/site-admin/__snapshots__/SiteAdminOverviewPage.test.tsx.snap
Labels: team/web, webapp

#8910 Fix browser extension e2e tests
  .vscode/launch.json
  browser/src/e2e/github.test.ts
  browser/src/e2e/shared.ts
  browser/src/e2e/tsconfig.json
  browser/src/libs/github/code_intelligence.ts
  browser/src/types/puppeteer-firefox/index.d.ts
  browser/src/types/web-ext/index.d.ts
  browser/tsconfig.json
  enterprise/dev/ci/ci/pipeline-steps.go
  lsif/tsconfig.json
  package.json
  shared/.gitignore
  shared/src/e2e/config.ts
  shared/src/e2e/driver.ts
  shared/src/e2e/screenshotReporter.ts
  shared/src/types/highlight.js/index.d.ts
  shared/src/types/highlight.js/lib/highlight.d.ts
  shared/src/types/puppeteer-firefox/index.d.ts
  shared/src/types/web-ext/index.d.ts
  shared/tsconfig.json
  web/tsconfig.json
  yarn.lock
Labels: browser-extension, e2e-tests, team/web

#8942 Print inline screenshots in iTerm
  shared/src/e2e/screenshotReporter.ts
Labels: e2e-tests

#8957 Don't show close confirmation when no-op
  web/src/enterprise/campaigns/detail/CampaignActionsBar.test.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.test.tsx
  web/src/enterprise/campaigns/detail/form/CloseDeleteCampaignPrompt.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CloseDeleteCampaignPrompt.test.tsx.snap
Labels: bug, campaigns, webapp

#8992 Fix logic for publicationEnqueued
  enterprise/internal/campaigns/resolvers/campaign_plans.go
Labels: bug, campaigns

#8955 Remove campaign status for campaign plans
  web/src/e2e/e2e.test.ts
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
Labels: bug, campaigns, webapp

#8954 Reintroduce publishing chip
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
Labels: bug, campaigns, webapp

#8986 campaigns: Changeset resolver now uses derived fields
  cmd/frontend/graphqlbackend/campaigns.go
  enterprise/internal/campaigns/resolvers/changesets.go
  internal/campaigns/types.go
  internal/campaigns/types_test.go
  internal/extsvc/bitbucketserver/client.go
Labels: campaigns

#8956 Fix new campaign label
  web/src/enterprise/campaigns/detail/CampaignActionsBar.test.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
Labels: bug, campaigns, webapp

#8991 Don't allow multiple Campaigns having the same CampaignPlan
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
Labels: bug, campaigns

#8952 Add new "unmodified" tab to changeset update UI
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignUpdateDiff.test.tsx.snap
Labels: campaigns, webapp

#9026 Fix storing of events after creating a campaign
  enterprise/internal/campaigns/service.go
Labels: bug, campaigns

#9028 Use correct changeset state for diff property
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  internal/campaigns/types.go
  internal/campaigns/types_test.go
Labels: bug, campaigns

#9035 Add more snapshot tests for campaigns components
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignUpdateSelection.test.tsx.snap
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.test.tsx
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/__snapshots__/GlobalCampaignListPage.test.tsx.snap
  web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: campaigns, debt, webapp

#9032 Improve StatusMessagesNavItem
  web/src/nav/StatusMessagesNavItem.scss
  web/src/nav/StatusMessagesNavItem.test.tsx
  web/src/nav/StatusMessagesNavItem.tsx
  web/src/nav/__snapshots__/StatusMessagesNavItem.test.tsx.snap
Labels: webapp

#9030 Prevent loading changesets twice on page init
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
Labels: bug, campaigns

#8948 campaigns: Add basic resync UI
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/resolver.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.scss
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
Labels: campaigns

#9031 Fix cancellation for GraphQL requests
  .eslintrc.js
  browser/src/libs/bitbucket/api.ts
  browser/src/libs/gitlab/api.ts
  browser/src/libs/phabricator/backend.tsx
  shared/src/api/client/services/extensionsService.ts
  shared/src/graphql/fromFetch.ts
  shared/src/graphql/graphql.ts
  web/src/regression/integrations.test.ts
Labels: bug, webapp

#9057 Upgrade to TypeScript 3.8
  package.json
  yarn.lock
Labels: debt, team/web

#9059 Remove ProcessPendingCampaignJob
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: campaigns, debt

#9118 Remove ununsed fields from CampaignPlan
  cmd/frontend/db/schema.md
  enterprise/internal/campaigns/campaign_type.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  internal/campaigns/types.go
  migrations/1528395662_remove_unused_columns_from_campaign_plans.down.sql
  migrations/1528395662_remove_unused_columns_from_campaign_plans.up.sql
  migrations/bindata.go
Labels: campaigns, debt

#9085 Removed extra "}" (fixed #9083)
  web/src/user/settings/accessTokens/UserSettingsCreateAccessTokenPage.tsx
Labels: bug, new-contributor, webapp

#9112 Native integrations auth flow
  browser/src/extension/scripts/inject.ts
  browser/src/integration/integration.ts
  browser/src/libs/code_intelligence/__snapshots__/external_links.test.tsx.snap
  browser/src/libs/code_intelligence/code_intelligence.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/extensions.test.tsx
  browser/src/libs/code_intelligence/extensions.tsx
  browser/src/libs/code_intelligence/external_links.test.tsx
  browser/src/libs/code_intelligence/external_links.tsx
  browser/src/libs/code_intelligence/hover_alerts.tsx
  browser/src/libs/code_intelligence/inject.ts
  browser/src/libs/phabricator/extension.ts
  browser/src/platform/context.test.tsx
  browser/src/platform/context.ts
  browser/src/platform/settings.ts
  browser/src/shared/repo/backend.tsx
  shared/dev/fetch.js
  shared/src/backend/fetch.ts
  shared/src/util/useObservable.test.ts
  shared/src/util/useObservable.ts
  web/src/auth/UsernamePasswordSignInForm.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/repo/settings/RepoSettingsLsifUploadPage.tsx
  web/src/enterprise/search/stats/SearchStatsPage.tsx
  web/src/enterprise/site-admin/SiteAdminLsifUploadPage.tsx
  web/src/enterprise/site-admin/dotcom/productSubscriptions/SiteAdminCreateProductSubscriptionPage.tsx
  web/src/site-admin/SiteAdminOverviewPage.tsx
  web/src/site-admin/SiteAdminReportBugPage.tsx
Labels: auth, browser-extension, team/web

#9055 Rework campaign status logic and UI
  package.json
  web/src/e2e/e2e.test.ts
  web/src/enterprise/campaigns/detail/AddChangesetForm.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.scss
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.scss
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignDiffStat.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDiffStat.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.test.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/AddChangesetForm.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDiffStat.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignTabs.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignUpdateDiff.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.test.tsx
  web/src/enterprise/campaigns/detail/diffs/CampaignDiffs.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTabNode.test.tsx
  web/src/enterprise/campaigns/detail/diffs/FileDiffTabNode.tsx
  web/src/enterprise/campaigns/detail/diffs/__snapshots__/CampaignDiffs.test.tsx.snap
  web/src/enterprise/campaigns/detail/diffs/__snapshots__/FileDiffTabNode.test.tsx.snap
  yarn.lock
Labels: campaigns, webapp

#9033 Don't include exhaustive rxjs internals on campaigns test
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
Labels: campaigns, debt

#9200 Fix plan status fetch on campaigns page
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/backend.ts
Labels: bug, campaigns

#9120 Implement code intelligence on campaign changesets
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  web/src/components/FilteredConnection.tsx
  web/src/components/diff/FileDiffHunks.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
Labels: campaigns, webapp

#9181 Ensure all diffstats are incorporated into combined diffstat
  web/src/enterprise/campaigns/detail/backend.ts
Labels: bug, campaigns

#9084 Only allow updates to valid campaigns
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignUpdateSelection.test.tsx.snap
  web/src/enterprise/campaigns/global/list/backend.ts
Labels: bug, campaigns, estimate/0.5d

#9196 The Big Rename: CampaignPlan -> PatchSet, CampaignJob -> Patch
  cmd/frontend/db/schema.md
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/resolvers/campaigns.go
  enterprise/internal/campaigns/resolvers/changesets.go
  enterprise/internal/campaigns/resolvers/patch_sets.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  internal/campaigns/types.go
  migrations/1528395663_rename_campaign_plans_to_patch_sets.down.sql
  migrations/1528395663_rename_campaign_plans_to_patch_sets.up.sql
  migrations/1528395664_rename_campaign_jobs_to_patches.down.sql
  migrations/1528395664_rename_campaign_jobs_to_patches.up.sql
  migrations/bindata.go
  shared/src/e2e/driver.ts
  web/src/e2e/e2e.test.ts
  web/src/enterprise/campaigns/detail/AddChangesetForm.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.test.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignDiffStat.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDiffStat.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDiffStat.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/global/list/backend.ts
  web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  web/src/enterprise/campaigns/list/CampaignNode.tsx
Labels: campaigns

#9231 Don't harcode linux in jaeger script
  dev/jaeger.sh
Labels: ops & tools & dev

#9232 Fix flaky screeshot test of ProductCertificate
  web/src/e2e/e2e.test.ts
  web/src/enterprise/productSubscription/ProductCertificate.tsx
  web/src/enterprise/site-admin/productSubscription/ProductSubscriptionStatus.tsx
Labels: e2e-tests, team/web

#9238 Improve campaigns code for patches and patch sets
  web/src/components/FilteredConnection.tsx
  web/src/enterprise/campaigns/detail/AddChangesetForm.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.test.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignDiffStat.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDiffStat.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.test.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateSelection.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/AddChangesetForm.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignUpdateDiff.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignUpdateSelection.test.tsx.snap
  web/src/enterprise/campaigns/detail/backend.ts
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.test.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/patches/CampaignPatches.tsx
  web/src/enterprise/campaigns/detail/patches/PatchNode.test.tsx
  web/src/enterprise/campaigns/detail/patches/PatchNode.tsx
  web/src/enterprise/campaigns/detail/patches/PatchSetPatches.tsx
  web/src/enterprise/campaigns/detail/patches/__snapshots__/PatchNode.test.tsx.snap
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
Labels: campaigns, debt

#9271 Fix Bitbucket Server webhook documentation
  doc/admin/external_service/bitbucket_server.md
  doc/integration/bitbucket_server.md
Labels: campaigns

#9050 use caddy 2 for https local development
  dev/Caddyfile
  dev/Procfile
  dev/add_https_domain_to_hosts.sh
  dev/caddy.sh
  dev/start.sh
  dev/tools.go
  doc/dev/local_development.md
  go.mod
  go.sum
Labels: ops & tools & dev

#9281 Small fixes on OptionsMenu
  browser/src/libs/options/OptionsContainer.tsx
  browser/src/libs/options/OptionsMenu.scss
  browser/src/libs/options/ServerURLForm.tsx
Labels: browser-extension, bug, team/web

#9291 Campaigns: reduce debt
  web/src/enterprise/campaigns/detail/CampaignDiffStat.tsx
  web/src/enterprise/campaigns/detail/CampaignUpdateDiff.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/patches/CampaignPatches.tsx
  web/src/enterprise/campaigns/detail/patches/PatchSetPatches.tsx
  web/src/enterprise/campaigns/detail/presentation.ts
  web/src/enterprise/campaigns/global/list/GlobalCampaignListPage.tsx
  web/src/enterprise/campaigns/global/list/__snapshots__/GlobalCampaignListPage.test.tsx.snap
  web/src/enterprise/campaigns/list/CampaignNode.tsx
  web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
Labels: campaigns, debt

#9287 Convert ExternalServiceNode to hooks component
  web/src/site-admin/SiteAdminExternalServicesPage.tsx
Labels: team/web, webapp

#9275 Display sign in buttons in code view toolbar
  browser/src/libs/bitbucket/context.tsx
  browser/src/libs/code_intelligence/SignInButton.tsx
  browser/src/libs/code_intelligence/__snapshots__/external_links.test.tsx.snap
  browser/src/libs/code_intelligence/code_intelligence.test.tsx
  browser/src/libs/code_intelligence/code_intelligence.tsx
  browser/src/libs/code_intelligence/external_links.test.tsx
  browser/src/libs/code_intelligence/external_links.tsx
  browser/src/shared/components/Button.tsx
  browser/src/shared/components/CodeViewToolbar.tsx
Labels: auth, browser-extension, customer, team/web

#7235 Extension API: make configuration a Subscribable
  packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  shared/src/api/extension/api/configuration.ts
  shared/src/api/extension/extensionHost.ts
Labels: debt, extensions, team/web

#9296 Campaigns debt cleanup the 3rd
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/CampaignStatus.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignStatus.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/ChangesetLastSynced.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetLastSynced.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.test.tsx
  web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetLastSynced.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/ChangesetNode.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/CampaignBranchField.test.tsx
  web/src/enterprise/campaigns/detail/form/CampaignBranchField.tsx
  web/src/enterprise/campaigns/detail/form/CampaignDescriptionField.tsx
  web/src/enterprise/campaigns/detail/form/CampaignTitleField.tsx
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignBranchField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignDescriptionField.test.tsx.snap
  web/src/enterprise/campaigns/detail/form/__snapshots__/CampaignTitleField.test.tsx.snap
Labels: campaigns, debt

#9209 E2E test for manual campaigns
  shared/src/e2e/driver.ts
  web/src/e2e/e2e.test.ts
  web/src/enterprise/campaigns/detail/AddChangesetForm.tsx
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/AddChangesetForm.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetails.test.tsx.snap
  web/src/site-admin/SiteAdminExternalServiceForm.tsx
Labels: campaigns

#7925 LSIF: Implement basic diff pushing
  enterprise/internal/codeintel/resolvers/position.go
  enterprise/internal/codeintel/resolvers/position_test.go
  enterprise/internal/codeintel/resolvers/query.go
  enterprise/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/resolvers/tree.go
Labels: lsif

#9320 Campaigns: debt no 4
  web/src/enterprise/campaigns/detail/CampaignDetails.tsx
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/patches/CampaignPatches.tsx
Labels: campaigns, debt

#9337 Add a campaigns database layout diagram to dev docs
  doc/dev/campaigns_database_layout.dot
  doc/dev/campaigns_database_layout.svg
  doc/dev/campaigns_development.md
Labels: campaigns, docs

#8985 Don't detach merged/closed changesets on update
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
Labels: campaigns

#9399 Document which GitHub token scopes are required
  doc/admin/external_service/github.md
  schema/github.schema.json
  schema/github_stringdata.go
  schema/schema.go
Labels: campaigns, docs, team/core-services

#9400 E2E: Use evaluate to make sure the correct service type is always clicked
  shared/src/e2e/driver.ts
Labels: e2e-tests

#9405 Do not allow updating closed campaigns
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  web/src/enterprise/campaigns/detail/CampaignActionsBar.test.tsx
  web/src/enterprise/campaigns/detail/CampaignActionsBar.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignActionsBar.test.tsx.snap
Labels: campaigns
