Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-09, with the labels that each got.

#13457 RFC: Add RetryAfter to dbworker.StoreOptions
  internal/workerutil/dbworker/store/helpers_test.go
  internal/workerutil/dbworker/store/store.go
  internal/workerutil/dbworker/store/store_test.go
Labels: team/campaigns

#13545 Fix last newline getting lost in applyPatch
  cmd/frontend/graphqlbackend/preview_repository_comparison.go
  cmd/frontend/graphqlbackend/preview_repository_comparison_test.go
Labels: bug

#13480 Only render direct tree children
  web/src/repo/backend.ts
  web/src/repo/tree/TreeEntriesSection.scss
  web/src/repo/tree/TreeEntriesSection.test.tsx
  web/src/repo/tree/TreeEntriesSection.tsx
  web/src/repo/tree/TreePage.scss
  web/src/repo/tree/TreePage.tsx
  web/src/repo/tree/__snapshots__/TreeEntriesSection.test.tsx.snap
  web/src/tree/TreeLayer.tsx
  web/src/tree/TreeRoot.tsx
  web/src/tree/util.tsx
Labels: team/web, webapp

#13573 Run integration tests in parallel
  package.json
Labels: ops & tools & dev, perf, testing

#13585 Apply cursor pagination pattern to last campaigns connection
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection_test.go
Labels: debt

#13594 Trim down Chromatic snapshots
  shared/src/types/storybook-chromatic/index.d.ts
  web/src/components/externalServices/ExternalServiceCard.story.tsx
  web/src/components/externalServices/ExternalServiceWebhook.story.tsx
  web/src/components/tooltip/Tooltip.story.tsx
  web/src/repogroups/RepogroupPage.story.tsx
Labels: testing

#13616 fix campaigns documentation link
  web/src/enterprise/campaigns/list/CampaignsListBetaNotice.tsx
Labels: team/campaigns

#13618 Use stable IDs in org integration tests
  web/src/integration/org.test.ts
  web/src/org/new/NewOrganizationPage.tsx
  web/src/site-admin/SiteAdminOrgsPage.tsx
Labels: testing

#13643 Hide monaco cursor in Chromatic and Percy
  .editorconfig
  .storybook/preview-head.html
  .storybook/preview.js
  shared/src/types/chromatic/isChromatic.d.ts
  web/src/SourcegraphWebApp.scss
  web/src/repogroups/RepogroupPage.story.tsx
  web/src/repogroups/RepogroupPage.tsx
  web/src/search/input/SearchPage.story.tsx
  web/src/search/panels/EnterpriseHomePanels.story.tsx
Labels: testing

#12932 Add telemetry opt-in to the Firefox add-on
  browser/src/browser-extension/options-page/OptionsContainer.test.tsx
  browser/src/browser-extension/options-page/OptionsContainer.tsx
  browser/src/browser-extension/options-page/OptionsHeader.tsx
  browser/src/browser-extension/options-page/OptionsMenu.story.tsx
  browser/src/browser-extension/options-page/OptionsMenu.test.tsx
  browser/src/browser-extension/options-page/OptionsMenu.tsx
  browser/src/browser-extension/scripts/optionsPage.main.tsx
  browser/src/browser-extension/web-extension-api/types.ts
  browser/src/shared/code-hosts/shared/codeHost.tsx
  browser/src/shared/tracking/eventLogger.tsx
  browser/src/shared/util/context.tsx
  browser/src/shared/util/optionFlags.ts
Labels: browser-extension, firefox

#13586 Disable other extensions when sideloading
  shared/src/api/client/services/extensionsService.test.ts
  shared/src/api/client/services/extensionsService.ts
  shared/src/extensions/extensionManifest.ts
  shared/src/schema/extensionSchema.ts
Labels: extensions, team/web

#13680 clean up NavLinks for unauthed users
  web/src/nav/NavLinks.tsx
  web/src/nav/__snapshots__/NavLinks.test.tsx.snap
Labels: team/web

#13679 make GlobalNavbar a React.FunctionComponent
  web/src/nav/GlobalNavbar.test.tsx
  web/src/nav/GlobalNavbar.tsx
  web/src/nav/__snapshots__/GlobalNavbar.test.tsx.snap
Labels: team/web

#13697 Refactor nav and search components
  web/src/SourcegraphWebApp.scss
  web/src/components/branding/BrandLogo.scss
  web/src/components/branding/BrandLogo.test.tsx
  web/src/components/branding/BrandLogo.tsx
  web/src/components/branding/__snapshots__/BrandLogo.test.tsx.snap
  web/src/nav/GlobalNavbar.scss
  web/src/nav/GlobalNavbar.test.tsx
  web/src/nav/GlobalNavbar.tsx
  web/src/nav/__snapshots__/GlobalNavbar.test.tsx.snap
  web/src/repogroups/RepogroupPage.tsx
  web/src/search/input/SearchPage.story.tsx
  web/src/search/input/SearchPage.test.tsx
  web/src/search/input/SearchPage.tsx
  web/src/search/input/SearchPageInput.tsx
  web/src/search/input/interactive/AddFilterRow.scss
  web/src/search/input/interactive/AddFilterRow.tsx
  web/src/search/input/interactive/FilterInput.scss
  web/src/search/input/interactive/FilterInput.test.tsx
  web/src/search/input/interactive/FilterInput.tsx
  web/src/search/input/interactive/InteractiveModeInput.scss
  web/src/search/input/interactive/InteractiveModeInput.tsx
  web/src/search/input/interactive/SelectedFiltersRow.scss
  web/src/search/input/interactive/SelectedFiltersRow.tsx
  web/src/site-admin/init/SiteInitPage.tsx
  web/src/site-admin/init/__snapshots__/SiteInitPage.test.tsx.snap
Labels: team/search, team/web

#13705 managed instances: overhaul / clarify / update customer-facing docs
  doc/admin/install/managed.md
Labels: team/distribution

#13746 codeintel: Reduce data returned from code intel ranges requests
  enterprise/cmd/precise-code-intel-bundle-manager/internal/database/database.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/database/database_test.go
  enterprise/internal/codeintel/resolvers/query.go
Labels: team/code-intelligence

#13305 Improve command palette
  browser/src/shared.scss
  browser/src/shared/code-hosts/shared/codeHost.test.tsx
  browser/src/shared/code-hosts/shared/codeHost.tsx
  browser/src/shared/code-hosts/shared/extensions.tsx
  shared/src/commandPalette/CommandList.scss
  shared/src/commandPalette/CommandList.tsx
  shared/src/commandPalette/EmptyCommandList.scss
  shared/src/commandPalette/EmptyCommandList.tsx
  shared/src/extensions/extensions.ts
  shared/src/index.scss
  web/src/extensions/ExtensionCard.scss
  web/src/nav/NavLinks.test.tsx
  web/src/nav/NavLinks.tsx
  web/src/repogroups/RepogroupPage.story.tsx
  web/src/repogroups/RepogroupPage.tsx
  web/src/search/input/SearchPage.tsx
  web/src/search/input/SearchPageInput.tsx
  web/src/search/input/interactive/InteractiveModeInput.tsx
Labels: RFC209, extensions, team/web

#13475 Change language on sign in page
  web/src/auth/SignInPage.tsx
  web/src/regression/util/helpers.ts
Labels: team/web, ux, webapp

#13768 Implement empty states for campaigns components
  web/src/enterprise.scss
  web/src/enterprise/campaigns/apply/CampaignApplyPage.story.tsx
  web/src/enterprise/campaigns/apply/ChangesetSpecList.tsx
  web/src/enterprise/campaigns/apply/EmptyChangesetSpecListElement.tsx
  web/src/enterprise/campaigns/close/CampaignCloseAlert.tsx
  web/src/enterprise/campaigns/close/CampaignCloseChangesetsList.tsx
  web/src/enterprise/campaigns/close/CampaignCloseChangesetsListEmptyElement.scss
  web/src/enterprise/campaigns/close/CampaignCloseChangesetsListEmptyElement.tsx
  web/src/enterprise/campaigns/close/CampaignCloseHeader.scss
  web/src/enterprise/campaigns/close/CampaignCloseHeader.tsx
  web/src/enterprise/campaigns/close/CampaignClosePage.story.tsx
  web/src/enterprise/campaigns/close/CampaignClosePage.tsx
  web/src/enterprise/campaigns/detail/BurndownChart.story.tsx
  web/src/enterprise/campaigns/detail/BurndownChart.tsx
  web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/BurndownChart.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  web/src/enterprise/campaigns/detail/changesets/EmptyChangesetListElement.tsx
  web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
Labels: planned/3.20, team/campaigns, webapp

#13795 Fix nil panic in reconciler by setting repo when closing changesets
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/testing/changeset_source.go
Labels: team/campaigns

#13725 Align create page with design
  .storybook/main.js
  jest.config.base.js
  package.json
  web/src/enterprise/campaigns/create/CreateCampaignPage.story.tsx
  web/src/enterprise/campaigns/create/CreateCampaignPage.tsx
  web/src/enterprise/campaigns/create/samples/comby.campaign.yaml
  web/src/enterprise/campaigns/create/samples/empty.campaign.yaml
  web/src/enterprise/campaigns/create/samples/go-imports.campaign.yaml
  web/src/enterprise/campaigns/create/samples/minimal.campaign.yaml
  web/src/globals.d.ts
  web/webpack.config.js
  yarn.lock
Labels: design, team/campaigns, webapp

#13819 Update commit when author email/name changed
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/service_apply_campaign_test.go
Labels: team/campaigns

#13783 Misc campaigns improvements
  web/src/enterprise/campaigns/close/CampaignCloseAlert.tsx
  web/src/enterprise/campaigns/detail/CampaignDescription.tsx
  web/src/enterprise/campaigns/detail/CampaignDetailsPage.test.tsx
  web/src/enterprise/campaigns/detail/CampaignDetailsPage.tsx
  web/src/enterprise/campaigns/detail/CampaignInfoByline.story.tsx
  web/src/enterprise/campaigns/detail/CampaignInfoByline.tsx
  web/src/enterprise/campaigns/detail/CampaignSpecTab.test.tsx
  web/src/enterprise/campaigns/detail/CampaignSpecTab.tsx
  web/src/enterprise/campaigns/detail/CampaignTabs.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignSpecTab.test.tsx.snap
  web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  web/src/enterprise/campaigns/icons.tsx
  web/src/user/area/UserArea.tsx
Labels: team/campaigns

#13848 Document how to set commit author and fix direct links
  doc/user/campaigns/campaign_spec_yaml_reference.md
  doc/user/campaigns/index.md
Labels: team/campaigns

#13865 link to campaigns demo video in campaigns docs
  doc/user/campaigns/hello_world_campaign.md
  doc/user/campaigns/index.md
Labels: team/campaigns

#13910 Use new campaigns video on sourcegraph.com/campaigns
  web/src/enterprise/campaigns/global/marketing/CampaignsDotComPage.tsx
  web/src/enterprise/campaigns/global/marketing/__snapshots__/CampaignsDotComPage.test.tsx.snap
Labels: team/campaigns

#13926 doc: fix two `master` references in insiders docs
  doc/admin/install/docker-compose/index.md
  doc/admin/install/docker/index.md
Labels: docs

#12099 Make firefox add-on build reproducible by fetching specific commit of code-intel-extensions
  browser/.gitignore
  browser/bundled-code-intel-extensions.json
  browser/package.json
  browser/scripts/build-code-intel-extensions.js
  browser/scripts/build-inline-extensions.js
  browser/scripts/fetch-code-intel-extensions.js
  browser/scripts/tasks.ts
Labels: browser-extension, team/web

#13931 Add script to produce source code zip of browser extension
  browser/package.json
  browser/scripts/create-source-zip.js
Labels: browser-extension, team/web

#13940 doc: minor campaign updates
  doc/user/campaigns/hello_world_campaign.md
  doc/user/campaigns/index.md
  doc/user/campaigns/managing_access.md
Labels: docs

#13948 Document token permissions required by campaigns
  doc/admin/external_service/bitbucket_server.md
  doc/admin/external_service/github.md
  doc/admin/external_service/gitlab.md
  doc/user/campaigns/managing_access.md
  schema/bitbucket_server.schema.json
  schema/bitbucket_server_stringdata.go
  schema/schema.go
Labels: team/campaigns

#13942 chore: Co-locate dev scripts to interact with postgres
  dev/db/add_migration.sh
  dev/db/drop-local-database.sh
  dev/db/drop-test-databases.sh
  dev/db/migrate.sh
  dev/db/squash_migrations.sh
  doc/dev/local_development.md
  migrations/README.md
Labels: RFC-235, team/code-intelligence

#13913 codeintel: RFC 235: Add code intel postgres image
  docker-images/codeintel-db/build.sh
  enterprise/dev/ci/ci/pipeline-steps.go
Labels: RFC-235, team/code-intelligence

#13965 add GraphQL API field Query.namespaceByName for easy user/org lookup by name
  CHANGELOG.md
  cmd/frontend/graphqlbackend/namespaces.go
  cmd/frontend/graphqlbackend/namespaces_test.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  internal/db/mockstores.go
  internal/db/namespaces.go
  internal/db/namespaces_test.go
Labels: team/cloud

#13837 PrivateCodeCta: increase contrast/readability
  web/src/search/input/PrivateCodeCta.scss
Labels: team/web

#13966 document the expected structure of {changeset,campaign}Spec strings in create{Changeset,Campaign}Spec
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
Labels: team/campaigns

#13970 use more explicit and consistent wording for site admin user "Log out"
  CHANGELOG.md
  web/src/site-admin/SiteAdminAllUsersPage.tsx
Labels: team/security

#14005 codeintel: Resolve abbreviated OID
  enterprise/internal/codeintel/httpapi/upload_handler.go
  enterprise/internal/codeintel/httpapi/upload_handler_test.go
Labels: team/code-intelligence

#14034 tracking-issue: Separate complete/incomplete work
  internal/cmd/tracking-issue/issue.go
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/tracking_issue.go
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#14035 tracking-issue: Better nested tracking issue estimates
  internal/cmd/tracking-issue/issue.go
  internal/cmd/tracking-issue/main_test.go
  internal/cmd/tracking-issue/testdata/fixtures.json
  internal/cmd/tracking-issue/testdata/issue.md
Labels: team/code-intelligence

#14062 Implement a CodeSnippet component that encapsules the design
  web/src/SourcegraphWebApp.scss
  web/src/components/CodeSnippet.scss
  web/src/components/CodeSnippet.tsx
  web/src/global-styles/global-styles.story.tsx
Labels: design, webapp

#14095 repo-updater: Use s.Logger where appropriate
  cmd/repo-updater/repos/syncer.go
Labels: team/cloud

#14060 codenotify: Configure efritz's subscriptions
  enterprise/cmd/frontend/internal/codeintel/CODENOTIFY
  enterprise/cmd/precise-code-intel-bundle-manager/CODENOTIFY
  enterprise/cmd/precise-code-intel-indexer-vm/CODENOTIFY
  enterprise/cmd/precise-code-intel-indexer/CODENOTIFY
  enterprise/cmd/precise-code-intel-worker/CODENOTIFY
  enterprise/internal/codeintel/CODENOTIFY
  internal/cmd/precise-code-intel-tester/CODENOTIFY
  internal/db/CODENOTIFY
  internal/workerutil/CODENOTIFY
Labels: team/code-intelligence

#14102 codeintel: Refactor command runner in indexer
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/command.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/commander.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler_test.go
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/mock_commander_test.go
Labels: RFC-201, team/code-intelligence

#14103 codeintel: Lower indexer output to debug level
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/command.go
Labels: RFC-201, team/code-intelligence

#14087 indent and highlight JSON campaign specs
  web/src/enterprise/campaigns/detail/CampaignSpecTab.test.tsx
  web/src/enterprise/campaigns/detail/CampaignSpecTab.tsx
  web/src/enterprise/campaigns/detail/__snapshots__/CampaignSpecTab.test.tsx.snap
Labels: team/campaigns

#14107 tracking-issue: Fix strikethrough on closed (un-merged) PRs
  internal/cmd/tracking-issue/issue.go
  internal/cmd/tracking-issue/pull_request.go
  internal/cmd/tracking-issue/tracking_issue.go
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#14105 codeintel: Refactor index command construction
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
Labels: RFC-201, team/code-intelligence

#14114 codeintel: Move away from hardcoding image names
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
Labels: RFC-201, team/code-intelligence

#14086 Pin cssnano version that treats :focus-visible correctly
  babel.config.js
  doc/dependency_decisions.yml
  package.json
  web/src/components/branding/BrandLogo.tsx
  web/src/nav/GlobalNavbar.tsx
  yarn.lock
Labels: bug, team/web, webapp

#14097 Properly truncate path breadcrumbs
  CHANGELOG.md
  web/src/components/Breadcrumbs.tsx
  web/src/repo/FilePathBreadcrumbs.scss
  web/src/repo/RepoHeader.tsx
  web/src/repo/blob/BlobPage.tsx
  web/src/repo/tree/TreePage.tsx
Labels: bug, webapp

#14116 codeintel: Refactor construction of copyfiles flags
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
Labels: RFC-201, team/code-intelligence

#14117 codeintel: Add orderedKeys to indexer
  enterprise/cmd/precise-code-intel-indexer-vm/internal/indexer/handler.go
Labels: RFC-201, team/code-intelligence

#14119 show command palette immediately, don't wait for fade-in
  shared/src/commandPalette/CommandList.tsx
Labels: team/web

#14122 make RepogroupPage less noisy/self-serving
  web/src/repogroups/RepogroupPage.tsx
Labels: team/web

#14127 remove search scope pages (/search/scope/:id)
  CHANGELOG.md
  cmd/frontend/internal/app/ui/router.go
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
  web/src/routes.tsx
  web/src/search/ScopePage.test.tsx
  web/src/search/ScopePage.tsx
  web/src/search/__snapshots__/ScopePage.test.tsx.snap
  web/src/search/input/SearchScopes.test.tsx
Labels: team/search

#14128 do not show search scopes on main/repogroup search pages
  CHANGELOG.md
  doc/user/search/scopes.md
  web/src/search/input/SearchPage.scss
  web/src/search/input/SearchPageInput.tsx
  web/src/search/input/SearchScopes.scss
  web/src/search/input/SearchScopes.test.tsx
  web/src/search/input/SearchScopes.tsx
  web/src/search/input/__snapshots__/SearchScopes.test.tsx.snap
Labels: team/search

#7363 remove explore page
  CHANGELOG.md
  cmd/frontend/internal/app/ui/router.go
  doc/extensions/usage.md
  web/src/Layout.tsx
  web/src/SourcegraphWebApp.tsx
  web/src/enterprise/explore/exploreSections.ts
  web/src/enterprise/extensions/explore/ExtensionsExploreSection.tsx
  web/src/enterprise/extensions/explore/ExtensionsExploreSectionExtensionCard.tsx
  web/src/enterprise/main.tsx
  web/src/explore/ExploreArea.tsx
  web/src/explore/exploreSections.ts
  web/src/extensions/explore/ExtensionViewsExploreSection.tsx
  web/src/integrations/explore/IntegrationsExploreSection.tsx
  web/src/main.tsx
  web/src/nav/NavLinks.tsx
  web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  web/src/regression/core.test.ts
  web/src/repo/explore/RepositoriesExploreSection.tsx
  web/src/routes.tsx
  web/src/usageStatistics/explore/SiteUsageExploreSection.tsx
Labels: webapp

#14149 disable interactive search (splitSearchModes) by default
  CHANGELOG.md
  schema/settings.schema.json
  schema/settings_stringdata.go
  web/src/SourcegraphWebApp.tsx
  web/src/integration/search.test.ts
  web/src/repogroups/RepogroupPage.story.tsx
  web/src/search/input/MonacoQueryInput.tsx
  web/src/util/settings.ts
Labels: team/search

#14151 ignore https errors when running e2e/integration tests
  shared/src/testing/driver.ts
Labels: team/web

#14129 Don't skip pipelines and notes already seen
  CHANGELOG.md
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/gitlab_test.go
  enterprise/internal/campaigns/state.go
Labels: bug

#14108 tracking-issue: Nest unlinked PRs under the closest tracking issue
  internal/cmd/tracking-issue/issue.go
  internal/cmd/tracking-issue/pull_request.go
  internal/cmd/tracking-issue/testdata/fixtures.json
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/tracking_issue.go
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#14061 db: Add sql.TxOptions to basestore
  cmd/repo-updater/repos/sync_worker.go
  dev/reconciler-test-script/main.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/codeintel/store/store.go
  enterprise/internal/codeintel/store/store_test.go
  internal/db/basestore/handle.go
  internal/db/basestore/store.go
  internal/db/basestore/store_test.go
  internal/workerutil/dbworker/store/helpers_test.go
Labels: team/code-intelligence

#14124 tracking-issue: Order finished work chronologically
  internal/cmd/tracking-issue/issue.go
  internal/cmd/tracking-issue/pull_request.go
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/util.go
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#14168 tracking-issue: Fix tests
  internal/cmd/tracking-issue/main_test.go
  internal/cmd/tracking-issue/testdata/fixtures.json
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/util.go
Labels: team/code-intelligence

#14169 tracking-issue: Do not show completed PRs if the owning image is also complete
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#14172 chore: Fix tracking-issue tests
  internal/cmd/tracking-issue/main_test.go
  internal/cmd/tracking-issue/testdata/fixtures.json
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/testdata/last-update.txt
  internal/cmd/tracking-issue/util.go
Labels: team/code-intelligence

#14175 tracking-issue: Hide completed work nested in other completed work
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#14176 tracking-issue: Strikethrough complete PRs (for visual consistency)
  internal/cmd/tracking-issue/pull_request.go
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/testdata/last-update.txt
Labels: team/code-intelligence

#14184 tracking-issue: Make sorting deterministic
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#14185 tracking-issue: Supported nested tracking issues in different milestones
  internal/cmd/tracking-issue/issue.go
  internal/cmd/tracking-issue/load.go
  internal/cmd/tracking-issue/testdata/fixtures.json
  internal/cmd/tracking-issue/testdata/issue.md
  internal/cmd/tracking-issue/testdata/last-update.txt
  internal/cmd/tracking-issue/tracking_issue.go
  internal/cmd/tracking-issue/workload.go
Labels: team/code-intelligence

#13822 codeintel: RFC 235: Soft delete upload records
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/db_records.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/db_records_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/janitor.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/orphans.go
  enterprise/internal/codeintel/store/commits.go
  enterprise/internal/codeintel/store/commits_test.go
  enterprise/internal/codeintel/store/dumps.go
  enterprise/internal/codeintel/store/dumps_test.go
  enterprise/internal/codeintel/store/indexes.go
  enterprise/internal/codeintel/store/indexes_test.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/references.go
  enterprise/internal/codeintel/store/store.go
  enterprise/internal/codeintel/store/uploads.go
  enterprise/internal/codeintel/store/uploads_test.go
  migrations/frontend/1528395721_lsif_deleted.down.sql
  migrations/frontend/1528395721_lsif_deleted.up.sql
  migrations/frontend/bindata.go
Labels: RFC-235, team/code-intelligence

#12195 Add integration tests for extensions
  package.json
  shared/src/testing/integration/context.ts
  shared/src/testing/integration/polly/CdpAdapter.ts
  shared/src/testing/integration/polly/PuppeteerAdapter.ts
  web/src/integration/blob-viewer.test.ts
  web/src/integration/context.ts
  web/src/integration/repository.test.ts
  yarn.lock
Labels: team/web, testing

#14226 Remove sign out page
  cmd/frontend/internal/app/sign_out.go
  enterprise/cmd/frontend/auth/githuboauth/session.go
  enterprise/cmd/frontend/auth/gitlaboauth/session.go
  enterprise/cmd/frontend/auth/init.go
Labels: auth

#14088 simplify extension API context impl
  shared/src/actions/ActionsContainer.tsx
  shared/src/actions/ActionsNavItems.tsx
  shared/src/api/client/context/context.test.ts
  shared/src/api/client/context/context.ts
  shared/src/api/client/context/expr/evaluator.test.ts
  shared/src/api/client/context/expr/evaluator.ts
  shared/src/api/client/services/contribution.test.ts
  shared/src/api/client/services/contribution.ts
  web/src/search/results/SearchResultsInfoBar.tsx
Labels: team/web

#14099 Re-attach changesets to campaign that were owned by campaign
  CHANGELOG.md
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/bitbucketserver_test.go
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/github_test.go
  cmd/repo-updater/repos/gitlab.go
  cmd/repo-updater/repos/gitlab_test.go
  cmd/repo-updater/repos/sources.go
  cmd/repo-updater/repos/testdata/golden/BitbucketServerSource_ReopenChangeset_success
  cmd/repo-updater/repos/testdata/golden/GithubSource_ReopenChangeset_success
  cmd/repo-updater/repos/testdata/sources/BitbucketServerSource_ReopenChangeset_success.yaml
  cmd/repo-updater/repos/testdata/sources/GithubSource_ReopenChangeset_success.yaml
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/service_apply_campaign.go
  enterprise/internal/campaigns/service_apply_campaign_test.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/testing/changeset_source.go
  internal/extsvc/bitbucketserver/client.go
  internal/extsvc/github/client_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/testdata/golden/ReopenPullRequest-0
  internal/extsvc/github/testdata/golden/ReopenPullRequest-1
  internal/extsvc/github/testdata/vcr/ReopenPullRequest.yaml
Labels: team/campaigns

#13321 Add tour snapshots
  web/src/integration/search-onboarding.test.ts
Labels: team/search, testing

#13939 RFC 213: UI changes on sign-in/sign-up form
  CHANGELOG.md
  cmd/frontend/auth/non_public.go
  cmd/frontend/internal/app/app.go
  cmd/frontend/internal/app/jscontext/jscontext.go
  cmd/frontend/internal/app/router/router.go
  cmd/frontend/internal/auth/userpasswd/handlers.go
  enterprise/cmd/frontend/auth/openidconnect/config.go
  enterprise/cmd/frontend/auth/saml/config.go
  shared/src/global-styles/colors.scss
  web/src/SourcegraphWebApp.scss
  web/src/auth/OrDivider.scss
  web/src/auth/OrDivider.story.tsx
  web/src/auth/OrDivider.tsx
  web/src/auth/ResetPasswordPage.tsx
  web/src/auth/SignInPage.tsx
  web/src/auth/SignInSignUpCommon.tsx
  web/src/auth/SignInSignUpPageCommon.scss
  web/src/auth/SignUpForm.tsx
  web/src/auth/SignUpPage.tsx
  web/src/auth/UsernamePasswordSignInForm.tsx
  web/src/components/HeroPage.scss
  web/src/components/HeroPage.tsx
  web/src/components/LoaderButton.story.tsx
  web/src/components/LoaderButton.test.tsx
  web/src/components/LoaderButton.tsx
  web/src/components/LoaderInput.scss
  web/src/components/LoaderInput.story.tsx
  web/src/components/LoaderInput.test.tsx
  web/src/components/LoaderInput.tsx
  web/src/components/__snapshots__/ErrorBoundary.test.tsx.snap
  web/src/components/__snapshots__/LoaderButton.test.tsx.snap
  web/src/components/__snapshots__/LoaderInput.test.tsx.snap
  web/src/components/useInputValidation.ts
  web/src/integration/jscontext.ts
  web/src/jscontext.ts
  web/src/site-admin/init/__snapshots__/SiteInitPage.test.tsx.snap
  web/src/tracking/analyticsUtils.tsx
Labels: team/web, ux, webapp

#14157 Remove created_by_campaign database column
  cmd/frontend/internal/usagestats/campaigns.go
  cmd/frontend/internal/usagestats/campaigns_test.go
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/store_changesets.go
  internal/campaigns/changeset.go
  internal/db/schema.md
  migrations/frontend/1528395701_burn_the_campaigns_boats.down.sql
  migrations/frontend/1528395722_drop_created_by_campaign.down.sql
  migrations/frontend/1528395722_drop_created_by_campaign.up.sql
  migrations/frontend/bindata.go
Labels: team/campaigns

#14181 Display commit author in preview
  CHANGELOG.md
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_commit_test.go
  cmd/frontend/graphqlbackend/hunk.go
  cmd/frontend/graphqlbackend/person.go
  cmd/frontend/graphqlbackend/repository_contributor.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/signature.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_test.go
  enterprise/internal/campaigns/testing/specs.go
  web/src/enterprise/campaigns/apply/CampaignApplyPage.story.tsx
  web/src/enterprise/campaigns/apply/CampaignApplyPage.tsx
  web/src/enterprise/campaigns/apply/ChangesetSpecList.tsx
  web/src/enterprise/campaigns/apply/ChangesetSpecNode.tsx
  web/src/enterprise/campaigns/apply/GitBranchChangesetDescriptionInfo.tsx
  web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.story.tsx
  web/src/enterprise/campaigns/apply/VisibleChangesetSpecNode.tsx
  web/src/enterprise/campaigns/apply/backend.ts
  web/src/integration/campaigns.test.ts
Labels: team/campaigns

#14220 Fix broken link to LSIF blog post
  doc/user/code_intelligence/precise_code_intelligence.md
Labels: docs

#14291 Re-render extension card when theme changes
  web/src/extensions/ExtensionCard.tsx
Labels: team/web

#14098 Add background job for deleting completed external service sync jobs
  cmd/repo-updater/repos/sync_worker.go
  cmd/repo-updater/repos/syncer.go
Labels: team/cloud
