Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2020-11, with the labels that each got.

#15104 Add Upsert method to external service store
  cmd/frontend/types/types.go
  enterprise/internal/db/external_services.go
  internal/db/external_services.go
  internal/db/external_services_test.go
  internal/db/helpers_for_test.go
  internal/db/repos.go
  internal/db/stores.go
Labels: planned/Cloud 2020-10-21, team/cloud

#15161 Spawn one Syncer per external service
  enterprise/internal/campaigns/campaigns_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/syncer_test.go
  internal/campaigns/syncer.go
Labels: team/campaigns

#15190 codeintel: Stop writing to duplicate commit column
  enterprise/internal/codeintel/store/commits.go
  enterprise/internal/codeintel/store/dumps.go
  enterprise/internal/codeintel/store/helpers_test.go
  enterprise/internal/codeintel/store/references.go
  internal/db/schema.md
  migrations/frontend/1528395738_nullable_commit.down.sql
  migrations/frontend/1528395738_nullable_commit.up.sql
  migrations/frontend/bindata.go
Labels: team/code-intelligence

#15136 codeintel: Consolidate periodic jobs into frontend
  enterprise/cmd/frontend/internal/codeintel/background/abandoned_uploads.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/deleted_repositories.go
  enterprise/cmd/frontend/internal/codeintel/background/gen.go
  enterprise/cmd/frontend/internal/codeintel/background/gitserver.go
  enterprise/cmd/frontend/internal/codeintel/background/hard_delete.go
  enterprise/cmd/frontend/internal/codeintel/background/index_scheduler.go
  enterprise/cmd/frontend/internal/codeintel/background/index_scheduler_test.go
  enterprise/cmd/frontend/internal/codeintel/background/indexability_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/indexability_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/main_test.go
  enterprise/cmd/frontend/internal/codeintel/background/metrics.go
  enterprise/cmd/frontend/internal/codeintel/background/mock_gitserver_test.go
  enterprise/cmd/frontend/internal/codeintel/background/record_expirer.go
  enterprise/cmd/frontend/internal/codeintel/background/resetters.go
  enterprise/cmd/frontend/internal/codeintel/config.go
  enterprise/cmd/frontend/internal/codeintel/inference/go.go
  enterprise/cmd/frontend/internal/codeintel/inference/go_test.go
  enterprise/cmd/frontend/internal/codeintel/inference/paths.go
  enterprise/cmd/frontend/internal/codeintel/inference/paths_test.go
  enterprise/cmd/frontend/internal/codeintel/inference/patterns.go
  enterprise/cmd/frontend/internal/codeintel/inference/recognizers.go
  enterprise/cmd/frontend/internal/codeintel/inference/typescript.go
  enterprise/cmd/frontend/internal/codeintel/inference/typescript_test.go
  enterprise/cmd/frontend/internal/codeintel/inference/util.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/cmd/frontend/internal/codeintel/upload_handler.go
Labels: team/code-intelligence

#15282 debugserver: Explicit shutdown
  enterprise/cmd/executor-queue/main.go
  enterprise/cmd/executor/main.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
  enterprise/cmd/precise-code-intel-indexer/main.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/dev/Procfile
  internal/debugserver/debug.go
  internal/goroutine/background.go
Labels: team/code-intelligence

#15163 codeintel: Remove all but remaining upload actions from bundle manager
  enterprise/cmd/precise-code-intel-bundle-manager/env.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/db_records_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/helpers_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/janitor.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/janitor_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/metrics.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/old_files_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/janitor/orphans_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/helpers_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/migrate.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/migrate_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/paths.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/paths_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/util.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/readers/migrate.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/readers/migrate_test.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/handler.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/server.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/util.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
Labels: bundle-manager, team/code-intelligence

#15135 codeintel: Remove indexer service
  dev/prometheus/all/prometheus_targets.yml
  dev/prometheus/linux/prometheus_targets.yml
  dev/src-prof-services.json
  enterprise/cmd/precise-code-intel-indexer/CODENOTIFY
  enterprise/cmd/precise-code-intel-indexer/Dockerfile
  enterprise/cmd/precise-code-intel-indexer/build.sh
  enterprise/cmd/precise-code-intel-indexer/env.go
  enterprise/cmd/precise-code-intel-indexer/internal/index_manager/manager.go
  enterprise/cmd/precise-code-intel-indexer/internal/index_manager/manager_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/gen.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/metrics.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/mock_gitserver_client_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater.go
  enterprise/cmd/precise-code-intel-indexer/internal/indexability_updater/updater_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/go.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/go_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/paths.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/paths_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/patterns.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/recognizers.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/typescript.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/typescript_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/inference/util.go
  enterprise/cmd/precise-code-intel-indexer/internal/janitor/db_records.go
  enterprise/cmd/precise-code-intel-indexer/internal/janitor/janitor.go
  enterprise/cmd/precise-code-intel-indexer/internal/janitor/metrics.go
  enterprise/cmd/precise-code-intel-indexer/internal/resetter/metrics.go
  enterprise/cmd/precise-code-intel-indexer/internal/resetter/resetter.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/gen.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/metrics.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/mock_gitserver_client_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler.go
  enterprise/cmd/precise-code-intel-indexer/internal/scheduler/scheduler_test.go
  enterprise/cmd/precise-code-intel-indexer/internal/server/handler.go
  enterprise/cmd/precise-code-intel-indexer/internal/server/server.go
  enterprise/cmd/precise-code-intel-indexer/internal/server/util.go
  enterprise/cmd/precise-code-intel-indexer/main.go
  enterprise/cmd/precise-code-intel-indexer/metrics.go
  enterprise/dev/Procfile
  enterprise/dev/ci/ci/pipeline-steps.go
  enterprise/dev/start.sh
Labels: team/code-intelligence, user-code-execution

#15134 codeintel: Refactor worker main
  enterprise/cmd/precise-code-intel-worker/config.go
  enterprise/cmd/precise-code-intel-worker/env.go
  enterprise/cmd/precise-code-intel-worker/internal/commit-updater/updater.go
  enterprise/cmd/precise-code-intel-worker/internal/commit-updater/updater_test.go
  enterprise/cmd/precise-code-intel-worker/internal/resetter/metrics.go
  enterprise/cmd/precise-code-intel-worker/internal/resetter/resetter.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/cmd/precise-code-intel-worker/stores.go
Labels: bundle-manager, team/code-intelligence, user-code-execution

#15315 schema: Fix typo
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#15316 repo-updater: Faster counting of user added repos
  cmd/repo-updater/repos/metrics.go
Labels: perf, team/cloud

#15356 dead code: Remove unused codeintel store methods
  enterprise/internal/codeintel/store/dumps.go
  enterprise/internal/codeintel/store/dumps_test.go
  enterprise/internal/codeintel/store/helpers_test.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/store.go
  enterprise/internal/codeintel/store/uploads.go
  enterprise/internal/codeintel/store/uploads_test.go
Labels: team/code-intelligence

#15358 dead code: Remove Update function from commit updater
  enterprise/internal/codeintel/commits/mocks/mock_updater.go
  enterprise/internal/codeintel/commits/updater.go
  enterprise/internal/codeintel/commits/updater_test.go
Labels: team/code-intelligence

#15359 dead code: Remove tar package
  internal/tar/archive.go
  internal/tar/extract.go
  internal/tar/tar_test.go
Labels: team/code-intelligence

#15357 dead code: Remove unused gitserver methods
  enterprise/internal/codeintel/gitserver/client.go
Labels: team/code-intelligence

#15364 dead code: Remove unused bundle manager client methods
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client_test.go
  enterprise/internal/codeintel/bundles/client/mocks/mock_bundle_manager_client.go
Labels: team/code-intelligence

#15366 dead code: Remove unused bundle manager client methods
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client_test.go
  enterprise/internal/codeintel/bundles/client/mocks/mock_bundle_manager_client.go
Labels: team/code-intelligence

#15368 dead code: Remove unused retry mechanism
  enterprise/internal/codeintel/bundles/client/retry.go
  enterprise/internal/codeintel/bundles/client/retry_test.go
Labels: team/code-intelligence

#15369 codeintel: Remove call to bundle manager in query path
  enterprise/internal/codeintel/bundles/client/bundle_client.go
  enterprise/internal/codeintel/bundles/client/bundle_client_test.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
Labels: team/code-intelligence

#15372 precise-code-intel-tester: Fix regex pattern
  internal/cmd/precise-code-intel-tester/upload.go
Labels: team/code-intelligence

#15157 authz: fix permissions metrics
  enterprise/internal/db/perms_store.go
  enterprise/internal/db/perms_store_test.go
Labels: repository-permissions, team/cloud

#15307 licensing: check unknown plans
  enterprise/internal/licensing/conf.go
  enterprise/internal/licensing/licensing.go
  enterprise/internal/licensing/plans.go
  enterprise/internal/licensing/plans_test.go
Labels: RFC-167, team/cloud

#15383 Add support for kind filter to RepoStore.List
  internal/db/repos.go
  internal/db/repos_db_test.go
Labels: team/cloud

#15388 Change ExternalService nullable variables from pointers to values
  cmd/frontend/graphqlbackend/external_service.go
  cmd/frontend/graphqlbackend/external_services.go
  cmd/frontend/graphqlbackend/external_services_test.go
  cmd/frontend/types/types.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/syncer_test.go
  internal/api/api.go
  internal/db/external_services.go
  internal/db/external_services_test.go
  internal/db/repos.go
  internal/db/repos_db_test.go
  internal/db/users_test.go
Labels: team/cloud

#15390 repo-updater: Small test cleanups
  cmd/repo-updater/repos/syncer_test.go
Labels: team/cloud

#15381 Update import-statement tutorial to also replace aliased imports
  doc/campaigns/tutorials/updating_go_import_statements.md
Labels: docs

#15288 Fix documentation link in options page of browser extension
  client/browser/src/browser-extension/options-menu/OptionsPage.tsx
Labels: browser-extension, team/web

#15375 codeintel: Inline calls to the upload store in the upload handler
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/cmd/frontend/internal/codeintel/upload_handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/internal/codeintel/httpapi/upload_handler.go
  enterprise/internal/codeintel/httpapi/upload_handler_test.go
Labels: team/code-intelligence

#15374 codeintel: Remove calls to bundle manager from worker
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/cmd/precise-code-intel-worker/main.go
  enterprise/cmd/precise-code-intel-worker/testdata/dump1.lsif.gz
Labels: team/code-intelligence

#15405 dead code: Remove unused bundle manager client methods
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client_test.go
  enterprise/internal/codeintel/bundles/client/mocks/mock_bundle_manager_client.go
Labels: team/code-intelligence

#15404 dead code: Remove unused lsifstore method
  enterprise/internal/codeintel/lsifstore/mocks/mock_store.go
  enterprise/internal/codeintel/lsifstore/store.go
  enterprise/internal/codeintel/lsifstore/store_test.go
Labels: team/code-intelligence

#15407 dead code: Remove unused code around bundle manager ctor
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
Labels: team/code-intelligence

#15408 codeintel: Flatten bundle manager client
  enterprise/internal/codeintel/api/cursor.go
  enterprise/internal/codeintel/api/cursor_test.go
  enterprise/internal/codeintel/api/definitions.go
  enterprise/internal/codeintel/api/definitions_test.go
  enterprise/internal/codeintel/api/diagnostics.go
  enterprise/internal/codeintel/api/diagnostics_test.go
  enterprise/internal/codeintel/api/exists.go
  enterprise/internal/codeintel/api/exists_test.go
  enterprise/internal/codeintel/api/helpers_test.go
  enterprise/internal/codeintel/api/hover.go
  enterprise/internal/codeintel/api/hover_test.go
  enterprise/internal/codeintel/api/monikers.go
  enterprise/internal/codeintel/api/monikers_test.go
  enterprise/internal/codeintel/api/ranges.go
  enterprise/internal/codeintel/api/ranges_test.go
  enterprise/internal/codeintel/api/references.go
  enterprise/internal/codeintel/api/references_test.go
  enterprise/internal/codeintel/bundles/client/bundle_client.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
  enterprise/internal/codeintel/bundles/client/mocks/gen.go
  enterprise/internal/codeintel/bundles/client/mocks/mock_bundle_client.go
  enterprise/internal/codeintel/bundles/client/mocks/mock_bundle_manager_client.go
  enterprise/internal/codeintel/resolvers/query_test.go
Labels: team/code-intelligence

#15411 codeintel: Clean up dead persistence files
  enterprise/internal/codeintel/bundles/database/database_test.go
  enterprise/internal/codeintel/bundles/database/testdata/lsif-go@ad3507cb.sql
  enterprise/internal/codeintel/bundles/persistence/cache/data_cache.go
  enterprise/internal/codeintel/bundles/persistence/cache/data_cache_test.go
  enterprise/internal/codeintel/bundles/persistence/cache/helpers_test.go
  enterprise/internal/codeintel/bundles/persistence/cache/store_cache.go
  enterprise/internal/codeintel/bundles/persistence/cache/store_cache_test.go
  enterprise/internal/codeintel/bundles/persistence/postgres/migrate.go
  enterprise/internal/codeintel/bundles/persistence/postgres/sqlite_test.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store_test.go
  enterprise/internal/codeintel/bundles/persistence/serialization/json/gzip.go
  enterprise/internal/codeintel/bundles/persistence/serialization/json/serializer.go
  enterprise/internal/codeintel/bundles/persistence/serialization/json/serializer_test.go
  enterprise/internal/codeintel/bundles/persistence/serialization/json/testdata/documentdata-ints.json
  enterprise/internal/codeintel/bundles/persistence/serialization/json/testdata/documentdata-strings.json
  enterprise/internal/codeintel/bundles/persistence/serialization/json/testdata/locations.json
  enterprise/internal/codeintel/bundles/persistence/serialization/json/testdata/resultchunkdata-ints.json
  enterprise/internal/codeintel/bundles/persistence/serialization/json/testdata/resultchunkdata-strings.json
  enterprise/internal/codeintel/bundles/persistence/serialization/json/types.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/batch/write.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/cache.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/helpers_test.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/v0/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/v1/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/v2/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/v3/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/v4/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/migrate/v5/migrate.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/reader.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/reader_v0_test.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/reader_v4_test.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/reader_v5_test.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/sqlite_test.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/store/scan.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/store/store.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/store/tx.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/testdata/lsif-go@5bc35c78.lsif.db
  enterprise/internal/codeintel/bundles/persistence/sqlite/testdata/lsif-go@70ce6dad.lsif.db
  enterprise/internal/codeintel/bundles/persistence/sqlite/testdata/lsif-go@ad3507cb.lsif.db
  enterprise/internal/codeintel/bundles/persistence/sqlite/writer.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/writer_test.go
Labels: team/code-intelligence

#15360 dead code: Remove sqlite batch inserter
  internal/sqliteutil/batch_inserter.go
  internal/sqliteutil/batch_inserter_test.go
Labels: team/code-intelligence

#15419 codeintel: Remove serializer interface
  enterprise/internal/codeintel/bundles/persistence/postgres/serializer.go
  enterprise/internal/codeintel/bundles/persistence/postgres/serializer_test.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
  enterprise/internal/codeintel/bundles/persistence/serialization/mocks/gen.go
  enterprise/internal/codeintel/bundles/persistence/serialization/mocks/mock_serializer.go
  enterprise/internal/codeintel/bundles/persistence/serialization/serializer.go
Labels: team/code-intelligence

#15421 dead code: Remove close methods on lsif stores
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/internal/codeintel/bundles/database/database.go
  enterprise/internal/codeintel/bundles/database/mock_database_test.go
  enterprise/internal/codeintel/bundles/database/mocks/mock_database.go
  enterprise/internal/codeintel/bundles/database/observability.go
  enterprise/internal/codeintel/bundles/persistence/mocks/mock_store.go
  enterprise/internal/codeintel/bundles/persistence/observability.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
  enterprise/internal/codeintel/bundles/persistence/store.go
Labels: team/code-intelligence

#15422 codeintel: Remove sqlite from build process
  enterprise/cmd/executor-queue/build.sh
  enterprise/cmd/executor/build.sh
  enterprise/cmd/frontend/build.sh
  enterprise/cmd/frontend/go-build.sh
  enterprise/cmd/precise-code-intel-bundle-manager/Dockerfile
  enterprise/cmd/precise-code-intel-bundle-manager/build.sh
  enterprise/cmd/precise-code-intel-bundle-manager/go-build.sh
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
  enterprise/cmd/precise-code-intel-worker/Dockerfile
  enterprise/cmd/precise-code-intel-worker/build.sh
  enterprise/cmd/precise-code-intel-worker/go-build.sh
  enterprise/cmd/precise-code-intel-worker/main.go
Labels: team/code-intelligence

#15424 codeintel: Add bundle id to bundle store methods
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/internal/codeintel/bundles/client/bundle_client.go
  enterprise/internal/codeintel/bundles/database/database.go
  enterprise/internal/codeintel/bundles/database/database_test.go
  enterprise/internal/codeintel/bundles/database/observability.go
  enterprise/internal/codeintel/bundles/persistence/mocks/mock_store.go
  enterprise/internal/codeintel/bundles/persistence/observability.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store_test.go
  enterprise/internal/codeintel/bundles/persistence/store.go
Labels: team/code-intelligence

#15425 codeintel: Add bundle id to bundle database methods
  enterprise/internal/codeintel/bundles/client/bundle_client.go
  enterprise/internal/codeintel/bundles/database/database.go
  enterprise/internal/codeintel/bundles/database/database_test.go
  enterprise/internal/codeintel/bundles/database/mock_database_test.go
  enterprise/internal/codeintel/bundles/database/mocks/mock_database.go
  enterprise/internal/codeintel/bundles/database/observability.go
Labels: team/code-intelligence

#15391 web: Add aria roles to Tabs component
  client/branded/src/components/Tabs.tsx
Labels: team/web

#15468 chore: Move dumpID field assignment into bundle database layer
  enterprise/internal/codeintel/bundles/client/bundle_client.go
  enterprise/internal/codeintel/bundles/database/database.go
  enterprise/internal/codeintel/bundles/database/database_test.go
Labels: team/code-intelligence

#15469 codeintel: Use one store instance of store in bundle manager client
  enterprise/internal/codeintel/bundles/client/bundle_client.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
Labels: team/code-intelligence

#15397 Fix closed draft PRs incorrectly being recognized as draft
  enterprise/internal/campaigns/state.go
  enterprise/internal/campaigns/state_test.go
Labels: team/campaigns

#15406 Don't request unused diffStat on campaign
  client/web/src/enterprise/campaigns/close/CampaignClosePage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/integration/campaigns.test.ts
Labels: team/campaigns

#15389 add versions of postgres and redis servers to ping event
  CHANGELOG.md
  client/web/src/site-admin/SiteAdminPingsPage.tsx
  cmd/frontend/internal/app/updatecheck/client.go
  cmd/frontend/internal/app/updatecheck/client_test.go
  cmd/frontend/internal/app/updatecheck/handler.go
  cmd/frontend/internal/app/updatecheck/handler_test.go
  doc/admin/pings.md
Labels: team/cloud

#15423 Campaigns background package the second
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/background/background.go
  enterprise/internal/campaigns/background/metrics.go
  enterprise/internal/campaigns/background/spec_expire.go
  enterprise/internal/campaigns/background/workers.go
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/workers.go
Labels: team/campaigns

#15474 codeintel: Remove bundle manager client
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/internal/codeintel/api/api.go
  enterprise/internal/codeintel/api/api_test.go
  enterprise/internal/codeintel/api/cursor.go
  enterprise/internal/codeintel/api/cursor_test.go
  enterprise/internal/codeintel/api/definitions.go
  enterprise/internal/codeintel/api/definitions_test.go
  enterprise/internal/codeintel/api/diagnostics.go
  enterprise/internal/codeintel/api/diagnostics_test.go
  enterprise/internal/codeintel/api/exists.go
  enterprise/internal/codeintel/api/exists_test.go
  enterprise/internal/codeintel/api/helpers_test.go
  enterprise/internal/codeintel/api/hover.go
  enterprise/internal/codeintel/api/hover_test.go
  enterprise/internal/codeintel/api/monikers.go
  enterprise/internal/codeintel/api/monikers_test.go
  enterprise/internal/codeintel/api/ranges.go
  enterprise/internal/codeintel/api/ranges_test.go
  enterprise/internal/codeintel/api/references.go
  enterprise/internal/codeintel/api/references_test.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
  enterprise/internal/codeintel/bundles/client/mocks/gen.go
  enterprise/internal/codeintel/bundles/client/mocks/mock_bundle_manager_client.go
  enterprise/internal/codeintel/resolvers/query.go
  enterprise/internal/codeintel/resolvers/query_test.go
  enterprise/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/resolvers/resolver_test.go
Labels: team/code-intelligence

#15370 Add rate limiting handling to campaigns code host actions
  cmd/repo-updater/repos/github.go
  cmd/repo-updater/repos/gitlab.go
  enterprise/cmd/frontend/auth/githuboauth/session.go
  enterprise/cmd/repo-updater/authz/integration_test.go
  enterprise/internal/campaigns/campaigns_test.go
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/syncer.go
  enterprise/internal/campaigns/syncer_test.go
  enterprise/internal/campaigns/webhooks_test.go
  enterprise/internal/codeintel/httpapi/auth_github.go
  internal/authz/github/client.go
  internal/authz/github/github.go
  internal/campaigns/syncer.go
  internal/extsvc/github/client.go
  internal/extsvc/github/codehost.go
  internal/extsvc/github/common.go
  internal/extsvc/github/common_test.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/repos.go
  internal/extsvc/github/repos_test.go
  internal/extsvc/github/user.go
  internal/extsvc/github/user_test.go
  internal/extsvc/github/v3.go
  internal/extsvc/github/v3_test.go
  internal/extsvc/github/v4.go
  internal/extsvc/github/v4_test.go
  internal/extsvc/gitlab/client.go
  internal/extsvc/gitlab/merge_requests.go
  internal/extsvc/gitlab/notes.go
  internal/extsvc/gitlab/pipelines.go
  internal/extsvc/gitlab/testing.go
  internal/ratelimit/common.go
  internal/ratelimit/monitor.go
  internal/ratelimit/rate_limit.go
Labels: team/campaigns

#15418 GraphQL schema and resolver stubs for campaigns user tokens
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/user.go
  enterprise/internal/campaigns/resolvers/user_tokens.go
  internal/extsvc/types.go
Labels: team/campaigns

#15072 Query changeset stats from database
  client/web/src/enterprise/campaigns/close/CampaignClosePage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.story.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.test.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.tsx
  client/web/src/enterprise/campaigns/detail/CampaignStatsCard.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/backend.ts
  client/web/src/enterprise/campaigns/list/CampaignNode.story.tsx
  client/web/src/enterprise/campaigns/list/CampaignNode.test.tsx
  client/web/src/enterprise/campaigns/list/CampaignNode.tsx
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignNode.test.tsx.snap
  client/web/src/enterprise/campaigns/list/backend.ts
  client/web/src/integration/campaigns.test.ts
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaign.go
  enterprise/internal/campaigns/resolvers/changeset_connection.go
  enterprise/internal/campaigns/resolvers/changeset_connection_test.go
  enterprise/internal/campaigns/resolvers/changesets_stats.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/store_changesets.go
  enterprise/internal/campaigns/store_changesets_test.go
  internal/campaigns/changeset.go
Labels: team/campaigns

#15483 license_expiration: Check all subscriptions
  enterprise/cmd/frontend/internal/dotcom/productsubscription/license_expiration.go
Labels: team/cloud

#15481 codeintel: Remove enterprise/internal/codeintel/bundle/client package
  enterprise/internal/codeintel/api/api.go
  enterprise/internal/codeintel/api/cursor.go
  enterprise/internal/codeintel/api/cursor_test.go
  enterprise/internal/codeintel/api/definitions.go
  enterprise/internal/codeintel/api/definitions_test.go
  enterprise/internal/codeintel/api/diagnostics.go
  enterprise/internal/codeintel/api/diagnostics_test.go
  enterprise/internal/codeintel/api/exists.go
  enterprise/internal/codeintel/api/helpers_test.go
  enterprise/internal/codeintel/api/hover.go
  enterprise/internal/codeintel/api/hover_test.go
  enterprise/internal/codeintel/api/locations.go
  enterprise/internal/codeintel/api/monikers.go
  enterprise/internal/codeintel/api/monikers_test.go
  enterprise/internal/codeintel/api/observability.go
  enterprise/internal/codeintel/api/ranges.go
  enterprise/internal/codeintel/api/ranges_test.go
  enterprise/internal/codeintel/api/references.go
  enterprise/internal/codeintel/api/references_test.go
  enterprise/internal/codeintel/bundles/client/bundle_client.go
  enterprise/internal/codeintel/bundles/client/bundle_manager_client.go
  enterprise/internal/codeintel/bundles/client/types.go
  enterprise/internal/codeintel/bundles/database/database.go
  enterprise/internal/codeintel/resolvers/graphql/locations_test.go
  enterprise/internal/codeintel/resolvers/graphql/query_test.go
  enterprise/internal/codeintel/resolvers/graphql/util.go
  enterprise/internal/codeintel/resolvers/position.go
  enterprise/internal/codeintel/resolvers/position_test.go
  enterprise/internal/codeintel/resolvers/query.go
  enterprise/internal/codeintel/resolvers/query_test.go
Labels: team/code-intelligence

#15485 codeintel: Remove enterprise/internal/codeintel/bundles/persistence/s…
  enterprise/internal/codeintel/bundles/persistence/postgres/parallel.go
  enterprise/internal/codeintel/bundles/persistence/postgres/parallel_test.go
  enterprise/internal/codeintel/bundles/persistence/postgres/store.go
  enterprise/internal/codeintel/bundles/persistence/sqlite/util/paths.go
Labels: team/code-intelligence

#15487 codeintel: Remove enterprise/internal/codeintel/bundles/persistence/postgres package
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/internal/codeintel/bundles/database/database_test.go
  enterprise/internal/codeintel/bundles/persistence/parallel.go
  enterprise/internal/codeintel/bundles/persistence/parallel_test.go
  enterprise/internal/codeintel/bundles/persistence/postgres.go
  enterprise/internal/codeintel/bundles/persistence/postgres_test.go
  enterprise/internal/codeintel/bundles/persistence/serializer.go
  enterprise/internal/codeintel/bundles/persistence/serializer_test.go
Labels: team/code-intelligence

#15084 Support AsyncIterable provider results
  CHANGELOG.md
  client/packages/sourcegraph-extension-api/src/sourcegraph.d.ts
  client/shared/src/api/extension/api/common.ts
  client/shared/src/api/util.test.ts
  client/shared/src/api/util.ts
Labels: extensions, team/web

#15489 codeintel: Merge LSIF stores
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/worker.go
  enterprise/internal/codeintel/bundles/client_types/types.go
  enterprise/internal/codeintel/bundles/database/database.go
  enterprise/internal/codeintel/bundles/database/database_test.go
  enterprise/internal/codeintel/bundles/persistence/mocks/gen.go
  enterprise/internal/codeintel/bundles/persistence/mocks/mock_store.go
  enterprise/internal/codeintel/lsifstore/iface.go
  enterprise/internal/codeintel/lsifstore/mocks/mock_store.go
  enterprise/internal/codeintel/lsifstore/observability.go
  enterprise/internal/codeintel/lsifstore/parallel.go
  enterprise/internal/codeintel/lsifstore/parallel_test.go
  enterprise/internal/codeintel/lsifstore/postgres.go
  enterprise/internal/codeintel/lsifstore/postgres_test.go
  enterprise/internal/codeintel/lsifstore/serializer.go
  enterprise/internal/codeintel/lsifstore/serializer_test.go
  enterprise/internal/codeintel/lsifstore/store.go
Labels: team/code-intelligence

#15492 codeintel: Merge bundle database into LSIF store
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/internal/codeintel/api/api.go
  enterprise/internal/codeintel/api/api_test.go
  enterprise/internal/codeintel/api/cursor.go
  enterprise/internal/codeintel/api/cursor_test.go
  enterprise/internal/codeintel/api/definitions.go
  enterprise/internal/codeintel/api/definitions_test.go
  enterprise/internal/codeintel/api/diagnostics.go
  enterprise/internal/codeintel/api/diagnostics_test.go
  enterprise/internal/codeintel/api/exists.go
  enterprise/internal/codeintel/api/exists_test.go
  enterprise/internal/codeintel/api/helpers_test.go
  enterprise/internal/codeintel/api/hover.go
  enterprise/internal/codeintel/api/hover_test.go
  enterprise/internal/codeintel/api/monikers.go
  enterprise/internal/codeintel/api/monikers_test.go
  enterprise/internal/codeintel/api/ranges.go
  enterprise/internal/codeintel/api/ranges_test.go
  enterprise/internal/codeintel/api/references.go
  enterprise/internal/codeintel/api/references_test.go
  enterprise/internal/codeintel/bundles/database/gen.go
  enterprise/internal/codeintel/bundles/database/mock_database_test.go
  enterprise/internal/codeintel/bundles/database/mocks/gen.go
  enterprise/internal/codeintel/bundles/database/mocks/mock_database.go
  enterprise/internal/codeintel/bundles/database/observability.go
  enterprise/internal/codeintel/lsifstore/database.go
  enterprise/internal/codeintel/lsifstore/database_test.go
  enterprise/internal/codeintel/lsifstore/iface.go
  enterprise/internal/codeintel/lsifstore/mocks/mock_store.go
  enterprise/internal/codeintel/lsifstore/observability.go
  enterprise/internal/codeintel/lsifstore/observability2.go
  enterprise/internal/codeintel/lsifstore/ranges.go
  enterprise/internal/codeintel/lsifstore/ranges_test.go
  enterprise/internal/codeintel/lsifstore/testdata/lsif-go@ad3507cb.sql
  enterprise/internal/codeintel/resolvers/query.go
  enterprise/internal/codeintel/resolvers/query_test.go
  enterprise/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/resolvers/resolver_test.go
Labels: team/code-intelligence

#15494 codeintel: Remove enterprise/internal/codeintel/bundles/types package
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/internal/codeintel/api/helpers_test.go
  enterprise/internal/codeintel/api/references.go
  enterprise/internal/codeintel/api/references_test.go
  enterprise/internal/codeintel/lsifstore/database.go
  enterprise/internal/codeintel/lsifstore/hash.go
  enterprise/internal/codeintel/lsifstore/hash_test.go
  enterprise/internal/codeintel/lsifstore/iface.go
  enterprise/internal/codeintel/lsifstore/mocks/mock_store.go
  enterprise/internal/codeintel/lsifstore/observability.go
  enterprise/internal/codeintel/lsifstore/postgres.go
  enterprise/internal/codeintel/lsifstore/postgres_test.go
  enterprise/internal/codeintel/lsifstore/ranges.go
  enterprise/internal/codeintel/lsifstore/ranges_test.go
  enterprise/internal/codeintel/lsifstore/serializer.go
  enterprise/internal/codeintel/lsifstore/serializer_test.go
  enterprise/internal/codeintel/lsifstore/types.go
  enterprise/internal/codeintel/store/helpers_test.go
  enterprise/internal/codeintel/store/mocks/mock_reference_pager.go
  enterprise/internal/codeintel/store/mocks/mock_store.go
  enterprise/internal/codeintel/store/observability.go
  enterprise/internal/codeintel/store/packages.go
  enterprise/internal/codeintel/store/packages_test.go
  enterprise/internal/codeintel/store/reference_pager.go
  enterprise/internal/codeintel/store/references.go
  enterprise/internal/codeintel/store/references_test.go
  enterprise/internal/codeintel/store/store.go
Labels: team/code-intelligence

#15495 codeintel: Remove enterprise/internal/codeintel/bundles package
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group.go
  enterprise/cmd/precise-code-intel-worker/internal/correlation/group_test.go
  enterprise/internal/codeintel/api/api.go
  enterprise/internal/codeintel/api/cursor.go
  enterprise/internal/codeintel/api/cursor_test.go
  enterprise/internal/codeintel/api/definitions_test.go
  enterprise/internal/codeintel/api/diagnostics.go
  enterprise/internal/codeintel/api/diagnostics_test.go
  enterprise/internal/codeintel/api/helpers_test.go
  enterprise/internal/codeintel/api/hover.go
  enterprise/internal/codeintel/api/hover_test.go
  enterprise/internal/codeintel/api/locations.go
  enterprise/internal/codeintel/api/mocks/mock_api.go
  enterprise/internal/codeintel/api/monikers.go
  enterprise/internal/codeintel/api/monikers_test.go
  enterprise/internal/codeintel/api/observability.go
  enterprise/internal/codeintel/api/ranges.go
  enterprise/internal/codeintel/api/ranges_test.go
  enterprise/internal/codeintel/api/references.go
  enterprise/internal/codeintel/api/references_test.go
  enterprise/internal/codeintel/bundles/client_types/types.go
  enterprise/internal/codeintel/lsifstore/database.go
  enterprise/internal/codeintel/lsifstore/database_test.go
  enterprise/internal/codeintel/lsifstore/iface.go
  enterprise/internal/codeintel/lsifstore/mocks/mock_store.go
  enterprise/internal/codeintel/lsifstore/observability.go
  enterprise/internal/codeintel/lsifstore/observability2.go
  enterprise/internal/codeintel/lsifstore/postgres.go
  enterprise/internal/codeintel/lsifstore/postgres_test.go
  enterprise/internal/codeintel/lsifstore/serializer.go
  enterprise/internal/codeintel/lsifstore/serializer_test.go
  enterprise/internal/codeintel/lsifstore/types.go
  enterprise/internal/codeintel/resolvers/graphql/locations_test.go
  enterprise/internal/codeintel/resolvers/graphql/query_test.go
  enterprise/internal/codeintel/resolvers/graphql/util.go
  enterprise/internal/codeintel/resolvers/mock_position_adjuster_test.go
  enterprise/internal/codeintel/resolvers/mocks/mock_query.go
  enterprise/internal/codeintel/resolvers/position.go
  enterprise/internal/codeintel/resolvers/position_test.go
  enterprise/internal/codeintel/resolvers/query.go
  enterprise/internal/codeintel/resolvers/query_test.go
Labels: team/code-intelligence

#15496 codeintel: Reorganize files/defs in lsifstore package
  enterprise/internal/codeintel/lsifstore/bundle.go
  enterprise/internal/codeintel/lsifstore/bundle_test.go
  enterprise/internal/codeintel/lsifstore/clear.go
  enterprise/internal/codeintel/lsifstore/clear_test.go
  enterprise/internal/codeintel/lsifstore/data_read.go
  enterprise/internal/codeintel/lsifstore/data_read_test.go
  enterprise/internal/codeintel/lsifstore/data_write.go
  enterprise/internal/codeintel/lsifstore/data_write_test.go
  enterprise/internal/codeintel/lsifstore/iface.go
  enterprise/internal/codeintel/lsifstore/observability.go
  enterprise/internal/codeintel/lsifstore/observability2.go
  enterprise/internal/codeintel/lsifstore/parallel.go
  enterprise/internal/codeintel/lsifstore/postgres.go
  enterprise/internal/codeintel/lsifstore/ranges.go
  enterprise/internal/codeintel/lsifstore/store.go
  enterprise/internal/codeintel/lsifstore/store_test.go
  enterprise/internal/codeintel/lsifstore/types.go
Labels: team/code-intelligence

#15497 codeintel: Inline commits updater into the periodic handler
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/gitserver.go
  enterprise/cmd/frontend/internal/codeintel/background/mock_gitserver_test.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/internal/codeintel/commits/gen.go
  enterprise/internal/codeintel/commits/mock_gitserver_client_test.go
  enterprise/internal/codeintel/commits/mocks/gen.go
  enterprise/internal/codeintel/commits/mocks/mock_updater.go
  enterprise/internal/codeintel/commits/updater.go
  enterprise/internal/codeintel/commits/updater_test.go
Labels: team/code-intelligence

#15498 codeintel: Move httpapi package into enterprise/cmd/frontend/internal
  enterprise/cmd/frontend/internal/codeintel/httpapi/auth.go
  enterprise/cmd/frontend/internal/codeintel/httpapi/auth_github.go
  enterprise/cmd/frontend/internal/codeintel/httpapi/errors.go
  enterprise/cmd/frontend/internal/codeintel/httpapi/upload_handler.go
  enterprise/cmd/frontend/internal/codeintel/httpapi/upload_handler_test.go
  enterprise/cmd/frontend/internal/codeintel/httpapi/util.go
  enterprise/cmd/frontend/internal/codeintel/upload_handler.go
Labels: team/code-intelligence

#15499 codeintel: Remove dead queue package
  enterprise/internal/codeintel/queue/client/client.go
  enterprise/internal/codeintel/queue/client/client_test.go
  enterprise/internal/codeintel/queue/client/mocks/gen.go
  enterprise/internal/codeintel/queue/client/mocks/mock_client.go
  enterprise/internal/codeintel/queue/types/types.go
Labels: team/code-intelligence

#15501 codeintel: Move auto-indexing packages
  enterprise/cmd/frontend/internal/codeintel/autoindex/config/json.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/config/json_test.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/config/types.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/config/yaml.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/config/yaml_test.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/go.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/go_test.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/paths.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/paths_test.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/patterns.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/recognizers.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/typescript.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/typescript_test.go
  enterprise/cmd/frontend/internal/codeintel/autoindex/inference/util.go
  enterprise/cmd/frontend/internal/codeintel/background/index_scheduler.go
  enterprise/cmd/frontend/internal/codeintel/background/indexability_updater.go
Labels: team/code-intelligence

#15507 chore: Match package name to directory
  enterprise/internal/codeintel/stores/dbstore/commit_graph.go
  enterprise/internal/codeintel/stores/dbstore/commit_graph_test.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/commits_test.go
  enterprise/internal/codeintel/stores/dbstore/docker_step.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
  enterprise/internal/codeintel/stores/dbstore/errors.go
  enterprise/internal/codeintel/stores/dbstore/helpers_test.go
  enterprise/internal/codeintel/stores/dbstore/index_configuration.go
  enterprise/internal/codeintel/stores/dbstore/index_configuration_test.go
  enterprise/internal/codeintel/stores/dbstore/indexable_repos.go
  enterprise/internal/codeintel/stores/dbstore/indexable_repos_test.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/indexes_test.go
  enterprise/internal/codeintel/stores/dbstore/lock.go
  enterprise/internal/codeintel/stores/dbstore/lock_test.go
  enterprise/internal/codeintel/stores/dbstore/observability.go
  enterprise/internal/codeintel/stores/dbstore/packages.go
  enterprise/internal/codeintel/stores/dbstore/packages_test.go
  enterprise/internal/codeintel/stores/dbstore/reference_pager.go
  enterprise/internal/codeintel/stores/dbstore/references.go
  enterprise/internal/codeintel/stores/dbstore/references_test.go
  enterprise/internal/codeintel/stores/dbstore/repo_usage.go
  enterprise/internal/codeintel/stores/dbstore/repo_usage_test.go
  enterprise/internal/codeintel/stores/dbstore/repos.go
  enterprise/internal/codeintel/stores/dbstore/repos_test.go
  enterprise/internal/codeintel/stores/dbstore/store.go
  enterprise/internal/codeintel/stores/dbstore/store_test.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  enterprise/internal/codeintel/stores/dbstore/uploads_test.go
Labels: team/code-intelligence

#15440 Add IDs, UseOr and ExternalServiceID filters to repo store List method
  internal/db/repos.go
  internal/db/repos_db_test.go
Labels: team/cloud

#15439 Follow returnTo redirect when logging in via OAuth
  cmd/frontend/auth/providers/providers.go
  enterprise/cmd/frontend/auth/oauth/provider.go
  enterprise/cmd/frontend/auth/oauth/provider_test.go
Labels: team/cloud

#15343 Rewrite repo updater Store
  cmd/frontend/types/testing.go
  cmd/frontend/types/types.go
  cmd/repo-updater/internal/observability.go
  cmd/repo-updater/internal/store.go
  cmd/repo-updater/internal/store_test.go
  cmd/repo-updater/internal/sync_job.go
  dev/check/go-dbconn-import.sh
  internal/db/dbutil/dbutil.go
  internal/db/external_services_test.go
  internal/db/repos_db_test.go
  internal/db/repos_test.go
  internal/db/testing.go
Labels: team/cloud

#15508 codeintel: Remove bundle manager url envvar
  enterprise/cmd/frontend/internal/codeintel/config.go
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/cmd/precise-code-intel-worker/config.go
  enterprise/cmd/server/main.go
  enterprise/dev/start.sh
Labels: team/code-intelligence

#15354 Add names to pipeline step labels
  enterprise/dev/ci/ci/pipeline-steps.go
Labels: quality-of-life, team/distribution

#15512 db: add user credentials table and CRUD (ish) methods
  internal/db/mockstores.go
  internal/db/schema.md
  internal/db/stores.go
  internal/db/user_credentials.go
  internal/db/user_credentials_mock.go
  internal/db/user_credentials_test.go
  migrations/frontend/1528395739_user_credentials.down.sql
  migrations/frontend/1528395739_user_credentials.up.sql
  migrations/frontend/bindata.go
Labels: team/campaigns

#15547 Add check in code host native integration
  client/browser/src/shared/code-hosts/shared/codeHost.tsx
Labels: team/web

#15429 docs: add auth troubleshooting page
  doc/admin/auth/index.md
  doc/admin/auth/troubleshooting.md
Labels: team/cloud

#15577 Prevent nameTransformations setting for user-added external services
  internal/db/external_services.go
  internal/db/external_services_test.go
Labels: team/cloud

#15490 codeintel: Remove bundle manager
  dev/prometheus/all/prometheus_targets.yml
  dev/prometheus/linux/prometheus_targets.yml
  dev/src-prof-services.json
  doc/admin/observability/alert_solutions.md
  enterprise/cmd/precise-code-intel-bundle-manager/CODENOTIFY
  enterprise/cmd/precise-code-intel-bundle-manager/Dockerfile
  enterprise/cmd/precise-code-intel-bundle-manager/build.sh
  enterprise/cmd/precise-code-intel-bundle-manager/internal/paths/paths.go
  enterprise/cmd/precise-code-intel-bundle-manager/internal/server/server.go
  enterprise/cmd/precise-code-intel-bundle-manager/main.go
  enterprise/cmd/server/build.sh
  enterprise/cmd/server/main.go
  enterprise/dev/Procfile
  enterprise/dev/ci/ci/pipeline-steps.go
  enterprise/dev/src-prof-services.json
  enterprise/dev/start.sh
  monitoring/generator.go
  monitoring/precise_code_intel_bundle_manager.go
Labels: team/code-intelligence

#15290 Fix unselectable code host status messages
  client/web/src/nav/StatusMessagesNavItem.scss
Labels: team/cloud

#15506 Implement credentials UI for campaigns user tokens
  CHANGELOG.md
  client/web/src/components/Dialog.scss
  client/web/src/enterprise/campaigns/settings/AddCredentialModal.story.tsx
  client/web/src/enterprise/campaigns/settings/AddCredentialModal.tsx
  client/web/src/enterprise/campaigns/settings/CampaignsSettingsArea.story.tsx
  client/web/src/enterprise/campaigns/settings/CampaignsSettingsArea.tsx
  client/web/src/enterprise/campaigns/settings/CodeHostConnectionNode.tsx
  client/web/src/enterprise/campaigns/settings/CodeHostConnections.tsx
  client/web/src/enterprise/campaigns/settings/RemoveCredentialModal.story.tsx
  client/web/src/enterprise/campaigns/settings/RemoveCredentialModal.tsx
  client/web/src/enterprise/campaigns/settings/backend.ts
  client/web/src/enterprise/user/settings/routes.tsx
  client/web/src/enterprise/user/settings/sidebaritems.ts
  client/web/src/extensions/ExtensionPermissionModal.tsx
  client/web/src/integration/campaigns.test.ts
  client/web/src/user/area/UserArea.tsx
  client/web/src/user/settings/UserSettingsSidebar.tsx
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/user.go
  enterprise/internal/campaigns/campaigns_test.go
  enterprise/internal/campaigns/integration_test.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/changeset_counts_test.go
  enterprise/internal/campaigns/resolvers/code_host.go
  enterprise/internal/campaigns/resolvers/code_host_connection.go
  enterprise/internal/campaigns/resolvers/code_host_connection_test.go
  enterprise/internal/campaigns/resolvers/credential.go
  enterprise/internal/campaigns/resolvers/errors.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/resolvers/user_tokens.go
  enterprise/internal/campaigns/service_apply_campaign_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store_changeset_specs_test.go
  enterprise/internal/campaigns/store_changesets_test.go
  enterprise/internal/campaigns/store_codehost.go
  enterprise/internal/campaigns/store_codehost_test.go
  enterprise/internal/campaigns/testing/repos.go
  enterprise/internal/campaigns/testing/specs.go
  enterprise/internal/campaigns/webhooks_gitlab_test.go
  enterprise/internal/campaigns/webhooks_test.go
  internal/campaigns/code_host.go
  internal/db/user_credentials.go
  internal/db/user_credentials_test.go
  internal/extsvc/types.go
Labels: team/campaigns

#15589 grafana: Add Gitserver Cloud internal dashboard
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/gitserver-cloud.json
Labels: monitoring, team/cloud

#15541 codeintel: Update metrics
  doc/admin/observability/alert_solutions.md
  enterprise/cmd/frontend/internal/codeintel/api/definitions.go
  enterprise/cmd/frontend/internal/codeintel/api/diagnostics.go
  enterprise/cmd/frontend/internal/codeintel/api/exists.go
  enterprise/cmd/frontend/internal/codeintel/api/hover.go
  enterprise/cmd/frontend/internal/codeintel/api/observability.go
  enterprise/cmd/frontend/internal/codeintel/api/ranges.go
  enterprise/cmd/frontend/internal/codeintel/api/references.go
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/gitserver/observability.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/index_configuration.go
  enterprise/internal/codeintel/stores/dbstore/indexable_repos.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/lock.go
  enterprise/internal/codeintel/stores/dbstore/observability.go
  enterprise/internal/codeintel/stores/dbstore/packages.go
  enterprise/internal/codeintel/stores/dbstore/references.go
  enterprise/internal/codeintel/stores/dbstore/repo_usage.go
  enterprise/internal/codeintel/stores/dbstore/repos.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
  enterprise/internal/codeintel/stores/lsifstore/clear.go
  enterprise/internal/codeintel/stores/lsifstore/data_read.go
  enterprise/internal/codeintel/stores/lsifstore/data_write.go
  enterprise/internal/codeintel/stores/lsifstore/observability.go
  enterprise/internal/codeintel/stores/uploadstore/gcs_client.go
  enterprise/internal/codeintel/stores/uploadstore/observability.go
  enterprise/internal/codeintel/stores/uploadstore/s3_client.go
  monitoring/frontend.go
  monitoring/precise_code_intel_worker.go
Labels: team/code-intelligence

#15545 executor: Add dashboards
  doc/admin/observability/alert_solutions.md
  enterprise/cmd/executor/main.go
  monitoring/executor.go
  monitoring/generator.go
Labels: team/code-intelligence, user-code-execution

#15516 Add docs about how import works in extensions and about testing
  doc/extensions/authoring/importing_sourcegraph.md
  doc/extensions/authoring/index.md
  doc/extensions/authoring/testing_extensions.md
Labels: docs, extensions

#15515 Add docs for content key expressions
  doc/extensions/authoring/builtin_commands.md
  doc/extensions/authoring/context_key_expressions.md
  doc/extensions/authoring/index.md
  doc/extensions/authoring/manifest.md
Labels: docs, extensions

#15594 doc: Add page on how to add support for a language
  doc/dev/how-to/add_support_for_a_language.md
  doc/dev/how-to/index.md
Labels: team/code-intelligence

#15588 Remove breadcrumbs from campaigns
  client/web/src/enterprise/campaigns/apply/CampaignApplyPage.tsx
  client/web/src/enterprise/campaigns/close/CampaignClosePage.tsx
  client/web/src/enterprise/campaigns/create/CreateCampaignPage.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.test.tsx
  client/web/src/enterprise/campaigns/detail/CampaignDetailsPage.tsx
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  client/web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.test.tsx
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignListPage.test.tsx.snap
Labels: team/campaigns

#15595 language support: Treat pc/pcc files as C/C++
  client/shared/src/languages.ts
  go.mod
  go.sum
Labels: team/code-intelligence

#15590 Refactor global areas into a single one
  client/web/src/enterprise/campaigns/global/GlobalCampaignsArea.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.tsx
  client/web/src/enterprise/campaigns/list/backend.ts
  client/web/src/enterprise/organizations/routes.tsx
  client/web/src/enterprise/user/routes.tsx
  client/web/src/integration/campaigns.test.ts
Labels: team/campaigns

#15605 secret: read base64-encoded encryption keys from secret file
  internal/secret/encryptor_test.go
  internal/secret/init.go
Labels: team/cloud

#15583 Bitbucket Server support for user provided campaigns credentials
  cmd/gitserver/server/patch.go
  cmd/gitserver/server/patch_test.go
  cmd/repo-updater/repos/bitbucketserver.go
  cmd/repo-updater/repos/bitbucketserver_test.go
  doc/campaigns/quickstart.md
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/service.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/store_codehost.go
  enterprise/internal/campaigns/store_codehost_test.go
  enterprise/internal/campaigns/testing/changeset_source.go
  internal/extsvc/bitbucketserver/client.go
  internal/extsvc/bitbucketserver/client_test.go
  internal/gitserver/protocol/gitserver.go
Labels: team/campaigns

#15621 Use public URLs for browser extension videos
  doc/integration/browser_extension.md
Labels: browser-extension, bug, docs, team/web

#15617 Log events when user views campaign preview and create/updates campaign
  client/web/src/enterprise/campaigns/apply/CampaignApplyPage.tsx
  client/web/src/enterprise/campaigns/apply/CreateUpdateCampaignAlert.tsx
Labels: team/campaigns

#15645 Bump src-cli version and update docs to reflect new version
  doc/dev/background-information/campaigns/index.md
  internal/src-cli/consts.go
Labels: src-cli, team/campaigns

#15648 graphql: Record queries that trigger getCommit calls
  cmd/frontend/graphqlbackend/graphqlbackend.go
  internal/vcs/git/commits.go
Labels: team/cloud

#15597 Empty campaigns page
  client/web/src/enterprise/campaigns/list/CampaignListPage.story.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.test.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.tsx
  client/web/src/enterprise/campaigns/list/CampaignsListEmpty.tsx
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignListPage.test.tsx.snap
  client/web/src/enterprise/campaigns/list/backend.ts
  client/web/src/integration/campaigns.test.ts
Labels: team/campaigns

#15601 Ensure ref prefix set for external_branch
  enterprise/internal/campaigns/reconciler.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
  enterprise/internal/campaigns/service_apply_campaign.go
  enterprise/internal/campaigns/store_changesets_test.go
  internal/campaigns/changeset.go
  internal/campaigns/changeset_test.go
  internal/db/schema.md
  migrations/frontend/1528395745_ref_prefix_external_branch.down.sql
  migrations/frontend/1528395745_ref_prefix_external_branch.up.sql
  migrations/frontend/bindata.go
  schema/changeset_spec.schema.json
  schema/changeset_spec_stringdata.go
Labels: team/campaigns

#15654 grafana: Add gitserver commands panel
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/gitserver-cloud.json
Labels: team/cloud

#15660 git: Send actual repo.Name to Honeycomb
  internal/vcs/git/commits.go
Labels: team/cloud

#15614 monitoring: Improve possible solutions for repo-updater alert
  doc/admin/observability/alert_solutions.md
  monitoring/repo_updater.go
Labels: team/cloud

#15604 db: add authzQueryConds helper
  enterprise/internal/authz/authz.go
  internal/db/repos_perm.go
  internal/db/repos_perm_test.go
Labels: team/cloud

#15665 event_logs: Reduce query expression duplication
  internal/db/event_logs.go
Labels: team/code-intelligence

#15666 event_logs: Collect codeintel and search data separately
  cmd/frontend/internal/app/updatecheck/client.go
  internal/db/event_logs.go
  internal/db/event_logs_test.go
  internal/usagestats/aggregated.go
Labels: team/code-intelligence

#15592 Fix spelling of JavaScript and TypeScript
  doc/code_intelligence/lsif_quickstart.md
Labels: docs

#15683 Explicitly set primary email address
  CHANGELOG.md
  client/web/src/user/settings/emails/UserSettingsEmailsPage.tsx
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/user_emails.go
  internal/db/schema.md
  internal/db/user_emails.go
  internal/db/user_emails_test.go
  internal/db/users.go
  migrations/frontend/1528395746_add_is_primary_to_user_emails.down.sql
  migrations/frontend/1528395746_add_is_primary_to_user_emails.up.sql
  migrations/frontend/bindata.go
Labels: team/cloud

#15733 Update CHANGELOG.md
  CHANGELOG.md
Labels: team/cloud

#15732 workerutil: Remove repeated Store in names
  cmd/repo-updater/repos/sync_worker.go
  enterprise/cmd/executor-queue/internal/queues/codeintel/queue.go
  enterprise/internal/campaigns/background/workers.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  internal/workerutil/dbworker/store/helpers_test.go
  internal/workerutil/dbworker/store/store.go
  internal/workerutil/dbworker/store/store_test.go
Labels: team/cloud

#15730 Add private code feature flag
  cmd/frontend/backend/users.go
  cmd/frontend/graphqlbackend/external_services.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/internal/app/jscontext/jscontext.go
  cmd/repo-updater/repos/syncer.go
  cmd/repo-updater/repos/syncer_test.go
  internal/conf/computed.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/cloud

#15742 monitoring: Allow Observables without alerts
  doc/admin/observability/alert_solutions.md
  monitoring/generator.go
  monitoring/repo_updater.go
Labels: team/cloud

#15746 graphqlbackend: Lazy load git commit for each hunk
  cmd/frontend/graphqlbackend/hunk.go
Labels: team/cloud

#15650 Handle spaces in repo URIs
  CHANGELOG.md
  client/browser/src/shared/components/OpenOnSourcegraph.tsx
  client/shared/src/util/url.test.ts
  client/shared/src/util/url.ts
  client/web/src/integration/graphQlResponseHelpers.ts
  client/web/src/integration/repository.test.ts
  client/web/src/repo/RepoContainer.tsx
  client/web/src/repo/RepoHeader.tsx
  client/web/src/repo/settings/RepoSettingsSidebar.tsx
  client/web/src/repo/settings/backend.tsx
  client/web/src/repo/tree/TreePage.tsx
Labels: bug, ce/p0, team/web

#15747 Fix user viewing admin profile fails with permission error
  client/web/src/user/settings/profile/EditUserProfileForm.test.tsx
  client/web/src/user/settings/profile/EditUserProfileForm.tsx
  client/web/src/user/settings/profile/UserSettingsProfilePage.tsx
  client/web/src/user/settings/profile/__snapshots__/EditUserProfileForm.test.tsx.snap
Labels: bug, team/campaigns

#15636 Display banner when user is missing some credentials on preview page
  client/web/src/enterprise/campaigns/apply/CampaignApplyPage.story.tsx
  client/web/src/enterprise/campaigns/apply/CampaignApplyPage.tsx
  client/web/src/enterprise/campaigns/apply/CampaignSpecMissingCredentialsAlert.tsx
  client/web/src/enterprise/campaigns/apply/backend.ts
  client/web/src/integration/campaigns.test.ts
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/apitest/types.go
  enterprise/internal/campaigns/resolvers/campaign_spec.go
  enterprise/internal/campaigns/resolvers/campaign_spec_test.go
  enterprise/internal/campaigns/resolvers/code_host_connection.go
  enterprise/internal/campaigns/store_codehost.go
  enterprise/internal/campaigns/store_codehost_test.go
Labels: team/campaigns

#15748 cloud: Explicitly set global external service
  internal/db/external_services.go
  internal/db/external_services_test.go
  schema/github.schema.json
  schema/github_stringdata.go
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
  schema/schema.go
Labels: team/cloud

#15752 graphqlbackend: Proper lazy loading in GitCommitResolver
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_commit_test.go
  cmd/frontend/graphqlbackend/git_commits.go
  cmd/frontend/graphqlbackend/hunk.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/search_commits.go
  cmd/frontend/graphqlbackend/search_commits_test.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_symbols_test.go
Labels: team/cloud

#15635 codeintel: Update pings
  client/web/src/site-admin/SiteAdminPingsPage.tsx
  cmd/frontend/internal/app/updatecheck/client.go
  cmd/frontend/internal/app/updatecheck/handler.go
  cmd/frontend/internal/app/updatecheck/handler_test.go
  cmd/frontend/types/codeintel.go
  cmd/frontend/types/types.go
  doc/admin/pings.md
  internal/db/event_logs.go
  internal/db/event_logs_test.go
  internal/usagestats/aggregated.go
  internal/usagestats/aggregated_test.go
Labels: team/code-intelligence

#15756 Faster compute of burndown charts
  enterprise/internal/campaigns/changeset_history.go
  enterprise/internal/campaigns/resolvers/campaign.go
  enterprise/internal/campaigns/store_changeset_events.go
  enterprise/internal/campaigns/store_changeset_events_test.go
Labels: team/campaigns

#15598 Adjust wording on close page
  client/web/src/enterprise/campaigns/close/CampaignCloseChangesetsListEmptyElement.scss
  client/web/src/enterprise/campaigns/close/CampaignCloseChangesetsListEmptyElement.tsx
Labels: team/campaigns

#15745 Percent-encode GraphQL repository.url
  CHANGELOG.md
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_ref.go
  cmd/frontend/graphqlbackend/git_revision.go
  cmd/frontend/graphqlbackend/git_revision_test.go
  cmd/frontend/graphqlbackend/repository.go
Labels: api, bug, customer

#15775 campaigns: remove licence checks
  enterprise/internal/campaigns/resolvers/permissions_test.go
  enterprise/internal/campaigns/resolvers/resolver.go
Labels: team/campaigns

#15796 repo-updater: Choose global external service using GloudGlobal flag
  cmd/repo-updater/shared/main.go
Labels: team/cloud

#15799 Pretty print and explain has no diff error
  client/web/src/enterprise/campaigns/detail/__snapshots__/CampaignDetailsPage.test.tsx.snap
  client/web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/CampaignChangesets.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetFileDiff.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetNode.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  client/web/src/enterprise/campaigns/detail/changesets/__snapshots__/CampaignChangesets.test.tsx.snap
Labels: team/campaigns

#15801 Fix console warning about wrong language
  client/web/src/enterprise/campaigns/create/CreateCampaignPage.tsx
Labels: team/campaigns

#15806 Add no action changeset spec action
  client/web/src/enterprise/campaigns/apply/ChangesetSpecAction.tsx
Labels: team/campaigns

#15805 Add tabs to campaign list pages to reach getting started
  client/web/src/enterprise/campaigns/list/CampaignListPage.story.tsx
  client/web/src/enterprise/campaigns/list/CampaignListPage.tsx
  client/web/src/enterprise/campaigns/list/CampaignsListEmpty.tsx
  client/web/src/enterprise/campaigns/list/__snapshots__/CampaignListPage.test.tsx.snap
Labels: team/campaigns

#15804 codeintel: Add feature flags for auto-indexing
  enterprise/cmd/frontend/internal/codeintel/background/commit_updater.go
  enterprise/cmd/frontend/internal/codeintel/config.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/dev/start.sh
Labels: team/code-intelligence

#15811 campaigns: link user credential changelog
  client/web/src/enterprise/campaigns/list/CampaignListIntro.tsx
  doc/campaigns/how-tos/configuring_user_credentials.md
  doc/campaigns/how-tos/index.md
Labels: team/campaigns

#15808 codeintel: Retry pulling upload from MinIO
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler_test.go
  enterprise/internal/codeintel/stores/uploadstore/gcs_client.go
  enterprise/internal/codeintel/stores/uploadstore/gcs_client_test.go
  enterprise/internal/codeintel/stores/uploadstore/lazy_client.go
  enterprise/internal/codeintel/stores/uploadstore/mocks/mock_store.go
  enterprise/internal/codeintel/stores/uploadstore/s3_client.go
  enterprise/internal/codeintel/stores/uploadstore/s3_client_test.go
  enterprise/internal/codeintel/stores/uploadstore/store.go
  enterprise/internal/codeintel/stores/uploadstore/store_test.go
Labels: team/code-intelligence

#15712 Fix Firefox browser extension end-to-end tests
  client/browser/bundled-code-intel-extensions.json
  client/browser/src/end-to-end/github.test.ts
  client/browser/src/end-to-end/shared.ts
  client/shared/src/testing/config.ts
  client/shared/src/testing/console.ts
  client/shared/src/testing/driver.ts
Labels: browser-extension, firefox, team/web, testing

#15099 Refactor blob and line decoration components
  client/shared/src/hover/HoverOverlay.tsx
  client/web/src/integration/blob-viewer.test.ts
  client/web/src/repo/RepoContainer.tsx
  client/web/src/repo/blob/Blob.scss
  client/web/src/repo/blob/Blob.tsx
  client/web/src/repo/blob/BlobPage.tsx
  client/web/src/repo/blob/LineDecorationAttachment.tsx
  client/web/src/repo/blob/LineDecorator.scss
  client/web/src/repo/blob/LineDecorator.test.tsx
  client/web/src/repo/blob/LineDecorator.tsx
  client/web/src/repo/blob/__snapshots__/LineDecorator.test.tsx.snap
  client/web/src/repo/compare/RepositoryCompareArea.tsx
  client/web/src/util/useLocalStorage.ts
  package.json
  yarn.lock
Labels: bug, team/web

#15192 codeintel: Drop unused commit column
  internal/db/schema.md
  migrations/frontend/1528395748_drop_commit.down.sql
  migrations/frontend/1528395748_drop_commit.up.sql
  migrations/frontend/bindata.go
Labels: team/code-intelligence

#15842 licenses: bump to 6.9.0, regenerate licenses
  .github/workflows/licenses-check.yml
  .github/workflows/licenses-update.yml
  third-party-licenses/ThirdPartyLicenses.csv
Labels: automerge

#15834 frontend: Reduce number of external services queried
  cmd/frontend/backend/repos_vcs.go
Labels: team/cloud

#15860 monitoring: Remove alert for 'time since last sync'
  doc/admin/observability/alert_solutions.md
  monitoring/repo_updater.go
Labels: team/cloud

#15867 Fix typo in dev script
  dev/start.sh
Labels: team/cloud

#15789 db: add expired_at and last_valid_at columns to user_external_accounts table
  internal/db/schema.md
  migrations/frontend/1528395749_add_expired_at_and_last_valid_at_columns_to_user_external_accounts.down.sql
  migrations/frontend/1528395749_add_expired_at_and_last_valid_at_columns_to_user_external_accounts.up.sql
  migrations/frontend/bindata.go
Labels: team/cloud

#15825 codeintel: Add additional metrics around resolver layer
  doc/admin/observability/alert_solutions.md
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/observability.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver_test.go
  enterprise/internal/codeintel/gitserver/client.go
  enterprise/internal/codeintel/stores/dbstore/indexable_repos.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  monitoring/frontend.go
Labels: team/code-intelligence

#15911 frontend: Log sync error after external service deletion
  cmd/frontend/graphqlbackend/external_services.go
Labels: team/cloud

#15920 Simpler repo breadcrumbs
  client/web/src/components/Breadcrumbs.tsx
  client/web/src/integration/repository.test.ts
  client/web/src/repo/RepoContainer.tsx
Labels: breaders, team/web

#15919 Remove breadcrumbs from web content pages
  client/web/src/extensions/ExtensionsArea.tsx
  client/web/src/insights/InsightsPage.tsx
Labels: breaders, team/web

#15818 doc: Update codeintel indexer docs
  doc/dev/background-information/codeintel/auto-indexing.md
  doc/dev/background-information/codeintel/deployment.md
  doc/dev/background-information/codeintel/diagrams/executor.mermaid
  doc/dev/background-information/codeintel/diagrams/executor.svg
  doc/dev/background-information/codeintel/diagrams/generate.sh
  doc/dev/background-information/codeintel/extensions.md
  doc/dev/background-information/codeintel/index.md
Labels: team/code-intelligence

#15869 codeintel: Expose index logContents via UI
  client/web/src/enterprise/codeintel/backend.ts
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexInfo.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.story.tsx
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.story.tsx
Labels: team/code-intelligence

#15830 codeintel: Expose index logContents
  client/web/src/enterprise/codeintel/backend.ts
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexInfo.tsx
  client/web/src/enterprise/codeintel/detail/CodeIntelIndexPage.story.tsx
  client/web/src/enterprise/codeintel/list/CodeIntelIndexesPage.story.tsx
  cmd/frontend/graphqlbackend/codeintel.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index.go
  enterprise/internal/codeintel/stores/dbstore/helpers_test.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/indexes_test.go
  migrations/frontend/1528395750_repair_view.down.sql
  migrations/frontend/1528395750_repair_view.up.sql
  migrations/frontend/bindata.go
Labels: team/code-intelligence

#15923 db: User owned code host connections should not allow rate limits
  internal/db/external_services.go
  internal/db/external_services_test.go
Labels: team/cloud

#15968 timeutil: add Now function to truncate microsecond
  enterprise/cmd/frontend/internal/authz/init.go
  enterprise/cmd/frontend/internal/authz/resolvers/resolver_test.go
  enterprise/cmd/frontend/internal/campaigns/init.go
  enterprise/cmd/repo-updater/authz/integration_test.go
  enterprise/cmd/repo-updater/authz/perms_syncer_test.go
  enterprise/cmd/repo-updater/main.go
  enterprise/internal/campaigns/counts_test.go
  enterprise/internal/campaigns/reconciler_test.go
  enterprise/internal/campaigns/resolvers/campaign_test.go
  enterprise/internal/campaigns/resolvers/changeset_event_connection_test.go
  enterprise/internal/campaigns/resolvers/changeset_test.go
  enterprise/internal/campaigns/resolvers/resolver_test.go
  enterprise/internal/campaigns/service_apply_campaign_test.go
  enterprise/internal/campaigns/service_test.go
  enterprise/internal/campaigns/state_test.go
  enterprise/internal/campaigns/store.go
  enterprise/internal/campaigns/store_test.go
  enterprise/internal/campaigns/webhooks_gitlab_test.go
  enterprise/internal/campaigns/webhooks_test.go
  enterprise/internal/codemonitors/resolvers/main_test.go
  enterprise/internal/codemonitors/resolvers/resolvers.go
  enterprise/internal/db/perms_store_test.go
  internal/campaigns/changeset.go
  internal/campaigns/changeset_test.go
  internal/db/event_logs_test.go
  internal/db/external_services.go
  internal/timeutil/clock.go
Labels: team/cloud

#15973 Fix extensions regression test
  client/shared/src/actions/ActionItem.tsx
  client/shared/src/actions/__snapshots__/ActionItem.test.tsx.snap
  client/shared/src/commandPalette/CommandList.tsx
  client/shared/src/testing/driver.ts
  client/web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  client/web/src/regression/extensions.test.ts
  client/web/src/repo/RepoHeader.tsx
Labels: release-blocker, testing

#15971 graphqlbackend: More lazy loading of git commits
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/graphqlbackend/repository_comparison.go
  cmd/frontend/graphqlbackend/repository_comparison_test.go
  docker-images/grafana/config/provisioning/dashboards/sourcegraph_internal/graphql-latencies.json
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/locations_test.go
  enterprise/internal/campaigns/resolvers/main_test.go
Labels: team/cloud

#15975 e2e: remove external service tests
  client/web/src/regression/external-services.test.ts
Labels: team/cloud

#15906 doc: add cli documentation
  dev/generate.sh
  doc/campaigns/quickstart.md
  doc/cli/explanations/env.md
  doc/cli/explanations/index.md
  doc/cli/explanations/windows.md
  doc/cli/how-tos/creating_an_access_token.md
  doc/cli/how-tos/index.md
  doc/cli/index.md
  doc/cli/quickstart.md
  doc/cli/references/api.md
  doc/cli/references/campaigns/apply.md
  doc/cli/references/campaigns/index.md
  doc/cli/references/campaigns/new.md
  doc/cli/references/campaigns/preview.md
  doc/cli/references/campaigns/repositories.md
  doc/cli/references/campaigns/validate.md
  doc/cli/references/config/edit.md
  doc/cli/references/config/get.md
  doc/cli/references/config/index.md
  doc/cli/references/config/list.md
  doc/cli/references/doc.go
  doc/cli/references/extensions/copy.md
  doc/cli/references/extensions/delete.md
  doc/cli/references/extensions/get.md
  doc/cli/references/extensions/index.md
  doc/cli/references/extensions/list.md
  doc/cli/references/extensions/publish.md
  doc/cli/references/extsvc/edit.md
  doc/cli/references/extsvc/index.md
  doc/cli/references/extsvc/list.md
  doc/cli/references/gen.go
  doc/cli/references/index.md
  doc/cli/references/login.md
  doc/cli/references/lsif/index.md
  doc/cli/references/lsif/upload.md
  doc/cli/references/orgs/create.md
  doc/cli/references/orgs/delete.md
  doc/cli/references/orgs/get.md
  doc/cli/references/orgs/index.md
  doc/cli/references/orgs/list.md
  doc/cli/references/orgs/members/add.md
  doc/cli/references/orgs/members/index.md
  doc/cli/references/orgs/members/remove.md
  doc/cli/references/repos/delete.md
  doc/cli/references/repos/disable.md
  doc/cli/references/repos/enable.md
  doc/cli/references/repos/get.md
  doc/cli/references/repos/index.md
  doc/cli/references/repos/list.md
  doc/cli/references/search.md
  doc/cli/references/serve-git.md
  doc/cli/references/users/create.md
  doc/cli/references/users/delete.md
  doc/cli/references/users/get.md
  doc/cli/references/users/index.md
  doc/cli/references/users/list.md
  doc/cli/references/users/tag.md
  doc/cli/references/validate.md
  doc/cli/references/version.md
  doc/sidebar.md
Labels: docs, team/campaigns

#15987 add LSIF repl
  enterprise/cmd/precise-code-intel-worker/internal/worker/handler.go
  enterprise/internal/codeintel/lsif/correlation/canonicalize.go
  enterprise/internal/codeintel/lsif/correlation/canonicalize_test.go
  enterprise/internal/codeintel/lsif/correlation/correlate.go
  enterprise/internal/codeintel/lsif/correlation/correlate_test.go
  enterprise/internal/codeintel/lsif/correlation/errors.go
  enterprise/internal/codeintel/lsif/correlation/group.go
  enterprise/internal/codeintel/lsif/correlation/group_test.go
  enterprise/internal/codeintel/lsif/correlation/prune.go
  enterprise/internal/codeintel/lsif/correlation/prune_test.go
  enterprise/internal/codeintel/lsif/correlation/query.go
  enterprise/internal/codeintel/lsif/correlation/state.go
  enterprise/internal/codeintel/lsif/correlation/util.go
  enterprise/internal/codeintel/lsif/datastructures/compare.go
  enterprise/internal/codeintel/lsif/datastructures/default_idset_map.go
  enterprise/internal/codeintel/lsif/datastructures/default_idset_map_test.go
  enterprise/internal/codeintel/lsif/datastructures/disjoint_idset.go
  enterprise/internal/codeintel/lsif/datastructures/disjoint_idset_test.go
  enterprise/internal/codeintel/lsif/datastructures/idset.go
  enterprise/internal/codeintel/lsif/datastructures/idset_test.go
  enterprise/internal/codeintel/lsif/existence/directory_contents.go
  enterprise/internal/codeintel/lsif/existence/directory_contents_test.go
  enterprise/internal/codeintel/lsif/existence/dirtree.go
  enterprise/internal/codeintel/lsif/existence/dirtree_test.go
  enterprise/internal/codeintel/lsif/existence/existence_checker.go
  enterprise/internal/codeintel/lsif/existence/paths.go
  enterprise/internal/codeintel/lsif/existence/paths_test.go
  enterprise/internal/codeintel/lsif/lsif/interner.go
  enterprise/internal/codeintel/lsif/lsif/interner_test.go
  enterprise/internal/codeintel/lsif/lsif/reader.go
  enterprise/internal/codeintel/lsif/lsif/reader_test.go
  enterprise/internal/codeintel/lsif/lsif/types.go
  enterprise/internal/codeintel/lsif/lsif/unmarshal.go
  enterprise/internal/codeintel/lsif/lsif/unmarshal_test.go
  enterprise/internal/codeintel/lsif/repl/main.go
  enterprise/internal/codeintel/lsif/testdata/dump1.lsif
  enterprise/internal/codeintel/lsif/testdata/dump2.lsif
  enterprise/internal/codeintel/lsif/testdata/dump3.lsif
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
  enterprise/internal/codeintel/stores/lsifstore/ranges.go
  enterprise/internal/codeintel/stores/lsifstore/ranges_test.go
  yarn.lock
Labels: team/code-intelligence

#16006 db: remove authzFilter and its derivatives
  doc/admin/observability/alert_solutions.md
  internal/db/repos.go
  internal/db/repos_db_test.go
  internal/db/repos_perm.go
  internal/db/repos_perm_filter_test.go
  internal/db/repos_perm_test.go
  monitoring/repo_updater.go
Labels: team/cloud

#16008 db: remove secret encryption
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/repo-updater/internal/store.go
  cmd/repo-updater/repos/main_test.go
  cmd/repo-updater/repos/store.go
  cmd/repo-updater/shared/main.go
  enterprise/internal/db/perms_store.go
  internal/db/external_accounts.go
  internal/db/external_services.go
  internal/db/main_test.go
  internal/db/repos.go
  internal/db/saved_searches.go
  internal/db/user_credentials.go
  internal/db/user_credentials_test.go
  internal/secret/doc.go
  internal/secret/encryptor.go
  internal/secret/encryptor_test.go
  internal/secret/init.go
  internal/secret/scanner.go
  internal/secret/scanner_test.go
Labels: team/cloud

#15956 doc: flesh out user credential documentation
  doc/campaigns/explanations/introduction_to_campaigns.md
  doc/campaigns/explanations/permissions_in_campaigns.md
  doc/campaigns/how-tos/configuring_user_credentials.md
  doc/campaigns/how-tos/creating_a_campaign.md
  doc/campaigns/how-tos/publishing_changesets.md
  doc/campaigns/how-tos/site_admin_configuration.md
  doc/campaigns/how-tos/updating_a_campaign.md
  doc/campaigns/index.md
  doc/campaigns/quickstart.md
Labels: docs, team/campaigns
