Repository sourcegraph/sourcegraph-public-snapshot, pull requests merged in 2021-02, with the labels that each got.

#17837 frontend: Add the CreatePassword mutation
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  cmd/frontend/graphqlbackend/user.go
  internal/database/users.go
  internal/database/users_builtin_auth_test.go
Labels: team/cloud

#17868 database: Don't repeat empty password check
  internal/database/users.go
Labels: team/cloud

#17886 Fix UserAvatar size in the Nav bar
  client/web/src/nav/UserNavItem.tsx
  client/web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  client/web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
Labels: merge-on-all-approve

#17888 Test UserAvatar menu including URL image
  client/web/src/nav/UserNavItem.story.tsx
Labels: merge-on-any-approve

#17834 Move retry changeset action out of alert
  client/web/src/enterprise/campaigns/detail/changesets/DownloadDiffButton.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
Labels: team/campaigns

#17895 Change modal body background color
  client/web/src/components/Dialog.scss
  client/web/src/extensions/ExtensionPermissionModal.scss
Labels: merge-on-any-approve

#17842 code insights: add new GraphQL schema
  cmd/frontend/graphqlbackend/insights.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/insights/resolvers/insight_connection_resolver.go
  enterprise/internal/insights/resolvers/insight_resolver.go
  enterprise/internal/insights/resolvers/insight_series_resolver.go
  enterprise/internal/insights/resolvers/resolver.go
Labels: team/code-insights, team/internal-contributor

#17844 code insights: add new user/org/global settings schema
  schema/schema.go
  schema/settings.schema.json
  schema/settings_stringdata.go
Labels: team/code-insights, team/internal-contributor

#17893 codeintel: don't run autoindexer on repositories with recent manual uploads
  enterprise/cmd/frontend/internal/codeintel/background/indexing/iface.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/indexability_updater.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/indexability_updater_test.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/config.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  enterprise/internal/codeintel/stores/dbstore/uploads_test.go
Labels: team/code-intelligence

#17876 Add a new PR template for tracking progress
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: team/web

#17916 Add how-to for using workspaces in campaign spec
  doc/campaigns/how-tos/creating_changesets_per_project_in_monorepos.md
  doc/campaigns/how-tos/index.md
  doc/campaigns/index.md
  doc/campaigns/references/campaign_spec_yaml_reference.md
Labels: docs, team/campaigns

#17894 Address campaign update UI design QA feedback
  client/web/src/enterprise.scss
  client/web/src/enterprise/campaigns/detail/CampaignStatsCard.scss
  client/web/src/enterprise/campaigns/detail/CampaignStatsCard.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.story.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetStatusCell.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ExternalChangesetNode.tsx
  client/web/src/enterprise/campaigns/detail/changesets/HiddenExternalChangesetNode.tsx
  client/web/src/enterprise/campaigns/preview/CampaignPreviewPage.tsx
  client/web/src/enterprise/campaigns/preview/CampaignPreviewStatsBar.scss
  client/web/src/enterprise/campaigns/preview/CampaignPreviewStatsBar.tsx
  client/web/src/enterprise/campaigns/preview/CreateUpdateCampaignAlert.tsx
  client/web/src/enterprise/campaigns/preview/icons.tsx
  client/web/src/enterprise/campaigns/preview/list/EmptyPreviewListElement.tsx
  client/web/src/enterprise/campaigns/preview/list/GitBranchChangesetDescriptionInfo.scss
  client/web/src/enterprise/campaigns/preview/list/GitBranchChangesetDescriptionInfo.tsx
  client/web/src/enterprise/campaigns/preview/list/HiddenChangesetApplyPreviewNode.scss
  client/web/src/enterprise/campaigns/preview/list/PreviewActions.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewListHeader.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewNodeIndicator.scss
  client/web/src/enterprise/campaigns/preview/list/PreviewNodeIndicator.tsx
  client/web/src/enterprise/campaigns/preview/list/VisibleChangesetApplyPreviewNode.scss
  client/web/src/enterprise/campaigns/preview/list/VisibleChangesetApplyPreviewNode.tsx
Labels: team/campaigns

#17950 repos: Remove CountNotClonedRepos
  cmd/repo-updater/repoupdater/server.go
  internal/repos/store.go
  internal/repos/store_test.go
Labels: team/cloud

#17594 [Cloud] user settings security page
  client/web/src/SourcegraphWebApp.scss
  client/web/src/user/settings/auth/ExternalAccount.tsx
  client/web/src/user/settings/auth/ExternalAccountsSignIn.tsx
  client/web/src/user/settings/auth/RemoveExternalAccountModal.tsx
  client/web/src/user/settings/auth/UserSettingsSecurityPage.scss
  client/web/src/user/settings/auth/UserSettingsSecurityPage.tsx
  client/web/src/user/settings/backend.tsx
  client/web/src/user/settings/cloud-ga.ts
  client/web/src/user/settings/routes.tsx
  client/web/src/user/settings/sidebaritems.ts
Labels: team/cloud/milestone-4

#17736 Prefill the code intel index configuration field with the inferred configuration
  enterprise/cmd/frontend/internal/codeintel/resolvers/graphql/index_configuration.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/iface.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mocks/mock_resolver.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver_test.go
  enterprise/internal/codeintel/autoindex/config/json.go
  enterprise/internal/codeintel/autoindex/config/json_test.go
  enterprise/internal/codeintel/autoindex/config/types.go
  enterprise/internal/codeintel/autoindex/config/yaml.go
  enterprise/internal/codeintel/autoindex/config/yaml_test.go
  enterprise/internal/codeintel/autoindex/enqueuer/enqueuer.go
  enterprise/internal/codeintel/autoindex/enqueuer/observability.go
  enterprise/internal/codeintel/autoindex/inference/go.go
  enterprise/internal/codeintel/autoindex/inference/go_test.go
  enterprise/internal/codeintel/autoindex/inference/recognizers.go
  enterprise/internal/codeintel/autoindex/inference/typescript.go
  enterprise/internal/codeintel/autoindex/inference/typescript_test.go
Labels: team/code-intelligence

#17426 Add support for Gerrit code views
  client/browser/src/app.scss
  client/browser/src/shared/code-hosts/gerrit/codeHost.ts
  client/browser/src/shared/code-hosts/gerrit/style.scss
  client/browser/src/shared/code-hosts/gitlab/codeHost.ts
  client/browser/src/shared/code-hosts/shared/codeHost.tsx
  client/browser/src/shared/code-hosts/shared/inject.ts
  client/browser/src/shared/code-hosts/shared/views.ts
Labels: browser-extension

#17937 web: update broken help links
  client/web/src/enterprise/campaigns/create/CreateCampaignPage.tsx
  client/web/src/org/new/NewOrganizationPage.tsx
  client/web/src/search/results/SearchResultsList.tsx
  client/web/src/site-admin/SiteAdminOrgsPage.tsx
  doc/_resources/assets/redirects
Labels: team/campaigns

#17962 browser: quiet prettier warning
  client/browser/src/shared/code-hosts/shared/views.ts
Labels: automerge, team/campaigns, testing

#17948 repo-updater: Remove syncErrors on syncer
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  internal/database/external_services.go
  internal/database/external_services_test.go
  internal/repos/integration_test.go
  internal/repos/sources.go
  internal/repos/syncer.go
  internal/repos/syncer_test.go
Labels: team/cloud

#17949 database: Anonymize event logs when a user is hard deleted
  client/web/src/site-admin/SiteAdminUsageStatisticsPage.tsx
  internal/database/users.go
  internal/database/users_test.go
Labels: team/cloud

#17973 graphql: Fetch status messages from db
  cmd/frontend/graphqlbackend/status_messages.go
  cmd/frontend/graphqlbackend/status_messages_test.go
  cmd/repo-updater/repoupdater/server.go
  cmd/repo-updater/repoupdater/server_test.go
  internal/repos/status_messages.go
  internal/repos/status_messages_test.go
  internal/repoupdater/client.go
  internal/repoupdater/protocol/repoupdater.go
Labels: team/cloud

#17965 doc: Add note about supplying custom the MinIO access/secret keys
  doc/admin/external_services/object_storage.md
Labels: team/code-intelligence

#18020 codeintel: Ensure txn is used for bulk inserts
  enterprise/internal/codeintel/stores/dbstore/commits.go
Labels: team/code-intelligence

#18007 Fix a11y issues in client/web/src/user
  client/web/src/nav/UserNavItem.tsx
  client/web/src/nav/__snapshots__/NavLinks.test.tsx.snap
  client/web/src/nav/__snapshots__/UserNavItem.test.tsx.snap
  client/web/src/repo/commits/__snapshots__/GitCommitNodeByline.test.tsx.snap
  client/web/src/user/UserAvatar.tsx
  client/web/src/user/__snapshots__/UserAvatar.test.tsx.snap
  client/web/src/user/settings/accessTokens/UserSettingsCreateAccessTokenPage.tsx
  client/web/src/user/settings/auth/RemoveExternalAccountModal.tsx
  client/web/src/user/settings/auth/UserSettingsPasswordPage.tsx
  client/web/src/user/settings/auth/UserSettingsSecurityPage.tsx
  client/web/src/user/settings/codeHosts/AddCodeHostConnectionModal.tsx
  client/web/src/user/settings/codeHosts/RemoveCodeHostConnectionModal.tsx
  client/web/src/user/settings/codeHosts/UpdateCodeHostConnectionModal.tsx
  client/web/src/user/settings/emails/SetUserPrimaryEmailForm.tsx
  client/web/src/user/settings/profile/__snapshots__/UserProfileFormFields.test.tsx.snap
  client/web/src/user/settings/repositories/RepositoryNode.tsx
  client/web/src/user/settings/repositories/UserSettingsManageRepositoriesPage.tsx
Labels: team/cloud

#17936 ci: add and use linting rule to check /help URLs
  .eslintrc.js
  client/packages/@sourcegraph/eslint-plugin-sourcegraph/.gitignore
  client/packages/@sourcegraph/eslint-plugin-sourcegraph/README.md
  client/packages/@sourcegraph/eslint-plugin-sourcegraph/lib/index.js
  client/packages/@sourcegraph/eslint-plugin-sourcegraph/lib/rules/check-help-links.js
  client/packages/@sourcegraph/eslint-plugin-sourcegraph/package.json
  client/packages/@sourcegraph/eslint-plugin-sourcegraph/tests/lib/rules/check-help-links.test.js
  dev/foreach-ts-project.sh
  package.json
  yarn.lock
Labels: team/campaigns

#18012 graphql: Sync status messages are user specific
  cmd/frontend/graphqlbackend/status_messages.go
  cmd/frontend/graphqlbackend/status_messages_test.go
  internal/database/external_services.go
  internal/database/external_services_test.go
  internal/repos/status_messages.go
  internal/repos/status_messages_test.go
Labels: team/cloud

#18050 database: Increase default repo batch size
  internal/database/repos.go
Labels: team/cloud

#18035 insights: add very basic GraphQL resolver integration test
  enterprise/internal/insights/resolvers/resolver.go
  enterprise/internal/insights/resolvers/resolver_test.go
Labels: team/code-insights, team/internal-contributor

#18075 insights: add GraphQL resolvers + extensive tests
  enterprise/internal/insights/resolvers/insight_connection_resolver.go
  enterprise/internal/insights/resolvers/insight_connection_resolver_test.go
  enterprise/internal/insights/resolvers/insight_resolver.go
  enterprise/internal/insights/resolvers/insight_series_resolver.go
  enterprise/internal/insights/resolvers/insight_series_resolver_test.go
  enterprise/internal/insights/resolvers/resolver_test.go
Labels: team/code-insights, team/internal-contributor

#18090 database: Improve performance of ListDefaultRepos
  internal/database/default_repos_test.go
  internal/database/repos.go
Labels: team/core-application

#18105 monitoring: Rename Cloud to Core Application
  doc/admin/observability/alert_solutions.md
  doc/admin/observability/dashboards.md
  monitoring/definitions/frontend.go
  monitoring/definitions/git_server.go
  monitoring/definitions/github_proxy.go
  monitoring/definitions/postgres.go
  monitoring/definitions/repo_updater.go
  monitoring/definitions/shared/container.go
  monitoring/definitions/syntect_server.go
  monitoring/monitoring/README.md
  monitoring/monitoring/monitoring.go
Labels: team/core-application

#18083 insights: add initial DB schema
  migrations/codeinsights/1000000001_initial_schema.down.sql
  migrations/codeinsights/1000000001_initial_schema.up.sql
  migrations/codeinsights/1000000002_comments.down.sql
  migrations/codeinsights/1000000002_comments.up.sql
  migrations/codeinsights/bindata.go
Labels: team/code-insights, team/internal-contributor

#18118 insights: add & prepare to use generated store mocks
  docker-images/prometheus/cmd/prom-wrapper/mocks/prometheus_mock.go
  enterprise/cmd/executor/internal/command/mock_runner_test.go
  enterprise/cmd/executor/internal/worker/mock_command_runner_test.go
  enterprise/cmd/executor/internal/worker/mock_store_test.go
  enterprise/cmd/frontend/internal/codeintel/api/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/httpapi/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_position_adjuster_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mocks/mock_query.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mocks/mock_resolver.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/mock_iface_test.go
  enterprise/cmd/precise-code-intel-worker/internal/worker/mock_worker_store_test.go
  enterprise/internal/codeintel/autoindex/enqueuer/mock_iface.go
  enterprise/internal/codeintel/autoindex/inference/mock_iface.go
  enterprise/internal/codeintel/stores/uploadstore/mock_gcs_api_test.go
  enterprise/internal/codeintel/stores/uploadstore/mock_s3_api_test.go
  enterprise/internal/codeintel/stores/uploadstore/mocks/mock_store.go
  enterprise/internal/insights/dbtesting/insights.go
  enterprise/internal/insights/resolvers/insight_connection_resolver.go
  enterprise/internal/insights/resolvers/insight_series_resolver.go
  enterprise/internal/insights/resolvers/insight_series_resolver_test.go
  enterprise/internal/insights/resolvers/resolver.go
  enterprise/internal/insights/store/gen.go
  enterprise/internal/insights/store/mock_store_interface.go
  enterprise/internal/insights/store/store.go
  go.mod
  go.sum
  internal/goroutine/mock_background_routine_test.go
  internal/goroutine/mock_error_handler_test.go
  internal/goroutine/mock_finalizer_test.go
  internal/goroutine/mock_handler_test.go
  internal/workerutil/dbworker/store/mocks/mock_store.go
  internal/workerutil/mock_handler_test.go
  internal/workerutil/mock_store_test.go
  internal/workerutil/mock_with_hooks_test.go
  internal/workerutil/mock_with_predequeue_test.go
Labels: team/code-insights, team/internal-contributor

#18129 insights: store: add support for querying series data points
  enterprise/internal/insights/store/insights_test.go
  enterprise/internal/insights/store/integration_test.go
  enterprise/internal/insights/store/store.go
  enterprise/internal/insights/store/store_test.go
Labels: team/code-insights, team/internal-contributor

#18108 Add keyring package for encryption key interface
  internal/keyring/key.go
Labels: security, team/core-application

#18113 campaigns: Don't use global database anymore
  enterprise/internal/campaigns/background.go
  enterprise/internal/campaigns/background/background.go
  enterprise/internal/campaigns/frontend.go
  enterprise/internal/campaigns/reconciler/executor.go
  enterprise/internal/campaigns/reconciler/executor_test.go
  enterprise/internal/campaigns/resolvers/changeset_connection.go
  enterprise/internal/campaigns/resolvers/changeset_spec.go
  enterprise/internal/campaigns/resolvers/changeset_spec_connection.go
  enterprise/internal/campaigns/resolvers/code_host_connection.go
  enterprise/internal/campaigns/resolvers/resolver.go
  enterprise/internal/campaigns/service/service.go
  enterprise/internal/campaigns/state/state.go
  enterprise/internal/campaigns/store/changeset_specs.go
  enterprise/internal/campaigns/store/store.go
  enterprise/internal/campaigns/syncer/syncer.go
  enterprise/internal/campaigns/syncer/syncer_test.go
  enterprise/internal/campaigns/webhooks/webhooks.go
  enterprise/internal/campaigns/webhooks/webhooks_gitlab.go
  enterprise/internal/campaigns/webhooks/webhooks_gitlab_test.go
  enterprise/internal/campaigns/webhooks/webhooks_test.go
Labels: debt, team/campaigns

#12954 Small issues corrected in the accessibility jam
  client/web/src/components/branding/BrandLogo.tsx
  client/web/src/components/branding/__snapshots__/BrandLogo.test.tsx.snap
  client/web/src/search/input/SearchPage.tsx
  client/web/src/site-admin/init/__snapshots__/SiteInitPage.test.tsx.snap
Labels: accessibility

#18136 add /ping-from-self-hosted and fire ping on /site-admin/init submission
  client/web/src/site-admin/init/SiteInitPage.tsx
  cmd/frontend/internal/app/ui/handlers.go
  cmd/frontend/internal/app/ui/router.go
  internal/hubspot/contacts.go
  internal/hubspot/hubspotutil/hubspotutil.go
Labels: team/core-application

#18146 fix /ping-from-self-hosted (hopefully)
  client/web/src/site-admin/init/SiteInitPage.tsx
  cmd/frontend/auth/non_public.go
  cmd/frontend/internal/app/ui/router.go
  cmd/frontend/internal/app/ui/router/exported_router.go
Labels: team/core-application

#18128 db: add a dev script to renumber migrations
  dev/db/rebase_migration.sh
  migrations/README.md
Labels: dx

#18122 Remove language server instructions
  doc/admin/install/kubernetes/configure.md
Labels: docs

#18139 enterprise: Pass down db connection instead of using global variable
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/main.go
  cmd/frontend/shared/frontend.go
  enterprise/cmd/frontend/internal/authz/init.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/services.go
  enterprise/cmd/frontend/internal/codeintel/upload_handler.go
  enterprise/cmd/frontend/internal/codemonitors/init.go
  enterprise/cmd/frontend/internal/executor/init.go
  enterprise/cmd/frontend/internal/licensing/init/init.go
  enterprise/cmd/frontend/main.go
  enterprise/internal/campaigns/frontend.go
  enterprise/internal/insights/insights.go
Labels: debt

#18162 Remove stopgap code for broken version upgrade from 3.17
  cmd/frontend/backend/versions.go
  cmd/frontend/backend/versions_test.go
Labels: debt

#18144 database: Don't batch default repo fetching
  cmd/repo-updater/shared/main.go
  internal/database/default_repos.go
  internal/database/default_repos_test.go
  internal/database/repos.go
Labels: team/core-application

#18145 frontend: Handle renamed GitHub repos on Cloud
  cmd/frontend/backend/repos.go
  cmd/frontend/backend/repos_test.go
  internal/conf/computed.go
Labels: team/core-application

#18147 repos: Update cloning repo count for users
  internal/database/repos.go
  internal/repos/status_messages.go
  internal/repos/status_messages_test.go
Labels: team/core-application

#18168 dont use wildcard allow origin header, allow credentials & send credentials on fetch
  client/web/src/site-admin/init/SiteInitPage.tsx
  cmd/frontend/internal/app/ui/handlers.go
  internal/hubspot/contacts.go
Labels: team/core-application

#18174 set access-control-allow-origin to referrer host
  cmd/frontend/internal/app/ui/handlers.go
Labels: team/core-application

#18172 dev: Easier development in sourcegraph.com mode
  cmd/frontend/internal/cli/config.go
  enterprise/dev/start.sh
  internal/database/external_services.go
  internal/database/external_services_test.go
  internal/database/test_util.go
  internal/database/user_emails_test.go
  schema/github.schema.json
  schema/github_stringdata.go
  schema/gitlab.schema.json
  schema/gitlab_stringdata.go
  schema/schema.go
Labels: team/core-application

#18205 frontend: Add optional sampling of GraphQL requests in Honeycomb
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/rate_limit.go
  cmd/frontend/graphqlbackend/rate_limit_test.go
  cmd/frontend/internal/httpapi/graphql.go
  cmd/frontend/internal/httpapi/httpapi.go
  internal/trace/httptrace.go
Labels: team/core-application

#18210 frontend: Record additional fields for GraphQL queries
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/internal/httpapi/graphql.go
  internal/trace/httptrace.go
Labels: team/core-application

#17997 UI: Fix cache key for document highlights
  client/web/src/repo/backend.ts
Labels: team/code-intelligence

#17959 codeintel: Break out WAU counts in pings
  cmd/frontend/internal/app/updatecheck/handler.go
  cmd/frontend/internal/app/updatecheck/handler_test.go
  internal/database/event_logs.go
  internal/database/event_logs_test.go
  internal/types/codeintel.go
  internal/usagestats/aggregated.go
Labels: team/code-intelligence

#18211 chore: Add correct size hints when making slices
  enterprise/cmd/executor/internal/apiclient/client.go
  enterprise/internal/codeintel/stores/lsifstore/clear.go
Labels: team/code-intelligence

#18212 chore: Fix order of driver.Value declarations in dbutil
  internal/database/dbutil/dbutil.go
Labels: team/code-intelligence

#18213 chore: Distinguish stores in error messages
  enterprise/cmd/frontend/internal/codeintel/background/commitgraph/updater.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/index_scheduler.go
  enterprise/cmd/frontend/internal/codeintel/background/indexing/indexability_updater.go
  enterprise/internal/codeintel/autoindex/enqueuer/enqueuer.go
  enterprise/internal/codeintel/gitserver/client.go
Labels: team/code-intelligence

#18223 chore: Update bloom filter package interface
  enterprise/cmd/frontend/internal/codeintel/api/references.go
  enterprise/internal/codeintel/bloomfilter/bloom_filter.go
  enterprise/internal/codeintel/bloomfilter/bloom_filter_test.go
Labels: team/code-intelligence

#18214 codeintel: Add GetDumpsByIDs to dbstore
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/dumps_test.go
  enterprise/internal/codeintel/stores/dbstore/helpers_test.go
  enterprise/internal/codeintel/stores/dbstore/observability.go
Labels: team/code-intelligence

#18217 codeintel: Add BulkMonikerResults to lsifstore
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
  enterprise/internal/codeintel/stores/lsifstore/bundle_test.go
  enterprise/internal/codeintel/stores/lsifstore/observability.go
  enterprise/internal/codeintel/stores/lsifstore/scan.go
Labels: team/code-intelligence

#18218 codeintel: Standardize limit/offset parameters in lsifstore
  enterprise/cmd/frontend/internal/codeintel/api/diagnostics.go
  enterprise/cmd/frontend/internal/codeintel/api/diagnostics_test.go
  enterprise/cmd/frontend/internal/codeintel/api/helpers_test.go
  enterprise/cmd/frontend/internal/codeintel/api/iface.go
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
Labels: team/code-intelligence

#18221 codeintel: Add DefinitionDumps and ReferenceIDsAndFilters to dbstore
  enterprise/internal/codeintel/stores/dbstore/observability.go
  enterprise/internal/codeintel/stores/dbstore/xrepo.go
  enterprise/internal/codeintel/stores/dbstore/xrepo_scanner.go
  enterprise/internal/codeintel/stores/dbstore/xrepo_test.go
  enterprise/internal/codeintel/stores/lsifstore/types.go
Labels: team/code-intelligence

#18215 codeintel: Add PagedReferences to lsifstore
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
  enterprise/internal/codeintel/stores/lsifstore/bundle_test.go
  enterprise/internal/codeintel/stores/lsifstore/observability.go
Labels: team/code-intelligence

#18165 Update Gerrit hover styling
  client/browser/src/shared/code-hosts/gerrit/style.scss
  client/browser/src/shared/code-hosts/shared/views.ts
Labels: browser-extension, design, gerrit, team/extensibility

#18226 codeintel: Do not return nil scanner
  enterprise/internal/codeintel/stores/dbstore/xrepo.go
  enterprise/internal/codeintel/stores/dbstore/xrepo_scanner.go
Labels: team/code-intelligence

#18230 insights: change series_id to string (hash); add index
  enterprise/internal/insights/store/store_test.go
  migrations/codeinsights/1000000003_insights_series_id.down.sql
  migrations/codeinsights/1000000003_insights_series_id.up.sql
  migrations/codeinsights/bindata.go
Labels: team/code-insights, team/internal-contributor

#18259 Add list of extension repos to docs directly
  doc/dev/background-information/index.md
  doc/dev/background-information/sourcegraph_extensions.md
Labels: team/extensibility

#18271 frontend: Disable directory listing of /.assets
  cmd/frontend/internal/app/assetsutil/handler.go
  go.mod
  go.sum
Labels: security, team/core-application

#18272 frontend: Instrument GraphQL request handling in seconds
  cmd/frontend/graphqlbackend/graphqlbackend.go
Labels: team/core-application

#18276 graphql: Instrument more fields
  cmd/frontend/graphqlbackend/graphqlbackend.go
Labels: team/core-application

#18280 schemadoc: Render view query in schema documentation
  internal/database/schema.md
  internal/database/schemadoc/main.go
Labels: team/campaigns

#18207 add keyring.Key implementation for GCloud KMS
  go.mod
  go.sum
  internal/keyring/cloudkms/cloud_kms.go
  internal/keyring/cloudkms/cloud_kms_test.go
  internal/keyring/key.go
Labels: security, team/core-application

#18254 insights: store: query metadata & other minor improvements
  enterprise/internal/insights/resolvers/insight_series_resolver_test.go
  enterprise/internal/insights/store/store.go
  enterprise/internal/insights/store/store_test.go
Labels: team/code-insights, team/internal-contributor

#18264 insights: add new discovery package for locating insights (and use it)
  enterprise/internal/insights/discovery/discovery.go
  enterprise/internal/insights/discovery/discovery_test.go
  enterprise/internal/insights/discovery/gen.go
  enterprise/internal/insights/discovery/mock_setting_store.go
  enterprise/internal/insights/resolvers/insight_connection_resolver.go
  enterprise/internal/insights/resolvers/insight_connection_resolver_test.go
  enterprise/internal/insights/resolvers/insight_series_resolver_test.go
Labels: team/code-insights, team/internal-contributor

#18265 migrations: add insights_query_runner_jobs table
  internal/database/schema.md
  migrations/frontend/1528395783_insights_query_runner_jobs.down.sql
  migrations/frontend/1528395783_insights_query_runner_jobs.up.sql
  migrations/frontend/bindata.go
Labels: team/code-insights, team/internal-contributor

#18343 monitoring: Add panels to track table bloat
  doc/admin/observability/alert_solutions.md
  doc/admin/observability/dashboards.md
  monitoring/definitions/postgres.go
Labels: team/code-intelligence

#18314 insights: actually enqueue/record insights from global settings
  enterprise/internal/insights/background/background.go
  enterprise/internal/insights/background/insight_enqueuer.go
  enterprise/internal/insights/background/insight_enqueuer_test.go
  enterprise/internal/insights/discovery/discovery.go
  enterprise/internal/insights/discovery/series_id.go
  enterprise/internal/insights/discovery/series_id_test.go
Labels: team/code-insights, team/internal-contributor

#18359 dev: allow codeinsights-db more time to startup
  dev/ci/go-test.sh
  dev/start.sh
Labels: team/code-insights, team/internal-contributor

#18333 Include code insights from the backend in the webapp
  client/shared/src/api/client/services/viewService.ts
  client/web/src/insights/InsightsPage.tsx
  client/web/src/insights/backend.ts
  client/web/src/repo/tree/TreePage.tsx
  client/web/src/search/input/SearchPage.tsx
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/insights/resolvers/insight_series_resolver.go
Labels: team/code-insights, team/internal-contributor, webapp

#18360 insights: turn on for Sourcegraph.com
  enterprise/internal/insights/insights.go
Labels: team/code-insights, team/internal-contributor

#17589 campaigns: implement preview UI filtering dropdowns
  CHANGELOG.md
  client/web/src/enterprise/campaigns/ChangesetFilter.tsx
  client/web/src/enterprise/campaigns/detail/changesets/ChangesetFilterRow.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewFilterRow.tsx
  client/web/src/enterprise/campaigns/preview/list/PreviewList.tsx
  client/web/src/enterprise/campaigns/preview/list/backend.ts
  client/web/src/enterprise/campaigns/utils.ts
  cmd/frontend/graphqlbackend/campaigns.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/campaigns/resolvers/campaign_spec.go
  enterprise/internal/campaigns/resolvers/changeset.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview_connection.go
  enterprise/internal/campaigns/resolvers/changeset_apply_preview_connection_test.go
  enterprise/internal/campaigns/store/changeset_specs.go
  enterprise/internal/campaigns/store/changeset_specs_test.go
  enterprise/internal/campaigns/store/integration_test.go
  internal/database/schema.md
  migrations/frontend/1528395784_preview_filter_fields.down.sql
  migrations/frontend/1528395784_preview_filter_fields.up.sql
  migrations/frontend/bindata.go
Labels: team/campaigns

#18296 Fetch user's external accounts via user and not site
  client/web/src/user/settings/auth/UserSettingsSecurityPage.tsx
Labels: cloud/milestone-4, team/core-application

#18373 Add encryption keys to site config add keyring.Ring type to load & configure keys from config
  internal/encryption/cloudkms/cloud_kms.go
  internal/encryption/cloudkms/cloud_kms_test.go
  internal/encryption/key.go
  internal/encryption/keyring/ring.go
  internal/encryption/noop.go
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/core-application

#18366 Fine-tune animation and focus states
  client/web/src/nav/Feedback/FeedbackIcons.tsx
  client/web/src/nav/IconRadioButtons.scss
  client/web/src/nav/__snapshots__/NavLinks.test.tsx.snap
Labels: merge-on-any-approve

#18386 Fix enterprise insights resolver not set for dotcom
  enterprise/internal/insights/insights.go
Labels: bug

#18381 Update revision of bundled code-intel-extensions
  client/browser/bundled-code-intel-extensions.json
Labels: browser-extension, firefox, team/extensibility

#18390 insights: fix job dequeueing (columns mismatch)
  enterprise/internal/insights/background/queryrunner/worker.go
Labels: team/code-insights, team/internal-contributor

#18389 Show status messages for authed admins and users with a tag
  client/web/src/nav/NavLinks.tsx
Labels: team/core-application

#18345 codeintel: Minimize tuple modifications when updating commit graph data
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/observability.go
Labels: team/code-intelligence

#18392 RFC 311: Add migrations table
  internal/database/schema.md
  migrations/frontend/1528395785_out_of_band_migration_table.down.sql
  migrations/frontend/1528395785_out_of_band_migration_table.up.sql
  migrations/frontend/bindata.go
Labels: RFC-311, code-intelligence-performance, team/code-intelligence

#18401 insights: query correct series data
  enterprise/internal/insights/resolvers/insight_series_resolver.go
  enterprise/internal/insights/resolvers/insight_series_resolver_test.go
Labels: team/code-insights, team/internal-contributor

#18405 RFC 311: Add oobmigration store
  internal/oobmigration/CODENOTIFY
  internal/oobmigration/store.go
  internal/oobmigration/store_test.go
Labels: RFC-311, code-intelligence-performance, team/code-intelligence

#18393 RFC 311: Write basic migration machinery
  internal/oobmigration/gen.go
  internal/oobmigration/iface.go
  internal/oobmigration/migrator.go
  internal/oobmigration/mock_test.go
  internal/oobmigration/runner.go
  internal/oobmigration/runner_test.go
Labels: RFC-311, code-intelligence-performance, team/code-intelligence

#18394 RFC 311: Expose migration status via GraphQL
  cmd/frontend/graphqlbackend/CODENOTIFY
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/oobmigrations.go
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  internal/oobmigration/store.go
  internal/oobmigration/store_test.go
Labels: RFC-311, code-intelligence-performance, team/code-intelligence

#18372 graphql: Instrument field count and depth
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/rate_limit.go
  cmd/frontend/graphqlbackend/rate_limit_test.go
Labels: team/core-application

#18414 graphql: Include query variables in metrics
  cmd/frontend/graphqlbackend/graphqlbackend.go
Labels: team/core-application

#18415 graphql: Handle more cost estimation edge cases
  cmd/frontend/graphqlbackend/rate_limit.go
  cmd/frontend/graphqlbackend/rate_limit_test.go
Labels: team/core-application

#18429 graphql: Attribute request to IP address if unknown
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/internal/httpapi/graphql.go
  internal/trace/httptrace.go
Labels: team/core-application

#18149 Debounce extensions query
  client/shared/src/api/client/services/contribution.ts
  client/shared/src/extensions/helpers.ts
Labels: merge-on-any-approve

#18409 Remove Firefox update_url for hosted add-on
  client/browser/src/browser-extension/manifest.spec.json
Labels: browser-extension, firefox, team/extensibility

#18448 cli: update minimum version and reference docs
  doc/cli/references/campaigns/apply.md
  doc/cli/references/campaigns/preview.md
  internal/src-cli/consts.go
Labels: team/campaigns

#18434 Don't log errors while proxying web requests to frontend
  client/web/gulpfile.js
Labels: dx

#18334 Spawn changeset syncer per code host
  enterprise/internal/campaigns/syncer/syncer.go
  enterprise/internal/campaigns/syncer/syncer_test.go
  enterprise/internal/campaigns/syncer/util.go
  internal/campaigns/code_host.go
Labels: debt, team/campaigns

#18435 Send a smaller footprint version of graphql queries
  client/shared/src/graphql/graphql.ts
Labels: dx

#18454 oobmigration: Refactor runner
  internal/oobmigration/runner.go
  internal/oobmigration/runner_test.go
  internal/oobmigration/store.go
Labels: team/code-intelligence

#18458 insights: turn on in dev environments by default
  dev/global-settings.json
  enterprise/internal/insights/background/queryrunner/work_handler.go
Labels: team/code-insights, team/internal-contributor

#18459 insights: correctly query data even if metadata is not present
  enterprise/internal/insights/store/store.go
  enterprise/internal/insights/store/store_test.go
Labels: team/code-insights, team/internal-contributor

#18460 insights: store: always store data in UTC format
  enterprise/internal/insights/store/store.go
Labels: team/code-insights, team/internal-contributor

#18461 insights: store: add fast data existence check
  enterprise/internal/insights/store/store.go
  enterprise/internal/insights/store/store_test.go
Labels: team/code-insights, team/internal-contributor

#18403 campaigns: request the user:email scope
  CHANGELOG.md
  client/web/src/enterprise/campaigns/settings/AddCredentialModal.tsx
  doc/admin/external_service/github.md
  doc/campaigns/how-tos/configuring_user_credentials.md
Labels: team/campaigns

#18472 cloud: Don't show uncloned repo count on Cloud
  cmd/frontend/graphqlbackend/status_messages.go
  internal/repos/status_messages.go
  internal/repos/status_messages_test.go
Labels: team/core-application

#18436 gitserver: Avoid redundant URL parsing
  cmd/gitserver/server/customfetch.go
  cmd/gitserver/server/customfetch_test.go
  cmd/gitserver/server/patch.go
  cmd/gitserver/server/refspecoverrides.go
  cmd/gitserver/server/repo_info.go
  cmd/gitserver/server/repo_info_test.go
  cmd/gitserver/server/server.go
  cmd/gitserver/server/server_test.go
  cmd/gitserver/server/serverutil.go
  cmd/gitserver/server/vcs_syncer.go
  cmd/gitserver/server/vcs_syncer_test.go
  internal/vcs/url.go
  internal/vcs/url_test.go
Labels: gitserver, team/core-application

#18476 trace: Rename functions to avoid stutter
  cmd/frontend/internal/app/app.go
  cmd/frontend/internal/app/ui/router.go
  cmd/frontend/internal/httpapi/httpapi.go
  internal/actor/actor.go
  internal/repos/status_messages.go
  internal/trace/httptrace.go
Labels: team/core-application

#18450 Refactor reconciler utils a bit
  enterprise/internal/campaigns/reconciler/util.go
Labels: team/campaigns

#18481 db: remove GlobalAccessTokenStore
  cmd/frontend/graphqlbackend/access_token.go
  cmd/frontend/graphqlbackend/access_tokens.go
  cmd/frontend/internal/cli/http.go
  cmd/frontend/internal/httpapi/auth.go
  cmd/frontend/internal/httpapi/auth_test.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18483 db: remove GlobalOrgInvitations store
  cmd/frontend/graphqlbackend/org.go
  cmd/frontend/graphqlbackend/org_invitation.go
  cmd/frontend/graphqlbackend/org_invitations.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18484 db: remove GlobalSurveyResponses store
  cmd/frontend/graphqlbackend/survey_response.go
  cmd/frontend/graphqlbackend/survey_responses.go
  cmd/frontend/graphqlbackend/user.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18485 secret: BitbucketServer can only have password OR token
  internal/types/secret.go
  internal/types/secret_test.go
Labels: team/core-application

#18486 db: remove GlobalSavedSearches store
  cmd/frontend/graphqlbackend/saved_searches.go
  cmd/frontend/internal/cli/http.go
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/internal.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18482 Add CODECOV_TOKEN to Vagrant runners
  dev/ci/test/Vagrantfile
Labels: automerge

#18487 db: remove GlobalNamespaces store
  cmd/frontend/graphqlbackend/namespaces.go
  cmd/frontend/graphqlbackend/search.go
  cmd/frontend/graphqlbackend/search_alert.go
  cmd/frontend/internal/app/app.go
  cmd/frontend/internal/auth/userpasswd/handlers.go
  cmd/frontend/internal/cli/http.go
  enterprise/internal/campaigns/reconciler/executor_test.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18488 db: remove GlobalQueryRunnerState store
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/internal.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18490 Add hacky fix for go get of out of band tools
  dev/start.sh
Labels: automerge

#18256 Distinguish permission errors from 404 deleted when loading changesets
  cmd/repo-updater/repoupdater/server_test.go
  internal/authz/gitlab/common_test.go
  internal/extsvc/bitbucketserver/client.go
  internal/extsvc/bitbucketserver/client_test.go
  internal/extsvc/github/common.go
  internal/extsvc/github/pulls.go
  internal/extsvc/github/repos.go
  internal/extsvc/github/repos_test.go
  internal/extsvc/gitlab/client.go
  internal/extsvc/gitlab/merge_requests.go
  internal/extsvc/gitlab/projects.go
  internal/extsvc/gitlab/resource_state_events.go
  internal/httptestutil/recorder.go
  internal/repos/bitbucketserver.go
  internal/repos/gitlab.go
  internal/repos/gitlab_test.go
  internal/repos/sources.go
  internal/repos/testdata/golden/GitlabSource_LoadChangeset_found
  internal/repos/testdata/sources/GitlabSource_LoadChangeset_found.yaml
  internal/repos/testdata/sources/GitlabSource_LoadChangeset_not-found.yaml
  internal/repos/testdata/sources/GitlabSource_LoadChangeset_project-not-found.yaml
Labels: bug, team/campaigns

#18491 db: remove GlobalPhabricator store
  cmd/frontend/graphqlbackend/externallink/repository.go
  cmd/frontend/graphqlbackend/externallink/repository_test.go
  cmd/frontend/graphqlbackend/git_commit.go
  cmd/frontend/graphqlbackend/git_tree_entry.go
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/repository.go
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/internal.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18395 codeintel: Add diagnostic count to lsif_data_documents
  enterprise/internal/codeintel/stores/lsifstore/data_write.go
  enterprise/internal/codeintel/stores/lsifstore/migration_diagnostics_count.go
  enterprise/internal/codeintel/stores/lsifstore/migration_diagnostics_count_test.go
  enterprise/internal/codeintel/stores/lsifstore/testdata/lsif-go@ad3507cb.sql
  internal/database/basestore/rows.go
  internal/database/schema.codeintel.md
  migrations/codeintel/1000000005_diagnostic_counts.down.sql
  migrations/codeintel/1000000005_diagnostic_counts.up.sql
  migrations/codeintel/bindata.go
  migrations/frontend/1528395786_diagnostic_counts_migration.down.sql
  migrations/frontend/1528395786_diagnostic_counts_migration.up.sql
  migrations/frontend/bindata.go
Labels: RFC-311, code-intelligence-performance, team/code-intelligence

#18494 Fix psql check on dev/start.sh
  dev/start.sh
Labels: automerge

#18411 RFC 311: Register and run migrators
  cmd/frontend/internal/cli/serve_cmd.go
  cmd/frontend/main.go
  cmd/frontend/shared/frontend.go
  enterprise/cmd/frontend/internal/authz/init.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/migrations.go
  enterprise/cmd/frontend/internal/codemonitors/init.go
  enterprise/cmd/frontend/internal/executor/init.go
  enterprise/cmd/frontend/internal/licensing/init/init.go
  enterprise/cmd/frontend/main.go
  enterprise/internal/campaigns/frontend.go
  enterprise/internal/insights/insights.go
Labels: RFC-311, code-intelligence-performance, team/code-intelligence

#18495 alert: Disable alert for Postgres table bloat
  doc/admin/observability/alert_solutions.md
  doc/admin/observability/dashboards.md
  monitoring/definitions/postgres.go
Labels: team/code-intelligence

#18462 Improve performance of VirtualList
  client/branded/src/components/panel/views/FileLocations.tsx
  client/shared/src/components/FileMatch.tsx
  client/shared/src/components/VirtualList.tsx
  client/web/src/search/results/SearchResultsList.tsx
  client/web/src/search/results/streaming/StreamingSearchResults.test.tsx
  client/web/src/search/results/streaming/StreamingSearchResults.tsx
Labels: perf

#18464 insights: disable TimescaleDB telemetry
  migrations/codeinsights/1000000004_no_telemetry.down.sql
  migrations/codeinsights/1000000004_no_telemetry.up.sql
  migrations/codeinsights/bindata.go
Labels: team/code-insights, team/internal-contributor

#18463 internal/vcs/git: add ability to get first ever commit in a repository
  internal/vcs/git/commits.go
  internal/vcs/git/commits_test.go
Labels: team/code-insights, team/internal-contributor

#18504 codeintel: Fix div by zero in migration SQL query
  enterprise/internal/codeintel/stores/lsifstore/migration_diagnostics_count.go
Labels: team/code-intelligence

#18506 insights: query data aggregated over 12h
  enterprise/internal/insights/store/store.go
  enterprise/internal/insights/store/store_test.go
Labels: team/code-insights, team/internal-contributor

#18496 Avoid logging "Could not serialize" in Puppeteer tests
  client/shared/src/testing/console.ts
Labels: dx, testing

#17964 codeintel: Rewrite resolvers package
  enterprise/cmd/frontend/internal/codeintel/api/iface.go
  enterprise/cmd/frontend/internal/codeintel/api/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/init.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/commit_checker.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/exists.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/exists_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/gen.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/iface.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/qualified_moniker_set.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_definitions.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_definitions_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_diagnostics.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_diagnostics_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_helpers_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_hover.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_hover_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_ranges.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_ranges_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_references.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_references_cursor.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_references_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_util.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver_test.go
Labels: team/code-intelligence

#18451 codeintel: Update tracing
  enterprise/cmd/executor/internal/apiclient/client.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/exists.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/observability.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_definitions.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_diagnostics.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_hover.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_ranges.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_references.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_util.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/resolver.go
  enterprise/internal/codeintel/stores/dbstore/commits.go
  enterprise/internal/codeintel/stores/dbstore/dumps.go
  enterprise/internal/codeintel/stores/dbstore/index_configuration.go
  enterprise/internal/codeintel/stores/dbstore/indexable_repos.go
  enterprise/internal/codeintel/stores/dbstore/indexes.go
  enterprise/internal/codeintel/stores/dbstore/lock.go
  enterprise/internal/codeintel/stores/dbstore/packages.go
  enterprise/internal/codeintel/stores/dbstore/references.go
  enterprise/internal/codeintel/stores/dbstore/repo_usage.go
  enterprise/internal/codeintel/stores/dbstore/uploads.go
  enterprise/internal/codeintel/stores/dbstore/xrepo.go
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
  enterprise/internal/codeintel/stores/lsifstore/clear.go
  enterprise/internal/codeintel/stores/lsifstore/data_write.go
  enterprise/internal/codeintel/stores/lsifstore/observability.go
  internal/observation/observation.go
Labels: code-intelligence-performance, team/code-intelligence

#18498 codeintel: Paginate definitions lsifstore results
  enterprise/cmd/frontend/internal/codeintel/resolvers/iface.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/mock_iface_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_definitions.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_definitions_test.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_references.go
  enterprise/cmd/frontend/internal/codeintel/resolvers/query_references_test.go
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
  enterprise/internal/codeintel/stores/lsifstore/bundle_test.go
  enterprise/internal/codeintel/stores/lsifstore/observability.go
Labels: code-intelligence-performance, team/code-intelligence

#18511 codeintel: Fix unbounded memory in lsifstore locations method
  enterprise/internal/codeintel/stores/lsifstore/bundle.go
  enterprise/internal/codeintel/stores/lsifstore/scan.go
Labels: code-intelligence-performance, team/code-intelligence

#18467 RFC 331: Isolate migration routines
  cmd/frontend/internal/cli/serve_cmd.go
  enterprise/cmd/frontend/internal/codeintel/migrations.go
  internal/oobmigration/runner.go
  internal/oobmigration/runner_test.go
Labels: RFC-311, code-intelligence-performance, team/code-intelligence

#18515 insights: enable in all production deployments
  enterprise/internal/insights/insights.go
Labels: team/code-insights, team/internal-contributor

#18516 Catch errors from code insight backend
  client/web/src/insights/backend.ts
Labels: team/code-insights

#18518 insights: ensure search queries run with a large count:
  enterprise/internal/insights/background/insight_enqueuer.go
  enterprise/internal/insights/background/insight_enqueuer_test.go
Labels: team/code-insights, team/internal-contributor

#18519 insights: default to 90d display; improve handling of forked/archived repos
  cmd/frontend/graphqlbackend/schema.go
  cmd/frontend/graphqlbackend/schema.graphql
  enterprise/internal/insights/background/queryrunner/work_handler.go
  enterprise/internal/insights/resolvers/insight_series_resolver.go
Labels: team/code-insights, team/internal-contributor

#18224 Hide campaigns in deleted namespaces
  enterprise/internal/campaigns/background/main_test.go
  enterprise/internal/campaigns/background/spec_expire.go
  enterprise/internal/campaigns/background/workers.go
  enterprise/internal/campaigns/background/workers_test.go
  enterprise/internal/campaigns/store/campaigns.go
  enterprise/internal/campaigns/store/campaigns_test.go
  enterprise/internal/campaigns/testing/campaign.go
  enterprise/internal/campaigns/testing/repos.go
  internal/database/schema.md
  migrations/frontend/1528395787_reconciler_changesets_view.down.sql
  migrations/frontend/1528395787_reconciler_changesets_view.up.sql
  migrations/frontend/bindata.go
Labels: bug, team/campaigns

#18520 Fix reconciler dequeue changeset query
  enterprise/internal/campaigns/background/workers.go
Labels: bug, team/campaigns

#18505 campaigns: update ui changelog for 3.25
  client/web/src/enterprise/campaigns/list/CampaignListIntro.tsx
Labels: team/campaigns

#18493 graphql: Remove specialised function
  cmd/frontend/graphqlbackend/rate_limit.go
  cmd/frontend/graphqlbackend/rate_limit_test.go
Labels: team/core-application

#18492 config: Add config for api rate limiting
  schema/schema.go
  schema/site.schema.json
  schema/site_stringdata.go
Labels: team/core-application

#18529 db: remove GlobalOrgMembers store
  cmd/frontend/backend/orgs.go
  cmd/frontend/graphqlbackend/org.go
  cmd/frontend/graphqlbackend/org_invitations.go
  cmd/frontend/graphqlbackend/org_members.go
  cmd/frontend/graphqlbackend/saved_searches.go
  cmd/frontend/graphqlbackend/settings_subject.go
  cmd/frontend/internal/httpapi/httpapi.go
  cmd/frontend/internal/httpapi/internal.go
  enterprise/cmd/frontend/internal/registry/extension_graphql.go
  enterprise/cmd/frontend/internal/registry/publisher_graphql.go
  enterprise/cmd/frontend/internal/registry/registry_graphql.go
  enterprise/internal/campaigns/service/service.go
  enterprise/internal/campaigns/service/service_test.go
  enterprise/internal/codemonitors/resolvers/resolvers.go
  internal/database/stores.go
Labels: team/backend-platform, team/core-application

#18532 graphql: Refactor GraphQL handler
  cmd/frontend/graphqlbackend/graphqlbackend.go
  cmd/frontend/graphqlbackend/rate_limit.go
  cmd/frontend/graphqlbackend/rate_limit_test.go
  cmd/frontend/internal/httpapi/graphql.go
  internal/trace/httptrace.go
Labels: team/core-application
